[2017-11-18 15:21] lmiller1990 commented on #176
Can confirm it does not work. Will look into tomorrow.
[code]

TypeError: Cannot read property 'isTeamAdmin' of undefined

[2017-11-18 16:50] eddyerburgh commented on #186
Great work 😀

Can you open a pull request and we can find a native speaker to review.

[2017-11-18 23:40] tim-hutchinson commented on #139
The `getX` syntax seems different from the conventions used in this library already (`html`, `text`).

Alternatively, it could go fully the other way and implement the functions as getters, so they would expose a property-like API `expect(wrapper.classes).to.eql(['foo', 'bar'])`

[2017-11-19 01:03] ChangJoo-Park commented on #186
Sure, I'll open a PR after self review :)

[2017-11-19 08:08] eddyerburgh commented on #139
I've changed my mind, as you said we already have html and text methods.

[2017-11-19 15:15] wtho commented on #184
See the issue #166 and the pending PR #167 that would solve this issue.

[2017-11-20 00:47] lmiller1990 commented on #157
#181 add this feature. :party:

[2017-11-20 00:47] #157 closed

[2017-11-20 09:41] uponeson commented on #179
For anyone interested: Do not use Jests `beforeEach` . to mount your component with propsData if you want to use setProps in the tests to update computed methods. The value will be changed but the computed property will not update.

[2017-11-20 10:40] miljan-aleksic opened #191 "Using slots with predefined components"
Hi, thank you for the amazing work, it looks very promising.

I noticed the docs don't cover some more complex components, eg, a data-table.

A data table is composed of the main component (table) and children (columns) that depend directly on the parent. For such situation using `shallow` on the Table would render the table partially, using it on columns would directly not work.

The solution see

[2017-11-20 10:54] eddyerburgh commented on #191
There was talk about including a `depth` option to `shallow`, so that you could choose how many children to render. This way you could add `depth: 2` and have both your Table and Column components render.

Are you having problems using `mount` for this?

[2017-11-20 11:16] miljan-aleksic commented on #191
Thanks @eddyerburgh for your quick answer.

Not a problem, but I think I cannot use it if have children. Most likely I'm missing something here. This is the code I want to test, a simple snapshot teste.

[code]

Using mount or shallow I could render vk-table, but I don't see how can I set the vk-table-column as it children.

[2017-11-20 11:56] jonyoder commented on #184
Thanks, @eddyerburgh! Passing `methods` to mount/shallow was exactly what I needed.

[2017-11-20 11:56] #184 closed

[2017-11-20 12:02] LinusBorg commented on #191
https://vue-test-utils.vuejs.org/en/api/options.html#slots
[code]
*(assuming `vk-table` was already registered as a component on `VkTable`

[2017-11-20 13:36] miljan-aleksic commented on #191
Thanks @LinusBorg, I tried this again and this time it just worked... the first time I did there was some issue that most likely confused me.

Thank you @eddyerburgh as well.

[2017-11-20 17:06] lmiller1990 commented on #176
Actually, of course the above fails. I would need to pass the setComputed in the shallow options.

I think there is actually no bug. Can you link the other issue?

The below is a working example using `mapGetters`.

[code]

[code]

[2017-11-21 04:02] miljan-aleksic commented on #191
Sorry to bother again guys, but I reproduced now the issue that misled me initially.

As @LinusBorg and docs suggest the slots allows to render a component and pass it down to the mounted component. But, and at least in my tests, no matter what I set there, I got the same result in the $slots reference, a generic vnode.

At first, I thought it was because of a wrong component registration, but the

[2017-11-21 10:01] DarynHolmes opened #193 "How can I use Environment Veriables with Jest"
I would like to raise this issue again, as I have not been able to find an acceptable solution. If you feel it is not related to this project please close it and I will stop the pestering 😉

I am using environment variables as explained here: https://vuejs-templates.github.io/webpack/env.html

When I run vue-test-utils tests with Jest, the environment variables are not loaded. I believe this is be

[2017-11-21 11:51] lmiller1990 commented on #193
Hey,

You can see here https://facebook.github.io/jest/docs/en/configuration.html

Jest uses it's own config, you can make sure own and specify the location in the `jest` section of your `package.json`.

[2017-11-21 13:21] ariera commented on #128
For me this works fine when running it on Chrome, but with PhantomJS the event doesn't seem to get emitted. In other words, `wrapper.emitted().input[0]` would be `undefined`.

My work around was to do things manually with raw JavaScript:

[code]

Could this be a bug?

[2017-11-21 17:14] DarynHolmes commented on #193
The Vue environment variables are used with
`process.env.EXAMPLE`

@lmiller1990 do you have a suggestion on how I can make sure I have such an object available during the Jest test run? Which one of the options do I need to use? setupFiles? Globals?

Any chance you could provide example code?

Thanks

[2017-11-21 17:54] eddyerburgh commented on #128
Potentially, would you be able to add a failing test and a fix?

[2017-11-21 18:50] eddyerburgh commented on #139
This has been released in 1.0.0-beta.6

Happy to continue discussing API, but thinking about it I think:

[code]

Is more elegant that

[code]

Plus we can extend the `props` method by adding an optional param:

[code]

[2017-11-21 18:50] #139 closed

[2017-11-21 18:51] eddyerburgh commented on #193
I'm sorry Daryn, this really is outside the scope of vue-test-utils.

[2017-11-21 18:51] #193 closed

[2017-11-21 18:53] eddyerburgh commented on #175
Yes, the working of it is like `Array.every`

How would you suggest changing the naming convention? I appreciate that there's a bit of magic involved in the wrapper array methods

[2017-11-21 19:08] aphofstede commented on #175
Semantics of course; and since the working is not exactly the same (as `Array.every`) it might be more confusing to some; but what I meant was: `expect(wrapper.every('p').isEmpty()).toBe(true)` reads slightly more natural to my eye in this particular case.

[2017-11-21 22:16] ariera commented on #128
"Potentially" is a very broad word :)
Let me start with something smaller, to see if this makes sense, and then maybe you can guide me into converting it into a real PR. Check this proof of concept, that tries to replicate my original scenario.

https://github.com/ariera/vue-test-utils/commit/8e7d5243ad5fdc0036f840981326433033ff5837

Does that make sense to you? Am I doing something obviously wron

[2017-11-22 02:00] #174 closed

[2017-11-22 03:12] Austio commented on #191
@miljan-aleksic When you use mount, it uses a local vue instance to do all of it's magic, so in a localized test you will need to either pass the components to the wrapper or add the Column component to your Table's components.
[code]

Side question, if that is what you are looking for and you end up closing this could you update the title to have something about slots in it so that others will mo

[2017-11-22 04:06] miljan-aleksic commented on #191
Hi @Austio, done but please feel free to change it as you think will best help the community.

I tried as suggested and is not working, then I tried passing a localVue registering the component to it. None does work, unfortunately. I tested with beta6.

I have few comments:

1. A slot that cannot resolve a component should warn about it. Among others, it will make it more easy to detect if issues

[2017-11-22 04:42] Austio commented on #191
Hmmm, I don't have any other thoughts then,  could create a jsfiddle or repro with minimal needed to reproduce?

[2017-11-22 06:56] eddyerburgh commented on #191
The issue here isn't bad configuration, it's to do with how we compile strings that are passed in the slots option.

At the moment only basic tags are supported as strings. Under the hood, we pass them to the vue-template-compiler compileToFunctions method.

I'll add an intend to implement tag and look into fixing this so that you can use a component as the slot like you intended 🙂

I agree this i

[2017-11-22 06:59] eddyerburgh commented on #128
Thanks for this. It looks like a difference between how Chrome and phantom propagate events.

I'm not sure it's a bug, as I believe you can solve your issue by calling .trigger on the select wrapper.

Maybe we should reintroduce phantom as a test runner to avoid broken tests in phantom 🤔

[2017-11-22 07:47] miljan-aleksic commented on #191
@eddyerburgh, thank you very much for your detailed explanation and intend to implement the missing feature. I deeply appreciate it ^^

[2017-11-22 10:32] rssfrncs commented on #132
@eddyerburgh I noticed at work this morning, that whilst _text_ children are rendered correctly, components like `h => <div>hello</div>` are not. This is partly my fault, as the [original test case](https://github.com/rssfrncs/vue-test-utils/blob/a89c42dee7641293d46179b13bbef7512b58e119/test/unit/specs/mount/options/context.spec.js#L69) I raised only included a text child.

I think the issue is [h

[2017-11-22 12:59] eddyerburgh commented on #132
It would be great if you could take care of it 🙂

[2017-11-23 09:51] zhouweicsu commented on #165
[Vue-test-utils with jest](https://vue-test-utils.vuejs.org/en/guides/testing-SFCs-with-jest.html) also need an official example 😀

[2017-11-23 17:04] chlab commented on #83
Sorry for posting this here, but I'm having trouble with this exact case. I am writing a test for a component that loads data from an API and displays that data in a form. I'm mocking the data access layer and resolving the promise right away. With the code above, the value is never there yet and my test fails.

Here's the test:

[code]

Any help on this?

[2017-11-23 17:31] eddyerburgh commented on #83
Use flush-promises:

[code]

[code]

[2017-11-24 08:44] chlab commented on #83
Thanks @eddyerburgh. Unfortunately, it still doesn't work. I have the `await flushPromises()` right before the expect. Again, if I put the `expect` into the `setTimeout` block, even with 1ms, the test passes.

It may be relevant to note that the component I'm testing calls the mocked function `getOwnerData()` in it's `beforeMount` hook. So it's being invoked automatically. All the examples I'm see

[2017-11-24 09:02] eddyerburgh commented on #83
Try calling flushPromises twice.

Here's an example test for a component that runs an async function in `beforeMount`—https://github.com/eddyerburgh/vue-hackernews-chapter-6/blob/master/src/views/__tests__/ItemList.spec.js#L65

[2017-11-24 09:17] chlab commented on #83
Doesn't work either::

[code]

[2017-11-27 09:13] verdond2 opened #203 "Testing child component event emit"
Hey guys, love the test utils and thanks so much for the hard work! I just have a quick question about something I'm stuck on. I have a child component that emits an event when a button is clicked. I'm trying to test for the event emit in a parent component but I can't seem to figure it out. I have been using the following from the docs:

`wrapper.vm.$emit('foo', 123)`

But unfortunately I can't s

[2017-11-27 09:18] LinusBorg commented on #203
How are you trying to pick up the event?

with this lib, you would do this:
[code]

https://vue-test-utils.vuejs.org/en/api/wrapper/emitted.html

[2017-11-27 09:25] verdond2 commented on #203
Hey @LinusBorg, thanks for your reply. That's exactly what I was trying but no luck. Basically, all the parent component does is listen for the event and the splice an object out of an array. The other part of the test case was to check how many items are in the list. After the event there should only be 1 but the list is actually containing 2.

[2017-11-27 10:28] verdond2 commented on #203
The event is firing but the function doesn't seem to be firing. Code below:

`<template>
	<div>
		<div class="time-constraint">
			<input type="text" class="time-constraint__from" placeholder="From Time" v-model="time.from" >

			<input type="text" class="time-constraint__to" placeholder="To Time" v-model="time.to"  >

			<div class="time-constraint__days">
				<label for="" v-for="(day, index) in

[2017-11-27 10:32] LinusBorg commented on #203
*(sidenote: use triple backticks to format code)*

I'm not sure I understand what you are testing - what's the "parent", what's the "child" ?

Is the wrapped component the parent and you try to emulate an emit from the child? Then that won't work. What you are doing is emitting an event *within*  the parent component, not *from the child*. That's why it's not reacting. The documentation you read w

[2017-11-27 10:39] verdond2 commented on #203
Hey @LinusBorg, sorry about that. Back ticks are not my friend today! I have a TimeConstraints (parent) component that will contain a list of TimeConstraint (child) components. You are correct I want to mock event of a child component within a parent component. The above code looks exactly what I need, I will give it a try now. Thanks for your reply

[2017-11-27 11:14] wtho commented on #176
@lmiller1990 just trying to understand what you meant.

Do you run the `expect` before the `return`? Otherwise it won't be executed at all, and no expectation / assertion means no possible fail.

I might just have misunderstood you though, please clarify.

[2017-11-27 14:18] verdond2 commented on #203
Hey @LinusBorg that worked for me. Thanks for your help!

[2017-11-27 14:18] #203 closed

[2017-11-27 15:50] cristijora opened #205 "SetMethods persisted during tests"
I've ran into an issue with `setMethods` which basically doesn't reset in between tests

## Steps to reproduce
Test 1 with a mocked `method`
[code]
Test 2 which runs after test 1 and calls the same method
[code]

## What is expected?
Real `clickMethod` is called in the second test.

## What is actually happening?
 `clickMethod` is not called in the second test. Changing the test order will call th

[2017-11-27 17:09] eddyerburgh commented on #205
I couldn't reproduce, but I think it might be due to the localVue.

Can you post your full test setup including these two tests.

[2017-11-27 17:14] stasson opened #206 "mount().find(component:Component) seems broken since beta-5"
This kind of test spec:

[code]
see this [test.spec](https://github.com/stasson/vue-mdc-adapter/blob/master/components/drawer/test.spec.js#L19) use to work with beta-4  but stoped working on [beta-5](https://github.com/stasson/vue-mdc-adapter/issues/107) and still fail on [beta-6](https://github.com/stasson/vue-mdc-adapter/pull/118)

I have tried to inspect the code change to see if there was anyt

[2017-11-27 18:05] eddyerburgh commented on #172
So this isn't part of vue-test-utils, but I kept it here because a lot of people have requested it.

This feature has now been added to vue-jest 1.2.0 (without source maps).

It should also work when using mocha-webpack

[2017-11-27 18:05] #172 closed

[2017-11-27 18:21] cristijora commented on #205
Thanks for the response @eddyerburgh Tried it with a more simplistic example and it worked.
Maybe there is something related to my tests.

Here's what I have
[code]
`VueFormWizard` is a simple plugin which sets 4 components globally
[code]
[code]
[code]

Any subsequent test after this one fails because the method is a stubbed one instead of the real one.
I will try to isolate a more specific scena

[2017-11-27 18:22] eddyerburgh commented on #206
Thanks for the bug report 😀

You're passing localVue incorrectly, it should be passed in the mounting options object:
[code]

Would you be able to create a minimal reproduction. There might be an edge case caused by how you're mounting the component, but I can't tell from your example.

[2017-11-27 18:59] stasson commented on #206
indeed everything back to [normal](https://travis-ci.org/stasson/vue-mdc-adapter/builds/308046831) when I pass the localVue properly.
I'm now wondering if I am getting crazy: How would this even have worked before !?!
Anyway, thanks a lot for the quick perfect answer !

[2017-11-27 18:59] #206 closed

[2017-11-27 20:14] ccamarat opened #208 "Triggering events in IE"
I'm running unit tests in browser using Karma. When I use `wrapper.trigger('click')`, I get the error message `Object doesn't support this action`. This was [resolved in Avoriaz](https://github.com/eddyerburgh/avoriaz/issues/81) by [providing a fallback for IE](https://github.com/eddyerburgh/avoriaz/commit/c3457770f88cf414b8e82dff1c10e4648b99ae55) in Wrapper.js.

In the docs I notice you recommend

[2017-11-27 20:30] eddyerburgh commented on #208
Hi, thanks. Of course we're willing to accept a PR! It would be greatly appreciated.

You can reuse the code from avoriaz I believe. If you could test manually, that would be great!

[2017-11-27 21:40] wtho commented on #176
I think I located the [origin of the error in Vuex](https://github.com/vuejs/vuex/blob/b64766bdec963a63ac537280dc42b5e6175e51c0/src/helpers.js#L51), `this.$store` being undefined here.

This might a result of `this.$options.store` not being installed on the `$options` object, when the [Vuex init hook](https://github.com/vuejs/vuex/blob/b64766bdec963a63ac537280dc42b5e6175e51c0/src/mixin.js#L22) get

[2017-11-27 21:56] ccamarat commented on #208
Done. Thanks!

[2017-11-28 03:27] Ttou opened #210 "SyntaxError: Unexpected token ."
when use element-ui with **babel-plugin-compnent,** run test unit will report an error

![i18n-fs8](https://user-images.githubusercontent.com/4298437/33301123-f16a373a-d42e-11e7-98ed-e67412268421.png)
![error-fs8](https://user-images.githubusercontent.com/4298437/33301127-0182cba0-d42f-11e7-868f-1fecc2eb57ee.png)

[2017-11-28 06:44] eddyerburgh commented on #210
This looks like you need to add a CSS loader, are you using mocha-webpack?

[2017-11-28 07:31] #208 closed

[2017-11-28 07:47] Ttou commented on #210
@eddyerburgh both jest and mocha-webpack will reporting the same problem

[2017-11-28 08:20] eddyerburgh commented on #210
I'm pretty sure this isn't a vue-test-utils issue, can you make a more detailed post on StackOverflow. I might be able to help you.

This issue tracker is reserved for bugs and feature requests only.

[2017-11-28 08:20] #210 closed

[2017-11-28 09:04] Ttou commented on #210
Agree with you. I have solved it by add this code in package.json.

![solve-fs8](https://user-images.githubusercontent.com/4298437/33310911-2680ae8e-d45e-11e7-9c8c-5c1818a84de1.png)

[2017-11-28 12:08] mokkabonna commented on #175
I assumed the same for `.find('.does.not.exists')`, but found the method `.exists()` that return false for empty wrapper. And returns arraywrapper.length > 0 for array wrapper.

This method is however not documented.

[2017-11-28 14:29] mokkabonna opened #211 "preventDefault:true option overwrites method"
I have a listener like this:

[code]
And dispatch the event like this:

[code]

And get the following error

[code]

It iterates over all options and set them:
https://github.com/vuejs/vue-test-utils/blob/dev/src/wrappers/wrapper.js#L533

preventDefault should not be set to true. Suggest either changing the option name to a non conflicting one, or removing it from the iterated keys. Or set it to a

[2017-11-28 16:56] blake-newman commented on #149
@eddyerburgh has the `setComputed` been fixed already?

[2017-11-28 16:56] blake-newman commented on #149
If not then i'll open an issue

[2017-11-28 18:34] callumacrae opened #213 "Handling asynchronous errors"
I was having problems with some warnings being output to the console after the test had already passed, which was causing a lot of confusion. Sometimes I was also having issues—see <https://github.com/vuejs/vue/issues/7140>—with my actual tests not reporting the error in the correct way, instead the error being logged to the console and then the test timing out later.

I've ended up rewriting all

[2017-11-28 20:38] disitec opened #214 "Feature request: Add setStubs method"
It would be great to implement a setStubs method. In most cases we use a global wrapper which is modified in specific tests with `setData`, `setProps`, `setComputed` and so on.

I find this approach quite clean and readable but when I want to stub components I have to recreate the wrapper only for this reason.

Is there a plan to implement it? It is even possible?

Thanks!

[2017-11-29 04:02] frutality commented on #116
@fvictorio hi! Could you post working example please? I'm stuck with exactly this error for 2 days already.

[2017-11-29 07:07] eddyerburgh commented on #214
This is possible.

Assuming you'd like to restore stubs, we'd need to keep track of all the stubbed components. I'd like to get other opinions on whether this would be useful for users.

[2017-11-29 09:48] fergaldoyle opened #215 "Events emitted on mount not captured"
Events emitted immediately in the `mounted` hook are not captured by `wrapper.emitted()`. With something like the below
- event `something` is not captured
- event `something-else` is not captured on first emit in the immediate watcher, but is captured on subsequent watcher callbacks
- event `toggle` is captured if the `toggle` method is called after mount, e.g. on user click

[code]

[2017-11-30 07:08] rayoplateado commented on #176
Hi all!
Any news on this? I'm facing the same problem.

Thank you, guys.

[2017-11-30 14:02] felixlublasser opened #221 "find/findAll produces unexpected results with stubbed components"
Consider this component:

[code]

and this test:

[code]

I would have expected the second expectation to pass, but instead, `findAll` returns both instances of the `ChildStub` component, not just the one in the `.first-child` div.

[2017-11-30 15:02] chlab commented on #79
What if you're using a custom form element, such as [this](https://github.com/ElemeFE/element/blob/dev/packages/input/src/input.vue)?

[code]

I have tried giving it a `ref` and accessing it via ´vm.find({ ref: 'emailField' }).data.currentValue´ or via name `vm.find('[name=email]').text()` (and various other combinations) but I can't ever get the value.

Preferably, I'd rather go "the DOM way" as

[2017-11-30 15:23] lusarz commented on #79
`find` method returns wrapper. Could you check for: `vm.find({ ref: 'emailField' }).vm.currentValue` ?

[2017-12-01 00:04] pushrbx opened #222 "Object.assign and Promise polyfills for PhantomJS should be in the lib"
I had an issue few days ago where I had the following error with PhantomJS:
[code]
And I only could solve it by adding the following npm package: https://www.npmjs.com/package/phantomjs-polyfill-object-assign
Of course a babel-polyfills package would solve it as well.
I would suggest that the pollyfills (Object.assign, Promises) for PhantomJS should be included in vue-test-utils.
@eddyerburgh I ta

[2017-12-01 08:46] eddyerburgh commented on #221
Yes, this should be fixed.

[2017-12-01 08:57] wtho commented on #215
This happens, because the [wrapper attaches to the component](https://github.com/vuejs/vue-test-utils/blob/8904ddd407eade79611f6ffaaa79ad544d0a7e0f/src/mount.js#L32) **after** the component was [created and mounted](https://github.com/vuejs/vue-test-utils/blob/8904ddd407eade79611f6ffaaa79ad544d0a7e0f/src/mount.js#L20).

I do not know if there is a way to change this, but I have the feeling if we d

[2017-12-01 09:00] eddyerburgh commented on #215
I was thinking we could add a listener object before mount and pass it to VueWrapper when it's created and merge that listener object with the current listener object.

[2017-12-01 09:44] wtho commented on #215
Ok, so what worked for me was this (using the `logEvents` method in `src/lib/log-events.js`):
[code]
It does catch all events from `beforeCreate` on in a variable of the component (in this case `$._emitted`). In the constructor we could then copy these self-tracked events to the wrapper. The mixin could be added in every `localVue` instance when creating it.

This approach is quite naive and the f

[2017-12-01 13:18] chlab commented on #79
That doesn't work. Also tried with `.vnode.currentValue` and `.element.value` all to no avail.

[2017-12-01 13:30] LinusBorg commented on #79
Why use find? `wrapper.vm.$refs.emailField.currentValue`

[2017-12-01 13:33] LinusBorg commented on #222
I would not see this as a prop. Polyfilling the environment should not be considered a primary feature of this lib (but a nice-to-have).

The lib itself should be agnostic to the environment it is used in and the browser features available.

Don'T get me wrong, we an add this - but it's not a bug in my eyes.

[2017-12-01 13:41] pushrbx commented on #222
I agree with you, so let me modify my above statement:
It would be nice if the lib would put a warning in the console log saying that these objects require polyfills. But even this solution sounds a bit like out of the scope of the lib.

[2017-12-01 14:11] chlab commented on #79
Good point @LinusBorg, that works. Thanks.

[2017-12-02 10:43] wtho commented on #213
I personally have not experienced the issue, can you provide a minimal reproduction?

[2017-12-03 19:50] EddYerburgh opened #224 "router-link and router-view stub components"
Should we include router-view and router-link stub components?

Currently I have to do something like this to test the text rendered in a router-link:

[code]
We could extract that logic into a component exported by vue-test-utils:

[code]

[2017-12-03 20:10] eddyerburgh commented on #222
I added an object.assign polyfill. It will be in the next release

[2017-12-03 20:10] #222 closed

[2017-12-03 20:57] eddyerburgh commented on #175
I'm closing this issue. If people have suggestions to improve the API, I'm happy to reopen.

[2017-12-03 20:57] #175 closed

[2017-12-04 20:17] eddyerburgh commented on #215
I can't think of a better way. Would you like to implement @wtho ?

[2017-12-04 20:18] eddyerburgh commented on #221
I've added a fix to the dev branch. It will be released in 1.0.0-beta.7

[2017-12-04 20:18] #221 closed

[2017-12-05 08:01] wtho commented on #215
@eddyerburgh I will submit a PR this weekend

[2017-12-05 12:13] WebDevLuke opened #229 "Passing text to default slots"
Hey all, so I have a very simple component with a default slot, like so:

[code]

And would use like so:

[code]

How can I test that the `My Button` text passed to the component's default slot is rendering correctly?

I have the below unit test currently, which is working only because I've wrapped the `My Button` testing text in a span element, as otherwise I'm getting a `Component template requi

[2017-12-05 15:30] apertureless opened #230 "Testig window/document events"
Maybe I missed something, but is there a way to test EventListeners?
I have following component

[code]

It is working in storybook so far, that if you set the prop to true and press esc that the `close` event is emitted.

It works also if I test against the button which has `@click="close()"`

Here are the tests

[code]

The first test with the button is working. However not the second one.

[2017-12-05 17:10] eddyerburgh commented on #230
Hi, thanks for the detailed bug report.

This is related to this bug — https://github.com/vuejs/vue-test-utils/issues/215. It should be fixed in the next beta release 😀

[2017-12-05 17:10] #230 closed

[2017-12-05 17:11] eddyerburgh commented on #229
There actually isn't a way to do this right now. Perhaps we should think about adding it to the slots API. What do people think?

[2017-12-05 18:58] apertureless commented on #230
Awesome! Thanks! :pray:

[2017-12-06 01:40] lmiller1990 commented on #176
@rayoplateado  can you make your test async and use something like flush promises? If you post the code you want to test I can help you in the right direction.

[2017-12-06 12:49] felixlublasser commented on #221
Awesome, thanks a bunch for the quick fix!

[2017-12-06 15:15] callumacrae opened #235 "Inputs and .value()"
There's `.text()` and `.html()` for elements, but is there a reason there isn't a `.value()` for inputs?

Happy to add it if it's just an oversight :)

[2017-12-06 15:59] callumacrae opened #236 ".emitted() returns object by reference"
I'm not sure whether this behaviour is expected or not, but I think it should be clearer in the documentation:

[code]

I expected the object returned by `wrapper.emitted()` to not change, but it did.

[2017-12-07 06:33] disitec commented on #149
+1

[2017-12-07 14:16] WebDevLuke commented on #229
In that case, I look forward to seeing this implemented. Passing text to slots is quite a common use case, especially with simple, dumb components. 😃

[2017-12-07 15:51] albhilazo opened #238 ""Cannot convert a Symbol value to a string" when using testdouble.js mocks"
### Version
1.0.0-beta.6

### Reproduction link
[https://codepen.io/albhilazo/pen/EbBPNv](https://codepen.io/albhilazo/pen/EbBPNv)

### Steps to reproduce
Use testdouble.js mock objects with vue-test-utils version >= beta4.

Open the reproduction CodePen to see a minimal test and the `Cannot convert a Symbol value to a string` error.

### What is expected?
That testdouble mock objects as ES6 proxi

[2017-12-07 18:09] eddyerburgh commented on #229
This has been added and will be released in the next beta version 🙂

[2017-12-07 18:34] eddyerburgh commented on #235
We decided against it in a previous thread, although I'm happy to open up discussion.

Is this a feature that would be useful to a lot of users?

[2017-12-07 18:36] eddyerburgh commented on #236
This is the intended behavior.

You're right, we should make this clearer in the docs. Are you able to make a PR?

[2017-12-07 18:43] eddyerburgh commented on #149
Sorry for the delay guys, I saw this an forgot to reply.

I've updated setComputed to run the correct watchers. It'll be released in beta.7 in the next couple of days 🙂

[2017-12-07 18:44] #186 closed

[2017-12-07 18:44] #177 closed

[2017-12-07 18:50] alidcastano opened #239 "testing event props"
Say we can test a component like this:
[code]

How should the emitted event be tested? Based on the Vuex example found in the docs, I tried the following and it didn't work:

[code]

Is this currently possible? If so, how should it be done? Thanks

[2017-12-07 19:08] Spittal opened #240 "Can't find using a component import"
Hey there, I'm having an issue where I cannot use a Vue component to find within a wrapper. I should note that I use `vue-component-class` Here's a small sample of my code

[code]

the result of the console log is
[code]

and the error thrown is
[code]

Using Versions
"vue-test-utils": "1.0.0-beta.6",
"vue": "2.5.9",
"vue-class-component": "5.0.2"

[2017-12-08 07:15] eddyerburgh commented on #238
We started defining properties as reactive in beta 6. The Proxy created by testdouble throws an error when we call it in defineReactive. This might well be a bug with Vue, I'll investigate it further.

Alternatively, we could try/catch the call to defineReactive, but that wouldn't be ideal.

[2017-12-08 07:21] eddyerburgh commented on #239
For questions like this, please use StackOverflow 🙂. The issue tracker is reserved for bugs and feature requests.

You can't add a click handler to a component, you need to add it to an element inside the component.

[2017-12-08 11:32] felixlublasser commented on #150
Sorry for coming late to the party. I get that there's no need to test that the event from the child is received by the parent but what I *would* like to test is not that the parent calls a method, but that it calls the *correct* method. Maybe I have two child components and the parent is supposed to call different methods depending on which child fires the event. That should be part of a unit tes

[2017-12-08 12:41] callumacrae commented on #235
I ended up using `.hasAttribute()` in the end - I didn't realise you could use it to match against a value, but it does exactly what I wanted.

[2017-12-08 12:42] callumacrae commented on #236
Will do this afternoon :+1:

[2017-12-08 14:41] andreasvirkus commented on #132
Should also update documentation (currently it seems that `children` is an Object and directly under `options` (instead of being nested under `context`).

[2017-12-08 15:31] alidcastano commented on #239
This can defintely be done:
[code]

I use it all the time to emit actions back up to the parent component. My issue was asking whether this is currently testable (couldn't find how in documentation), if not I'd like to file a feature request.

[2017-12-08 15:45] eddyerburgh commented on #132
Would you be able to makr a PR @andreasvirkus ?

[2017-12-08 16:33] mouafa commented on #41
try this:
`
const tableCol = table.find(TableColumn)
expect(tableCol.vm. show).toBe('firstName')
`

[2017-12-08 18:42] eddyerburgh commented on #239
Sorry @alidcastano , I misread your example as a click handler ☺️.

You could find the component with the handler in the parent component and emit on the instance:

[code]

This will trigger the `someFunction` method. There are a few ways to test that `someFunction` was called.

You can also test that someComponent emitted the someFunction method inside the component using the [`emitted` method](h

[2017-12-08 19:48] alidcastano commented on #239
In my specific situation, the method is not emitted directly by the nested component. For example:

[code]
I'll try finding the nested component and see if I can trigger the emit. But ideally, this is the feature I had in mind:

[code]

[2017-12-09 11:29] eddyerburgh commented on #215
Fixed in 1.0.0-beta.7, thanks @wtho!

[2017-12-09 11:29] #215 closed

[2017-12-09 11:31] eddyerburgh commented on #229
Released in 1.0.0-beta.7 🙌

[2017-12-09 11:31] #229 closed

[2017-12-09 12:16] wtho commented on #230
I am not sure if it was related to that issue, but the following example works for me:
[code]

@apertureless make sure you use `attachToDocument: true` when working with `window` and DOM-Events.

[2017-12-09 15:22] 38elements opened #244 "Passing text to slots in mounting options"
The `slots`  in `mounting options` does not work for the text like one as below.

[code]

[code]

[2017-12-09 16:59] eddyerburgh opened #245 "Add support for async components"
We need to add support for async components

[2017-12-09 17:01] eddyerburgh commented on #146
Hey @Austio, are you still intending to make a PR?

[2017-12-09 17:06] eddyerburgh commented on #137
I believe this is covered mostly in test-with-vuex. I think that section could be cleaned up though to be more clear

[2017-12-09 17:08] eddyerburgh commented on #136
Closing as there seems to be no interest. If anyone would like more information, could you please give an example of what kind of information could make this more clear

[2017-12-09 17:08] #136 closed

[2017-12-09 17:10] eddyerburgh commented on #211
Thanks for the bug report, I agree that it shouldn't error.

Would you be able to make a PR to fix this?

[2017-12-09 17:10] eddyerburgh opened #246 "To do before release"
Hi guys, vue-test-utils has been in beta for a couple months now, and the feedback we've got has been really helpful.

There are a few things left to do before we release 1.0.0:

- [x] ~~Add deprecation notice to `hasClass`, `hasAttribute`, and `hasProp`, in favor of `classes`, `attributes`, and `props`~~
- [x] Add support for async components via Code Splitting #61
- [x] ~~Fix bug with keyed tran

[2017-12-09 17:20] eddyerburgh commented on #235
Ok, I'll close this issue then.

Note that `hasAttribute` has been deprecated, and will be removed before the first release. You should use `attributes` instead.

[2017-12-09 17:20] #235 closed

[2017-12-09 19:22] Austio commented on #146
Hey Edd, my bad, yes I do, should have some free time in the coming up week to add.  If you have freetime please feel free to jump on it :)

[2017-12-10 13:37] sygrinberg opened #248 "findAll with Vue extended component causing errors"
When I use the "findAll" function on a component that extends another component using "extends" attribute I get this error:
`undefined is not a constructor (evaluating 'Object.entries(refOptionsObject)')
isRefSelector@webpack:///node_modules/vue-test-utils/dist/vue-test-utils.js:232:0 <- index.js:751:31
getSelectorType@webpack:///node_modules/vue-test-utils/dist/vue-test-utils.js:265:0 <- index.js

[2017-12-10 14:20] eddyerburgh commented on #24
Reopening, because the behavior of contains could be confusing for users.

My vote is that we change the behavior of contains to include the Wrapper.

[2017-12-10 14:45] phanan commented on #24
I think that's a good idea. Though I understand the difference, the current behavior is a bit weird and inconsistent, at least to me, as I've always seen `wrapper` to be the `<template>` that _wraps_ everything in it.

I'd argue that more often than not, to test if the component has been rendered, a user would just check if the root node exists and naturally thinks of `contains('.root.selector')`

[2017-12-10 16:07] wtho commented on #245
How could [async components](https://vuejs.org/v2/guide/components.html#Async-Components) be integrated in the current test setup of this repository? Should webpack provide the possibility to split? Or should we mock statically whatever splitted bundle webpack would serve? Can we test this without extending and rewriting the setup?

Any ideas on this?

I guess this issue also includes [advanced as

[2017-12-11 11:14] callumacrae commented on #235
i somehow completely missed that functionality 😰

[2017-12-11 12:59] 38elements commented on #136
Since I think it is better that there is an example and description for `extends` in document, I sent a pull request.

[2017-12-11 13:22] eddyerburgh commented on #229
we need to add this to docs

[2017-12-11 13:45] 38elements commented on #229
I will add document about this within 3 days.

[2017-12-11 17:32] #236 closed

[2017-12-11 21:28] wtho commented on #245
Looking at what the [Vue vdom does](https://github.com/vuejs/vue/blob/bd4819e6cf1c8d70d25aba2636e01f40faf59443/src/core/vdom/create-component.js#L128), my suggestion would be to still return an *AsyncWrapper*, that first contains a placeholder or nothing, and when the promise resolves or the function calls back, it becomes a normal wrapper.

The tester would then have the need of flushing promises

[2017-12-12 06:22] eddyerburgh commented on #245
I haven't investigated into this yet.

You're right, I don't think we should change the behavior of mount and shallow to not return a wrapper. I'll add some more comments when I've had a look into it.

[2017-12-12 09:58] apertureless commented on #230
Much thanks @wtho ! 🙏
`attachToDocument` did the trick.

[2017-12-12 15:39] lmiller1990 commented on #246
I think you have the wrong issue reference for `Add docs for testing components that have asynchronous calls` ?

I am interested in writing docs for this! This basically refers to anything using `async` or a Promise, right?

Maybe we can put it under the guides section.

[2017-12-12 16:20] kimond opened #255 "How to use typescript correctly?"
I'm not sure if this issue belongs to this project. However, I'm using vue-test-utils since the beginning (even when its name was Avoriaz). But I have some issue to use SFC with typescript and Jest. I was wondering if you planned to write more documentation about which test runners or libs we should use to work properly with Typescript + Jest + Vue-test-utils?

Thank you!

[2017-12-12 17:14] eddyerburgh commented on #246
Yes, I think we should add it to the guides section. That would be great if you could write it 🙂

[2017-12-12 21:25] cristijora commented on #205
Closing this as I couldn't reproduce in a more simple scenario as well as to keep the repo cleaner :)
If this happens again, will open a new issue. Thanks for the input @eddyerburgh

[2017-12-12 21:25] #205 closed

[2017-12-13 10:34] wtho commented on #248
I am not sure how the component should extend another component's template. The API is [not very clear](https://vuejs.org/v2/api/#extends) about this:

 The [Vue.js Extend Test](https://github.com/vuejs/vue/blob/dev/test/unit/features/options/extends.spec.js) does not test potentially inherited templates.

[2017-12-13 11:59] sandiya-baranidaran commented on #31
Hi,
Thank you for your post.

I have my navMenu.vue.html as Follows:
[code]

and I would like to test the router-link. As your doesnt mention on how to test specific router at a time. Please could you advise on how to do this.I am using vue-test-utils. I am very new to Jasmine and Karma.Please help.

[2017-12-13 12:00] sandiya-baranidaran commented on #224
Hi,
Thank you for your post.

I have my navMenu.vue.html as Follows:

<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <router-link to="/" :exact="false" router-link-active="true" >
                            <span class="fa fa-upload"></span> Upload
                        </router-link>
                    </li>

[2017-12-13 13:55] sandiya-baranidaran opened #258 "How to access the button inside Modal in vue.html"
I got a vue.html as below:

[code]

I couldnt able to access the button inside Modal in my test through using this code:
`wrapper.vm.$el.querySelectorAll('button.button1')`

Please suggest.

[2017-12-13 16:36] eddyerburgh commented on #258
Hi @sandiya-baranidaran. vue-test-utils only works for .js files and .vue files. Perhaps I'm misunderstanding your question. Could you please create a question on StackOverflow, I'd be happy to answer there.

[2017-12-13 16:36] #258 closed

[2017-12-13 16:46] mokkabonna commented on #211
I can do that.

------
I wonder though, why is that option there in the first place? Isn't it the code under test that has the responsibility to prevent the default action? Now you can have a test that passes since the test itself prevents the default, but it is no guarantee that the code under test prevents the default action.

Aren't triggering events meant to simulate user interactions? The use

[2017-12-13 17:38] gsccheng commented on #128
I'm having the same problem using the mocha-webpack testrunner and JSDOM as described in the docs.

[2017-12-13 18:18] celeryclub opened #259 "Debugger in dist files"
It looks like this commit added several debugger statements to the built files. https://github.com/vuejs/vue-test-utils/commit/71d2c6b73e7738e99654f731207b79a1fd1c207f
Was that intentional? It's weird to get caught in these debuggers when trying to debug my own code.

Thank you for building this great tool!

[2017-12-13 19:46] gsccheng opened #260 "[help-wanted] How to change a select element"
I want to be able to test my Single File Vue Component by selecting an option in a Vue Child component. I need to trigger the Vue watcher that watches `selectedFooItem`. I am using `mocha-webpack` and `js-global` according to the `vue-test-utils` docs.

This is related to this issue: #128 , and my [SO ticket](https://stackoverflow.com/questions/47784676/cannot-click-on-vue-select-box-using-vue-tes

[2017-12-14 01:23] lmiller1990 commented on #260
If you call `wrapper.update()` after doing `trigger` does that make it work? It could be a sync/async issue.

[2017-12-14 02:13] lmiller1990 commented on #260
Edit, had a shot at this. Used the element ui template on their website. I think you should be using the `change` event from element ui, not `visible-change`. Anyway... using the `change` event, I get the expected result in the browser - the new item. However, in vue-test-utils under Jest, I get an HTMLUnknownElement as the event.target. I guess some conflict between the library and the vue-test-u

[2017-12-14 02:18] lmiller1990 commented on #246
I would like to do this, I will have time after the 19th.

Also, I think we should add something about _what_ to test. A lot of people have problems, when they are testing things using vue test utils that it shouldn't be used for (like testing other people's components).

Not directly related to this library, but I think providing an official library that will become a big part of the ecosystem, s

[2017-12-14 06:16] 38elements commented on #259
The debuggers removed at #247 .
This change is not released.

[2017-12-14 08:13] eddyerburgh commented on #259
No, sorry, that was unintentional.

I'm going to add a linting rule to catch debugger statements, and release beta.8 today

[2017-12-14 08:23] eddyerburgh commented on #246
Yeah I agree, I'll add it to the list

[2017-12-14 08:30] eddyerburgh commented on #259
Released in 1.0.0-beta.8

[2017-12-14 08:30] #259 closed

[2017-12-14 16:13] tianyong90 opened #263 "attributes() method always return an Object{undefined: undefined}"
Today , I upgrade to beta.8, and I tried to using `attributes()` , but found that it always return `Object{undefined: undefined}`.

![image](https://user-images.githubusercontent.com/9278461/34002085-ab59c1e2-e12c-11e7-8831-0eabf989f8c5.png)

[2017-12-14 16:31] MaximeAubry opened #264 "Unable to use method i defined in vue"
Hello.

i have a bug. I define a method into vue :
`Vue.MyNamespace.MyMethode = function () {}`

This method is called in this app.vue file. And it's called by an event, into another child component.
If i create a localvue in my unit test, it's ok, i can see my methods with console.log (localVue.MyNamespace.MyMethode). It's ok.
But, when I load a child component of App.vue and the event is called,

[2017-12-14 18:15] eddyerburgh commented on #264
You need to add the method to the Vue prototype for it to persist when a new child instance is created. I recommend using the [mocks option](https://vue-test-utils.vuejs.org/en/api/options.html#mocks):

[code]

[2017-12-14 18:15] #264 closed

[2017-12-14 22:46] sdellis opened #266 "Can't trigger input event"
I'm able to trigger a click event with vue-test-utils, but can't seem to trigger an input event.

Here's my component:
[code]
Here's my test:
[code]

The test fails with the following output:
[code]

[2017-12-15 00:04] celeryclub commented on #259
Thanks for addressing this so quickly!

[2017-12-15 02:30] lmiller1990 commented on #266
You aren't using the Vuex action in your component, at all.

Inside of `resizeThumbs` you would need to do:

[code]

Also in the component you do not need to pass `$event`, it is the first argument by default. It should be `@input="resizeThumbs"`. Please read this guide: https://vue-test-utils.vuejs.org/en/guides/using-with-vuex.html

This does not appear to be a problem with `vue-test-utils`, con

[2017-12-15 02:52] lmiller1990 commented on #240
Did you have any luck with solving this, @Spittal ? I haven't used `vue-component-class` before, but I can take a look on the weekend at this, I'd like to learn more about it either way.

[2017-12-15 06:44] eddyerburgh commented on #266
Hi @sdellis. This is a problem with your test, rather than vue-test-utils. The input even is getting triggered, but the action isn't called because you haven't added any code to dispatch the action.

This issue tracker is reserved for bug fixes and feature requests. For questions like these, please ask on StackOverflow or the Vue discord channel.

@lmiller1990 FYI, it's Edd, not Eddy 😉

[2017-12-15 06:44] #266 closed

[2017-12-15 09:56] aiankile opened #267 "Ref selector for components returns wrapper which is not isVueComponent"
Issue: When selecting a sub-component of the main wrapper by ref, e. g. via
`wrapper.find({ref: 'myRef'})`
the resulting wrapper cannot execute further `find` or `exists` methods:

`wrapper.find({ref: 'myRef'}).find({ref: 'myRefSubref'})`

Possible reason: `find` returns `new Wrapper(...)` directly, without calling VueWrapper. Which in turn means, `selectorTypes.OPTIONS_OBJECT` is used for `ref` s

[2017-12-15 10:39] MaximeAubry commented on #264
It does not work.
Please, don't close an issue as fast :/
This method is defined in the web page is call, but not in the parent component.

`Vue.OroneMaterial.PageloadSwitcher.start()`

In App.vue, OroneMaterial is still undefined, but is defined in the ConnectorList.vue file.

[2017-12-15 10:44] 38elements commented on #267
https://github.com/vuejs/vue-test-utils/blob/5d0cc2e8b204d4dbdf9fa3bcd65700fd87504a4e/test/unit/specs/mount/Wrapper/find.spec.js#L173-L176

This was changed as below.

[code]

The test did not pass.

[2017-12-15 11:22] eddyerburgh commented on #264
The issue tracker is reserved for bug reports and feature requests. From the information you've provided, this isn't a bug report, or a feature request. That's why I closed the issue.

As I said, the issue is that you need to add the method to the Vue prototype:

[code]

If this doesn't solve your issue, either post a minimal reproduction if you believe it's a bug and I'll reopen the issue. Otherw

[2017-12-15 11:24] eddyerburgh commented on #267
You're correct, this should return a new VueWrapper when using the ref selector.

Would you like to add a PR that fixes this issue?

[2017-12-15 13:25] aiankile commented on #267
Sure, I'll prepare a PR.

[2017-12-15 14:19] sdellis commented on #266
I apologize for erroneously filing this as a bug report. I'll be more careful next time. @lmiller1990 I was trying to trigger the function within the `methods` object. I think I got confused as example was simplified from a more complicated component in which the resizeThumbs method doesn't need to touch the store.

[2017-12-15 14:50] lmiller1990 commented on #224
This seems like a good feature, consider vue has an official router + flux store, the utils should reflect that.

Maybe we can also do something for vuex? I find myself writing a ton of boilerplate for components using a vuex store, might be something we could consider including.

[2017-12-15 15:21] MaximeAubry commented on #264
Ok it's done. And I think it's really a bug. Maybe I'm wrong...
[Here is my sample project](https://github.com/MaximeAubry/DeclareFrameworkInTests)
Thanks a lot :)

[2017-12-15 15:51] eddyerburgh commented on #264
Thanks for making the reproduction. Can you describe what the behavior you expect is, and what you're actually gettig in the repo. Also, if you could remove as much code as possible that isn't involved in the bug, like Vue Router, it makes it a lot easier to debug 🙂

[2017-12-15 15:53] eddyerburgh commented on #266
If you think this is a bug, could you please create a minimal reproduction that demonstrates the bug? If it's not a bug I'll leave this closed.Thanks 🙂

[2017-12-15 15:57] MaximeAubry commented on #264
So. I would like the "Vue.OroneMaterial.PageloadSwitcher" service works into the app.vue each time axios interceptors will be called.
Actually, this service appear into my unit test "localVue", but is undefined when i execute my tests.
ok I am going to remove the router from the unit test.
thanks.

[2017-12-15 16:37] Spittal commented on #240
Hey! I actually didn't get very far. I tried digging into the `GameOwnershipCard` object to see if there's something that would satisfy the find method.

My next step would be to compare what a not decorated Vue component looks like compared to one that has the `@Component` decorator. Will do that over the weekend!

[2017-12-15 16:49] eddyerburgh opened #270 "Run tests on build rather than source"
At the moment we're running tests on the source code.

We introduced a bug in beta.8 that would have been caught by unit tests if we were running them against the build. I'll update the tests tonight to run tests against the built files

[2017-12-15 17:11] sdellis commented on #266
@eddyerburgh If I'm passing the event properly, I think this may be a bug. Here's a minimal reproduction with all the unnecessary vuex stuff taken out.
My component:
[code]
My test:
[code]
I get the following error when running the test:
[code]
According to [the docs](https://vue-test-utils.vuejs.org/en/api/wrapper/trigger.html) I think I'm passing `event.target.value` properly.

[2017-12-15 18:19] charliekassel opened #271 "Mock $refs"
It would be useful to be able to mock $refs.

Currently, as far as I understand there is no way to test a method that calls a childs methods via $refs.

[code]

[2017-12-15 19:17] eddyerburgh commented on #266
trigger creates a new DOM Event, and tries to overwrite the Event properties with the properties of options. Unfortunately, target is a read only property, which leads to the confusing error.

To trigger an input with the value of 100, you need to set the value of the element you're triggering the event on to 100:

[code]

I'm going to add a note to the docs that target is unwritable, and throw a

[2017-12-15 19:44] eddyerburgh commented on #267
This will be released in beta.9

[2017-12-15 19:44] #267 closed

[2017-12-15 19:44] eddyerburgh commented on #263
This will be released in beta.9

[2017-12-15 19:44] #263 closed

[2017-12-15 19:55] bdeo commented on #165
@zhouweicsu What kind of example are you interested in? Project structure? package.json jest config?

[2017-12-15 20:18] sdellis commented on #266
@eddyerburgh Thank you for your help, for improving the error message, and adding this to the docs! One small note with your example above is that I needed to remove `, {target: {value: 100}}` from the trigger call to get it to work for me.

[2017-12-15 20:38] eddyerburgh commented on #270
Closed with 9669abb

[2017-12-15 20:38] #270 closed

[2017-12-15 21:23] eddyerburgh opened #272 "Types test broken in Vue 2.5.x"
`npm run test:types` fails on Vue 2.5.x.

There are quite a few errors thrown. The types changed significantly in Vue 2.5.x. We need to fix the broken tests so they compile using types from the latest Vue version

[2017-12-16 11:58] charliekassel opened #273 "setComputed does not set computed values"
Seems to be a bug, I've not tested using Jest.

Using vue-cli webpack tempate.
vue-test-utils@1.0.0-beta.8
Vue 2.5
Karma 1.4.1
Mocha 3.2.0

[code]
[code]

[2017-12-17 07:41] lmiller1990 commented on #273
I put some console.logs inside of the setComputed function in vue test utils, and the value does appear to set --  I guess it's a bug elsewhere. Will keep playing around. I wonder if this is the same problem as #176 ...

[2017-12-17 11:18] 38elements commented on #246
IMHO,
I think it is better that `Add docs on what/ how to test` is in [cookbook](https://github.com/vuejs/vuejs.org/tree/master/src/v2/cookbook).

[2017-12-17 17:39] eddyerburgh commented on #24
After looking into it again, I think changing the behavior of contains to include the wrapper root element is a good idea. `contains` has been used inconsistently between JQuery and the DOM:
[code]
document.contains includes the element:
[code]

[2017-12-17 20:53] #24 closed

[2017-12-17 21:24] Austio commented on #146
@eddyerburgh Hey so i worked on this and noticed something while i was working on the mount spec for it that i wanted to double check on.  The attrs match but the rendered html is not what I expected.  Could you check the spec here and the failed expectation to see if i'm on base?
https://github.com/Austio/vue-test-utils/blob/503f51d391cbe70eaf659eed30e0a495c7064c36/test/unit/specs/mount.spec.js#L

[2017-12-19 10:35] phanan opened #276 "Original methods are called instead of stubs if invoke through events"
When using Sinon stubs and Vue's event system, it appears that the original, stubbed, methods are still being called instead of the stubs themselves. Consider the following example:

[code]

### Expected Behavior

* `Foo.init()` shouldn't be called
* `initStub.called` should be `true`

### Actual Behavior

* `Foo.init()` is called
* `initStub.called` is `false`

Notice that the bug (?) doesn't hap

[2017-12-19 12:06] LinusBorg commented on #276
Hm, I'm doubtful that there's a way to fix it. Presumalby, you did something like this:
[code]

When you replace the method `init` *after* the event has registered, he eventbus doesn't know about it - it still has the old method as the callback for the event listener.

And vue-test-utils doesn't know about the event bus, which is not part of the component instance.

The same would happen if you re

[2017-12-19 12:06] wtho commented on #276
I think this is, because when you call `bus.$on('event', this.init)`, the original method reference gets passed to the bus listener. Even if you replace `this.init` later on the component, the bus will still have referenced the other method. It is just how the bus is designed. I do not see how we can change that.

You could however pass a stub implementation in the test options like this to test t

[2017-12-19 12:37] wtho commented on #276
Another way to work around it is to wrap the passing function in another one:
[code]
That way the reference to `this.init` will be determined during runtime.

In my opinion this is no issue in the vue-test-utils and could be closed.

[2017-12-19 20:50] eddyerburgh commented on #273
Should setComputed make it so the computed function always returns the value that was set until setComputed is called again. Or do you think the computed function in your example return a different value after a changes?

I have a fix if we think calling setComputed should permanently change the computed value returned.

[2017-12-19 22:05] charliekassel commented on #273
I think if you are setting it for the test, then it should then not be mutable by the original computer getter

[2017-12-19 22:07] charliekassel commented on #273
So that’s a yes to the first question in plain English :)

[2017-12-19 22:38] jgarciadiaz opened #278 ".contains() not working when <Component> is passed"
Hey guys,

I have the next test-case:
[code]

ParentComponent:
[code]

However the test fails.

After debugging I found out `selector.name` is undefined:
https://github.com/vuejs/vue-test-utils/blob/dev/src/wrappers/wrapper.js#L78

unless I explicitly declare `ChildComponent` as this (**which makes my test to pass**):
[code]

otherwise `selector.name` is always undefined.

Printscreen

![screen sh

[2017-12-19 23:25] jgarciadiaz commented on #278
nvm I just confirmed that's expected
https://vue-test-utils.vuejs.org/en/api/selectors.html
thanks anyway

[2017-12-19 23:25] #278 closed

[2017-12-19 23:25] githorse opened #279 "How can I get the selected option in a `select`?"
How do I get the currently selected option in a `select` tag? Following #79 doesn't work here:

[code]

The `select` works correctly in the browser and has the correct binding. How do I test it?

[2017-12-20 00:55] #244 closed

[2017-12-20 04:02] Austio commented on #146
@eddyerburgh hey hey, just bumping on this, no rush

[2017-12-20 04:10] Austio commented on #279
Could you post up a jsfiddle to reproduce?

My first thought is that your first option could be blank and that would return '' for the value.  The html would looks something like below where your first option is empty for value.
[code]

[2017-12-20 04:15] Austio commented on #271
@charliekassel could you provide an example where you would want to use this functionality?

[2017-12-20 07:36] charliekassel commented on #271
Perhaps it's actually stubbing rather than mocking.
For the example above where we have that method to test, I guess I would want the shallow constructor to stub that child method so it's not called, preventing the test throwing an error.
I want to test the logic contained in that `methodToTest` method without the side effects of calling `$refs.childComponent.childsMethod()`

[2017-12-20 08:03] lmiller1990 commented on #246
@38elements I can see your line of thinking. I feel like some test specific guides, with lots of details, would be great to include with `vue-test-utils` docs, and some more general ones referring to `vue-test-utils` in the cookbook.

[2017-12-20 08:06] lmiller1990 commented on #279
This may have been answered [here](https://github.com/vuejs/vue-test-utils/issues/128), take a look.

[2017-12-20 10:04] eddyerburgh commented on #278
It's worth noting that `contains` has been updated to include the wrapper element. So in beta.9 it will behave as you originally expected 😀

[2017-12-20 11:20] lmiller1990 commented on #273
If I do `setComputed`, I expect it to be the value I set it to. However I think it should reset each test - eg, every `it` statement, I would expect the component back in it's initial state.

[2017-12-20 11:21] charliekassel commented on #273
Yes, agreed.

[2017-12-20 12:27] eddyerburgh opened #283 "Should update run all watchers?"
At the moment, the `update` method re-renders the component.

I think it should also run all component and child component watchers, otherwise users will need to use `Vue.nextTick` in cases like this—https://github.com/lmiller1990/vue-test-utils/blob/309aebcad7c736cd926a469a7d724ea18fc0f54c/docs/en/guides/testing-async-components.md

I'm trying to think if this could cause unintended side effects.

[2017-12-20 13:27] 38elements opened #284 "VueWrapper made by find() or findAll() can not update parent component"
component.vue

[code]

component-with-child.vue

[code]

[code]

I think it is a bug.
find() and findAll() return `VueWrapper` object when they are passed a component argument or a ref object.
So, the VueWrapper object has a child component.
VueWrapper.update() can not update the parent component.

[2017-12-20 13:38] LinusBorg commented on #284
I think it's just requires a `$nextTick`, so it's not that it "can'T update the parent", it's just that in this case, vue-test-utils doesn't make the update of the DOM synchonous.

[2017-12-20 14:01] 38elements commented on #284
IMHO, this may be solved.
The VueWrapper having first argument component of mount()  (root wrapper) has the update method.
This update method is shared with all VueWrapper object.
The child VueWrapper objects do not have the update method for self.

[2017-12-20 14:13] LinusBorg commented on #284
That may be true (kind of), but the point is this:

* The click event is triggered in the child.
* For the parent to synchonously update, the child wrapper would have to call the `update method` of the parent wrapper
* While that may technically be possible, this would mean that:
* the parent's parent would also forced to be updated.... and so on.
* ...which means for each of those parents, the `b

[2017-12-20 14:30] 38elements commented on #284
Thank you for replay.
There is a possibility of causing problems.
I agree.

[2017-12-20 14:42] 38elements commented on #284
In manually, it is resolved as below.

[code]

[2017-12-20 14:42] #284 closed

[2017-12-20 14:53] ddykhoff commented on #271
I have a component `Approvals.vue` utilizing the `vue-toast` library. I don't need to call the library methods when testing my component.

[code]

And my test

[code]

This throws the following error and fails the test:
[code]

Stubbing `$refs` would allow be to test this component, as is I cannot test anything in the `Approvals` component due to this issue.

[2017-12-20 21:29] githorse commented on #279
@Austio Good guess! I had an empty placeholder option in first place; removing it fixes the problem. The correct value is now in `select.element.value`. I'm still a little confused as to why the empty option screws things up -- since it's not actually selected, why does it impact the `value`?

[2017-12-20 22:31] #273 closed

[2017-12-20 23:30] phanan opened #285 "[Suggestions] Some syntactic sugar and extensions"
So I've been playing around with the lib for a while and often find myself wishing for some helpers/wrappers that feel a little bit more fluent e.g.:

* [ ] Wrappers around event triggers i.e. `wrapper.find(Foo).click()` as a syntactic sugar for `wrapper.find(Foo).trigger('click')`. Maybe we can even go as far as `wrapper.click(Foo)`?
* [ ] `contains(Foo, Bar, Baz)`
* [ ] `containsAny(Foo, Bar, Ba

[2017-12-21 00:19] lmiller1990 commented on #285
If you do `wrapper.trigger('click')`, that already works (triggers on component root element).

Can you explain `contains` a little more and give an example of what you'd want to write? At the moment I write `expect(wrapper.findAll(ChannelUsersModalUser)).toHaveLength(2)` which seems okay.

I think `has` could be added.

[2017-12-21 00:20] lmiller1990 commented on #283
I think this would make sense, following the docs where it says "vue-test-utils runs synchronously". So a yes from me!

This may also be related to #176 ?

[2017-12-21 01:03] Austio commented on #279
It is just the way that the HTML select works.  The value when there are no selected elements is the first non disabled value.

[2017-12-21 02:25] 38elements commented on #248
When a component is made by `extends property`, I seem that it works.
But, When a component is made by `Vue.extend()`, it does not work.

component.vue

[code]

[code]

[2017-12-21 03:48] Austio commented on #283
Agreed, update should update watchers

[2017-12-21 04:28] lmiller1990 commented on #276
What exactly are you trying to test? Maybe there is a better way to do it.

I'm looking to write some documents about how/what to test for `vue-test-utils`, knowing what kind of problems people run into and what they are trying to achieve is valuable feedback @phanan .

[2017-12-21 07:35] eddyerburgh commented on #276
I'm closing this issue since it won't be fixed, the solution is to use @LinusBorg's suggestion:

[code]

[2017-12-21 07:35] #276 closed

[2017-12-21 08:01] phanan commented on #285
All but contains(Foo, Bar) and containsAny(Foo, Bar) are already there.
What I’m suggesting are syntactic sugar or wrappers to make the exp better.

On Thu, Dec 21, 2017 at 01:19 Lachlan <notifications@github.com> wrote:

[2017-12-21 08:03] phanan commented on #285
On the other hand, I intentionally put “has” at the bottom of the list
because I don’t have very strong opinion about it — when I think it’s a
good alias, I can still live without it.

On Thu, Dec 21, 2017 at 09:01 An Phan <me@phanan.net> wrote:

[2017-12-21 08:18] phanan commented on #276
Woot. When I think @LinusBorg's explanation does make a lot of sense, I quickly tried the suggestion and it didn't appear to work. I'll be spending a little more time when I have it, but closing can seem to be a bit too quick.

[2017-12-21 09:33] #176 closed

[2017-12-21 09:33] eddyerburgh commented on #176
This will be fixed in beta.9 😀

[2017-12-21 14:34] 38elements commented on #248
These test is success.

component.vue

[code]

component1.vue

[code]

[code]

[2017-12-21 14:45] githorse commented on #279
Figured it out. The problem was there *should* have been a selected element, but it wasn't showing up. Turns out I was using a two-letter state code ("NY") in the real data (where everything worked) and the full state name ("New York") in the test. Fixing this means the value is available in `select.element.value` as expected :)

[2017-12-21 14:45] #279 closed

[2017-12-21 22:09] eddyerburgh commented on #146
Hi Austio, sorry for the delay getting back to you.

This behavior is due to how we add attrs once the vm is created. I'm looking into it now to see if there's a workaround

[2017-12-21 22:12] eddyerburgh commented on #125
I believe this will be fixed in https://github.com/vuejs/vue-test-utils/commit/ebccc8dc686223003771022a00fa932e03378fc4

This will be released in beta.9. If this doesn't fix the issue, feel free to reopen.

[2017-12-21 22:12] #125 closed

[2017-12-22 02:39] 38elements commented on #285
IMHO,
Since I do not like alias, I hope `contains` is removed if `has` is added.

[2017-12-22 05:54] lmiller1990 commented on #285
I agree with @38elements - if `has` is more popular, we should depreciate `contains`. Aliases just add more API to remember. People can add them to their own projects easily enough.

I thought about this a bit more and I'm generally against this kinds of things - I think being explicit and easily understood in your tests is a worth the extra typing (or just make a snippet, most IDE/editors have th

[2017-12-22 08:56] phanan commented on #285
Aliases don’t add more APIs to remember. If anything, quite the opposite –
they make things easier because _we don’t have to remember_. For example,
top off your head can you remember which of lodash’s `extends` and
`assigns` is an alias of which? Yet we don’t care, and just naturally use
any of them. Libraries like PHPUnit, mockery, sinon etc. also have nice
syntactic sugars i.e. `onFirstCall()`,

[2017-12-22 09:05] 38elements opened #289 "Add sleep"
I think that when asynchronous processing is executed in `Promise`, it needs to sleep asynchronously.
This is related to #288.

[code]

[2017-12-22 09:16] 38elements commented on #289
I think it is necessary because it is only 3 lines.

[2017-12-22 09:16] #289 closed

[2017-12-22 09:19] phanan commented on #285
In short, hating bad syntactic sugars should never have anything to do with loving nice ones.

[2017-12-22 09:55] eddyerburgh commented on #289
I don't think we should add this method to vue-test-utils.

You could create an npm package, and we could recommend its use. At the moment we recommend flushPromises, which doesn't give you the option to wait for chosen milliseconds.

But this function is out of scope for a Vue test library in my opinion. It's not Vue specific.

[2017-12-22 10:07] 38elements commented on #289
@eddyerburgh
I am very sorry.
I mistook the input.
I did not enter "not".
Correctly, "I think it is __not__ necessary because it is only 3 lines."
I am sorry for hurting your feelings.

[2017-12-22 11:27] eddyerburgh commented on #248
I identified and fixed 2 problems:

1) Extended uncompiled components weren't compiled
2) Extended components couldn't be used as selectors in `find`/`findAll`

I fixed both these issues, but have been unable to reproduce the original error message. Can you provide minimal reproduction?

[2017-12-22 17:43] #52 closed

[2017-12-22 17:44] eddyerburgh commented on #52
The fix for the keyed bug will be released in beta.9 🎉

[2017-12-22 18:51] LinusBorg commented on #156
ok so there's two problems:

1. creating a proper scopeSlot Function
2. adding the scoped slots content to the vm.

### 1. creating a proper scopeSlot Function

For normal slots, vue-test-utils uses `vue-template-compiler`, which still have some limitations.

My suggestion would be to use a real Vue instance instead to create the slot content:
[code]

### 2. adding the scoped slots content to the

[2017-12-22 19:19] eddyerburgh commented on #238
This is an issue with testdouble—https://github.com/testdouble/testdouble.js/issues/300.

Sorry that it started throwing an error in beta.6. This is because we now call defineProperty with the mock, and that causes this error in testdouble.

I'm closing this issue, since this is something that needs to be fixed on their end.

[2017-12-22 19:19] #238 closed

[2017-12-22 19:19] evanb2 opened #290 "createLocalVue.use(VeeValidate) fails in second test file"
I have 2 components that use the 'vee-validate' library.
I'm using the `createLocalVue()` function at the top of each file like so:
[code]
The second test throws:
[code]
Even though this is just a 'WARN', it looks like it's causing the `mounted()` hook in my component to fail (the component that's being tested in the second test).

If I remove the first test, the second test passes.

[2017-12-22 19:22] eddyerburgh commented on #35
My feelings on this is that we shouldn't add too many aliases. I don't think this a common use case, like `props` or `attributes`, and it's not much more code to access the `$options` object on the `vm`:

[code]

[2017-12-22 19:38] eddyerburgh commented on #290
Thanks for the report.

This is an issue with VeeValidate not allowing multiple installs. I've added an issue to their repo—https://github.com/baianat/vee-validate/issues/1064

[2017-12-22 19:38] #290 closed

[2017-12-22 19:40] eddyerburgh commented on #156
Adding a parent node would solve another problem we're having with `$attrs`. I think this could be a good solution.

I'll look into it.

[2017-12-22 19:44] evanb2 commented on #290
@eddyerburgh Haha ok thanks! Been bashing my head against this trying to figure out where the issue is.

[2017-12-22 22:04] LinusBorg commented on #156
Great! I'll also take a look between the holidays if I have an hour or two.

[2017-12-23 10:23] eddyerburgh commented on #211
You're correct, I don't think that option should be there.

I believe it was added in response to a user request, but I can't find the issue. I'm going to remove the code that runs preventDefault.

[2017-12-23 10:36] eddyerburgh commented on #214
There's a config object that you can use to set stubs—https://vue-test-utils.vuejs.org/en/api/config.html

Does this solve your problem?

[2017-12-23 10:45] #211 closed

[2017-12-23 10:54] eddyerburgh commented on #162
I don't think we should add two extra methods for finding components, that would mean we have 4 methods for traversing the render tree.

I think the solution is to improve the selector system.

Currently we support a name selector (although this is normally recommended as using the original component object) and a ref selector:

const nameSelector  = {
  name: 'some-name'
}

const refSelector = {

[2017-12-23 11:18] disitec commented on #214
That is the object we use. My proposal was modify a wrapper created in the beforeEach as we do with setData, setProps...

Without this method we always have to recreate the full wrapper. Maybe is a wrong workflow. I don't know.

[2017-12-23 12:21] eddyerburgh commented on #214
Aha, I understand. I believe this will be difficult to implement.

[2017-12-23 12:43] LinusBorg commented on #271
Wouldn't that be solvable by stubbing the component that's being referenced?

messing with $refs means messing with the implementation of the component under test, which is not a good idea in my opinion.

[2017-12-23 12:43] disitec commented on #214
Yeah. I am always learning best practices and happy to see different points of view. But there are cases when a component always have a shared scenario. It is a bit redundant, for me, reproducing over and over again the almost same wrapper.

I am not forcing you to develop this feature. I just only thinking out loud. 😄

[2017-12-23 12:47] LinusBorg commented on #214
I understand the feeling, but can only recommend to write clean, isolated tests nontheless.

the boilerplate you have to write is not more, and it's not really a performance issue either unless the component is monstrously big and doing heavy computations in `created` or something.

[2017-12-24 22:36] eddyerburgh commented on #162
You can now pass in a name selector without a render function(https://github.com/vuejs/vue-test-utils/commit/df706fe26b646fe3d53368135f6aeba19eda7b5c). This will be released in beta.9:

[2017-12-24 22:36] #162 closed

[2017-12-24 22:39] eddyerburgh commented on #105
I'm going to close this issue, as this isn't a bug.

There are three ways to select a Vue component:

Using a component:
[code]

Using a name:
[code]

And using a ref:
[code]

[2017-12-24 22:39] #105 closed

[2017-12-24 22:54] eddyerburgh commented on #65
I'm closing this as we don't intend to implement this at the moment

[2017-12-24 22:54] #65 closed

[2017-12-24 22:55] #35 closed

[2017-12-24 23:02] eddyerburgh commented on #214
I'm closing this. As @LinusBorg said, it would encourage reusing a wrapper between tests, which could cause leaks between tests.

[2017-12-24 23:02] #214 closed

[2017-12-24 23:05] eddyerburgh commented on #74
@kemalcany would you like to add a guide on using vue-test-utils with Karma/mocha/chai?

[2017-12-24 23:14] eddyerburgh commented on #255
@blake-newman would you be able to write a guide on using vue-test-utils with TypeScript?

[2017-12-25 11:26] robcresswell commented on #165
I can document the process with Jest if you like; I've got a running setup locally. Would that help, @eddyerburgh ?

[2017-12-25 12:45] robcresswell commented on #165
I've opened a PR for this repo; I'll add similar code to the example repo too, and link here when it's done.

[2017-12-25 12:46] mixn commented on #83
I can +1 on @chlab’s use–case, works for me as a `then`able, unfortunately doesn’t with `await`. 🤔

[2017-12-25 13:02] robcresswell commented on #165
^^ As promised, similar code in the `vue-test-utils-jest-example` repo. Please comment and review, and enjoy the holidays! 🎅

[2017-12-25 13:14] doun commented on #240
wrapper.find(GameOwnershipCard.options) works ^_^

[2017-12-25 13:25] LucienLee opened #296 "Can't find functional component"
Hi there,
I found that `find` can't get functional component.
For instance:
[code]

I know that functional component is instanceless, so it's understandable that `wrapper` can't find it directly. However, that is really hard to test. One way is use `ref` to mark component but that is not ease-to-use when using multiple functional components in the same time.

Any suggestions to test functional com

[2017-12-25 14:58] doun commented on #296
so as class component

[2017-12-25 15:43] lmiller1990 commented on #296
One work around is:

[code]

[2017-12-25 17:47] robcresswell commented on #296
For the sake of CSS / theming, most components should have specific class names or IDs anyway, depending on your code design. The best way to do this would be as above, using `find()` with a relevant selector.

[2017-12-25 17:51] robcresswell commented on #285
If I might add one more to the discussion; we currently have `.classes()` and `.attributes().id`. `.id()` would be a nice enhancement. It seems logical to me, at least. When I was first using the lib I just assumed it would already exist.

[2017-12-26 07:03] eddyerburgh commented on #83
@mixn  What test runner/ browser environment are you using?

[2017-12-26 07:08] eddyerburgh commented on #285
@robcresswell You can get the id value using the `attributes` method:

[code]

[2017-12-26 08:42] LucienLee commented on #296
Thanks your opinions. It's not not elegant but acceptable. One last thing, should we add how to test functional component in doc? I can help that.

[2017-12-26 09:01] eddyerburgh commented on #296
We'll add support for `find`ing functional components.

One thing I'm wondering, since functional components don't create an instance, should we create a new Wrapper for them. This would include a `vnode` for the component, return true for `isVueComponent`, but have no vm 🤔

[2017-12-26 09:02] #151 closed

[2017-12-26 09:46] robcresswell commented on #285
@eddyerburgh Yep I know, I put that in my original comment; it was just a "sugar" suggestion.

[2017-12-26 10:06] phanan commented on #285
@robcresswell Can't say I'm using `id` myself (generally using IDs in components is a bad idea), but I'll add that to the list.

[2017-12-26 10:07] eddyerburgh commented on #285
(Sorry @robcresswell, I didn't see that extra `id`)

My opinion is that we should avoiding adding direct aliases, like `has`.

The API list is already [large](https://vue-test-utils.vuejs.org/en/). Adding aliases will make it more difficult to browse.

I'm also not fond of adding helper methods like `id`, or `click`, that can be achieved easily with existing methods.

The more methods there are, t

[2017-12-26 10:07] #285 closed

[2017-12-26 10:09] eddyerburgh opened #297 "Extend contains to support multiple selectors (contains(Foo, Bar, Baz))"
Should we support extends to support multiple selectors?

[code]

It would only return `true` if the wrapper contains every selector passed

[2017-12-26 10:11] eddyerburgh commented on #165
I'm reopening, because we still need to add docs on code coverage with mocha-webpack

[2017-12-26 10:11] robcresswell commented on #246
Is it possible to get `beta.9` released in the meantime? Having `.attributes()` broken is a bit of pain 😄

[2017-12-26 10:15] phanan commented on #285
@eddyerburgh While I understand and tend to agree with some of your reasons, not adding APIs because the list is already large or because there will be more maintenance is IMO not a strong enough argument.

* If the list is large, and people still find it lacking, then it's a problem needed to be solved right there
* Maintenance is obviously an issue, but should never be used to negate _good_ addo

[2017-12-26 10:19] phanan commented on #297
Hell yes. Look at what I currently have to write:

[code]

[2017-12-26 10:23] eddyerburgh opened #298 "Incorrect code coverage"
Code coverage is incorrect since running unit tests against the built output (9669abb043a27de590473d61d71cb52c579fc17b)

We need to fix the coverage reporter to collect coverage using the built output

[2017-12-26 11:03] lmiller1990 commented on #296
Is there another way do to it? That seems like a lot to do just for functional components (I suppose that's a big just, they are kind of important).

I am still learning about how `vue-test-utils` works internally. I suppose a new wrapper would be very simple, since it would not need a lot of the stuff existing wrappers need, since functional components cannot `emit`, or do other fancy things.

[2017-12-26 11:34] robcresswell commented on #285
@phanan I tend to use `id` for singular components; top level views, or side navs, for example. Where they will actually be unique; and then use classes for reusable components, so I'd disagree that they are "a bad idea" - I think that's a far too broad / generic statement.

@eddyerburgh That approach is reasonable, I can understand wanting to keep maintenance low and the API clean. Thanks for wei

[2017-12-26 11:41] robcresswell commented on #165
I won't be able to pick that part up; I've no experience with Mocha, I'm afraid, and I'm sure there are others better positioned to explain it's usage.

[2017-12-26 16:14] robcresswell commented on #163
Is this still up for discussion? I know it's 6 weeks old or so, but it sounds like something very useful. My current example would be:

- I have a top level `notificationList` component, which contains a list that renders `notification` components, based on data in the global store (`vuex`, in this case)
- I'd like to write a test that ensures each `notification` recieves a `variant` prop. It's st

[2017-12-26 18:11] eddyerburgh commented on #165
I think we could just add a link to the mocha-webpack docs—https://github.com/zinserjan/mocha-webpack/blob/master/docs/guides/code-coverage.md, I'll make a PR

[2017-12-26 18:23] 38elements commented on #165
The mocha-webpack document is an explanation for testing `js file`.
IMHO,
I think the method to test `vue file` is necessary.

[2017-12-26 18:39] #298 closed

[2017-12-26 18:40] robcresswell opened #300 "Undefined properties causing errors during mount"
I'm not entirely sure how to summarise this issue but I've seen it a few times and I can't work out what I'm doing wrong. What seems to be happening, is that at some point during the mounting process, all the content of the component being mounted becomes undefined, which immediately causes any computed properties that rely on other data (props, for example) to fail.

To give an example, I have a

[2017-12-26 19:10] robcresswell commented on #300
I'll figure out a good way to reproduce this. To work around it, adding `v-if="actions"` to the component's top level element prevents any `undefined` weirdness.

[2017-12-26 19:15] robcresswell commented on #296
@eddyerburgh As long as it's well documented on the disparity between the wrappers (`vm` vs no `vm`), it should be fine. I could imagine there being some confusion otherwise.

[2017-12-26 20:24] robcresswell opened #301 "[Question] Is it possible to mock arbitrary imports?"
I understand that I can mock vue plugins, such as vue-router or vuex; but how would I mock a module that is imported and called within a component? For example, many of my components call to a custom logger via a JS module (just called `Log`). How would I mock this, and include it in the mounted component definition, to see if the functions had been called (and prevent them actually logging)?

I h

[2017-12-26 22:13] LinusBorg commented on #301
That's not within the scope of vue-test-utils, because it depends on the test runner and build setup you are running your tests with.

For Jest, you can look here: https://facebook.github.io/jest/docs/en/manual-mocks.html
For karma/mocha+webpack, you would use inject-loader, which vue-loader can do for you: https://vue-loader.vuejs.org/en/workflow/testing-with-mocks.html

[2017-12-26 22:13] eddyerburgh commented on #301
If Log is imported from another file you can use [Jest manual mocks](https://facebook.github.io/jest/docs/en/manual-mocks.html#content), if you're using Jest.

If not you could use babel-plugin-rewire, or inject-loader. I wrote a blog post on how to use those libraries—https://eddyerburgh.me/stub-file-dependencies-vue-unit-tests

[2017-12-26 22:13] #301 closed

[2017-12-26 22:27] robcresswell commented on #301
@LinusBorg @eddyerburgh Thanks for the links and references, much appreciated

[2017-12-26 22:39] eddyerburgh commented on #240
This is fixed in beta.9 with 27e9d79448af2f7f2080ac71b30df3ebacc57ccf

[2017-12-26 23:02] saintplay commented on #1
So, there is a plan to implement Array-like methods for WrapperArray(`.map`, `.forEach`, `.filter`),? I find them extremely useful.

[2017-12-27 04:34] 38elements opened #302 "Incorrect coverage result"
Since there are the tests using the files in `src` directory like `test/unit/specs/error-wrapper.spec.js`,  the coverage result is incorrect.

https://github.com/vuejs/vue-test-utils/blob/063cd8f0e24c098dc6f6eca0a86f8981d24b46f2/test/unit/specs/wrappers/error-wrapper.spec.js#L1

Since the test is executed to check `dist`, I think that using for `src` is not appropriate.

[2017-12-27 08:19] LucienLee commented on #296
@eddyerburgh it's awesome to have `find` feature on functional components.
Supposedly people would know the functional component is instanceless, so it won't has `vm` instance. Besides, the test of the functional component would focus on props mapping to view structure and listeners called on triggering. Hence, I think people will use `attribute`, `hasStyle`, `html`, `trigger`...API (might only us

[2017-12-27 08:22] eddyerburgh commented on #1
@saintplay not at the moment, if you want to make a feature request you can make a new issue.

My opinion is we shouldn't add those methods. You can access the array of wrappers from a WrapperArray already:

[code]

[2017-12-27 08:30] Alcadur opened #304 "wrapper classes method returns array of objects"
[code]
Based on https://vue-test-utils.vuejs.org/en/api/wrapper/classes.html it should returns array of class names

[2017-12-27 09:18] eddyerburgh commented on #302
Agreed.

The wrapper-array test also imports from the `src` directory—https://github.com/vuejs/vue-test-utils/blob/dev/test/unit/specs/wrappers/wrapper-array.spec.js

[2017-12-27 09:28] 38elements commented on #302
I will send the pull request for `wrapper-array.spec.js`.

[2017-12-27 10:04] eddyerburgh commented on #246
@robcresswell just released

[2017-12-27 10:05] eddyerburgh commented on #296
This is fixed in beta.9

[2017-12-27 10:06] eddyerburgh commented on #304
This is fixed in beta.9

[2017-12-27 10:06] #304 closed

[2017-12-27 10:11] eddyerburgh commented on #272
@ktsn are you able to fix the type definitions?

[2017-12-27 10:14] albhilazo commented on #238
Oops, I was wrong to assume it was an issue with vue-test-utils due to it failing with newer versions.

Thank you for your time!

[2017-12-27 10:31] emman27 opened #305 "[1.0.0-beta-9] wrapper.contains gives TypeError"
Stack trace as below, works perfectly fine in beta-8.
[code]

Replica code:
[code]

[2017-12-27 10:46] 38elements commented on #246
Would you please update document page?

[2017-12-27 10:58] eddyerburgh commented on #305
The code for contains and find changed a lot in beta.9.

Can you post the code for the child and parent components?

[2017-12-27 11:14] tahq69 opened #306 "Invalid typescript declarations"
### Version
1.0.0-beta.9

### Reproduction link
[https://github.com/crip-home/vue-test-utils-issue](https://github.com/crip-home/vue-test-utils-issue)

### Steps to reproduce
1. Clone repo: `https://github.com/crip-home/vue-test-utils-issue`
2. Run test: `npm run test`

### What is expected?
Get defined component property

### What is actually happening?
TS2339: Property 'prop1' does not exist on

[2017-12-27 11:18] tahq69 commented on #306
#307 added

[2017-12-27 13:10] saintplay commented on #1
Oh! I didn't notice that, is this in the documentation? @eddyerburgh That array will do the job

[2017-12-27 13:44] #306 closed

[2017-12-27 13:59] robcresswell commented on #246
Great work @eddyerburgh !

[2017-12-27 14:57] #302 closed

[2017-12-28 01:20] emman27 commented on #305
@eddyerburgh I've discovered the source of the bug. Components which don't export the name property no longer register in the contains method.

Since name is an optional property (See https://012.vuejs.org/api/options.html#name), I'd like to suggest that this be retained as a bug and fixed rather than closed.

[code]

[code]

[code]

[2017-12-28 10:03] eddyerburgh commented on #305
This will be solved in beta.10, by adding a name property to registered components that don't have a name and are stubbed in `shallow`.

In beta.8 the only coded for way to match components was by using the name property, if you used a component as a selector without a name property vue-test-utils would throw an error.

In beta.9 `find`, `findAll`, `contains`, `is`, now uses a component constructo

[2017-12-28 12:41] vladferix opened #310 "setProps doesn't update watchers"
I actually still have some issues where one watcher should update another field. Version 1.0.0-beta.9.

[code]

[2017-12-28 13:43] LinusBorg commented on #310
I think the problem is that in the current implementation, watchers are run *after* the `_render()` call:

https://github.com/vuejs/vue-test-utils/commit/e4151b00ed72da134b8e6f38239824c87c715ce3#diff-dbfd1670fb2dd50be051adb6643c8c24R18

Usually all watchers would run *before* the component re-renders.

[2017-12-28 22:45] gsccheng opened #312 "Problems calling createLocalVue"
I'm trying to set up some unit tests with Vuex according to the [instructions](https://vue-test-utils.vuejs.org/en/guides/using-with-vuex.html) to mock with modules. I'm using mocha-webpack.

However, I'm getting an error like the person is having [here](https://forum.vuejs.org/t/getting-typeerror-which-i-cannot-resolve/23869).

[code]

So in my test spec:
[code]

I think there's some collision wi

[2017-12-29 08:05] lmiller1990 commented on #312
Normally you don't use the real Vuex store in your tests, since `vue-test-utils` is for testing components.

Can you post the whole test (what you want to test) and component? There is probably a better alternative that using your actual Vuex store.

I write a lot about this [here](https://medium.com/@lachlanmiller_52885/mocking-vuex-in-vue-unit-tests-b6eda1c4d301), you can take a look there, or I

[2017-12-29 08:25] eddyerburgh commented on #312
Are you able to provide a minimal reproduction?

[2017-12-29 08:47] gsccheng commented on #312
Thanks guys, I'll provide some more code later today.

@lmiller1990 Thanks for the post, but yeah I'm not trying to use the real Vuex store and as you can see in my test spec I'm trying to create a local Vue to mock it (I didn't include the `localVue.use(Vuex)` because it was already breaking before that as noted in my comments.

However, Webpack seems to still need to bundle all the other compone

[2017-12-29 09:33] eddyerburgh commented on #312
Potentially this is caused by a previously installed plugin.

Either way, we should wrap `createLocalVue` in a try/catch and throw a more user friendly error message.

[2017-12-29 14:42] robcresswell commented on #300
I'm going to close this, because I think it's more to do with my misunderstanding of the component lifecycle than a testing bug.

[2017-12-29 14:42] #300 closed

[2017-12-29 16:08] eddyerburgh commented on #310
@vladferix can you post a full reproduction? I'm unable to reproduce using the code you posted

[2017-12-29 18:54] gsccheng commented on #312
@eddyerburgh I have wrapped `createLocalVue` in a try/catch but get the same error message.
[code]

Actually doing a reproduction may be a little more complicated, so before I do that, do you know of any existing examples of vue-test-utils+mocha-webpack+vuex? @eddyerburgh The closest I see is [your example](https://github.com/eddyerburgh/mock-vuex-in-vue-unit-tests-tutorial) but it uses Karma. May

[2017-12-31 08:22] demsking commented on #134
I got the same error using functional component and the render function.
After debugging, I saw that this occur when they are an an undefined event or an nullable event in the component:
[code]
Hope this will help to fix the issue

[2018-01-01 08:28] darrenjennings opened #319 ".scrollTo is not a function"
In one of my tests I execute a method that scrolls an element. The element `resultsScrollElement` I'm querying like this: `document.querySelector(".autosuggest__results")`, and then I'm executing the `scrollTo` method.

I get this error:

[code]
Console.log on the element that I'm executing scrollTo on shows this:

[code]

Using version: 1.0.0-beta.9

Thanks happy new year!!! 🍾

[2018-01-01 17:40] eddyerburgh commented on #165
We've added code coverage to the official repo, thanks @38elements 🙂

[2018-01-01 17:40] #165 closed

[2018-01-01 18:21] eddyerburgh commented on #319
This isn't a vue-test-utils issue.

`scrollTo` isn't implemented in JSDOM—https://github.com/tmpvar/jsdom/blob/master/lib/jsdom/browser/Window.js#L574. If you run this in a browser the `scrollTo` method exists.

You can add `scrollTo` to the Element prototype before you mount:

[code]

All Elements created after you add this code will have the `scrollTo` method.

[2018-01-01 18:21] #319 closed, assigned to nobody

[2018-01-01 21:18] letanure opened #320 "Build test with Jest fails with `Could not locate module @/something`"
I'm building an app with vuejs and testing with jest and running the tests locally works, but on circleci fails with the error

[code]

is not finding the component with the alias **@**.   :angry:

the failing component require:

[code]

in the same folder I have another test, **working**, with:

[code]

**build**: [#39](https://circleci.com/gh/letanure/poc-cms/39)
**repo**: [poc-cms](https://gith

[2018-01-02 02:16] 38elements commented on #296
The following code does not work.

functional.vue

[code]

parent.vue

[code]

[code]

Error: [vue-test-utils]: find did not return Component, cannot call text() on empty Wrapper

[2018-01-02 07:09] eddyerburgh commented on #320
Thanks for the detailed report.

This is an issue with Jest/ vue-jest.

I've copied this issue over to the vue-jest repo—https://github.com/eddyerburgh/vue-jest/issues/40.

[2018-01-02 07:09] #320 closed, assigned to nobody

[2018-01-02 07:45] letanure commented on #320
Thanks @eddyerburgh

[2018-01-02 16:33] #296 closed

[2018-01-02 17:45] ddykhoff commented on #271
@LinusBorg `shallow` is already stubbing the referenced component so my example still stands. The issue appears to be that the `$refs` are not populated in testing like they are in production.

[2018-01-02 18:14] eddyerburgh commented on #271
@ddykhoff can you post a code example of $refs not being populated correctly in vue-test-utils?

[2018-01-02 18:28] ddykhoff commented on #271
@eddyerburgh My original comment in the issue has the example I am facing the issue with (https://github.com/vuejs/vue-test-utils/issues/271#issuecomment-353083583). Let me know if there is more info I can provide.

[2018-01-03 06:18] #272 closed

[2018-01-03 09:25] gaoupon opened #323 "Cannot use mocks with localVue"
The test source code:
[code]

The error message:
![image](https://user-images.githubusercontent.com/8264905/34514989-f7262c04-f0aa-11e7-8630-c01741fbb314.png)

[2018-01-03 12:43] eddyerburgh commented on #323
Hi, this is a common problem with trying to set $route or $router when it's already been installed on the base Vue contstructor. Somewhere in your code you will be calling Vue.use(VueRouter).

You need to only install on a localVue, otherwise $route and $router are added as read-only properties to the base constructor, and you'll be unable to rewrite them.

We should add a better error message so

[2018-01-03 13:52] lmiller1990 opened #325 "Pass mocks object to global config"
Hi,

I have a feature request/idea.

I work in a non English speaking country, so we are using `vue-i18n` to create a bilingual app. It adds a global `$t` function. I have to do:

[code]

in every test, or the test fails with `$t is undefined`, since almost all components have some form of text.

Should this be something handled by a test running? Not sure - if not, maybe we can have some way to s

[2018-01-03 16:24] aalyokhin opened #326 "How to test component with inline-template?"
Hi.

Already spent a few hours on this and still can't figure it out. Is there any way to test the components with inline templates (with some logic right inside those templates)? I didn't find a way to provide template to mount method.

Thanks a lot in advance.

[2018-01-03 18:42] jorySsense commented on #52
Transition group stub over writes slots inside,

[2018-01-03 18:43] eddyerburgh commented on #52
Thanks for the hug report. Can you make a new issue for this please

On 3 Jan 2018 18:42, "jorySsense" <notifications@github.com> wrote:

[2018-01-03 18:56] ghost commented on #73
Hey again,

I noticed this same problem happening in the latest release, beta.9. I didn't notice this in beta.8.

Could anyone take a look?
Thanks

[2018-01-03 19:47] eddyerburgh commented on #325
We already have a global config to add stubs.

I think it would be useful for people to have a global config for mocks too. The local mounting options would overwrite the mocks set in the config if they clash.

Would you like to make a PR to implement this?

[2018-01-03 21:15] jorySsense commented on #156
Is there anything I can do to help with this?

[2018-01-04 03:59] gaoupon commented on #323
Thanks a lot for your answer.
Actually I'm using `jest and vue-jest` to generate a `snapshot`, so I'm sure that I did not boot the app and the code posted above was excuted isolately.

What you pointed out:

may probably not the reason.

In my opinion, since `localVue.use(VueRouter)`,  `$route or $routethe` already exisited on instance of localVue. So what is the proper way to config `$route`?

[2018-01-04 06:14] eddyerburgh commented on #323
If you call .use(VueRouter) on a localVue class, you can't overwrite $router. You'll need to create a fresh localVue class to mock $route or $router

[2018-01-04 09:24] 74sharlock commented on #29
@scq000 So what's the real problem? I have same question.

[2018-01-04 09:52] 74sharlock commented on #73
same problem in beta.9:
[code]

[2018-01-04 11:15] Toilal opened #327 "How to check an element is displayed (v-show) ?"
I try to assert that elements are displayed or not. Those elements are children (or even grand-children) of a v-show node.

Consider the following, I wish to assert display of `.item` elements.

[code]

It seems a common use case, but I can't find any way in vue-test-utils to do that. I can't rely on DOM element properties as I run tests with JEST (JSDOM doesn't layout elements and can't tell if a

[2018-01-04 14:03] aalyokhin commented on #326
Please remove this issue as ```template``` option for ```mount``` works correctly, tested on a dummy component. Looks like something is wrong with the actual component, which I'm trying to test.

[2018-01-04 14:03] #326 closed, assigned to nobody

[2018-01-04 14:44] vladferix commented on #310
@eddyerburgh okay, here it is
[vue-test-utils-bug.zip](https://github.com/vuejs/vue-test-utils/files/1603615/vue-test-utils-bug.zip)

[2018-01-04 22:37] eddyerburgh commented on #73
@conkur can you post a minimal reproduction?

@74sharlock Thanks for the bug report. I believe this is a different bug. Can you create a new issue?

[2018-01-05 02:58] 74sharlock opened #329 "methods [mount] can not render child component correctly"
<h3>env:</h3>
<ul>
<li>node: 9.3.0</li>
<li>vue-test-utils: 1.0.0-beta.9</li>
</ul>
<h3>code:</h3>

[code]

<h3>expect:</h3>

[code]

<h3>result:</h3>

[code]

[2018-01-05 03:02] 74sharlock commented on #73
@eddyerburgh Thanks for reply. I've created a new issue about that in #329

[2018-01-05 08:41] lmiller1990 commented on #327
From the Vue.js docs,

`v-show`: simply applies `display: none`
`v-if`: removes element from dom entirely.

Here is an example:
[code]
[code]

I think this kind of q and a is best for stackoverflow, though. Does that help?

Edit: I just realized you are looking at children elements of `v-show`. It's the same thing, though. If the parent is not shown, than the children are not shown, either. So jus

[2018-01-05 08:44] lmiller1990 commented on #329
You need to pass a Vue component to `mount`. You are just passing a regular JavaScipt object, no?

You should do something like:

[code]

Although I am not sure what this test would be useful for. You could make a `component.js` and do

[code]

then in the test

[code]

[2018-01-05 08:46] lmiller1990 commented on #325
I would like to make it! Do you have a good place I can look to get started?

Sorry the slow reply.

Edit: got something working using a similar way to config stubs. But it would be nice to have a config file (.js) we could load options from?

[2018-01-05 09:22] Toilal commented on #327
I understand, but I can't find `parent()` nor `ancestor()` method to check for `display: none` style on ancestors of element to assert, and I don't think it's possible to build a CSS selector that would match elements with such ancestors.

It's more a feature request than a Q&A, as a (new) user of vue-test-utils, I just expect to find a `visible()` method on Wrapper to assert that an element is vi

[2018-01-05 09:28] Toilal commented on #327
Here's a possible implementation (Working with JEST/JSDOM) :

[code]

May I open a pull request that adds a `displayed()` method on wrapper with this implementation ? it seems displayed is the best name, as it relies on `display: none` CSS style.

[2018-01-05 09:44] Toilal commented on #327
There are other use cases that are hard to solve related to `v-show`, like getting visible text only.

`text()` is based on DOM element `textContent` property which is not CSS aware (from spec), so it actually grabs text recursively from all nodes, even undisplayed ones.

It would be nice to have a `visibleText()` method that would manually walk through DOM hierarchy to build text string from visi

[2018-01-05 10:52] 74sharlock commented on #329
Hi @lmiller1990,  thanks for reply. I know what you mean absolutely.

I'm testing a special Vue plugin, not a component, and this plugin just need a simple component scene.

and next, I made a file named <code>scene.js</code> like this:

[code]

in the test:

[code]
I don't know what i missed, but I changed <code>scene.js</code> to <code>scene.vue</code> like this:

[code]
and it works!

I also te

[2018-01-05 11:30] eddyerburgh opened #330 "remove hasStyle"
I think we should remove the `hasStyle` method.

The only reason it's useful is to check styles applied by stylesheets.

Personally, I don't think we should encourage this.

Note, you can test the element style property:

[code]

This method gives a value based assertion rather than a Boolean assertion

What are peoples thoughts?

[2018-01-05 11:32] eddyerburgh opened #331 "remove setComputed"
The setComputed method changes the value of computed properties permanently.

That means the instance is in a state that is impossible to reach in production. This could lead to bugs that slip through tests because a component behaves differently in tests versus production.

What do people think?

[2018-01-05 13:12] lmiller1990 commented on #331
Is using `setComputed` different to using the `computed` options object passed to `shallow`?

One of my main use cases I feel is might be related is when I have computed functions like this:

[code]

then I need to do

[code]

Which is a huge amount of boilerplate. So I normally do:

[code]

which saves making the Vuex store. I believe if you are just doing data tests, which involved seeing how th

[2018-01-05 13:21] lmiller1990 commented on #330
I have used it once, which was a in a demo app that allowed users to create a shape where they set the color using a input box, which they could type a hex/rgb number. This used `hasStyle` to test -- but I haven't used `hasStyle` in any production apps.

If you were making a sitebuilder or something, where users can define styles and stuff themselves, it might be useful?

I don't have a strong opi

[2018-01-05 13:33] lmiller1990 commented on #327
I can see a use case for `visible` or `displayed` (because of how `v-show` works). I still think you should be asserting on the parent element with the `v-show`, though.  The reason I believe this is I feel that this:

[code]

is much less readable than

[code]

I think `visible` is more intuitive than `displayed`. Edd might have some ideas.

Also, this is related to #331 , if we remove `hasStyle`

[2018-01-05 13:42] Toilal commented on #330
I think it can still be useful to perform assertions in some use cases.

Maybe a `styles()` method could be added too, returning key/value object (it would then be consistent with `classes()`).

[2018-01-05 13:49] Toilal commented on #327
I wrote a simple example on top of this issue, but in real life i'm writing tests for a Tree component.

In the tree view, the tree node holding `v-show="false"` can be an ancestor of n levels back in the DOM hierachy of the node that has to be asserted, so it's not that simple to select it directly with CSS.

[2018-01-05 14:22] ghost commented on #73
@eddyerburgh Sure, the first comment on this issue contains a reproduction (the `Test` component). When printing `wrapper.html()` in beta.3 - beta.8 it prints the expected output, but in beta.9 it's `undefined`

[2018-01-05 15:08] lmiller1990 commented on #329
Hey @74sharlock , I guess it doesn't like the `Vue.component` syntax. Maybe `Vue.extend({ ... })`?

Did the solution you found solve the problem? In the vast majority of cases, people are using `vue-test-utils` to test single file components with the .vue extension, as opposed to plugins.

Can you post the (full) code for the plugin you are testing or link the repo? If it is just a plugin, and not

[2018-01-05 16:43] ddykhoff commented on #271
@eddyerburgh I was trying to create a JSFiddle to show the issue but I'm not sure its possible to transpile within JSFiddle, or at least I don't know how. Thus vue-test-utils cannot be loaded properly.

https://jsfiddle.net/7kgkfrbu/1/

[code]

Should I open another issue for this? Being able to provide JSFiddles is useful for bug reproduction.

[2018-01-05 16:58] eddyerburgh commented on #271
@ddykhoff There's an iife build that runs in browsers—https://github.com/vuejs/vue-test-utils/blob/dev/dist/vue-test-utils.iife.js. Once we've released we could add it to CDNJS. At the moment, your best bet is to copy the code from the iife into JSFiddle. You also need to include vueTemplateCompiler (https://cdn.jsdelivr.net/npm/vue-template-compiler@2.5.13/browser.js).

[2018-01-05 17:36] RehanSaeed commented on #255
Would love this. I'm following  a blog post by [Alex Joverm](https://alexjoverm.github.io/2017/08/21/Write-the-first-Vue-js-Component-Unit-Test-in-Jest/) but failing to get it to work at all.

[2018-01-05 18:12] kimond commented on #255
@RehanSaeed the blog post of Alex Joverm doesn't use TypeScript.

[2018-01-05 19:25] ddykhoff commented on #271
@eddyerburgh I got it working in JSFiddle. You can use rawgit.com as a "CDN" for the iife build. Here is the bug repro you requested (child components methods not available in `$refs`).

https://jsfiddle.net/7kgkfrbu/6/

As you can see from the console output in the `mounted` callback, `$refs` is not populated.

[2018-01-05 21:11] eddyerburgh commented on #271
Hi @ddykhoff, thanks for the fiddle.

The reason you can't call the method on the ref is because shallow stubs all the child components. The $refs object is still populated, but the toast component doesn't have any methods (because it's been stubbed).

You can use `mount` instead of `shallow` if you want to interact with a child components methods. Alternatively, you could use `shallow` and pass a

[2018-01-05 21:34] eddyerburgh commented on #327
Hey I think this is a great idea.

One way I can think of implementing it would be to walk up the DOM tree with `parentNode`/`parentElement` and check if the element has a `style.display` property of 'hidden'. The problem is elements that have visibility set to visible are visible, even if their parents have visibility set to hidden.

I agree with @lmiller1990 . `visible` is a better name.

Would

[2018-01-05 22:00] LinusBorg commented on #271
So if that use case isn't one after all, I posit again: we don't have to mock refs, we can stub the components.

And we shouldn't either, because we create situations that are not possible in a real app.

[2018-01-05 23:02] Toilal commented on #327
I'll try to implement this during the week-end

[2018-01-06 06:47] 74sharlock commented on #329
Hi, @lmiller1990. I've tried <code>Vue.component</code><code>Vue.extend</code> && other method, but I still can not solve problem. Here is my plugin code:
<h3>plugin code:</h3>

[code]
<h3>plugin use:</h3>

[code]

[code]
This plugin is aimed at components' “v-model”, so I need a component for testing. I just thought that method [mount] would be consistent with Vue app. Maybe I should find another

[2018-01-06 11:34] charliekassel commented on #271
@eddyerburgh I can confirm that the above technique worked for me and allowed me to test the parent method without error.

[2018-01-06 14:55] klarkc commented on #28
I think we can just leave the component in place, removing only the import of the component. Leaving the component with properties and so on. The normal Vue behavior is just to throw a warning that the component in the template does not exists. This way the template will be rendered as it is, not having to deal with comment transpilation.

I don't know how to implement this, but my guess is that [

[2018-01-06 15:33] Alex-Sokolov commented on #331
I think better persist setComputed

For example, if we have 3 computed variables: a, b, c
`a` depend on some properties
`b` depend on some other properties
`c` depend on `a` and `b`.

When we write tests for `c` with setComputed we can just "switch" results of `a` and `b` and assert that result `c` is correct. If we didn't have setComputed we need to change (maybe) a huge amount of properties, whi

[2018-01-06 20:08] heygambo commented on #22
`setMethods` worked great.

like here:
[code]

[2018-01-07 06:36] eddyerburgh commented on #329
This is a legitimate use case, and it should render correctly

[2018-01-07 19:58] Austio commented on #331
Was some good discussion in this thread a while back.  https://github.com/vuejs/vue-test-utils/issues/55#issuecomment-333894092

[2018-01-08 12:09] LinusBorg commented on #331
@Alex-Sokolov I don't think you should test a computed prop like that in a component unit test, it's essentially testing implementation details instead of testing the result of the component.

If on a rare ofccation a computed prop is so complicated that  they need to be tested individually, do that outside of a component unit test and test the function on its own.

As I agree with the risks @eddy

[2018-01-08 14:07] lusarz commented on #330
We are applying some styles dynamically, we have list of files and we set `background-image` style for every image file. Logic for different type of files is different. In tests we are using `hasStyle` method to check if image is set properly.

One thing which we don't like about this kind of methods is that result reported from failed assertion is (`expected true to equals false`) instead of (`ex

[2018-01-08 15:39] Toilal commented on #330
That would require to add custom matchers for the underlying assertion library.

[2018-01-08 15:41] Toilal commented on #327
@eddyerburgh I try to implement this, but my first unit test fails :(

I can't find a way to retrieve parent of a VNode. It seems to be always null. (See #328)

[code]

[code]

[2018-01-08 17:33] axeladriant commented on #330
What about adding an `inlineStyles` (and remove `hasStyle`) method that returns an object with the camel-case rules and its values, that way we can still address the `v-show` case:

[code]

This will solve this as well, right?

I'll be willing to make a PR if you guys agree.

[2018-01-08 17:33] eddyerburgh commented on #330
Note, you can test the element style property:

[code]

[2018-01-08 17:37] axeladriant commented on #330
Yes @eddyerburgh you're right, is built in 😂

[code]

Works great, thanks. I vote to remove `hasStyle`, again.

[2018-01-08 17:40] eddyerburgh opened #336 "Add a filter method"
There's a PR open to add a `filter` method to `find`: https://github.com/vuejs/vue-test-utils/pull/334.

For example, users could filter elements that are visible:

[code]

An alternative would be to make `length` a getter:

[code]

My preference is to add a  `filter` method. What are peoples thoughts?

[2018-01-08 17:43] emileber opened #337 "Support wrapping an already mounted Vue instance"
The other day while testing a class that manually mounts a Vue instance to an element in the page, I wanted to use the `Wrapper` utilities but found out that I can't just call `new Wrapper(myVueInstance);` as it seems that `Wrapper` and `WrapperArray` are not exposed within the public API.

I didn't dive deep into the code, so I might have missed a way to achieve what I want.

A quick look at the

[2018-01-08 17:55] eddyerburgh commented on #337
I'm against exporting these classes.

Most users won't be aware of how to create WrapperArrays, and I don't think we should make them aware.

We only expose a few methods as methods to use:

mount
shallow
createLocalVue
(We also expose components, but they aren't featured in the top-level API in the docs).

[2018-01-08 17:55] emileber commented on #337
@eddyerburgh Why? Is there a risk I'm not seeing?

We're already using instances of these and the documentation is already available.

[2018-01-08 17:57] ross2411 commented on #312
We're having a similar issue.  I'll try and get a repro to you guys tomorrow to see if you can help us (and @gsccheng )

[2018-01-08 18:01] emileber commented on #337
It's just that most utilities provided by `Wrapper` could be used with arbitrary instances, not limited to the one being tested with `mount` or `shallow`.

[2018-01-08 18:06] eddyerburgh commented on #337
The risk in my opinion is bloating the API and making the library more confusing for users.

The docs make a distinction between Wrapper and WrapperArray. But they don't make a distinction between VueWrapper, or Wrapper, and we may add or remove extra Wrappers in the future.

I think that exposing methods like this that deal with the internals encourage users to use vue-test-utils rely on internal

[2018-01-08 18:11] emileber commented on #337
Is there a way to use `mount` or `shallow` with an already mounted Vue instance?

Or just a `wrap` function similar to the 2 other entry points that deals with already mounted Vue instances, returning the right wrapper according to what was passed.

[2018-01-08 18:22] emileber opened #338 "Confusing documentation for mount and shallow"
Both [`mount`](https://vue-test-utils.vuejs.org/en/api/mount.html) and [`shallow`](https://vue-test-utils.vuejs.org/en/api/shallow.html) functions have the following usage description:

But they do not have a `selector` param. It looks like it's the description for the `find` function.

And neither the examples show selectors.

[2018-01-08 18:51] #329 closed, assigned to nobody

[2018-01-08 18:51] eddyerburgh commented on #329
This will be fixed in beta.10

[2018-01-08 19:23] eddyerburgh commented on #338
Thanks for the notice. Do you want to make a PR to improve the description?

[2018-01-08 19:25] eddyerburgh commented on #337
No, not at the moment.

When would you have an already mounted instance in a test? Can you post an example in code?

[2018-01-08 19:47] emileber commented on #337
For example, I'm testing our widget API (vanilla JS) which mounts a Vue instance on a optionally passed element:

[code]

And I want to make sure that the passed element is replaced by our Vue instance's element.

[code]

_There's probably a better way to test this,_ but initially, I wanted to use the `Wrapper` utilities to check for classes, or to make sure that the element was a `<div>` and not

[2018-01-08 19:48] lusarz commented on #330
Thanks @eddyerburgh for great input. In this case I agree that remove `hasStyle` is ok

[2018-01-09 02:08] 38elements commented on #336
I think if the need and the use case of the feature are not explicitly indicated,
the feature should not be adopted and the feature only few people need should not be adopted.
If the filter function is added, its need and use case should be indicated.

[2018-01-09 02:29] lmiller1990 commented on #336
I have never had any reason to filter on the array returned. Seems like it'll lead to a difficult to read test. If I want to know about a specific element, I use `findAll`.

I don't agree with adding a bunch of `Array` methods, as you said, the API gets larger and people might expect all `Array` methods. More API leads to more complexity. In that sense, making `length` a getter is better - but I s

[2018-01-09 02:31] lmiller1990 commented on #331
If removed, will we still be able to set `computed` by passing it to the constructor options? eg:

[code]

?

[2018-01-09 05:47] eddyerburgh commented on #331
Yes @lmiller1990

[2018-01-09 06:20] #338 closed, assigned to nobody

[2018-01-09 07:06] eddyerburgh commented on #336
I think @Toilal has a good use case. He wants to filter all the elements that are visible. We're adding a visible method, so the use case would look like this:

[code]

I can see that being useful

[2018-01-09 07:26] Toilal commented on #336
To better explain my use case, I'm currently writting a Tree component (http://vue-tree.pragmasphere.com/).

When clicking on tree node handle, it use `v-show` to hide children nodes when it's collapsed.

Problem is that it's actually very difficult to perform assertion on node visibility because it's not supported by CSS Selectors, and `find()`/`findAll()`/`text()` returns everything, even hidden

[2018-01-09 08:13] 38elements commented on #336
My issue for the `filter` function seems to be different.
I think that there is the needs to filtering by using property `Vue instanfce`  and the method of `Wrapper` not only CSS Selector.
It is possible to using `Array.filter()`.
I considered the method which returns WrapperArray type is necessary or not.

[2018-01-09 10:29] stique opened #341 "Syntax error in nested components"
Hi!

I configurated jest for testing vue components:

 "jest": {
    "transform": {
      ".*\\.(vue)$": "<rootDir>/node_modules/vue-jest",

But imported nested components are not transformed and I've got a error:

 FAIL  src/components/card/contacts.test.js
  ● Test suite failed to run

    /www/spa/node_modules/components/b-button/b-button.vue:1
    ({"Object.<anonymous>":function(module,exports

[2018-01-09 10:31] lmiller1990 commented on #331
Ok then I am happy to see `setComputed` leave.

[2018-01-09 11:10] 38elements commented on #336
Currently, WrapperArray is a proxy of array of Wrapper.
The array of Wrapper is easier to understand and use for me.
I think it may be better that WrapperArray inherits Array.
For example, In the tree control, it may be necessary to confirm that the states of all trees are closed at the start.
Array.every() may be used.
How about WrapperArray inheriting Array ?

[2018-01-09 11:29] Toilal commented on #336
I'm not sure it's technically possible : https://stackoverflow.com/questions/13428189/inherit-from-javascript-array-or-typed-array?lq=1

[2018-01-09 11:50] folmert commented on #260
@gsccheng, @lmiller1990: Have you figured it out?

@lmiller1990
While I agree that we shouldn't test external components, I don't think that it relates to this example, changing data directly is actually against [practices promoted by vue-test-utils](https://vue-test-utils.vuejs.org/en/guides/common-tips.html):

So in this case, instead changing internal data we should rather simulate the change e

[2018-01-09 17:17] eddyerburgh commented on #341
Hi, thanks for the report

This should be an issue in vue-jest, but are you importing with a .vue extension? If you want to discuss further please create an issue in the vue-jest repo—https://github.com/eddyerburgh/vue-jest

[2018-01-09 17:17] #341 closed, assigned to nobody

[2018-01-09 17:43] eddyerburgh commented on #260
@folmert   to check a radiobutton:

[code]

@gsccheng Thanks for the issue. Are you able to make a minimal reproduction (a test that fails with the least amount of code as possible), and include all the code. Then I can have a look and debug. I can let you know how it's done.

[2018-01-09 20:08] eddyerburgh commented on #310
This is fixed in https://github.com/vuejs/vue-test-utils/commit/c095221a3a05595a4f49aaeda5e7d2e888b9e092

[2018-01-09 20:08] #310 closed

[2018-01-09 21:02] ddykhoff commented on #271
@eddyerburgh Is there an issue with referencing the `$refs` in the `mounted` callback? Using your suggestion I still see the same error

https://jsfiddle.net/7kgkfrbu/7/

[2018-01-10 01:55] 38elements commented on #336
It became possible at ES2015.

[2018-01-10 01:56] 38elements commented on #336
I think if moderate number of people think that they need the `WrapperArray.filter()`, it should be adopted.

[2018-01-10 02:08] gsccheng commented on #312
@ross2411 Preliminarily it looks like it's caused by [Vue Material](https://vuematerial.io/):
[code]

Are you using that library too?

[2018-01-10 06:07] eddyerburgh commented on #325
Do you want to make a PR with the original way, using the config object.

We should start another discussion about whether to support a config file or not.

[2018-01-10 06:40] eddyerburgh commented on #323
In 2d4b999 we try/catch the attempt to add to the Vue prototype, and log this error if the property could not be written: `could not overwrite property $store, this usually caused by a plugin that has added the property as a read-only value`

[2018-01-10 06:40] #323 closed, assigned to nobody

[2018-01-10 06:42] eddyerburgh commented on #248
Hi @sygrinberg . This has been released in beta.9.

Is your original problem fixed with this release?

[2018-01-10 06:47] eddyerburgh commented on #163
I'm happy to add this feature. @mokkabonna would you like to make a PR?

[2018-01-10 06:50] eddyerburgh commented on #330
I've added a deprecation notice and it'll be removed before v1.0.0

[2018-01-10 06:50] #330 closed, assigned to nobody

[2018-01-10 10:50] folmert commented on #260
@eddyerburgh it doesn't work, see [my minimal reproduced example](https://github.com/folmert/vue-test-utils-jest-example), running `yarn test` will return:

Spec:
[code]

[2018-01-10 13:17] 38elements commented on #336
I think `WrapperArray.filter()` is needless.
I think `Array.filter()` is enough.
There is  [filterWhere](http://airbnb.io/enzyme/docs/api/ShallowWrapper/filterWhere.html) in Enzyme.
I looked up the libraries of different types using Enzyme.
filterWhere is rarely used in test.

storybook 1

https://github.com/storybooks/storybook/search?utf8=✓&q=filterWhere&type=

material-ui 0

https://github.com/

[2018-01-10 14:18] 38elements commented on #336
You can get  WrapperArray class from WrapperArray instance.

[code]

[2018-01-10 15:04] re-fort opened #342 "NPM package does not found"
It seems that the package has been moved to the scoped modules by the recent [commit](https://github.com/vuejs/vue-test-utils/commit/b84ec9caa5d9dca77de9f34c8dd709e4d5f551ef), but the package does not seem to be published on npm yet.
I think it would be good to reflect the docs after publishing it because there is potentially confusing for the users ;)

[2018-01-10 17:39] eddyerburgh commented on #342
Sorry about that delay!

It's released now 🙂

[2018-01-10 17:39] #342 closed, assigned to nobody

[2018-01-10 18:05] eddyerburgh commented on #260
HI @folmert, you're right this is indeed an issue with model not picking up the change. Can you create a new issue for this please?

[2018-01-10 18:18] eddyerburgh commented on #271
@ddykhoff That is an issue with using an HTML template instead of a template property. If you refactor your example to use a `template` property, it works as expected.

vue-test-utils doesn't support HTML templates at the moment, if you'd like to see it as a feautre, please make a new feature request issue.

[2018-01-10 18:19] eddyerburgh commented on #271
I'm going to close this issue as there are solutions to mock refs by stubbing components without a method that could potentially cause bugs.

[2018-01-10 18:19] #271 closed

[2018-01-10 20:42] blake-newman commented on #255
The main issue, is that `wrapper.vm` is typed as a generic `Vue` instance. This should probably typed as the component instance in use. So you can correctly use `wrapper.vm` in knowledge about what properties are available.

Everything is as you would expect, following the guides.

[2018-01-11 04:57] tianyong90 opened #343 "Errors when install v1.0.0-beta.10"
Glad to see the new release! Thank you for your great work.
I tried to upgrade to beta.10, but failed with an error.
![image](https://user-images.githubusercontent.com/9278461/34809188-655c32f8-f6ce-11e7-863c-e4be783558e7.png)

I'm using yarn in windows10.

[2018-01-11 05:01] 74sharlock opened #344 "[1.0.0-beta.10] install failed."
<h3>env:</h3>
<ul>
<li>node: v9.3.0</li>
<li>system: macOS 10.12.4</li>
</ul>

<h3>How to reappear:</h3>

[code]
or
[code]

<h3>expect:</h3>
Install successfully

<h3>result:</h3>

Throw error:

[code]

[2018-01-11 06:31] eddyerburgh commented on #344
Sorry about that. I've released a fixed version beta.11.

Note that vue-test-utils has been moved to @vue/test-utils:

[code]

[2018-01-11 06:31] #344 closed, assigned to nobody

[2018-01-11 06:31] eddyerburgh commented on #343
Sorry about that. I've released a fixed version beta.11.

Note that vue-test-utils has been moved to @vue/test-utils:

[code]

[2018-01-11 06:31] #343 closed, assigned to nobody

[2018-01-11 06:46] tianyong90 commented on #343
I am curious about the reason for changing the package name.

[2018-01-11 07:02] eddyerburgh commented on #343
Vue is moving to scoped packages, so vue-test-utils, becomes @vue/test-utils.

Henry Zhu wrote a good article on why scoped packages are useful—https://babeljs.io/blog/2017/12/27/nearing-the-7.0-release#renames-scoped-packages-babelx

[2018-01-11 07:14] tianyong90 commented on #343
Thanks for explaining! 😄

[2018-01-11 09:40] folmert opened #345 "v-model not reacting to change on element.selected"
Simulating selecting radio buttons doesn't seem to be reflected in the model:
[code]

Full code with the reproduced example:
https://github.com/folmert/vue-test-utils-jest-example

---

RadioGroup.vue:
[code]

RadioGroup.spec.js:
[code]

`yarn test` result:

[2018-01-11 09:47] folmert commented on #260
Ok, I've created a separate issue: https://github.com/vuejs/vue-test-utils/issues/345 but given that @gsccheng also fails to simulate option change the essence of the problem might be connected.

[2018-01-11 09:59] re-fort opened #347 "Deprecation warning does not be displayed when using yarn"
When installing vue-test-utils(not scoped package) with yarn, `install` command of npm scripts runs correctly, but it silences the output, so deprecation message doesn't be displayed.
IMO, it might be better to use `npm deprecate` for displaying deprecation message.

[2018-01-11 16:57] pierremanceaux opened #349 "shallow()/mount() VS real VueJS instance"
Hello!

I'm currently facing a problem trying test my Vue instance using `shallow()` or `mount()`.

Here is my Vue instance creation:
[code]
Please note the custom `data` object (config is just a JSON, but doesn't matter I guess, I just need my config to be globally accessible, from any component).

In my components, I access my components this way: `this.$root.config.foo`.

My `vue-test-utils` wr

[2018-01-11 18:11] eddyerburgh commented on #347
Would you like to make a PR? The unscoped version is in the `unscoped` branch

[2018-01-11 18:19] eddyerburgh commented on #349
You need to pass an uninstantiated Vue component to `mount` or `shallow`.

It's not possible at the moment to mount a Vue instance.

[2018-01-11 18:44] pierremanceaux commented on #349
Hello @eddyerburgh and thanks for your time.

Yeah, so far that's what I'm doing `let localVue = createLocalVue();` and then pass my component to it, so I guess I am doing things right here. So I imagine that my `localVue` can't receive my `data` at any point?

[2018-01-11 18:59] eddyerburgh commented on #349
you could add data to the localVue prototype:

[code]

[2018-01-11 21:04] pierremanceaux commented on #349
@eddyerburgh guess what... it did the trick. Little hack acceptable for now, until we get this "config" from an API!

Thanks a lot for your time man <3

[2018-01-11 21:04] #349 closed, assigned to nobody

[2018-01-12 03:24] 74sharlock commented on #344
@eddyerburgh Thanks!

[2018-01-12 05:09] lambdalisue commented on #344
Note that I needed to use `import { mount } from '@vue/test-utils'` instead if I used `@vue/test-utils`. It seems it is not documented yet here https://vue-test-utils.vuejs.org/en/guides/getting-started.html

[2018-01-12 06:22] #347 closed, assigned to nobody

[2018-01-12 06:23] eddyerburgh commented on #305
@emman27 can you check beta.10 solved this issue?

[2018-01-12 06:30] eddyerburgh commented on #344
Thanks, I'm updating the docs now

[2018-01-12 20:28] ddykhoff opened #351 "Add support for HTML templates"
Feature request as suggested in https://github.com/vuejs/vue-test-utils/issues/271#issuecomment-356690053

Please add support for HTML templates. Main use case is Vue single file components. Example of unsupported use case:

https://jsfiddle.net/h0bnmk5d/1/

And the current work around is to refactor into component `template` property:

https://jsfiddle.net/h0bnmk5d/2/

[2018-01-14 10:05] eddyerburgh commented on #73
@conkur I can't reproduce this using your example. Are you able to provide a full minimal reproduction that replicates the bug?

[2018-01-15 01:57] anandrikka opened #353 "vue-router not installed error"
I followed the same steps mentioned in documentation, but getting following error
`
Error: [vue-router] not installed. Make sure to call `Vue.use(VueRouter)` before creating root instance.
	    at assert (webpack:///node_modules/vue-router/dist/vue-router.esm.js:10:0 <- index.js:16838:11)
	    at VueRouter.init (webpack:///node_modules/vue-router/dist/vue-router.esm.js:2476:0 <- index.js:19304:46)

[2018-01-15 01:57] #353 closed, assigned to nobody

[2018-01-15 13:00] 38elements opened #354 "Remove WrapperArray"
### What problem does this feature solve?
IMHO,
Since WrapperArray has only methods which is the small wrapper method of Array,
it is not absolutly necessary.
I think that the Array of Wrapper is easier to understand than WrapperArray.
I do not think the methods of WrapperArray are often used.
By removing WrapperArray, it become simple and small maintenance cost.

### What does the proposed API lo

[2018-01-15 13:39] eddyerburgh commented on #354
I think we should keep WrapperArray as part of the library.

The reason for a WrapperArray is that it improves error handling, which makes the library more user friendly.

With an array, if you try to access a wrapper that doesn't exist:
[code]
With a WrapperArray:
[code]

We could improve the error message to include the selector that wasn't found:
[code]

I think the WrapperArray is useful, just

[2018-01-15 15:17] 38elements commented on #354
Thank you for reply.
I understood the intent to exist WrapperArray.

IMHO,
Mistaking findAll() and find() may be few.
Since most people often use Array,  They may be used to error of Array.

Since there is WrapperArray.wrappers, findAll() returning an array of Wrapper is not absolutely necessary.
I think if moderate number of people need WrapperArray, WrapperArray is necessary.

I think it is diff

[2018-01-15 21:46] emileber commented on #65
Since `Wrapper` isn't exposed, we can't just create a new `Wrapper` from `wrapper.vm.parent`.

#337 would help in this case.

[2018-01-16 08:39] mokkabonna commented on #163
Yes I can do that. I assume `hasValidProps`? I see `hasProp` has been removed.

[2018-01-16 11:49] 38elements commented on #337
@eddyerburgh
Would you please tell me that  the specification supports Vue instance or not ?

[2018-01-16 12:06] lmiller1990 commented on #325
It seems like you can do the same thing at `stubs` in the current `master`, simply `mocks['myMock'] = jest.fn()` for example.

Maybe we should discuss a config file first before going any further.

[2018-01-16 12:29] eddyerburgh commented on #337
@38elements what specification do you mean?

[2018-01-16 12:30] eddyerburgh commented on #65
This feature request is for a parent method for a vnode, not a Vue instance. You wouldn't be able to access a vnode parent, the only way would be to add a parent property to each vnode inside vue-test-utils.

[2018-01-16 12:32] eddyerburgh commented on #337
How about exposing the `createWrapper` method that takes either a vnode or a Vue instance.

I see that there's a need for this for some users.

[2018-01-16 12:34] 38elements commented on #337
~~There is the description for this in test and document or not.~~ (I mistaked)
~~The specification is the description for this in test and document or not.~~
The specification is the description for this in test and document.
I could not find it.

[2018-01-16 12:38] eddyerburgh commented on #337
Ah, so we don't currently support already mounted elements. We could look at adding support.

[2018-01-16 12:41] 38elements commented on #337
Vue instance and Vue component are different.
The mouted element example uses Vue instance .
Deciding whether to support Vue instance is important.
If Vue instance is not supported, createWrapper is needless.

If Vue instance is supported and mounted vue instance is necessary, the following el option should considered.

[code]

[2018-01-16 12:58] LinusBorg commented on #337
@38elements We should be precise:

We currently support creatign Wrappers around Vue/component instances which *haven't been mounted*

[2018-01-16 23:39] 38elements commented on #337
Since I could not find the description about supporting not mounted Vue instance in document,
I thought that vue-test-utils only supports Vue component and does not support not mounted Vue instance.

[2018-01-17 06:12] eddyerburgh commented on #337
You can create a VueWrapper with a mounted Vue instance, so exposing a createWrapper lets us support a mounted Vue instance.

[2018-01-17 08:00] emman27 commented on #305
@eddyerburgh Seems to be good! I've migrated over to `@vue/test-utils` as well, I understand it's the same `beta-10`?

[2018-01-17 08:12] eddyerburgh commented on #305
Yep, it's the same 👍

Thanks for getting back to me, closing now 😄

[2018-01-17 08:12] #305 closed

[2018-01-17 11:16] 38elements commented on #337
I think the title of this issue is not appropriate and "Support Vue instance" is appropriate.

I think that `createWrapper()` is not necessary and the method to mount a Vue instance is necessary.
Like `mount()` mounting a Vue component, `mount()` mounting a Vue instance is appropriate.
In other word, [el option](https://vuejs.org/v2/api/#el) is supported at `mount()`.

Most people will make a meth

[2018-01-17 13:17] wizardone commented on #74
Would love to write one myself, but I am having some difficulties myself with the very basic setup of such project, so I would be very happy is someone more experienced can have a look and write a good documentation on the topic.

[2018-01-17 17:12] eddyerburgh commented on #337
I don't think we should encourage calling `mount` with a Vue instance, since it's already been mounted.

`createWrapper` mounts Vue instances. We could export it, and straight away we would be supporting mounting Vue instances.

There's already an issue to support an `el` option in `mount`: https://github.com/vuejs/vue-test-utils/issues/351

[2018-01-17 23:03] 38elements commented on #337
The object having el property, not Vue instance will be passed `mount()` to.
An object having [el](https://vuejs.org/v2/api/#el) property is not mouted.
When the Vue constructor passed the object having el property executes,  a Vue instance is mouted.

[2018-01-18 01:10] gaastonsr commented on #85
Agreed here! I think shallow rendering should render the slotted content. And keep the "external" components as tags. For example

[code]

[2018-01-18 07:05] eddyerburgh opened #356 "shallow not working with extended components"
### Version
1.0.0-beta.10

### Reproduction link
[https://forum.vuejs.org/t/multiple-issues-w-vue-test-utils-vue-class-component/25318/4](https://forum.vuejs.org/t/multiple-issues-w-vue-test-utils-vue-class-component/25318/4)

### Steps to reproduce
Use shallow with a component that's extended from another component

### What is expected?
Child components should be stubbed

### What is actually ha

[2018-01-18 07:41] ghost commented on #246
Is there a bug on functional components or I'm missing something?

`<template functional>` or `<script>export default { functional: true }</script>` doesn't work.

[2018-01-18 08:07] eddyerburgh commented on #246
Hi lago, please create a separate issue of this with a minimal reproduction

On 18 Jan 2018 07:41, "Iago ♨️" <notifications@github.com> wrote:

[2018-01-18 20:02] phanan commented on #354
I tend to agree with @38elements. Personally, I don't find much use of the `WrapperArray`. The fact that it's named as `Array` when actually an **object** containing an array or `Wrapper` is pretty confused, too. That it throws a descriptive error message being the only benefit doesn't really justify the maintenance IMO.

[2018-01-18 20:45] eddyerburgh commented on #354
An error message thrown by vue-test-utils lets you know there isn't an error in your test code.

This makes the process of writing tests much quicker. Instead of wondering if you used `findAll` incorrectly, you know the component you're testing didn't render the node.

[2018-01-18 21:53] eddyerburgh commented on #163
Yes, hasValidProps is good 🙂

On Tue, Jan 16, 2018 at 8:39 AM, Martin Hansen <notifications@github.com>
wrote:

[2018-01-19 04:06] ghost opened #360 "Functional template can't be mounted"
### Version
1.0.0-beta.10

### Reproduction link
[https://github.com/noamcore/functional-template](https://github.com/noamcore/functional-template)

### Steps to reproduce
[code]

### What is expected?
The component can be tested using `<template functional/>`.

### What is actually happening?
Error saying that mount.context can only be used when mounting a functional component

---
Functional com

[2018-01-19 09:01] Loremaster commented on #330
@eddyerburgh is there a way to test style on wrapper directly? We have something like that:

[code]

And we used to test our component like that:

[code]

But since there is a deprecation I tried to use new syntax. But it seems like it doesn't work on a wrapper:

[code]

It shows this error:

[code]

[2018-01-19 09:30] phanan commented on #354
I'm not sure if

is not clear enough. `findAll('div')[1]` being `undefined` would immediately suggest that the item doesn't exist at position `1`, which is exactly what `WrapperArray` would throw: `no item exists at 1`. Anyways, having a wrapper only to throw a (subjectively) more meaningful error message isn't really worth it IMO.

Looking at [the current implementation](https://github.com/vuejs/

[2018-01-19 10:04] hiendv opened #361 "Wrapper.contains doesn't work with innerHTML"
### Version
1.0.0-beta.10

### Reproduction link
[https://github.com/hiendv/vue-test-utils-contains-bug](https://github.com/hiendv/vue-test-utils-contains-bug)

### Steps to reproduce
npm install
npm test

### What is expected?
There is no error when running the test `component contains the SVG`

### What is actually happening?
The test fails

[2018-01-19 10:20] LinusBorg commented on #361
I'm not 100% sure, but (at least until recently), `contains` does not match the root node - that's what `is` does.

[code]
If that's not it, I could imagine that adding html with `domProps` isn't "visible"until the next tick ...

[2018-01-19 10:22] LinusBorg commented on #360
Does that only happen when the functional component is a completely empty one like yours?

[2018-01-19 10:35] LinusBorg commented on #360
Hm, I think this rather is a problem with vue-jest. vue-test-utils never gets to see the `<template>` element as that's converted when impotrting the component into the test file. So vue-jest has to make sure that `functional: true` is set on that component's options. However it seems that vue-jest does something different, namely kind of converting a functional component into a "normal" one....

[2018-01-19 13:42] 38elements commented on #354
If the return value of `findAll()` is changed,
Changing from Array  to WrapperArray is easier than changing from WrapperArray to Array.
I think it is better to  select  Array of Wrapper before releasing version 1.0.

[2018-01-19 14:16] Epro95Z28 opened #362 ".classes() returns "this.element.className.split is not a function" on svg elements"
### Version
1.0.0-beta.2

### Reproduction link
[https://jsfiddle.net/bnLL85ea/1/](https://jsfiddle.net/bnLL85ea/1/)

### Steps to reproduce
-Perform .classes() on an svg image. Example
<svg data-v-35693dba="" version="1.1" role="presentation" width="24" height="24" viewBox="0 0 1792 1792" class="icon fa-icon text-danger" style="font-size: 1.5em;"><path d="M912 1696q0-16-16-16-59 0-101.5-42.5t-42.

[2018-01-19 14:35] LinusBorg commented on #362
* We are at 1.0.0-beta.11 right now, could you verify if that's still an issue in the latest version?
* You write about `classes()` but your code example uses `hasClass()` - which is it?

[2018-01-19 14:38] LinusBorg commented on #362
However, I simply think that `<svg>` doesn'T have a className attribute because it doesn't inherit from HTMLElement.

[2018-01-19 14:39] Epro95Z28 commented on #362
I updated the fiddle. But yes, I am calling .classes
https://jsfiddle.net/bnLL85ea/2/
I looked at -beta.10 and .classes() looks the same as the version I'm running. I will double check though.

[2018-01-19 14:53] Epro95Z28 commented on #362
Updated to 1.0.0-beta.11 and have the same issue still.

[2018-01-19 17:27] eddyerburgh commented on #362
I can't replicate this using the example you posted. How are you running the tests?

Are you using mocha-webpack? If you're running them in node, are you adding JSDOM properties to the global object?

[2018-01-19 17:39] eddyerburgh commented on #361
@LinusBorg `contains` now matches the root node.

[2018-01-19 19:27] Epro95Z28 commented on #362
I will try to recreate this issue in a project. I may not be able to do it until next week.

[2018-01-19 22:18] eddyerburgh commented on #360
Thanks for the bug report 🙂

Could you please open this issue in vue-jest? As @LinusBorg says, this needs to be fixed there

[2018-01-19 22:18] #360 closed, assigned to nobody

[2018-01-19 22:29] eddyerburgh commented on #330
You need to access the Wrapper element:

[code]

On Fri, Jan 19, 2018 at 9:01 AM, Serj L <notifications@github.com> wrote:

[2018-01-20 06:19] WangHansen opened #363 "Cannot read property 'getters' of undefined"
### Version
1.0.0-beta.10

### Reproduction link
[http://jsfiddle.net/m33w0o9p/2/](http://jsfiddle.net/m33w0o9p/2/)

### Steps to reproduce
For jest testing with vuex, if vuex contains both namespaced modules and global actions or states, it doesn't work. It will produce `Cannot read property 'getters' of undefined` error.

Testing file
[code]

App.vue
[code]

module/auth.js
[code]

### What is ex

[2018-01-20 06:58] eddyerburgh commented on #356
Fixed in 3508a168c5b8a9d49f2c3244f96004a7ccc146f4

[2018-01-20 06:58] #356 closed, assigned to nobody

[2018-01-20 06:58] #331 closed, assigned to nobody

[2018-01-20 06:59] eddyerburgh commented on #297
Are you still intending to work on this @phanan ?

[2018-01-20 07:38] phanan commented on #297
I’m finishing the helper library, will publish today.

On Sat, 20 Jan 2018 at 07:59, Edd Yerburgh <notifications@github.com> wrote:

[2018-01-20 07:44] eddyerburgh commented on #363
Thanks for the bug report 🙂

I tried to create a minimal reproduction with your code, but there were parts I had to guess. I can't reproduce this error using a namespaced module and mapGetters.

Can you create a full reproduction using this JSFiddle as a starting point—https://jsfiddle.net/eddyerburgh/2mzsL00d/4/

[2018-01-20 07:44] eddyerburgh commented on #297
So are you not attending on extending contains to support multiple selectors?

[2018-01-20 08:16] WangHansen commented on #363
Here: https://jsfiddle.net/L5fye9w0/1/
run it and open up the console, you will see the error message

[2018-01-20 09:33] eddyerburgh commented on #363
You need to pass the store instance—https://jsfiddle.net/eddyerburgh/sghur81m/1/

[2018-01-20 11:41] 38elements commented on #337
Like Vue component, I think that Vue instance requires stub and mock.

[2018-01-20 11:48] eddyerburgh commented on #337
I don't think we should encourage mounting Vue instances, apart from exposing the createWrapper method.

To add a mock you add to the Vue class prototype:
[code]
To add a stub you pass components inside the component options.

Maybe after we've exposed createWrapper we can revisit this, but initially I don't think we should add an interface for stubbing or mocking.

[2018-01-20 14:42] #361 closed, assigned to nobody

[2018-01-20 15:48] WangHansen commented on #363
Sorry, my bad, I use vue-jest and jest, and I can't figure a way out to use them on jsfiddle: https://jsfiddle.net/L5fye9w0/4/
my actual testing code look like this
[code]

[2018-01-20 16:57] WangHansen commented on #363
I figured out what the problem is, I passed in the fake store with a real module, but in this real module, it calls another getter from the real store, but since I don't have this getter method in the fake store, it gives me the error

[2018-01-20 16:57] #363 closed, assigned to nobody

[2018-01-20 17:48] eddyerburgh commented on #327
This will be released in beta.11

[2018-01-20 17:48] #327 closed, assigned to nobody

[2018-01-20 22:04] #74 closed

[2018-01-21 13:59] eddyerburgh commented on #166
I don't think we're going to go ahead with this, as we want to avoid editing the internals. Thanks for the PR though 🙂

[2018-01-21 13:59] #166 closed

[2018-01-21 14:12] #224 closed

[2018-01-21 14:14] eddyerburgh commented on #312
I'm going to close this as it sounds like its an issue with the plugin you're using.

Feel free to open a new issue with a reproduction if you'd like more input (I could create an issue in the plugin repo if I have a reproduction). You can use this JSFiddle as a template for the repro—Can you create a full reproduction using this JSFiddle as a starting point—https://jsfiddle.net/eddyerburgh/2mzsL0

[2018-01-21 14:14] #312 closed

[2018-01-21 17:12] phanan commented on #336
Can't say I'm a fan of adding (into core) these thin wrappers on top of what can already be done pretty easily via the contained `.wrappers` array. If we add `filter`, we should also add `each` and `map` etc. and the API will be quite bloated.

[2018-01-21 17:13] phanan commented on #297
The lib is up here https://github.com/phanan/vue-test-helpers. It might be opinionated – after all, it's done to scratch my own itch 😛

[2018-01-21 19:25] cristijora opened #369 "Jest 22.x support"
### Version
1.0.0-beta.10

### Reproduction link
Do not have one yet

### Steps to reproduce
Upgrade to latest jest > 22.0.0
Try to select svg specific attributes by class
[code]
Where the wrapper contains `path` or `rect` elements

[code]
or
[code]

### What is expected?
Find method to return the selected elements

### What is actually happening?
Find returns no elements. Querying by tag
`find('p

[2018-01-22 03:01] hiendv commented on #361
@LinusBorg FYI, in the reproduction, it's not the root node.

[2018-01-22 06:38] eddyerburgh commented on #354
I'm strongly against returning an array from `findAll`.

Let me put down my thoughts.

## Benefits of WrapperArray

- Improved error handling

I'll go into this in more detail.

## Downsides of WrapperArray

- Unfamiliar API
- Difficult to filter

The API can be a problem for new users.

The second issue, that it's difficult to filter, can be fixed by adding a `filter` method. #336

*Note an array

[2018-01-22 08:59] phanan commented on #354
Thanks for the very comprehensive argument @EddYerburgh. I'll go through each of them and add my counter-argument 😄

## Improved error handling

The only benefit of WrapperArray as you listed, "improved error handling", is _subjective_. In fact, your examples are not really convincing, at least to me. Let's take a look at the first example:

[code]

You're saying:

Not really. To me it suggests th

[2018-01-22 13:24] lukaszkups commented on #130
I've got similar issue:

[code]

And what's even more weird - all tests are labeled as 'passed'

[2018-01-22 13:51] eddyerburgh commented on #130
Thanks for the bug report. Can you create a new issue with a minimal reproduction @mrmnmly ?

[2018-01-22 13:58] lukaszkups opened #371 "All tests passed, but got AssertionError"
Hi all, here's some of my test code:

[code]

All test passes, but in the end it throws an error:

[code]

[2018-01-22 13:58] #371 closed, assigned to nobody

[2018-01-22 13:58] lukaszkups commented on #130
@eddyerburgh ok, created it here: https://github.com/vuejs/vue-test-utils/issues/371

[2018-01-22 14:27] metacurb opened #372 "Unable to update input value via keydown/keyup/keypress"
### Version
1.0.0-beta.10
Jest 22.0.4

### Reproduction link
[https://jsfiddle.net/xvL6q27m/](https://jsfiddle.net/xvL6q27m/)

### Steps to reproduce
Test attached component using Jest, and vue-test-utils

### What is expected?
The `value` inside the data of the component should update, and be `a`.

### What is actually happening?
Nothing, the `value` doesn't change, and the `input.element.value`

[2018-01-22 18:00] eddyerburgh commented on #372
Hi @BeauAgst, thanks for the bug report.

Can you make a reproduction using this JSFiddle as a base: https://jsfiddle.net/eddyerburgh/sghur81m/3/

[2018-01-22 18:15] eddyerburgh commented on #354
My preference—apart from keeping `findAll`— would be to remove `findAll`, keep `find`, but have it behave in the same way as `find` in enzyme.

That means it always returns a collection. If there's one node in the collection, the methods will be called on that node. If there are multiple nodes, it will throw an error and tell you to access the node with the `at` method.

[2018-01-22 18:17] eddyerburgh commented on #297
Looks good 🙂

Since you've added `containsAll` to the library, I'm closing this issue.

If anyone feels strongly about adding it to vue-test-utils, feel free to comment and I'll reopen it.

[2018-01-22 18:21] #137 closed

[2018-01-22 20:28] metacurb commented on #372
@eddyerburgh apologies - https://jsfiddle.net/xvL6q27m/

I've updated the original issue to this link

[2018-01-23 06:40] eddyerburgh commented on #372
No problem! It takes a bit of setup in JSFiddle. Thanks for the reproduction.

With a value, you need to set it on the element:

[code]

Then you can trigger an event that uses the value:

[code]

However, there's a problem with v-model, where changing the value isn't picked up by the model value—https://github.com/vuejs/vue-test-utils/issues/345. We're working on a fix

[2018-01-23 08:03] metacurb commented on #372
Thanks for the prompt reply @eddyerburgh

That's fine, and how I was originally doing it for my `@keyup` method. However, I have since added `@keydown` (to validate keys being pressed and prevent them from being entered if they don't match a regex string)

What would your recommendation be on how to test that method? Am I correct to assume I won't be able to test it until that bug is fixed? Thanks

[2018-01-23 10:39] phanan commented on #354
Mine as well. In short, let's make it behave similarly to other proven solutions, or don't have it at all.

[2018-01-23 14:51] ghost commented on #73
Sure @eddyerburgh

The component:
[code]

The spec:
[code]

I am using the latest version of vue-class-component (`6.1.2`). I tried this on beta9 and beta10 and am seeing `undefined` on both versions. However, beta8 printed the expected html data.

If I remove `@Component({})` from the component, beta10 prints the expected html data.

[2018-01-24 04:36] fimars opened #374 "Should update `wrapper.props()` value after `wrapper.setProps` ?"
### Version
1.0.0-beta.10

### Reproduction link
[https://github.com/fimars/vue-test-utils/blob/59a46bb342f924d0ff6e5e4a1af19911694a146b/test/unit/specs/mount/Wrapper/setProps.spec.js#L50-L62](https://github.com/fimars/vue-test-utils/blob/59a46bb342f924d0ff6e5e4a1af19911694a146b/test/unit/specs/mount/Wrapper/setProps.spec.js#L50-L62)

### Steps to reproduce
[code]
I write a test-case in my fork. y

[2018-01-24 11:27] 38elements commented on #354
IMHO, I seem `collection` makes it complex.
I think Wrapper and Array are simple.
I like Array.
I think if `Array.at()` is useful, it is adopted ECMAScript.
Since this is my subjective opinion,
I think if moderate number of people think `collection` is good,  `collection` should be adopted.

 I think changing `wrapper.find()` to `wrapper.findOne()` is better, since it is explicit.

[2018-01-24 19:55] slonak79 commented on #116
Thank you @fvictorio this fixed my problem.

[2018-01-25 08:10] johman10 commented on #134
I stumbled upon this issue as well, or at least something that looks like it. I found this problem with both the `wrapper.update` and `wrapper.trigger`.

I made a JSFiddle to demonstrate the issue here: https://jsfiddle.net/vyaceLhu/2/

Hope this helps and that someone can have a look into this. :)

[2018-01-25 08:15] hiendv opened #375 "Unable to bind slots"
### Version
1.0.0-beta.10

### Reproduction link
[https://github.com/hiendv/vue-test-utils-slots-bug](https://github.com/hiendv/vue-test-utils-slots-bug)

### Steps to reproduce
[code]

### What is expected?
There is no error when running the tests

### What is actually happening?
The tests fails

[2018-01-25 11:00] 38elements commented on #354
`wrapper.findAll()` returns the following WrapperArray.
How about this ?

[code]

[2018-01-25 13:18] Epro95Z28 commented on #362
Hi everyone,

Was unable to reproduce this issue locally when I had a test project. I think it might have something to do with font-awesome throwing it off. I unfortunately don't have the time to investigate further.

[2018-01-25 13:18] #362 closed, assigned to nobody

[2018-01-25 14:51] lusarz opened #377 "Within 'setData' method computed variables are re-calculated, even if are not used in template"
### Version
1.0.0-beta.10

### Reproduction link
[https://github.com/lusarz/vue-test-utils/commit/51cf7b5c10cd2010c26a21d7e9f2cca400faacd1](https://github.com/lusarz/vue-test-utils/commit/51cf7b5c10cd2010c26a21d7e9f2cca400faacd1)

### Steps to reproduce
Use `wrapper.setData(...)` method

### What is expected?
Computed properties that are not truly used in template shouldn't be re-calculated.

By '

[2018-01-25 14:57] LinusBorg commented on #377
That's not how Vue works. This computed property will be re-evaluated independent of the usage in the render function.

This is not a bug in the test-utils, it's how Vue is designed to work.

[2018-01-25 15:00] LinusBorg commented on #375
I can't run this right now - does only the second test fail?

Because you are passing a component as the slot content, then return multiple vnodes from the component's render function, which is not allowed (by Vue, not test-utils).

[2018-01-25 15:51] lusarz commented on #377
@LinusBorg
I have some doubts. Could you check here:
https://github.com/lusarz/vue/commit/9ef5946f082a5565efdd0d0794371f61bf0e73d9

Both tests pass. In second one, when `<span v-if="a">{{ b }}</span>` is evaluated to not be rendered, function that calculates `b` is not invoked.

[2018-01-25 15:54] LinusBorg commented on #377
Can't take a look right now but reopened for someone else to check

[2018-01-25 15:58] LinusBorg commented on #377
Edit: Quickly checked this with a fiddle: https://jsfiddle.net/tohdxapr/1/

Seems OP is right, sorry :/

[2018-01-25 16:08] lusarz commented on #377
No problem. @LinusBorg I turned off cache for computed property in fiddle: https://jsfiddle.net/tohdxapr/2/

With cache it doesn't prove anything :)

[2018-01-25 18:44] lusarz commented on #377
This issue seems to be related with watchers which are launched in `setData -> update` methods:
https://github.com/vuejs/vue-test-utils/blob/c095221a3a05595a4f49aaeda5e7d2e888b9e092/src/wrappers/vue-wrapper.js#L15-L17

I noticed that watcher on computed property is run here, not sure where this watcher is initialized

[2018-01-25 20:53] eddyerburgh commented on #369
Can someone create a reproduction in a GitHub repo?

[2018-01-26 03:26] hiendv commented on #375
Unfortunately, the test with a single slot fails also. For now, I will remove the second test: https://github.com/hiendv/vue-test-utils-slots-bug/commit/762e99cc9332297c651424cabf707c078aa72b7d

[2018-01-26 03:29] hiendv commented on #375
Ref: https://github.com/hiendv/vue-test-utils-slots-bug/commit/762e99cc9332297c651424cabf707c078aa72b7d

[2018-01-26 03:43] hiendv commented on #375
[code]

[2018-01-26 20:02] eddyerburgh opened #379 "Add source map to test build"
### What problem does this feature solve?
There are no source maps in the test build. This makes debugging difficult when developing

### What does the proposed API look like?
Add source maps to test build

[2018-01-26 20:55] eddyerburgh opened #380 "Add support for node > 4"
### What problem does this feature solve?
Currently we don't support node < 7, because of Object.entries.

### What does the proposed API look like?
We should support all node LTS versions, and run tests with them in circle

[2018-01-26 20:59] #374 closed, assigned to nobody

[2018-01-26 20:59] #377 closed, assigned to nobody

[2018-01-26 21:07] eddyerburgh commented on #134
@johman10 The issue with the code you posted is that you aren't passing in any propsData: https://jsfiddle.net/eddyerburgh/d8739dkq/

I'm closing this issue since there isn't a reproduction we can use to fix the bug. If anyone has this problem in the future, please open an issue with the reproduction, it's very much appreciated!

[2018-01-26 21:07] #134 closed

[2018-01-27 02:04] chriscasola opened #382 "Child component using Vue.extends not receiving global $state property from Vuex"
### Version
1.0.0-beta.10

### Reproduction link
[https://jsfiddle.net/7t28dy1u/](https://jsfiddle.net/7t28dy1u/)

### Steps to reproduce
Run the fiddle - console error because `this.$store` is undefined on the child component.

### What is expected?
All child components should receive the global `$store` mixin from Vuex.

### What is actually happening?
Only the root element is receiving the `$st

[2018-01-27 02:39] chriscasola commented on #382
I _think_ this is happening because the constructor of the child component is not extending from the `localVue` which has the Vuex plugin, so when the child component is constructed the `beforeCreate` hook that Vuex uses is not present. I'm not too sure how to fix this, if someone can point me in the right direction I may be able to.

[2018-01-27 06:58] #380 closed, assigned to nobody

[2018-01-27 07:00] #379 closed, assigned to nobody

[2018-01-27 07:25] eddyerburgh commented on #372
Yeah sorry, there isn't currently a way to test that.

One method I can think of is to allow you to pass a custom Event to trigger, then you could test that preventDefault was prevented.

If you'd like to use this feature, please make a feature-request issue 😀

[2018-01-27 07:25] #372 closed, assigned to nobody

[2018-01-27 07:27] eddyerburgh commented on #248
I believe this has been fixed. If anyone has any future issues with extended, please create an issue with a reproduction

[2018-01-27 07:27] #248 closed

[2018-01-27 08:40] eddyerburgh commented on #31
We now include a RouterLink component. You can stub RouterLink like this:

[code]

[2018-01-27 08:40] #31 closed

[2018-01-27 08:43] eddyerburgh commented on #41
We aren't going to implement this at the moment. You can pass a component, but not an instance.

[2018-01-27 09:58] eddyerburgh commented on #239
I'm closing this issue because it's not clear to me what you would like to test. Feel free to open a new feature request with more details on what you want this API to look like, and what problem it would solve.

[2018-01-27 09:58] #239 closed

[2018-01-27 10:28] 38elements commented on #337
IMHO,
Since the goal of vue-test-utils is [providing an official library and guide for unit testing Vue components](https://github.com/vuejs/roadmap#vue-test-utils),
Supporting Vue instance is not mandatory for version 1.0.
I do not think making a decision in a hurry is needed.

I assume a Vue instance which is on page of  Laravel or Ruby on Rails as a target for testing.

[2018-01-27 10:40] eddyerburgh commented on #337
Agreed, but we have an open PR that would allow the user to mount an instance

[2018-01-27 10:54] #336 closed, assigned to nobody

[2018-01-27 11:26] 38elements commented on #337
I think providing Wrapper class and WrapperArray class and supporting Vue instance are different issue.
Supporting testing  Vue instance ~~may~~ might not be necessary.
I think it is better to think about supporting Vue instance or not and the use case of Vue instance.

[2018-01-27 18:17] eddyerburgh commented on #73
Sorry, I still can't reproduce with your example.

Can you create a repository with a failing example so that I can debug it?

[2018-01-27 19:18] eddyerburgh commented on #382
As you said, the problem is that you're creating the component with Vue.extend.

There are a few options I can think of to fix this.

First, we could fix the `stub` option to compile template functions (I think we should do that anyway), then leave it to the user to call `localVue.extend` on the component and pass it as a stub:

[code]

Second, we could call `localVue.extend` on every component in

[2018-01-27 20:06] chriscasola commented on #382
I'm calling `Vue.extend` because that's the only way for typescript to work properly with the Vue component definition.

I don't think the first option, of leaving it the user to call `localVue.extend` is really feasible, because that code is in source files, not test files. You'd have to import the component into the test, and then recurse through the whole components tree and wrap them in `local

[2018-01-29 12:54] Alex-Sokolov opened #393 "Default props modified between tests suites"
### Version
1.0.0-beta.11

### Reproduction link
[https://jsfiddle.net/bqtfqwpw/](https://jsfiddle.net/bqtfqwpw/)

### Steps to reproduce
Tested component: https://jsfiddle.net/g7s289sh/
Tests suites: https://jsfiddle.net/bqtfqwpw/

1. Install vue/test-utils 1.0.0-beta.10
2. Run tests => All ok
3. Update vue/test-utils to 1.0.0-beta.11
4. Run tests => Test fails

### What is expected?
Tests passed

[2018-01-29 13:24] LinusBorg commented on #393
We should probably do a deep-clone here;
https://github.com/vuejs/vue-test-utils/blob/dev/src/lib/create-instance.js#L51

[2018-01-29 15:57] jamesoshea opened #395 "'Disabled' attribute on buttons is ignored during testing"
### Version
1.0.0-beta.11

### Reproduction link
[https://github.com/jamesoshea/vue-test-utils-button-bug](https://github.com/jamesoshea/vue-test-utils-button-bug)

### Steps to reproduce
Run npm install, then npm test. The test will fail as vue-test-utils trigger a click on a disabled element, and the element's bound method is called anyway.

### What is expected?
The method should not get called

[2018-01-29 18:23] dannynicolas commented on #369
I ran into a similar issue with SVG and based on my searching, it is a JSDOM / javascript issue with SVGs, not necessarily vue-test-utils or jest. I haven't looked into this since the early betas, so I'll take another look after updating to beta.11

The workaround I did was to attach to document and look at the HTML to confirm that it actually rendered the svg.
eg.
[code]

[2018-01-29 18:40] cristijora commented on #369
Reproduction repo https://github.com/cristijora/vue-test-utils-jest-example
Jest 21
- [x] Find `path` by class name
- [ ] Find by `path` by tag

Jest 22
- [ ] Find `path` by class name
- [x] Find `path` by tag
😆

as @dannynicolas says, this is most likely a JSDOM issue since jest 22 uses a newer JSDOM version

[2018-01-31 08:31] leopku commented on #330
@eddyerburgh Can I suggested that put  the line of `expect(wrapper.element.style['background-color']).to.equal('green');` as the next line of deprecation notice?

When I first see the deprecation notice, I'm so confused that what to do now and what's the best practise.

[2018-01-31 08:47] eddyerburgh commented on #330
Good idea 😀

Would you like to make a PR adding It?

On 31 Jan 2018 08:31, "Song Liu" <notifications@github.com> wrote:

[2018-01-31 09:14] wagerfield opened #397 "node environment support"
I just [posted an issue](https://github.com/vuejs/vue-test-utils-jest-example/issues/8) in the `vue-test-utils-jest-example` repo about this, but I think it needs flagging here also.

When [setting the jest environment](https://facebook.github.io/jest/docs/en/configuration.html#testenvironment-string) to `node` the following error is thrown:

[code]

For a use case for when it might be important t

[2018-01-31 09:14] #397 closed, assigned to nobody

[2018-01-31 09:42] eddyerburgh commented on #369
Thanks for the repro 😀

I looked into this, and I'm going to close this as a JSDOM issue—https://github.com/jsdom/jsdom/issues/2128

[2018-01-31 09:42] #369 closed, assigned to nobody

[2018-01-31 21:12] eddyerburgh commented on #395
Thanks for the bug report 😀

We trigger events using the `dispatchEvent` method. This [doesn't respect disabled elements](https://bugs.chromium.org/p/chromium/issues/detail?id=243199), as you found out.

To fix this, we'll need to add a check inside the trigger method.

[2018-01-31 23:25] jamesoshea commented on #395
I'd be happy to put in a PR! Thanks to yourself and everyone behind this library, it's been a lifesaver :smile:

[2018-02-01 06:02] eddyerburgh commented on #395
Thanks, a PR be great 😀

[2018-02-01 12:48] lusarz opened #398 "[Help wanted] Fetch data in 'created'"
### Version
1.0.0-beta.11

### Reproduction link
[https://github.com/lusarz/vue-test-utils/commit/95b5c61e329e04f04cf48b0826c801f3c5b73b00](https://github.com/lusarz/vue-test-utils/commit/95b5c61e329e04f04cf48b0826c801f3c5b73b00)

### Steps to reproduce
In our application we fetch some data from server:

    created () {
      TestUtils
        .fetchData()
        .then(data => {
          this.d

[2018-02-01 13:16] dvic opened #399 "'find did not return Component' since beta.9 for jest example"
### Version
1.0.0-beta.11

### Reproduction link
[https://codesandbox.io/s/3ypyovl7ym](https://codesandbox.io/s/3ypyovl7ym)

### Steps to reproduce
- `git clone https://github.com/vuejs/vue-test-utils-jest-example.git`
- `npm install --save-dev vue-test-utils@1.0.0-beta.9` (also occurs with `beta.11`)
- `npm install`
- `npm run test`

### What is expected?
All tests pass.

### What is actually hap

[2018-02-01 13:51] lusarz commented on #399
After short investigation I think that key information may be that `Message` component is functional:
https://github.com/vuejs/vue-test-utils-jest-example/blob/8445f03efd7d6070dab568e07620004c8bdd9fe6/src/components/Message.js

[2018-02-01 14:10] dvic commented on #296
@eddyerburgh this is still not working (since `beta.9`) for the Jest example, see #399

[2018-02-01 14:11] dvic commented on #399
Ah yes, that is probably it. I commented on #296 that the issue is probably still not solved.

[2018-02-01 14:15] dvic commented on #296
I notice that the example in #399 uses `shallow` with functional components that have `props`, might this be causing an issue that previously has not been addressed?

[2018-02-02 07:38] eddyerburgh commented on #296
@dvic thanks for the info, I think the issue will be shallow

[2018-02-02 07:42] mtdpcs opened #401 "Cannot read property 'params' of undefined when i use 'const encodeParams = Vue.url.params;'"
I use 'const encodeParams = Vue.url.params'; in a js file  and import this js in MgHeader .vue file.
then i unit MgHeader .vue   it throws errors  Cannot read property 'params' of undefined

what should i do to avoid this?

[2018-02-02 07:42] #401 closed, assigned to nobody

[2018-02-02 07:51] eddyerburgh commented on #398
You need to wait in your tests until the pending resolved promise is flushed. Adding a `setTimeout` flushes pending promises:

[code]

Closing, as this isn't a bug with vue-test-utils.

[2018-02-02 07:51] #398 closed, assigned to nobody

[2018-02-02 11:27] jonnyparris commented on #331
@LinusBorg 'Complicated' computed variables in my case are fairly simple methods but they can rely on a fairly long chain of dependencies on other computed variables. Testing them separately would be overkill.

It's not clear how the original concern of setComputed providing a permanent mock is not addressed by clear docs as opposed to removing it completely. It seems like there's only downsides t

[2018-02-02 11:46] jonnyparris opened #402 "wrapper.setProps doesn't work on Functional component"
### Version
1.0.0-beta.11

### Reproduction link
[https://github.com/jonnyparris/vue-test-utils-mocha-webpack-example/blob/e2e634e4640ce40180b957b4feab51076b77a780/test/Message.spec.js#L19](https://github.com/jonnyparris/vue-test-utils-mocha-webpack-example/blob/e2e634e4640ce40180b957b4feab51076b77a780/test/Message.spec.js#L19)

### Steps to reproduce
use setData() as per docs

### What is expecte

[2018-02-02 13:22] tbsvttr commented on #73
Same problem here with vue-class-component & vue-property-decoratorafter updating to TS 2.7.1 from 2.6.2. Wired thing is that it works sometimes and sometimes it does not. For example if I remove a @Mutation (even if not used) or change its typing (to a more correct one!) toe .html() of the wrapper becomes empty?!

[2018-02-02 16:40] karlitos opened #405 "Click event not triggered on component with @click.native"
### Version
1.0.0-beta.11

### Reproduction link
[https://codesandbox.io/s/3kqlp1p1rq](https://codesandbox.io/s/3kqlp1p1rq)

### Steps to reproduce
Add an `@click.native="myMethod()" ` to an component.

Create a test where you mount this component:
[code]

Try to trigger an click event on this component.
[code]

### What is expected?
myMethod is being called

### What is actually happening?
myMeth

[2018-02-02 17:08] kellym commented on #353
I got this same error while testing. Did you ever find a solution?

[2018-02-02 17:55] kellym opened #406 "Install issue when VueRouter is already used on Vue"
### Version
1.0.0-beta.11

### Reproduction link
[https://codesandbox.io/s/p7x5mqkx2q](https://codesandbox.io/s/p7x5mqkx2q)

### Steps to reproduce
This likely applies to other libraries, but when VueRouter is already installed on Vue (i.e `Vue.use(VueRouter)`) and then subsequently used with localVue, it errs with
[code]

### What is expected?
No error.

### What is actually happening?
[code]

--

[2018-02-02 17:56] kellym commented on #353
Added a "valid" issue with steps to reproduce. Temporary solution there, too:
https://github.com/vuejs/vue-test-utils/issues/406

[2018-02-02 17:58] kellym commented on #406
As another reference, this is happening when testing with webpack (and a shall-remain-unnamed other old framework), likely due to the fact that the package is initializing the main app with VueRouter installed, etc.

[2018-02-02 18:23] LinusBorg commented on #406
Well that doesn't sound like something that should be done in a unit test.

[2018-02-02 19:15] kellym commented on #406
That's not a very classy response to a verified bug of which I spent an hour or more isolating and "formatting" for your issue bot. There should not be an error in using `createLocalVue` when `Vue.use` is called in the same file.

[2018-02-02 21:24] eddyerburgh commented on #406
Thanks for the bug report.

We could definitely improve how we handle multiple installs. I'll look into what we should do.

We actually have some code meant to address the issue with vue-router specifically—https://github.com/vuejs/vue-test-utils/blob/dev/src/create-local-vue.js#L35. I'll look into why it's not working and possible solutions.

[2018-02-02 21:27] LinusBorg commented on #406
I'm sorry that my answer what a bit short and snappy, I apologize.

My reply was not meant as an answer or rejection of your issue, but merely as an observation of a bad pattern in general. You are loading a file that can have, and in this instance does have a global side effect on your unit tests. You are starting your whole app within your unit tests, which is not a good idea.

The error message

[2018-02-02 21:33] kellym commented on #406
Thanks for looking into it. It's definitely a bad pattern, and one that we're still dealing with due to our transition off Angular.

I've been playing around with the code you referenced, @eddyerburgh, and have yet to find a clean solution.  What's strange is that VueRouter even seems to try to verify that Vue is the same Vue that the router was previously installed to...

I'll try to do some more

[2018-02-02 22:13] kellym commented on #406
Here's the culprit in core vuejs:
https://github.com/vuejs/vue/blob/049f3171a9d2e97f62c209a4b78a71ec9dae810f/src/core/global-api/use.js#L8

This commit fixes the issue for me, although I really dislike these things being so dependent on Vue's internals:
https://github.com/kellym/vue-test-utils/commit/961912c925601f28dd0e16e54046d271be20d837#diff-4dcb7576e72c067fba6def9222025466R35

Interestingly e

[2018-02-03 01:25] mtdpcs opened #407 "use with vue-resource throw error"
### Version
1.0.0-beta.11

### Reproduction link
[https://github.com/mtdpcs/vue-test-util-ex](https://github.com/mtdpcs/vue-test-util-ex)

### Steps to reproduce
1. git clone https://github.com/mtdpcs/vue-test-util-ex.git
2. cd vue-test-util-ex npm install
3. npm run test

### What is expected?
unit passed

### What is actually happening?
Cannot read property 'params' of undefined

---
in this pro

[2018-02-03 01:27] mtdpcs commented on #407
at App.vue i add this code
`  import Vue from 'vue';
  import VueResource from 'vue-resource';
  Vue.use(VueResource);
  let encodeParams = Vue.url.params;`
then 'npm run test'  the unit passed

[2018-02-03 09:03] eddyerburgh commented on #73
Are you able to provide a minimal reproduction @tbsvttr ? I've tried to reproduce with TypeScript and in plain JavaScript and have been unsuccessful. Once I have a reproduction (a GitHub repository that shows the bug) I can add a fix for it 😀.

[2018-02-03 09:14] eddyerburgh commented on #406
Great find @kellym 🙂. Are you able to make a PR?

[2018-02-03 09:22] eddyerburgh commented on #407
Thanks for the report, unfortunately this isn't a problem we can fix.

As you found, installing VueResource with `Vue.use` in the component before you access `Vue.url.params` solves the issue. This is because you are accessing the property on the Vue constructor, so the Vue constructor needs to have the plugin installed, otherwise it will try to access a property on an undefined value.

localVue i

[2018-02-03 09:22] #407 closed, assigned to nobody

[2018-02-03 13:08] mtdpcs commented on #407
how can i solve this problem? pleasre give me some help

[2018-02-03 14:09] eddyerburgh commented on #407
You could refactor your component to access the property from the component instance:
[code]

And use a localVue that has VueResource installed, like you are in the test

[2018-02-03 16:01] eddyerburgh commented on #402
There isn't any data in a functional component, so you calling `setData` will have no effect. We should add error handling to tell the user that they can't call setData on a functional component.

But there is an issue with `setProps` and functional components. It's going to be tricky to fix.

[2018-02-03 21:09] #399 closed, assigned to nobody

[2018-02-03 21:54] eddyerburgh commented on #393
The problem with doing a deep clone is that we wouldn't be able to use stubs passed in propsData 🤔

[2018-02-03 23:05] orels1 opened #410 "Automatically stub nested components with their names instead of `<!---->`"
### What problem does this feature solve?
In my workflow it is a pretty common use case to have a unit test that checks if some nested component is being rendered conditionally.

For example i have a component with a template like this (I use pug for templating, just so there won't be any confusion):

[code]

And I want to have a unit test that makes sure that `MyCustomComponent` is only rendered

[2018-02-04 04:03] kellym commented on #406
Sure can, I'll try to submit one tomorrow.

[2018-02-04 08:30] Skwai commented on #73
Also occurring for me :(

Getting `undefined` on my component

[2018-02-04 09:02] eddyerburgh commented on #73
Can someone please provide a GitHub repository with a reproduction.

I've tried to reproduce this issue three times but been unable, I'd like to get this fixed but can't fix until I have an example where it's not working!

[2018-02-04 09:11] eddyerburgh commented on #410
This is a great idea! We could make it an option, and also have it as an option you can set in the config, so you only need to set it once:

[code]

Would you like to add a PR? I'm happy to if you're not able to

By the way, are you aware you can check a component has been rendered with shallow?

[code]

This is sort of a clone of #28. When we add this feature, we can close #28

[2018-02-04 09:21] orels1 commented on #410
Sadly, I have too much on my hands atm to make a PR.

I was unaware that you can check if a component is included that way, but I think the text stubs will still help when you’re debugging stuff (logging out wrapper.html()) and it will make it a generally more streamlined experience.

Thanks for a quick response! :)

[2018-02-05 00:41] ross2411 commented on #312
Sorry been slow to respond. We're using vuetify and suspect the problems lies there too

[2018-02-05 02:25] mtdpcs commented on #407
i install the vue-resource in config.js and use(vueResource) and improt config.js in main.js
`import Vue from 'vue'
import VueResource from 'vue-resource';
Vue.use(VueResource);`

and in App.spec.js i create loacalVue and use(VueResource)  too.
`import { shallow, createLocalVue } from 'vue-test-utils'
import VueResource from 'vue-resource';
import App from '../src/App'

const localVue = createLoca

[2018-02-05 03:39] Skwai commented on #73
I'm getting `undefined` on Vue components in this branch of mine (if you run `yarn unit`). By no means minimal. Could also be that I've screwed up the jest/vue/typescript configuration... although the typescript unit tests (not .vue) work fine...

https://github.com/Skwai/bitext/tree/typescript-vue

If there was a definitive guide to using the following together that'd be great, as I was trying to

[2018-02-05 06:15] eddyerburgh commented on #407
Sorry, but from the reproduction you posted, this isn't a bug we're going to fix. If you have any more questions, please create a StackOverflow answer, or use the Vue discord channel. The issue tracker is reserved for bugs and feature requests

[2018-02-05 08:32] ktsn commented on #255
Just following up @blake-newman's explanation, `wrapper.vm` is typed as `Vue` because TypeScript cannot know the component type in `.vue` files - we usually annotate them like this to avoid compilation error https://github.com/Microsoft/TypeScript-Vue-Starter#single-file-components. If the components are written in normal `.ts` file, `wrapper.vm` should be inferred correctly.

[Vetur](https://gith

[2018-02-05 19:58] jfnadeau commented on #240
mount is working fine for me but shallow does not work. If I use a find by name selector (wrapper.find({ name: 'xyz' }), it works as expected. I'm using class components too.

[2018-02-05 20:36] #406 closed, assigned to nobody

[2018-02-05 20:37] eddyerburgh commented on #240
This is a

[2018-02-05 23:08] TheJaredWilcurt opened #412 "VTU thinks mutations/actions are undefined."
### Version
1.0.0-beta.11

### Reproduction link
[https://codesandbox.io/s/k31v0lw3o](https://codesandbox.io/s/k31v0lw3o)

### Steps to reproduce
1. `npm install -g vue-cli`
1. `npm init webpack vuextest` (hit enter for every question)
1. `cd vuextest`
1. `npm run unit` (1 of 1 tests ran/passed)
1. `npm install --save vuex`
1. Change `vuextest/src/main.js` to
[code]
1. Create a folder `vuextest/sr

[2018-02-06 01:56] MrJoeXu commented on #330
What happen to computed style after the removal? The `wrapper.element.style` seems can only access inline styles. Does the `window.getComputedStyle` applies anywhere?

[2018-02-06 04:45] Skwai commented on #73
It looks like vue-cli 3.x scaffolding seems to fix this issue. I might rebase my project off that

[2018-02-06 07:56] tbsvttr commented on #73
@Skwai Do you know _how_ vue-cli is fixing this issue?

[2018-02-06 08:21] Prior99 commented on #369
I cannot see how this can be closed with the related jsdom issue. This does not only affect SVGs but also transitions as mentioned above.

[2018-02-06 08:26] cristijora commented on #369
@Prior99  Indeed transitions are also affected but didn't dig too deep into it to get an exact answer why that happens.

[2018-02-06 08:31] Prior99 commented on #369
@cristijora is it somehow possible to stub the transitions to have a working workaround except for downgrading to jest 21 until a fix in jsdom or vue-test-utils has been published?

[2018-02-06 12:25] cristijora commented on #369
@Prior99 I didn't spend too much time on that and left my deps to jest 21

[2018-02-06 12:29] jfnadeau commented on #240
Another problem I found:

let button = wrapper.find({ name: 'xyz' });

expect(button.exists()).toEqual(true); -- OK
console.log(button.props()); -- EMPTY, but it should not be! It is working fine with mount() instead of shallow()

[2018-02-06 13:32] Toilal commented on #330
`window.getComputedStyle` is not always available (NodeJS/Jest).

[2018-02-06 13:38] jfnadeau commented on #240
FYI, this function does not work:

function getCoreProperties(component) {
    return {
        attrs: component.attrs,
        name: component.name,
        on: component.on,
        key: component.key,
        ref: component.ref,
        props: component.props,
        domProps: component.domProps,
        class: component.class,
        staticClass: component.staticClass,
        staticStyle: c

[2018-02-06 19:49] TheJaredWilcurt opened #413 "VTU not handling the end of transitions"
### Version
1.0.0-beta.11

### Reproduction link
[https://codesandbox.io/s/k31v0lw3o](https://codesandbox.io/s/k31v0lw3o)

### Steps to reproduce
1. `npm install -g vue-cli`
1. `npm init webpack animtest` (hit enter for every question)
1. `cd animtest`
1. `npm install --save-dev @vue/test-utils`
1. `npm run unit` (1 of 1 tests ran/passed)
1. Change `animtest\src\components\HelloWorld.vue` to
[code

[2018-02-06 21:50] eddyerburgh commented on #412
Hi, thanks for the steps to reproduce, but this isn't an issue. The store object doesn't contain an actions or mutations property—https://github.com/vuejs/vuex/blob/dev/types/index.d.ts#L8/

Regarding the reproduction. I appreciate that it's not trivial to create a reproduction in JSFiddle for vue-test-utils. I've created an issue in the vue-issue-helper to include a link in the helper—https://git

[2018-02-06 21:50] #412 closed, assigned to nobody

[2018-02-07 10:25] FernandoBasso commented on #323
I think @eddyerburgh's  explanation should be added to the docs. The docs talk about installing the router on localVue, about mocking, but it doesn't say anything about the fact that we can't use both (perhaps it is obvious, but it wasn't for me).

I am in a situation where I installed VueRouter on localVue, but I also need to tell the component that I am in a certain route with certain parameters

[2018-02-07 14:07] TheJaredWilcurt commented on #412
oh yeah, you're right. because if there was a `store.mutations` then people would run `store.mutations.myfunc()` instead of `store.commit('myfunc')`. That makes sense.

[2018-02-07 20:46] nemtsov commented on #146
@Austio thank you for working on this and making this library awesome!

If you're waiting for this, here's one workaround:

[code]

[2018-02-07 23:06] anandrikka commented on #353
@kellym Yes, I made a mistake of keeping `Vue.use(xxxx)` inside my router file. I'm not supposed to do that when I'm planning to inject the router file directly into my test file. So I moved all the `Vue.use(xxx)` statements to main.js file. It solved the issue

[2018-02-08 13:27] 38elements commented on #337
IMHO,
I think supporting mounted Vue instance is not necessary.
The Vue instance used in Laravel or Ruby on Rails does not have template option.
It uses inside element of the element mounted by it as template.
The HTML element mounted by the Vue instance exists on template file like blade or erb.
The template for test is used in test.
I think that it will be resolved, as follows.

vue-instance.js

[2018-02-08 16:40] jonnyparris commented on #402
MessageToggle.vue has a data object - I'm not sure I understand what you mean. Please can you explain?
To clarify on my side, I have a bunch of tests that were working fine using setData that suddenly stop working withe the latest version.
I just forked that example from the docs to both verify it was that method in particular but also to use a minimal example.

[2018-02-08 21:14] Hubsonn commented on #345
Use asynchronous behaviour testing.

[code]

Works fine for me.
[code]

[2018-02-10 00:23] robodude commented on #145
I have a 'composition' component that subscribes and re-emits certain events. Ideally I was hoping I could do something like this

[code]

[2018-02-10 11:34] eddyerburgh commented on #73
I still aren't able to reproduce this issue. There have been some updates that mean VueClassComponents are stubbed correctly by `shallow` in beta-11. This might be why your tests that were previously rendering text aren't any more.

I'm going to close this issue, as I've added tests for `shallow` and `mount` using vue-class-component. If anyone can provide a minimal reproduction of the original is

[2018-02-10 11:34] #73 closed

[2018-02-10 12:28] #240 closed

[2018-02-10 12:36] eddyerburgh commented on #405
The problem is that v-card isn't registered as a component. That means there's no DOM node for the event to be added to. You can fix this in two ways:

With `mount`, by installing Vuetify to register the component:

[code]

With `shallow`, by passing a stub:

[code]

[2018-02-10 12:36] #405 closed, assigned to nobody

[2018-02-10 12:45] eddyerburgh commented on #323
@FernandoBasso Unfortunately, the only way to solve this problem is to create a fresh localVue and not install VueRouter on it.

If you need to use the RouterLink, or RouterView components, you can use the `stubs` option to pass in stubs. vue-test-utils includes a RouterLinkStub component:

[code]

I've added a note to the docs to help future readers avoid the issue you were having 😀

[2018-02-10 13:13] eddyerburgh commented on #402
You're calling `setData` on the wrapper of a functional component. Functional components are stateless, so there's no `data` to set.

If the tests were previously working correctly with setData, it was because setData was behaving incorrectly.

[2018-02-11 10:05] #413 closed, assigned to nobody

[2018-02-11 10:41] #395 closed, assigned to nobody

[2018-02-11 11:53] eddyerburgh commented on #85
I'm closing this. There doesn't appear to be a big demand for this feature, and it's possible to achieve the behavior by passing custom stubs:

[code]

[2018-02-11 11:53] #85 closed

[2018-02-11 20:59] PerpetualWar commented on #172
what about Karma + Jasmine setup ?

[2018-02-11 21:23] eddyerburgh commented on #172
If you're using webpack to compile, then components with external templates should be compiled correctly

[2018-02-12 03:10] stwilz commented on #83
I've just been dealing with a similar problem and didn't want to hack around it using timeout's (`nextTick` also didn't work). I fixed this by exposing the promise in my components data and referencing it in my test.
**form.js**
[code]
**form.test.js**
[code]

[2018-02-12 09:00] lenvonsam opened #426 "jest test nuxt vuex destructuring unexpected token"
test result screenshot
![image](https://user-images.githubusercontent.com/10168476/36089199-99bcca3e-1015-11e8-94cb-30f13d4818b4.png)

test spec file
![image](https://user-images.githubusercontent.com/10168476/36089244-d090dbd6-1015-11e8-8cfe-01e61810905c.png)

i have added babel-jest and added .babelrc config
how to solve this problem

[2018-02-12 09:00] #426 closed, assigned to nobody

[2018-02-12 09:05] eddyerburgh commented on #426
You need to use the spread operator plugin for babel—https://babeljs.io/docs/plugins/transform-object-rest-spread/

[2018-02-12 10:30] wagerfield opened #427 "Testing server side code"
### What problem does this feature solve?

This feature would solve the problem of testing Vue components in a server-side/node environment.

In cases where custom components, directives, mixins etc. need to perform different branches of logic depending on the environment in which they are run (_browser_ or _node_) there is no way of testing the _node_ branches currently.

Vue provides an `$isServ

[2018-02-12 12:06] jonnyparris commented on #402
Thanks & my bad, I thought I was testing MessageToggle but actually it was just the Message component that wrote the spec for.
Adding the same setData spec to MessageToggle passes with beta11 but the prop test that was already in the repo is indeed failing.

I'm going to have to double check my original failing setData tests then :confused:

[2018-02-12 13:52] mikejamesli commented on #255
I have recently started writing Vue unit tests using Jest + Typescript + Vue test utils, however i'm facing an issue where passing in my component object into the shallow function appears differently when using vue with typescript.

I believe the reason is because it's using the default constructor of vue (vue-shims.d.ts) and not the typed component. As explained by @ktsn.

Is there a way to pass

[2018-02-14 16:45] phanan opened #431 "Docs refer to old test-utils package"
Original reported by @amochohan [here](https://github.com/vuejs/vuejs.org/issues/1417).

---

The Vue test utils documentation ([testing SFC with Jest](https://vue-test-utils.vuejs.org/en/guides/testing-SFCs-with-jest.html)) refers to the following command:

[code]

which is the non-scoped package, resulting in the following warning.

[code]

[2018-02-14 16:46] phanan commented on #431
Closing as the issue has been fixed in `dev`.

[2018-02-14 16:46] #431 closed, assigned to nobody

[2018-02-15 02:01] Skwai commented on #73
@tbsvttr It looks like it abstracts it away to a `vue-cli-service` which must do some "magic"

[2018-02-15 09:40] vwxyutarooo opened #432 "TypeScript: typing error with props and attributes"
### Version
1.0.0-beta.11

### Reproduction link
[https://github.com/vwxyutarooo/vue-test-utils/blob/dev/types/test/wrapper.ts#L19](https://github.com/vwxyutarooo/vue-test-utils/blob/dev/types/test/wrapper.ts#L19)

### Steps to reproduce
Use `wrapper.props().checked` or `wrapper.attributes().foo` in TypeScript.

### What is expected?
`interface BaseWrapper` issue.

### What is actually happening?

[2018-02-15 09:45] vwxyutarooo commented on #432
I'm trying to fix it.

[https://github.com/vwxyutarooo/vue-test-utils/blob/dev/types/index.d.ts#L52](https://github.com/vwxyutarooo/vue-test-utils/blob/dev/types/index.d.ts#L52)

[2018-02-15 10:59] kazupon commented on #432
@vwxyutarooo You can send PR :)

[2018-02-15 11:43] tbsvttr commented on #73
@Skwai Thank you very much for the hint. I even found out what the "magic" is. _vue-cli-service_ uses **vue-jest**, but I used _jest-vue-preprocessor_ before. After I replaced the first with the latter one everything is working for me.

[2018-02-15 14:52] vwxyutarooo commented on #432
@kazupon Thanks, I've create it!

[2018-02-16 10:42] orels1 commented on #410
Actually, I think I'll look into it. Have some more time this week. Shouldn't be that complicated

[2018-02-16 18:32] tbsvttr commented on #300
@robcresswell How did you solve the problem? I have the same problem, but for me it works in every context, but not the test. If I remove my code within "created" or "mounted" it works in test, but the functionality is broken.

[2018-02-16 19:11] husayt commented on #397
We have the following problem. Has this been resolved?

[2018-02-18 07:21] eddyerburgh commented on #397
Not yet, no —https://github.com/vuejs/vue-test-utils/issues/427

[2018-02-18 08:09] eddyerburgh commented on #427
There's two problems here.

First, `mount` and `shallow` create DOM nodes, so they need a DOM environment. Instead, we could create a render function which would be a wrapper around 'vue-server-renderer' `renderToString`. This would return a string of the output, which you could load in cheerio to assert against.

Second, we should be able to mock `$isServer`. This might require a change to the co

[2018-02-20 13:35] Prior99 opened #436 "`isVisible()` is not a function"
### Version
1.0.0-beta.11

### Reproduction link
[https://codesandbox.io/s/mo2r2y6j09](https://codesandbox.io/s/mo2r2y6j09)

### Steps to reproduce
Use the function `isVisible()` according to [the documentation](https://vue-test-utils.vuejs.org/en/api/wrapper/isVisible.html).

### What is expected?
The test utilities check whether an element in the wrapper is visible.

### What is actually happeni

[2018-02-20 14:30] 38elements commented on #436
#425 will resolve this.

[2018-02-20 18:53] eddyerburgh commented on #436
This is fixed in beta.12

[2018-02-20 18:53] #436 closed, assigned to nobody

[2018-02-20 18:53] #432 closed, assigned to nobody

[2018-02-21 14:07] dennythecoder opened #437 "Documentation: API Chai Examples Incorrect"
### Version
1.0.0-beta.12

### Reproduction link
[https://vue-test-utils.vuejs.org/en/api/mount.html](https://vue-test-utils.vuejs.org/en/api/mount.html)

### Steps to reproduce
Example shows

[code]

### What is expected?
Based upon Chai API, example would have:

`expect(wrapper.contains('div')).to.be.true`

### What is actually happening?
Example shows

`expect(wrapper.contains('div')).toBe(true

[2018-02-21 17:41] eddyerburgh commented on #437
The docs should use Jest as an example.

Would anyone like to make a PR replacing chai examples with Jest?

[2018-02-21 17:49] dennythecoder commented on #437
I can do it.

[2018-02-22 06:35] #437 closed, assigned to nobody

[2018-02-22 12:47] leopku commented on #330
@eddyerburgh Sorry for reply so late.
After reading the code carefully, It seems words after the sentence -- `Use wrapper.element.style instead` already done the same thing.

If there still some thing need to be done, just let me know:)

[2018-02-22 13:32] eddyerburgh opened #440 "Remove vue-server-renderer as a peer dependency"
### What problem does this feature solve?
renderToString was added in beta.12 , which uses vue-server-renderer.

I don't expect many users will call this method, as it's intended use is for testing server side code. Adding it as a peer dependency will warn users that they need to install it, even though they probably won't use the `renderToString` method.

### What does the proposed API look like?

[2018-02-22 15:18] lmiller1990 commented on #440
Seems reasonable to me.

[2018-02-22 20:42] timoschwarzer commented on #440
This breaks compatibility with tests that utilize webpack, too. For example with mocha-webpack:

![image](https://user-images.githubusercontent.com/8849554/36563059-3c8760fc-1819-11e8-9224-31d4589a90c5.png)

[2018-02-23 06:49] eddyerburgh commented on #440
@timoschwarzer A temporary workaround is to add this to your webpack config:

[code]
See https://github.com/webpack-contrib/css-loader/issues/447

This isn't a great solution, and we shouldn't force users to add extra config. My suggestion of checking the package ourselves won't solve this problem.

We could split vue-test-utils into two packages, vue-test-utils and vue-test-utils-server 🤔

[2018-02-23 06:55] lusarz commented on #345
@eddyerburgh Are you working on that or can I try to investigate and implement it ?

[2018-02-23 07:10] eddyerburgh commented on #345
I'm not working on it, it would be great if you could investigate it 😀

[2018-02-23 09:08] lusarz commented on #345
Didn't find solution (yet), but have a few thoughts - any input about them is welcome:
1) `element.selected` vs `element.checked` - according to [HTMLInputElement documentation](https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement) checked should be used - although it doesn't fix issue

2) I'm not sure if it's good practice to modify `element` directly. Inside `vue-test-utils` specs I

[2018-02-23 10:24] Prior99 commented on #283
This is causing a lot of trouble in our project. What exactly is the reasoning of calling all watchers on every update? Even if the underlying values did not change? This is not reflected behaviour of a real-world Vue application. Is it possible to trigger an event without all watchers being called and influencing how the component behaves?

[2018-02-23 10:45] blocka commented on #283
Also came across this recently....perfectly good test that fails while
works great in real life

On Feb 23, 2018 12:24 PM, "Frederick Gnodtke" <notifications@github.com>
wrote:

[2018-02-23 10:47] Prior99 commented on #283
I think this should be reverted, or at least configurable. This especially makes it near impossible to test anything using https://github.com/sagalbot/vue-select

[2018-02-23 10:47] Prior99 commented on #283
@blocka Perhaps one of us should open an issue for this?

[2018-02-23 10:58] blocka commented on #283
I would...just having trouble coming up with a minimal failure case

On Feb 23, 2018 12:47 PM, "Frederick Gnodtke" <notifications@github.com>
wrote:

[2018-02-23 14:40] lmiller1990 commented on #440
I thought about this a bit more. Is there any merit to removing/splitting?

[2018-02-23 15:11] eddyerburgh commented on #440
It would mean people could bundle with webpack without having to add extra config, and it would solve the peer dependency issue

[2018-02-24 06:13] lmiller1990 commented on #440
Can't people bundle with webpack either way? Maybe I don't fully understand this part.

Considering both packages are maintained by the Vue core team, is it so bad to have a peer dependency? I understand it's better not to have them, though.