[2019-05-10 19:07] eddyerburgh commented on #1202
Can someone provide a GitHub reproduction of the issue?

[2019-05-10 19:09] eddyerburgh commented on #1218
The intention of foot-stub is to improve snapshot tests

It's not in the docs explicitly, so that's something we could improve. If you would like to create a PR adding the information to the docs it would be appreciated 😄

[2019-05-10 19:10] eddyerburgh commented on #1220
Yes definitely, would you like to make a PR adding it?

[2019-05-10 19:59] garyo commented on #1163
Done -- #1231.

[2019-05-11 06:47] #1223 closed, assigned to nobody

[2019-05-12 01:10] AlexZhong22c commented on #929
Problem has been resolved. I'm using beta.28. I just want to know why we should using `setMethods` update the instance?

In the code example above, why don't `wrapper.find('.unread-messages').trigger('click')` share the same instance?

This is not a issue, its just a question @eddyerburgh

[2019-05-12 03:16] AlexZhong22c commented on #929
https://github.com/vuejs/vue-test-utils/issues/983#issuecomment-425468635

Why we need to re render the component after stubing a components methods?

Stub replace the Object reference and Vue is not reactive to the change of Object, which is similar to  the princeple for normal Object defined as Vue data.

Is my assumption right?

[2019-05-13 07:47] raphael-jolimoi commented on #1202
I was importing vue-router indirectly in a dependency, that's what was causing the conflict when vue-test-utils was trying to mock $route.

Once I removed that dependency, everything worked as it should.

[2019-05-13 09:12] Qvatra opened #1232 "vue-test-utils can not resolve PascalCase names of components"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/bootstrap-vue/bootstrap-vue/issues/3270](https://github.com/bootstrap-vue/bootstrap-vue/issues/3270)

### Steps to reproduce
Access a bootstrap-vue component by name: wrapper.find({ name: 'bFormRadioGroup' }).
bootstrap-vue version v2.0.0-rc.19

### What is expected?
wrapper of the element should be returned

### What is actually

[2019-05-13 10:04] Mighty683 commented on #1140
I also occured this bug when watch for prop change after call `setProps` watcher isn't called

[2019-05-15 06:35] dhddev commented on #936
Is there any update regarding the status of this bug please?

[2019-05-15 12:14] andrewshramko opened #1233 "Can't processed axios call"
### Version
vue: 2.6.10
nuxt: 2.6.3
vue/test-utils: 1.0.0-beta.27
jest: 23.6.0
axios: 0.18.0
### Reproduction

myComponent.vue
[code]
test.spec.js
[code]
package.json
[code]

### What is expected?
Redirect to 'about' page after axios call

### What is actually happening?
Expected mock function to have been called, but it was not called

[2019-05-15 12:14] #1233 closed, assigned to nobody

[2019-05-15 20:42] TheJaredWilcurt commented on #1147
Please see: https://github.com/eddyerburgh/jest-serializer-vue/issues/13

[2019-05-15 21:49] TheJaredWilcurt opened #1234 "Proposal: Official way of targeting elements"
### What problem does this feature solve?

Currently there are several ways of targeting elements demonstrated in the docs (good). But people are confused as what the "best practice" would be and how to remove test tokens from their code in snapshots and production builds.

### What does the proposed API look like?

* **Template/HTML:**
  * Pick an official `data-` attribute for use. Something lik

[2019-05-15 22:11] TheJaredWilcurt commented on #1234
**Notes on** `data-test` **naming:**
* I originally wanted to go with `data-test-id` but that didn't make sense with `.findAll` since ID would imply uniqueness.
* From what I could find online most people are already using `data-test`.

I also think `v-test="pageTitle"` could work as well, but would cause confusion:
* All other directives use JS expressions, so it would need to be `v-test="'pageTi

[2019-05-18 14:06] #1147 closed, assigned to nobody

[2019-05-19 20:51] TheJaredWilcurt opened #1235 "Cannot run repo locally without yarn - BLOCKING CONTRIBUTIONS"
### Version
`dev` branch

### Reproduction link
[https://github.com/vuejs/vue-test-utils/blob/dev/.github/CONTRIBUTING.md](https://github.com/vuejs/vue-test-utils/blob/dev/.github/CONTRIBUTING.md)

### Steps to reproduce
On a computer with the latest Node and npm versions installed, and **without** Yarn installed, attempt to run the repo locally following the Contributor Guideline instructions.

#

[2019-05-19 20:55] TheJaredWilcurt commented on #1235
I wanted to make a PR to add in `wrapper.find({ test: 'pageTitle' })` to be part of this proposal https://github.com/vuejs/vue-test-utils/issues/1234. But after 40 minutes of fighting with this repo I gave up. I feel as though, if the repo was set up like every other repo I've ever dealt with in the last 5 years and only required a `npm install && npm start` I probably could have implemented the c

[2019-05-20 11:15] ghost opened #1236 "Support cleaning up wrappers automagically"
### What problem does this feature solve?

Currently it is necessary to call `wrapper.destroy()` / `wrapper.vm.$destroy()` manually. Forgetting to do so may result in difficult to track down side effects and performance degradation (especially when not mocking Vuex).

### What does the proposed API look like?

Introduce a new `enableAutoDestroy()`  helper which accepts a hook function such as [`af

[2019-05-21 07:51] xyyVee commented on #271
same question about test $refs from `element-ui` `form` component:
[code]
Here is my part code of test:
[code]
I want to test if `wrapper.emmitted`, but jest throw an error about
[code]
still not familar with `vue-test-utils`, anyone can help? thanks in advance.

[2019-05-21 16:00] gplusdotgr opened #1239 "Unable to trigger custom event"
### Version
1.0.0-beta.29

### Reproduction link
[http://no-link](http://no-link)
pasting code instead:
[code]

[code]

### Steps to reproduce
I used .trigger to trigger an 'input' event for a custom child component I am testing. I need to pass a payload with an array of integers. (or just one integer). Do I use .trigger or wrapper.vm.$emit ? How can I debug this?

### What is expected?
I used .tr

[2019-05-21 16:05] winniehell commented on #1236
@eddyerburgh I am interested in implementing this. Would you accept a pull request? :smiley:

[2019-05-22 07:00] eddyerburgh commented on #1236
Yep 😄

[2019-05-22 15:28] alexanderstudte opened #1241 "Can't test props on child component when it's the root element"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/alexanderstudte/propsdatatest](https://github.com/alexanderstudte/propsdatatest)

### Steps to reproduce
run the unit test as is -> test fails.
add empty `<div>` around the `<Panel>` in HelloWorld.vue and run the test again -> test  successful

### What is expected?
I should be able to test the props from the child component if i

[2019-05-22 16:21] winniehell commented on #1236
As I realized from @souldzin's comment on the pull request (https://github.com/vuejs/vue-test-utils/pull/1240#issuecomment-494851349), the API proposed here does not work. For a hook like `afterEach` we want to make sure it is only called exactly once. I'm not sure how we would ensure that when passing it as an config option.

Instead we could provide an `enableAutoDestroy()` function that accepts

[2019-05-22 17:36] winniehell commented on #1236
I have updated the description now with the new suggested API and will create a new pull request tomorrow.

[2019-05-23 09:41] JFGHT commented on #829
I'm still having this very same issue with: `vue@2.6.10`, `@vue/test-utils@1.0.0-beta.29` and `vee-validate@2.2.7`.

`sync:false` supresses the error.

[2019-05-23 10:12] MatteoGiacomo commented on #11
@eddyerburgh

just a quick question.
I can't find documentation on testing dynamic component.

What do you suggest ?

https://codesandbox.io/embed/vue-template-h1luw

[2019-05-23 15:15] omeryousaf commented on #83
wondering if including `import 'babel-polyfill';` would help in @chlab 's case. 🤔

[2019-05-23 16:12] sobolevn commented on #1130
So, how can this be fixed?

[code]

Gives me an error:

[code]

I am using `"@vue/test-utils": "^1.0.0-beta.29",`

[2019-05-24 16:57] ArmorDarks commented on #994
@eddyerburgh Thanks, however, was it really fixed? I'm still observing the same issue when using `vue-class-component`

[2019-05-25 23:36] a-kriya opened #1242 "Error when installing directly from GitHub (requesting a new release build)"
### Version
1.0.0-beta.29

### Steps to reproduce
In need of some bug fixes that are not in the currently published version, but running the following command to pull directly from GitHub results in an error:

`npm i -D github:vuejs/vue-test-utils`

### What is expected?
Package installs from dev branch.

### What is actually happening?
npm ERR! Can't install github:vuejs/vue-test-utils#99336c44c9

[2019-05-26 10:46] xxholly32 opened #1243 "how can i add a component instance in `slots`"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/xx-helloworld/jest-helloworld/blob/master/packages/inject-test/__test__/inject.test.js](https://github.com/xx-helloworld/jest-helloworld/blob/master/packages/inject-test/__test__/inject.test.js)

### Steps to reproduce
[code]

### What is expected?
i want correct when i use child. or tell me how can i add a component instance in

[2019-05-27 08:50] yoerriwalstra commented on #31
@eddyerburgh I know I'm late to the discussion, but I believe the method for testing if a stubbed component has been passed the correct prop deserves a small recap. Do you agree with my implementation to test the value of a `to` prop on a `router-link` element?

[code]

[2019-05-27 11:21] aze3ma commented on #1011
I have the same error throws also, I just tried to change this line
from =>
[code]
to =>
[code]
just added `.js` extension to `babel-jest` it works.

[2019-05-28 07:45] xxholly32 commented on #1243
[code]

i figure it out. it can user function h. 😄

[2019-05-28 07:45] #1243 closed, assigned to nobody

[2019-05-28 16:11] dcshiman commented on #148
if you are want to mock the component on used in vue router you can use
[code]
useful when testing props pass to components via router

[2019-05-28 18:05] slushnys commented on #1011
Followed the steps to add jest to vue-cli 3 with its plugin for jest, however i can't seem to run my environment with this or any other setup as well for some reason. Works when I create a new vue project through cli-3 tho 🤷‍♂

[2019-05-28 20:39] wtho commented on #148
@dcshiman this issue was never about mocking a whole component, only about mocking a single lifecycle hook inside a component (in this case mount)

[2019-05-29 03:06] feitiange commented on #936
well, but now is there a easy way to override jsdom-global options,I need url like 'http://localhost?a=1&b=2#hash'

[2019-05-29 04:04] jpenna commented on #165
The mocha-webpack docs are not clear on how to use it with vue-cli. It has a `webpack.config-test.js`, but we have to set it up using `vue.config.js`. I tried the following below, but didn't work.

I am getting all sorts of errors, depending on the configuration of nyc, the loader.. Would be nice to have a adaptation on how to do it with vue-cli.

[code]

[code]

[code]

[2019-05-29 04:26] jpenna commented on #165
There is also this question on Stack Overflow: https://stackoverflow.com/questions/53782097/generating-nyc-coverage-report-for-vuejs-project-with-vue-cli-plugin-unit-mocha

Basically the same issue.

[2019-05-29 12:55] gerahimanshu opened #1246 "Input Value Change on keydown event"
Hi, I am writing a test case where i need to update input value using keydown event but i am unable to change the input value. Follwing is my code for the same. Please help! @eddyerburgh

import { Component } from 'vue';
import Vuex from 'vuex';
import { createLocalVue, shallowMount } from '@vue/test-utils';
import numericOnly from '@/directives/input-numeric-only';

const localVue = createLocalVu

[2019-05-29 12:56] #1246 closed, assigned to nobody

[2019-05-30 09:16] cleverboy32 commented on #1130
@sobolevn have you resoved ? and how ?

[2019-05-30 09:25] sobolevn commented on #1130
Nope, I have just ignored it for now. Hopefully I can ignore this case.
But, this is 100% required to be fixed.

[2019-05-30 23:03] winniehell commented on #1135
I started working on this in https://github.com/vuejs/vue-test-utils/pull/1248.

[2019-05-31 03:44] ThomasRalee commented on #975
Is this issue on the roadmap?

[2019-05-31 10:17] winniehell commented on #1224
In https://github.com/vuejs/vue-test-utils/pull/1245#discussion_r289268663, @souldzin suggested using an `EventEmitter` to hook into `Wrapper` creation. A Vue instance as event hub (described [here](https://vuejs.org/v2/guide/migration.html#dispatch-and-broadcast-replaced)) would serve the same purpose.

We could then do the following:

[code]

or alternatively:

[code]

@eddyerburgh What do you t

[2019-06-01 12:25] sobolevn commented on #1130
Now I cannot ignore it anymore. @eddyerburgh what should I do?

[2019-06-01 12:29] danielelkington commented on #1130
@sobolevn When we had this issue we downgraded to 1.0.0-beta.28 where this issue doesn't seem to occur. We're waiting for the next release when sync mode will be removed and there will be some sort of migration guide - we plan to migrate our tests out of sync mode then.

[2019-06-01 12:50] sobolevn commented on #1130
It solves this issue, but I now have new ones. In other words: nope, it does not work for me.

Anyway, @danielelkington, thanks for the suggestion! 👍

[2019-06-02 10:02] Samuelfaure opened #1250 ".text() reacting to carriage return in HTML code ?"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/etalab/entreprise.data.gouv.fr.git](https://github.com/etalab/entreprise.data.gouv.fr.git)

### Steps to reproduce
Sorry, the reproduction is not minimal, the build seems necessary.

0/ git clone reproduction folder,

Go to commit: `git checkout 64c7f97e674fa21665a5bb39ff1bb56f37e21a4c`

run `npm install`,

run `npm run test:unit

[2019-06-03 01:48] cleverboy32 commented on #1130
@danielelkington  its works for me and thanks

[2019-06-03 05:59] jpenna opened #1252 "Clear/Reset emitted events"
### What problem does this feature solve?
When building a component and checking for the events emitted by this component we use `component.emitted('eventX')[0]` and do the tests. On the next test, we build the component again and use the same assertion.

When the component is more complex, it would be better to just reset the emitted event instead of rebuilding the component. This is common behav

[2019-06-03 12:54] dcrystalj commented on #891
not sure but both tickets (this and linked) are closed, without resolution

[2019-06-04 13:33] sbenyoub-accor commented on #993
nop :/

[2019-06-05 00:36] sevillaarvin commented on #919
I've used this solution before, but it doesn't seem to work now. On further inspection I noted the following:

[code]

I can't emit the click event because vm is undefined. I assume it is because it is a `functional` component. How can I emit an event on functional components? Or is it even possible?

~~Or maybe isFunctionalComponent is a result of the stubbing process? I will have to check.~~
Her

[2019-06-06 12:39] wspringer opened #1253 "setValue triggering `"ReferenceError: $set is not defined"`"
### Version
1.0.0-beta.29

### Reproduction link
[https://circleci.com/gh/wspringer/vue-autoextra/4](https://circleci.com/gh/wspringer/vue-autoextra/4)

### Steps to reproduce
Note that even though the test claim to be succesful, they are not.

My component is using scoped slots. If I'm setting a value on an input that has an associated model, then the first bit of `setValue` — setting the element

[2019-06-06 13:42] HunorMarton commented on #34
If you define your components simply as an object:
[code]

Then you save yourself a lot of trouble:
[code]

[2019-06-06 17:03] wspringer commented on #1253
Okay, this more self-contained test also fails with the same error about `$set` not being defined.

[code]

[2019-06-07 20:26] winniehell opened #1254 "Jasmine / Jest matchers"
### What problem does this feature solve?
Custom matchers help to make tests more readable and can provide easier to understand error messages.

### What does the proposed API look like?
Instead of

[code]

use

[code]

for example. After https://github.com/vuejs/vue-test-utils/issues/1135 is resolved, this could provide the selector in the error message if the assertion fails.

---

Documenting t

[2019-06-07 20:29] winniehell commented on #1254
@eddyerburgh Do you think custom matchers for common test frameworks (Jasmine and Jest?) could be a package inside vue-test-utils? This would ensure the matchers are always compatible with the latest version of the library.

[2019-06-07 22:43] adi3230 commented on #1095
hey @azui007  it would be great if you share your knowledge about how you have solved the problem as it would help others

[2019-06-08 08:30] liaoliaojun opened #1255 "Error "v-model $emit('input')" not change parent computed setter"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/LIAOTOW/repro-vue-test-utils-computed_v-model](https://github.com/LIAOTOW/repro-vue-test-utils-computed_v-model)

### Steps to reproduce
git clone -b setprops-watcher https://github.com/LIAOTOW/repro-vue-test-utils-computed_v-model.git

### What is expected?
console.log(xxx)

### What is actually happening?
error

---
To make the

[2019-06-10 09:58] tkesgar opened #1256 "vue SFC template coverage"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/tkesgar/vue-jest-test-coverage](https://github.com/tkesgar/vue-jest-test-coverage)

### Steps to reproduce
The repro is a project created using @vue/cli with a component to be tested and its unit test. For coverage, I added babel-plugin-istanbul and nyc as described [here](https://github.com/vuejs/vue-cli/issues/1363#issuecomment

[2019-06-12 10:39] m4ss1m0g commented on #829
Similar error with `shallowMount`

Solved with `sync: false`

[2019-06-12 12:48] bviala commented on #319
In my case I had an issue due to my vue router `scrollBehaviour` property.
Above solution did not work, instead I had to add this before the mounts:
[code]

[2019-06-12 12:50] dietergeerts commented on #1137
What a mess, release notes are telling lies then.... I had to update the test-utils, and now I'm getting all sorts of errors on tests that where succeeding before. There is something really wrong with the DOM updates when ran with test-utils. Are there other things I can check to resolve these issues?

[2019-06-12 12:54] ghost commented on #1137
@dietergeerts I don't see this mentioned in the release notes. 🤔

It probably helps to create a new issue with reproduction steps and the error message.

[2019-06-12 12:57] dietergeerts commented on #1137
https://github.com/vuejs/vue-test-utils/releases/tag/v1.0.0-beta.29

It's very confusing

[2019-06-12 13:01] ghost commented on #1137
@eddyerburgh I agree with @dietergeerts that this entry in the release notes could have some clarification. It reads as if `Use Vue async mode` is handled by this issue while it is actually https://github.com/vuejs/vue-test-utils/pull/1062.

[2019-06-12 13:04] dietergeerts commented on #1137
Just to keep you guys up-to-date: When reverting to `beta.28`, all my problems are resolved.
The issue I had was that certain test cases where failing because other test cases where included in the run, for no apparent reason. it's very strange. We always use `createLocalVue` to have each test really isolated.

By using the test utils, are there any connection on global level?

[2019-06-13 14:31] Restage commented on #1255
We discovered the same issue today. Changing a property does not trigger computation of related computed properties.

[2019-06-14 11:00] nlochschmidt opened #1258 "Router ignores stubs provided to mount"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/nlochschmidt/vue-router-test-utils-bug](https://github.com/nlochschmidt/vue-router-test-utils-bug)

### Steps to reproduce
I attempted to test the properties that are passed to a component that is created by my router. I was following the examples from the docs but didn't want to fully mount the component in question because of i

[2019-06-14 19:07] fsblemos commented on #1130
@sobolevn `sync: false` solved for me https://github.com/vuejs/vue-test-utils/issues/1130#issuecomment-460558486

[2019-06-15 12:53] peerhenry commented on #1011
I had the same problem with a vanilla project using Vue cli `3.8.4`. I was able to fix it by changing
[code]
to
[code]
Credits go to Samuel Pouyt's [article on medium](https://medium.com/@samuelpouyt/how-to-solve-vue-error-with-jest-e8e9ff7d0cec).

Side note: the jest config is *not* missing the instruction for `.js` files: the regex says `.jsx?`. The question mark indicates zero or one occurrence

[2019-06-18 09:13] RamirezET opened #1259 "为什么组件一定要提供method，才会纳入测试报告里"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/RamirezET/test-jest-utils](https://github.com/RamirezET/test-jest-utils)

![微信图片_20190618171513](https://user-images.githubusercontent.com/7698302/59669386-b23a8600-91ec-11e9-9185-6fc954329b5f.png)

### Steps to reproduce
写了个简单的UI组件，没有交互，只需要展示一些数据，
进行单元测试后发现该组件并没有纳入测试报告，经过反复测试，当在method里提供一个方法，毫无意义的都可以，不去调用，都可以，测试报告里就有这个组件了。

###

[2019-06-18 14:24] strutcode opened #1260 "Stubs don't behave correctly with augmented options"
### Version
1.0.0-beta.29

### Reproduction link
[https://codepen.io/strutcode/pen/YoGXeW?editors=0010](https://codepen.io/strutcode/pen/YoGXeW?editors=0010)

### Steps to reproduce
View the console output

### What is expected?
In the console:
[code]

The global mixin should be called with the original component's options

### What is actually happening?
In the console:
[code]

The mixin is calle

[2019-06-19 14:48] fallemand commented on #975
@briwa Can you reopen this issue? Since the PR that was going to fix it is closed.
Thanks!

[2019-06-19 14:53] manonrichou opened #1261 "new slot syntax template can't be accessed in shallowMount"
### Version
1.0.0-beta.29

### Reproduction link
[https://codesandbox.io/embed/vue-template-dr6i7?fontsize=14&previewwindow=tests](https://codesandbox.io/embed/vue-template-dr6i7?fontsize=14&previewwindow=tests)

### Steps to reproduce
Run the two tests in the link. The one pointing to the old syntax's slot will pass, the one pointing to the new slot's syntax won't.

### What is expected?
Template

[2019-06-20 10:30] georgwittberger commented on #1130
I was facing a similar error message recently when I used the `pagination.sync` prop on a [Vuetify Data Table](https://vuetifyjs.com/en/components/data-tables#external-sorting):

[code]

I suppose that the `sync` modifier caused this problem because before I used this special prop of the data table all unit tests ran successfully even with version 1.0.0-beta.29 of Vue Test Utils.

As a workaround

[2019-06-21 00:22] dmattia opened #1262 "parentComponent does not provide values"
### Version
1.0.0-beta.29

### Reproduction link
[https://gist.github.com/dmattia/5b99dc2584ec8241f84b30b5476b6ff3](https://gist.github.com/dmattia/5b99dc2584ec8241f84b30b5476b6ff3)

### Steps to reproduce
Run the linked test. The first two tests pass as expected, but the third test fails because: `Injection "val" not found`

### What is expected?
I would expect that using a parentComponent would

[2019-06-24 14:08] salvadordiaz commented on #1258
We have a mixed ts/js project and we only recently started to write unit tests in ts (before that we had some in js). All tests are written using mocha/chai and run through mocha-webpack.

What I've found is that mocks, stubs, and other shallowMount/mount options seem to be ignored if I write my tests in typescript, but not if I write them in javascript, even if the components themselves are writt

[2019-06-25 19:36] potench commented on #631
I believe this happens when you call an async method defined in your Vue component from your tests.

[2019-06-25 20:14] ffxsam commented on #330
This throws an error in TypeScript. In TS unit tests, this is the working syntax:

[code]

[2019-06-26 11:45] rprater commented on #957
Does anyone know the current status of this issue, I have gotten the same error when using Vuetify's v-text-field component.

[2019-06-27 12:48] ghost commented on #1239
older issue on the topic: https://github.com/vuejs/vue-test-utils/issues/145

[2019-06-28 01:47] pipopotamasu commented on #246
@eddyerburgh I really enjoy using vue-test-utils and am looking forward to release!

However, I am not sure [two blockers](https://github.com/vuejs/vue-test-utils/issues/246#issuecomment-433444909) causes and solutions so I want to clarify them.

## Improve support for extended components

### Cause
You mean below.

In my understanding...

[code]

Is it correct?

### Solution
You are trying to sol

[2019-06-28 11:27] gplusdotgr commented on #1185
I am just now using `.destroy()` on a wrapper with attachToDocument: true, and when I check for a DOM elemen it's still there.  @eddyerburgh any clue?
The component is a classic OPTIONS API component.

[2019-06-28 14:36] gplusdotgr opened #1264 "Stubbing methods in combination with setMethods doesn't work as expected"
### Version
1.0.0-beta.29

### Reproduction link
[https://codesandbox.io/s/vue-template-yq43f](https://codesandbox.io/s/vue-template-yq43f)

### Steps to reproduce
1) Create a stub and pass it to as Component method (using setMethods()) .
2) in your testcase, trigger the event that will trigger the method (I use the vue-events package)
3) add a console.log in your component's event to know when it

[2019-06-28 14:42] gplusdotgr opened #1265 "Destroying vm doesn't remove DOM elements"
### Version
1.0.0-beta.29

### Reproduction link
[https://codesandbox.io/s/vue-template-yq43f](https://codesandbox.io/s/vue-template-yq43f)

### Steps to reproduce
Try to assert that a DOM element is there after wrapper.destroy(); in a Component using the Options API.

### What is expected?
The element is not there

### What is actually happening?
The element is there

[2019-06-29 04:56] #1259 closed, assigned to nobody

[2019-06-29 05:15] mikinovation opened #1266 "There is no Japanese translation of attachToDocument"
I want to improve the Japanese document.
https://github.com/vuejs/vue-test-utils/blob/dev/docs/api/options.md#attachtodocument

There is no traslation of "When attaching to the DOM, you should call wrapper.destroy() at the end of your test to remove the rendered elements from the document and destroy the component instance"

Could I translate it?

[2019-06-29 05:15] #1266 closed, assigned to nobody

[2019-06-29 05:28] mikinovation opened #1267 "There is no translation of attachToDocument in Japanese document"
### What problem does this feature solve?
I want to improve the Japanese document.
https://github.com/vuejs/vue-test-utils/blob/dev/docs/api/options.md#attachtodocument

There is no traslation of "When attaching to the DOM, you should call wrapper.destroy() at the end of your test to remove the rendered elements from the document and destroy the component instance"

We can't understand it. Could I

[2019-06-29 05:42] mikinovation commented on #1267
I guess It's better to append wrapper.destroy() to example code.
What do you think?

[2019-07-01 11:06] kotanagasruthi commented on #829
I am Getting "TypeError: Cannot read property '_transitionClasses' of undefined" this error while I am using JSON.parse(JSON.stringify(obj)) for a deep copy...! i tried {sync: false} and it is giving some other error..help me out!! Thankyou

[2019-07-01 17:04] kahirokunn commented on #1192
I got same error.
And then I tried fix as per this document.
https://jestjs.io/docs/en/24.0/configuration#testenvironment-string

[code]

My test got all green.

[2019-07-01 17:08] kahirokunn commented on #1192
if you do this, you can remove jsdom package from your package.json.
jest contains jsdom.

[2019-07-02 16:29] winniehell commented on #1224
@eddyerburgh If the above approach makes sense to you, I would be happy to come up with a pull request to unblock https://github.com/vuejs/vue-test-utils/issues/1236.

[2019-07-02 20:40] Seminioni commented on #1137
Bad news fellows..
Today I updated `vue`, `vue-template-compiler` and `@vue/test-utils` tills the latest versions and got into situation where bound values (declared data property) within templates didn't update. Did anyone stumble upon with this?

[2019-07-03 14:02] krskibin commented on #271
@XiaYuYing I have the same problem with element-ui, any ideas?

[2019-07-05 02:30] juniorgarcia commented on #266
I think I'm passing through a similar issue by now. In my case I'm using [Choices](https://github.com/jshjohnson/Choices) as a third party component and Jest as test runner.

[Here](https://jsfiddle.net/juniorgarcia/f30hyjd5/) is a JSFiddle as an example.

Here is my test:

[code]

This only test case above does not work..

For some reason, when I change the value through the `choicesInstance` it

[2019-07-05 11:22] syzer commented on #271
@krskibin I had same problem with **element-ui**..
I encourage you to use proper framework like:
[vuiefy](https://vuetifyjs.com/en/)

Example workarounds might be:

1. Just use e2e test with cypress, or
2. in code of your component
[code]
Option 2 is how bad testing practices can destroy codebase...
So I would choose Option1.

[2019-07-07 14:20] nayucolony commented on #919
I think this problem is not solved. could you reopen ?

[2019-07-07 14:27] nayucolony commented on #919
in my case, I use `@click.native` Instead of `@click` it works.

[2019-07-07 17:48] bbsteventill opened #1269 "emitted does not work"
### Version
1.0.0-beta.29

### Reproduction link
[https://jsfiddle.net/79cLyqv2/](https://jsfiddle.net/79cLyqv2/)

### Steps to reproduce
have a component with something like this
[code]
your test is
wrapper.find('#test').trigger('click')
expect(wrapper.emitted().test.length).to.eql(1)

this fails BUT
[code]
WORKS

### What is expected?
the click event should be added to the emitted event stack

#

[2019-07-09 09:19] nothingismagick opened #1271 "Pug Vue named template slot Istanbul fails to build coverage with Jest"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/quasarframework/quasar-testing/issues/87](https://github.com/quasarframework/quasar-testing/issues/87)

### Steps to reproduce
With a very simple example of using a named slot Istanbul coverage within Jest fails:

[code]

### Stacktrace
[code]

### Fix 1
[code]

Adding the `=""` seems to be good enough for Istanbul not to complai

[2019-07-11 03:49] Hquestion commented on #108
When use 'computed' function to deal with v-model,  setData will not work.
Think about the example below:

[code]

How can I set the computed 'data' with setData  ? So I do need the setModel method.

[2019-07-11 06:58] anthonygore opened #1272 "Some stubbed Vuetify components can't be found with `find` wrapper method"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/anthonygore/vuetify-test](https://github.com/anthonygore/vuetify-test)

### Steps to reproduce
npm i
npm run test:unit

### What is expected?
All tests should pass

### What is actually happening?
The second test fails as the VTextField component can't be found.

* * *

I don't know if this is a Vuetify issue or a Vue Test Utils

[2019-07-11 12:07] lmiller1990 commented on #1272
Hey @anthonygore , This is likely something to do with the fact `VTextField` extends from `VInput`, as shown [here](https://github.com/vuetifyjs/vuetify/blob/6f32c6439a4c789ac992794f5d514db6fec4a5fc/packages/vuetify/src/components/VTextField/VTextField.js#L27) in the source code for Vuetify.

Iirc if you pass a component to `find` it will match against the prototype, and in this case `VTextField.p

[2019-07-11 12:11] lmiller1990 opened #1273 "Feature idea: `pretty` print for `html()`"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/vuejs/test-utils](https://github.com/vuejs/test-utils)

### Steps to reproduce
I think it would be nice to be able to pretty-print the output of `html`. The API could be:

[code]

I find the `html` feature is super useful for debugging project that I am new to, or teaching other people about testing. At the moment we import anoth

[2019-07-11 12:26] anthonygore commented on #1272
Hey @lmiller1990, I tried your solution and it doesn't work. But, I think you're onto something with the `extends` thing. It seems that all the Vuetify components that don't work with `find` do extend another component. That gives me a lead to keep researching. Thanks!

[2019-07-11 16:37] scniro commented on #481
Can anyone share context of why the first solution was removed? I find this cleaner...

[code]

Anyways, using the above suggestion for now indeed works well

[2019-07-11 23:20] lmiller1990 commented on #1272
Interesting. I recently got asked to help out with a Vuetify project that has `vue-test-utils` in it, so I'll have a hack this weekend and see if I can figure this out (likely I will run into this soon as well).

[2019-07-12 00:51] anthonygore commented on #1272
Champion, thank you.

[2019-07-12 08:40] lmiller1990 commented on #1272
Happens to `v-list-tile-title` too: https://github.com/vuetifyjs/vuetify/blob/6f32c6439a4c789ac992794f5d514db6fec4a5fc/packages/vuetify/src/components/VList/index.ts#L12

There is currently _no_ way to `find` a functional component - I doubt this will change.

[2019-07-12 11:26] xereda opened #1274 "Test coverage report not working"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/xereda/vue-3.0](https://github.com/xereda/vue-3.0)

### Steps to reproduce
Clone repository and execute:

[code]

### What is expected?
Access to coverage reports.

### What is actually happening?
Reports are not being generated.

---
The test coverage report is not working. Terminal details and html report, both are not being ge

[2019-07-13 07:50] anthonygore commented on #1272
Are you sure? `v-icon` [is functional](https://github.com/vuetifyjs/vuetify/blob/6f32c6439a4c789ac992794f5d514db6fec4a5fc/packages/vuetify/src/components/VIcon/VIcon.ts#L147) and I can `find` that one.

[code]

[2019-07-13 08:49] anthonygore commented on #1273
Duplicate of [this](https://github.com/vuejs/vue-test-utils/issues/1147)?

[2019-07-15 10:49] lmiller1990 commented on #1273
So it is - and looks like the idea was approved. Might look into making a PR for this!

[2019-07-15 10:49] #1273 closed, assigned to nobody

[2019-07-15 12:45] lmiller1990 commented on #1272
Hm, I guess that isn't what prevents me finding `v-list-tile-title`.

I wonder what the common thing that prevents `find` from working...

[2019-07-17 06:37] Sumeshkumar opened #1275 "vue-test-utils using vulnerable version of lodash"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/vuejs/vue-test-utils](https://github.com/vuejs/vue-test-utils)

### Steps to reproduce
https://snyk.io/vuln/SNYK-JS-LODASH-73638

### What is expected?
Update to stable version >= 4.17.13

### What is actually happening?
Vulnerable package is using

[2019-07-17 08:52] Djaler commented on #296
This should be reopened

[2019-07-17 11:56] Harzink opened #1276 "The tests code is identical, only the second one receives an error"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/Harzink/vue-test-utils-mount-bug](https://github.com/Harzink/vue-test-utils-mount-bug)

### Steps to reproduce
Clone repo https://github.com/Harzink/vue-test-utils-mount-bug

Run:
yarn install && yarn test:unit

### What is expected?
All components are mounted successfully.

### What is actually happening?
Tests are identicaly, t

[2019-07-17 23:01] Dayna-A commented on #1140
I am having this same issue, has anyone found a successful workaround?

[2019-07-18 09:59] IlCallo commented on #255
Maybe you are interested in this finding https://github.com/vuejs/vue-jest/issues/188
And the corresponding wannabe-guide to setup Vue + TypeScript + Jest https://github.com/quasarframework/quasar-testing/issues/48#issuecomment-507763139

[2019-07-18 18:44] fabiomferreira commented on #1276
Could you post your code here? It will be easier to help. Are you reseting the parameters tested by theses tests, though?

[2019-07-18 18:50] fabiomferreira commented on #1276
Sorry, I haven't seen the repository. What does it log?

[2019-07-18 21:48] thejcannon commented on #1272
I'm having this issue as well in my own library (not using or related to Vuetify).

In my jest setup I use `Vue.component('FooBar', require('.../path/to/FooBar.vue').default)`
In my test I `import 'FooBar' from '.../path/to/FooBar.vue'`
I provide `stubs: {FooBar: true}` in my options when `mount`-ing (not shallow)

Then `wrapper.find(FooBar)` fails, even though I'm using `<foo-bar .../>` in the co

[2019-07-18 21:52] thejcannon commented on #1272
I find it very interesting too that the stub I found is named `foobar` (without the dash!)

[2019-07-18 22:12] thejcannon commented on #1272
I still don't understand why `wrapper.find(VBtn)` works above, but your update makes sense if you look at [the code](https://github.com/vuejs/vue-test-utils/blob/0c07653ddff92fbbc8852256ee99e1c41476e6ab/packages/create-instance/create-instance.js#L55)

When stubbing, `vue-test-utils` uses the component's `components` options. So without providing any `components` (relying on the ones already given

[2019-07-18 23:49] thejcannon commented on #1272
As a workaround before I declare my tests I do:
[code]

And then the stubs work like a charm

EDIT: Looks like I can `find` `FooBar` now (and test it's props), but triggering events isn't working as expected.

[2019-07-19 14:28] JawedHook opened #1277 "Mounted component with import of main.js send "Cannot find element: #app""
Hello !

I have a component which import my api file.
In this API file, I import main.js to execute my mutations in my store by using vm.$store.
And now I have this warning during my tests:

`[Vue warn]: Cannot find element: #app`

I tried to import my store in my API file, but it's even worse, I just get a lot of errors "Cannot read property 'getters' of undefined" from getters not even in my com

[2019-07-19 14:28] #1277 closed, assigned to nobody

[2019-07-19 17:12] thejcannon opened #1278 "Triggering a "click" on a button with type="submit" doesn't fire the "submit" event on the containing form"
### Version
1.0.0-beta.29

### Reproduction link
[https://codesandbox.io/s/vue-template-2txst](https://codesandbox.io/s/vue-template-2txst)

### Steps to reproduce
(I can't seem to get the tests to not fail with "Cannot read property 'Ctor' of undefined")

Once the tests work though, simply running them should outline the bug.

### What is expected?
When I click the "submit" button, the form "subm

[2019-07-19 21:31] germanp commented on #1269
I think trigger is for native DOM events, you should use wrapper.vm.$emit('eventName') to simulate a Vue event.

[2019-07-22 10:02] xavism opened #1279 "shallowMount() behaves like mount() when components are lazy loaded"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/xavism/lazyloading-vue-test-utils](https://github.com/xavism/lazyloading-vue-test-utils)

### Steps to reproduce
$ npm i
$ npm t

Then check the snapshots

### What is expected?
Both snapshots (Parent and ParentLazy) are expected to be the same. shallowMount should stub the child components

### What is actually happening?
Parent

[2019-07-22 10:03] xavism commented on #1279
Duplicate of #959
Reopened

[2019-07-22 19:19] dewalibaidya commented on #319
where do u add Element.prototype.scrollTo = () => {}

[2019-07-22 19:20] dewalibaidya commented on #319
I am facing a similar issue
I am usig let fontSize = this.$el
        .computedStyleMap()
        .get('font-size')
        .toString() in vue file

and in test it says this.$el
        .computedStyleMap is not a function
![Screen Shot 2019-07-22 at 3 20 49 PM](https://user-images.githubusercontent.com/52541754/61658910-628c2600-ac94-11e9-9053-162cce8bda3c.png)

the jest error:
  TypeError: this.$

[2019-07-22 19:28] dewalibaidya opened #1280 "TypeError: this.$el.computedStyleMap is not a function"

[2019-07-22 19:28] #1280 closed, assigned to nobody

[2019-07-22 19:48] dewalibaidya opened #1281 "TypeError: this.$el.computedStyleMap is not a function"
### Version
1.0.0-beta.29

### Reproduction link
[https://jsfiddle.net/dbaidya/7maqgv68/1/](https://jsfiddle.net/dbaidya/7maqgv68/1/)

### Steps to reproduce
Run jest and it shows TypeError: this.$el.computedStyleMap is not a function

### What is expected?
this.$el
        .computedStyleMap()
        .get('font-size')
        .toString()

should pass in jest

### What is actually happening?
this.

[2019-07-23 17:09] dewalibaidya commented on #1281
any update on this issue

[2019-07-25 00:31] ffxsam commented on #271
Weird syntax, no? As this is creating an object, not a Vue component:

[code]

Might work in standard JS, but TS is very unhappy with that. I had to do this in my code:

[code]

[2019-07-28 16:58] FullStackAlex opened #1284 "Outdated guide: "Testing Single-File Components with Mocha + webpack""
Hey Guys,
the current version of the guide requires the use of mocha-webpack, but this package is not maintained anymore and doesn't support Mocha 6. When following the guide as described you don't get the setup up and running. It's quite frustrating when you are new to testing in general and then have to spend hours or even days to unbundle all the information about vue testing out there and just

[2019-07-28 16:58] #1284 closed, assigned to nobody

[2019-07-31 06:54] igor-nabebin opened #1285 "Unable to trigger keydown event with custom keyCode"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/igor-nabebin/vue-test-utils-jest-example](https://github.com/igor-nabebin/vue-test-utils-jest-example)

### Steps to reproduce
1. Clone repo
2. Run "npm install"
3. Run "npm run test"

### What is expected?
A keydown event with keyCode = 65 is fired, test passed.

### What is actually happening?
A keydown event with keyCode = 0 i

[2019-07-31 08:54] zhixinpeng commented on #1000
I have the same problem, I need `componentOptions.tag` to check the component type, but it is `undefined`

[2019-08-01 20:23] justindra commented on #1269
I am having the same issue. So the DOM trigger is actually occurring as I add/remove one of the class names on the wrapper to detect the click trigger. But `wrapper.emitted()` is just an empty object.

[2019-08-01 21:11] ghenry commented on #1011
This isn't helping me. I've got the exact same set up as a brand new vue-cli 3 project.

[2019-08-02 16:51] Cobertos opened #1288 "Using @vue/cli test:unit with require('jsdom-global')() produces "Module not found: 'canvas'""
### Version
1.0.0-beta.29

### Reproduction link
[https://codesandbox.io/s/vue-template-ky6sb](https://codesandbox.io/s/vue-template-ky6sb)

### Steps to reproduce
**I was not able to repro, using jsdom-global in a CodeSandbox doesn't work like it does locally.**

* Setup a new @vue/cli project using mocha
* `require('jsdom-global')();` in the provided `example.spec.js` as referenced in https://vu

[2019-08-02 18:15] marcosnav commented on #1252
I'd like this feature to be implemented, meanwhile I'm doing the following to reset/clear the emitted events:

`component._emitted[event] = []`

[2019-08-02 20:41] JamesMcMahon commented on #974
@eddyerburgh I still see this issue and I am making an assumption that the merge PR you linked to is now released.

Is there anything I need to do specifically to use the functionality you added in the PR? Anything I need to set in my configuration?

Quite possible I am seeing an issue with the same symptom but different cause, but wanted to double check.

I can confirm in my tests that adding

[c

[2019-08-02 21:03] runarberg commented on #1261
Are there any workarounds (other then using the deprecated syntax)?

[2019-08-02 22:06] runarberg commented on #1239
I managed to bypass this limitation by passing the event through in a stub:

[code]

[code]

Note the `stubs` wrapper option. Just set it to any html tag and make sure it passes on which ever event you are testing:

[code]

[2019-08-08 02:33] brmendez commented on #319
My question, exactly.

[2019-08-08 03:03] darrenjennings commented on #319
@brmendez @dewalibaidya. It was already said by @eddyerburgh: "before you mount"

[2019-08-08 07:22] mylmz10 commented on #1000
It seems resolved on reproduction link on the first post. @zhixinpeng could you write version of test util?

[2019-08-08 15:23] fgordillo commented on #1241
It's also failing for me and adding a wrapping div to the component is also making the test pass. In my case, I have a presenter component inside a wrapper component. The wrapper component is listening to the events sent by the presenter component. I'm able to test that the event has been triggered, but the methods bound to the event are never called.

[2019-08-08 19:15] kamok commented on #1130
` sync: false` works. Caution that you need it on every `shallowMount` or `mount` in a single test file. I had `shallowMount` without sync, and then `mount` with sync and still threw an error at the mount instead.

Is there a clean way to ensure that every single shalllowMount calls gets passed `sync: false` without adding it manually?

[2019-08-10 04:05] ghost opened #1291 "run e2e report error, about output filename, can not use chunkhash or contenthash ..."
### Version
1.0.0-beta.29

cli-service 3.10.0

### Reproduction link
the project
[https://github.com/OuyangZq/vue_e2e](https://github.com/OuyangZq/vue_e2e)

### Steps to reproduce
just get my project， install packages and run e2e will show the error！Any other way will pass the cli-service ，but e2e not!

here the vue.config.js, jest.config.js is default

[code]

### What is expected?
Tell my why it

[2019-08-10 07:09] ghost commented on #1291
I foundd the chunkhash's problem is caused by that devServer only accept an object! Why? @yyx990803

many times I need change devServer's options not only port.In my project, I have to start web or electron by auto change devServer options! Might have a solution is create .env[mode] files. But I want to know why devServer been designed only accept object！

[2019-08-11 19:26] eddyerburgh commented on #1242
Sorry for the delay in publishing. A new version will be released soon (The beginning of September at the latest).

This package is a monorepo, and so you can't install the root package directly.

[2019-08-11 19:39] eddyerburgh commented on #1250
Thanks for your question.

This is expected behavior because of how the template is compiled, and how `text` works. `text` just returns the `textContent` of the DOM node. In your example, a DOM node is created with the string `Lorem\n\nipsum` ([see the compiled output here](https://vue-template.egoist.moe/?encoded=DwBwfAUBAyD2BOBTAtlAliAzgV1RYA9OEA%3D%3D)).

[2019-08-11 19:39] #1250 closed, assigned to nobody

[2019-08-11 19:43] #1253 closed, assigned to nobody

[2019-08-11 19:46] eddyerburgh commented on #1254
Maybe they could be included in the future, but for now we should focus on getting v1 released with the current API.

[2019-08-11 19:54] winniehell commented on #1254
@eddyerburgh Would it make sense to you if I develop them in a separate package already that we can then merge after v1 got released?

EDIT: This will not happen as I have stopped using Vue in my projects.

[2019-08-11 19:58] eddyerburgh commented on #1254
Yes that's a good idea

[2019-08-11 20:10] eddyerburgh commented on #1291
Hi, you should open an issue in the [@vue/cli repo](https://github.com/vuejs/vue-cli), rather than in this repo.

[2019-08-11 20:10] #1291 closed, assigned to nobody

[2019-08-12 01:26] zhixinpeng commented on #1000
1.0.0-beta.29

[2019-08-12 11:58] wspringer commented on #1242
That's great news. I'm looking forward to it. Also wondering about the benefits of making this a mono repo. I'm actually fairly okay with depending on revisions of a development time only library. It seems the mono repo approach makes it harder.

[2019-08-14 05:01] xanf opened #1292 "shallowMount does not correctly pass refs for functional components"
### Version
1.0.0-beta.29

### Reproduction link
[https://codesandbox.io/s/shallowmount-functional-refs-test-38fre](https://codesandbox.io/s/shallowmount-functional-refs-test-38fre)

(see tests tab)
### Steps to reproduce
1. Create functional component which passes ref to its direct child
2. Try to shallowMount component, with ref to functional component, created on step 1

### What is expected?
r

[2019-08-14 12:59] ppvy opened #1294 "sorry,babel question? SyntaxError: Unexpected string"
### Version
1.0.0-beta.29

### Reproduction link
[https://codesandbox.io/s/vue-template-rpeji?fontsize=14](https://codesandbox.io/s/vue-template-rpeji?fontsize=14)

### Steps to reproduce
In the home.vue use unit test (jest)

Other js files are referenced

This js file use the Toast component in vantUI

Unfortunately, an exception was thrown

is a problem with import used in functions

Can it only

[2019-08-14 13:22] #1294 closed, assigned to nobody

[2019-08-14 18:37] oladimillion commented on #116
Also had the same issue but was able to fix it with this approach:

[code]

[code]

[code]

[2019-08-14 19:01] tbcorr opened #1295 "Issue with Vue config keyCode aliases and triggering keydown events"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/tbcorr/vue-test-utils-issue](https://github.com/tbcorr/vue-test-utils-issue)

### Steps to reproduce
Run the unit tests and look at the failing tests.

### What is expected?
I would expect keydown event handlers bound to specific keyCode aliases would only be called when the specific key is pressed.

### What is actually happenin

[2019-08-16 07:34] eddyerburgh commented on #1242
The reason it's a monorepo is to create two separate packages that share APIs: the server-test-utils package, and the test-utils package. The test-utils package needs to run in a DOM environment, whereas the server-test-utils needs to run in a node environment.

[2019-08-16 08:08] hiendv commented on #41
Oh snap, I just figured it out how to do it properly. Try this.
[code]

localVue was there for the whole time but I kept trying to mount slots with `createElement`. Damn.

[2019-08-16 10:35] hiendv commented on #402
Ping!

[2019-08-16 19:48] jbibla commented on #1011
@aze3ma's solution worked for me.

@peerhenry — makes sense but somehow didn't solve the issue for us.

Thank you all for your comments!

[2019-08-19 09:55] aholzner commented on #1278
You can trigger submit instead of click.

`submitButton.trigger('submit');` or `wrapper.find('form').trigger('submit')`

[2019-08-19 10:04] aholzner commented on #1269
When you emit an event, the event you are emitting is added as a key and the value is added to the array.

Using Jest
[code]

This test will pass.

[2019-08-19 11:19] mylmz10 commented on #1000
@zhixinpeng sorry it still seems unsolved, you right. The componentOptions.tag is `undefined`

[2019-08-19 13:02] aholzner commented on #1295
This seems to be working with me.
[code]

I also noticed that supplying key code doesn't work.

[2019-08-19 13:07] aholzner commented on #1281
The provided jsfiddle doesn't contain any tests. Could you please provide your tests?

[2019-08-20 13:37] tbcorr commented on #1295
@aholzner thanks for the comment! I modified my tests to to match how you triggered the keydown event and my tests are now passing, which is great!

I guess the issue only manifests when using the vue-test-utils key aliases vs specifying the key in the event options.

[2019-08-20 13:49] aholzner commented on #1295
@tbcorr Awesome! 👍

[2019-08-20 18:34] vvanpo commented on #1137
@markrian Would they not still be able to do that?
[code]
If they don't `await` the trigger, then everything should work as before, no?

[2019-08-20 20:03] markrian commented on #1137
@vvanpo They would still be able to do that, sure. But conceptually, it's mixing two different concepts. The `trigger` method, I would argue, is simply responsible for dispatching events, and (probably) should know nothing about the task queue/tick mechanism. IMO, the two concepts should remain separate, for simplicity.

[2019-08-24 14:40] thejcannon commented on #1278
Well sure, but I'd my test to not make assumptions about the code. For instance, perhaps the submit code happens on a click listener on the button _or_ it happens on the form submission. Either way clicking the button would do the right thing in the production environment, so I want to write my tests in a way that doesn't assume the _how_, just the _what_.

[2019-08-24 15:11] aholzner commented on #1278
@thejcannon Well, based on your code, your are listening to, "submit," event.
[code]
So, I would say finding the button and triggering a submit, would reflect your code. Or you can listen to "click," event if that's what you want. Oh, one thing, If I'm not mistaken, you are not, "clicking" on a button in your tests, you are triggering an event.

[2019-08-24 21:12] a-kriya commented on #1242
Thanks for your response, @eddyerburgh. Come September, it'll have been _seven_ months and _forty_ commits since the current, beta.29's, release. Is there any particular reason for such a long gap b/w this release?

[2019-08-26 17:49] RoboBurned commented on #1169
Have the same issue. propsData does not make inner properties reactive but setProps does.

[2019-08-30 06:52] tomasbjerre commented on #476
I prefer naming methods like:

 * `find(x)` that will search for `x`. It may not find anything, and it is totally expected.
 * `get(x)` that will get `x`. It will always return value of `x` or it will throw exception stating that `x` could not be found.

So I am missing the `get` method here.

See #1298

[2019-08-30 14:40] tomasbjerre opened #1298 "get method on Wrapper"
### What problem does this feature solve?
Sometimes you "look for something" and sometimes you "get something". If you look for something, it may not exists. If you get something, it is an error if it does not exist.

In my test cases I want to use a get method on the wrapper. And get a clear error describing that what I was looking for cannot be found.

### What does the proposed API look like?
I

[2019-08-31 12:52] doutatsu commented on #1130
@kamok Just use a `beforeEach()` and then set new data on top of mounted component (sorry for poor indentation):
[code]

[2019-09-02 16:14] xanf commented on #1140
I found the core reason for that :)

When we have component with watcher for `immediate: true` watcher Vue dependency system will track dependency from our component to parent component, which renders our own one. This effectively means, that as soon as we explicitly set prop on the component with `setProps` - our component will be immediately re-rendered with original props by our parent componen

[2019-09-02 18:39] rndmerle commented on #1140
Nice find!

[2019-09-05 12:20] isnifer commented on #1269
@aholzner nope, it won't work.
@justindra check this, It will work:
[code]

[2019-09-05 13:17] PhiLhoSoft commented on #193
Even simpler: I added the following line (from above) to my `jest.config.js` file, just after the definition of `module.exports`:

`process.env = Object.assign(process.env, { NODE_ICU_DATA: 'node_modules/full-icu' });`

Did that to migrate a relatively large set of unit tests using `toLocaleString` (among other things) from Karma / Jasmine, in an Angular project, thus running Jest from `angular.js

[2019-09-05 19:02] tessaSAC commented on #323
Sorry to tack on to this closed issue, but what was the resolution? I'm trying to mock a query param and test that the param was pushed, and I tried the code samples here as well as examples I found online — they all seem to show how to mock the params or spy on the router but not both.

I've tried asking around online, but the only way our team has been able to make this work is by installing the

[2019-09-06 10:36] Trap-only opened #1302 "import _extends from 'babel-runtime/helpers/extends'"
![image](https://user-images.githubusercontent.com/28778859/64421751-dbc0ca80-d0d4-11e9-80bc-7d67face0b26.png)
"devDependencies": {
    "@vue/test-utils": "^1.0.0-beta.25",
    "autoprefixer": "^7.1.2",
    "axios": "^0.19.0",
    "babel-core": "^6.22.1",
    "babel-eslint": "^8.2.1",
    "babel-helper-vue-jsx-merge-props": "^2.0.3",
    "babel-jest": "^21.2.0",
    "babel-loader": "^7.1.1",
    "

[2019-09-06 10:36] #1302 closed, assigned to nobody

[2019-09-06 14:11] saptaru commented on #975
Do you have an estimate when it this going to be fixed?
Thanks!

[2019-09-06 15:29] BorisAng commented on #929
Hi everyone,

I'm using beta.29 and this problem still seems to persist.

I have the following template

[code]

My tests are:

[code]

The first test passes successfully and it has `searchJobs` mocked inside shallow mounted wrapper like so

[code]

As you can see I, I tried mocking `resetFilter` and running the same test as with `searchJobs` but calling the correct function which didn't work. The

[2019-09-07 06:04] lmiller1990 commented on #929
Hey @BorisAng , can you post the entire test (with how you do `jest.fn`) etc? Or - ideally a repo that I can pull and repro the error would be ideal. The code looks okay, but it's possible something else is incorrect (or there is a bug).

[2019-09-07 11:32] dxvladislavvolkov opened #1303 "Lost additional properties from the component constructor"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/dxvladislavvolkov/vue-test](https://github.com/dxvladislavvolkov/vue-test)

### Steps to reproduce
1. clone https://github.com/dxvladislavvolkov/vue-test

2. npm install

3. npm run test:unit

After it, you can see that this [console.log](https://github.com/dxvladislavvolkov/vue-test/blob/master/src/components/HelloWorld.vue#L11)

[2019-09-08 05:39] #1275 closed, assigned to nobody

[2019-09-08 06:00] eddyerburgh commented on #994
The fix will be included in the next beta release, which will before September 15

[2019-09-08 06:19] eddyerburgh commented on #1284
Thanks for the info, and sorry for the confusion.

This will be fixed in https://github.com/vuejs/vue-test-utils/pull/1097

[2019-09-08 06:23] eddyerburgh commented on #974
Hi @JamesMcMahon, sorry that you're experiencing this issue.

Can you open an issue in the [vue-cli](https://github.com/vuejs/vue-cli) repo. That's the repo where the fix was made to

[2019-09-10 09:46] BorisAng commented on #929
@lmiller1990 here is the test file:

[code]

The ```JobsSearch``` component also uses Vuex and has some actions, so I have mocked these. As you can see, I am mocking ```searchJobs``` and ```resetFilter``` in exactly the same way and then running pretty much the same tests just using the two functions respectively.

[2019-09-11 17:52] Kritten opened #1306 "Tests do fail if Array.flat() is used in *.spec.js or in the application"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/Kritten/vue-utils-error](https://github.com/Kritten/vue-utils-error)

### Steps to reproduce
1. Create a new project with the cli and select "jest" as unit test setup.
2. Insert the statement `[].flat();` in the generated `example.spec.js`.
3. Run the tests.

Or simply use my repo and execute the tests.

### What is expected?
The

[2019-09-12 08:48] eddyerburgh commented on #1306
Your Node version doesn't support `Array.prototype.flat`. Support was added in Node 11. Upgrading to 12 or polyfilling will solve your issue.

[2019-09-12 08:48] #1306 closed, assigned to nobody

[2019-09-12 19:22] chriswa opened #1307 "Named slots' content is not generated for stubbed components via shallowMount"
### What problem does this feature solve?
Higher-order components make use of named slots. It's possible to test higher-order components via shallowMount because named slot content can be mocked, but it's not possible to test components which consume higher-order components because their generated named slot output is not available in the stubbed content.

https://github.com/vuejs/vue-test-utils/p

[2019-09-14 08:20] acacha commented on #1130
@kamok Thanks you comment: "Caution that you need it on every shallowMount or mount in a single test file" helps to me because sync: false  doesn't work to me because I used it only in one mount no in all test mounts/shallowMounts

[2019-09-17 16:12] kspackman commented on #1261
Very interested in this issue, so that we can upgrade our syntax and still be able to test our components.

[2019-09-17 19:16] runarberg commented on #1307
Related to #1261?

[2019-09-17 20:59] chriswa commented on #1307
@runarberg I think this is a different issue. The "old syntax" slots render, but they do not render with any kind of wrapper, so they appear to be in the default slot and it's not possible for a test to confirm whether content was rendered to the correct slot.

[2019-09-19 07:31] DesiredName commented on #1191
Hi! I just came across the same issue.
Here is a link to a test project: [repo](https://github.com/DesiredName/test-utils).
When run test, wrapper contains correct html, but calling *wrapper.find* always returns an empty object

[2019-09-19 07:40] DesiredName opened #1311 "Find is not returning nested elements based on CSS selector"
**Version**
1.0.0-beta.29

**Repro link**
https://github.com/DesiredName/test-utils

**Steps to reproduce**
- run _npm install_
- run _npm run test_

**What is expected?**
Test runs, mounts a component and finds an item via CSS selector

**What is actually happening?**
Wrapper returns an empty object

[2019-09-19 07:40] #1311 closed, assigned to nobody

[2019-09-19 09:35] dxvladislavvolkov commented on #1303
Hi,
Any news?

[2019-09-19 23:05] chriswa commented on #1307
To be clear, to properly test a component, its shallowMount rendering should be something like this:

[code]

Not simply this:

[code]

[2019-09-21 08:39] mistricky commented on #1264
some problem. 🤔

[2019-09-21 18:22] lukaVarga commented on #919
I have a similar issue with `.trigger('click')` not dispatching a click on a `VBtn` in a fully mounted component. So instead of `wrapper.find(selector).trigger('click')` and then asserting that the click called a method, I am dispatching a classic browser click event, eg:
`document.querySelector(selector).dispatchEvent(new Event('click'))`

Doing it this way makes my assertion pass as expected.

[2019-09-25 20:11] brandonburkett commented on #1275
Has this update actually be published? 1.0.0-beta.29 still has the older version of lodash.

[2019-09-27 16:36] chrisnicola commented on #1130
Finding that when running all my mocha tests it appears that any mount call in any test files can trigger this problem. So it looks like I have to go around and add `sync: false` and `await wrapper.vm.$nextTick()` throughout all the tests.

This seems wrong to me. Do I have this right? Is this being addressed in a future version of vue-test-utils?

[2019-09-30 21:16] An-AngryBear commented on #514
I've found that sometimes I have to use an `async` function and call `await` on `setData` and `setProps`

[2019-10-01 04:31] narenderv7 commented on #514
I ended up stubbing it, It worked for me

[2019-10-01 07:19] Djaler commented on #296
@eddyerburgh reopen this please

[2019-10-02 06:52] ChristophWalter commented on #1137
Are there any updates on this? We just had a lot of troubles when testing with Vuetify and finally got the tests stable and independently after disabling the sync mode. This could have saved us a lot of effort...

[2019-10-03 10:46] lee-chase opened #1313 "Testing events when using $listeners"
Given a simple button wrapper component

[code]

I have been unable to test the click event as follows:
[code]

If I change the component to

[code]

[2019-10-03 10:46] #1313 closed, assigned to nobody

[2019-10-03 10:51] lee-chase opened #1314 "Testing events when using $listeners"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/lee-chase/vue-test-utils-listeners](https://github.com/lee-chase/vue-test-utils-listeners)

### Steps to reproduce
Given a simple button wrapper component

[code]

I have been unable to test the click event as follows:
[code]

If I change the component to explicitly handle clicky it works, but this is not desirable for native com

[2019-10-04 16:10] CraigHarley opened #1315 "Limit to number of elements that can be rendered - doesn't error just gives an empty string"
### Version
1.0.0-beta.29

### Reproduction link
[https://codesandbox.io/s/vue-template-vwtwo?fontsize=14](https://codesandbox.io/s/vue-template-vwtwo?fontsize=14)

### Steps to reproduce
On the minimal reproduction, try changing the repeat count to 400 or more.

### What is expected?
The component should be rendered.

### What is actually happening?
An empty string is returned.

---
The limit sho

[2019-10-07 11:23] ryanjwilke commented on #1012
Just checking in on this since it's been a year now. It sounds like this is still an outstanding issue, correct? I keep getting this error when running `yarn test` (using Jest):

[code]

This error is referencing this code inside the component:
[code]

[2019-10-08 10:39] ghost commented on #1130
@chrisnicola Same resolution here, waiting on input from the vue-test-utils team to see if there are any better alternatives, will start dropping sync mode from now on.

[2019-10-08 14:35] nickelaos commented on #929
I have a similar problem. I don't understand why my cancelAlert() method is not called in tests... The strangest thing is that the code inside the function is executed...
![1](https://user-images.githubusercontent.com/21063721/66404857-e206d700-e9f1-11e9-81a6-d1476bafd209.JPG)
![2](https://user-images.githubusercontent.com/21063721/66404873-e7642180-e9f1-11e9-8a9d-5a9fc0b8ac6f.JPG)
![3](https://us

[2019-10-08 15:40] chrisnicola commented on #1130
I'm concerned there has not been much activity since this was reported 8 months ago now. Is testing not a major concern for VueJS? From what I can see there is a lot of focus is on getting 3.0 shipped but there still isn't a solid reliable testing option for Vue yet.

I mean I understand this is still in beta, but I also don't believe there are any alternatives. Avoriaz is no longer in active deve

[2019-10-08 15:43] chrisnicola commented on #1314
Unless I am mistaken I'm don't believe `emitted` works the way you are expecting.

It doesn't detect events emitted by HTML elements. It only works on the component wrapper and detects events that the component itself emits.

[2019-10-08 15:53] nickelaos commented on #929
Why do I have to set a method which already exists in a wrapper instance? @lmiller1990 @eddyerburgh

[2019-10-08 22:29] lmiller1990 commented on #929
@nickelaos What happens if you do `wrapper.vm.$options.methods.cancelAlert`? Not exactly sure why, but that might work. Just doing a `console.log` on `wrapper.vm.cancelAlert` vs `wrapper.vm.$options.methods.cancelAlert`:

`[Function: bound greet]` and `[Function: greet]` respectively. Can you try that? That might help you too, @nickelaos .

[2019-10-09 09:39] nickelaos commented on #929
@lmiller1990 Sorry, I didn't get your point. I can call wrapper.vm.cancelAlert(), and the test passes in this case. But I don't want to call it directly. I want to check if it is called after the button is clicked. It is not. That is the problem.

[2019-10-09 10:50] whoisarpit commented on #946
This seems to still be occurring with `ElTable` as of `element-ui@2.12.0` with `vue@2.6.10`, when you do this following -

[code]

This was resulting in recursive merge problem where  the same objects were being called again and again for merge.

[2019-10-09 13:21] lmiller1990 commented on #929
@nickelaos maybe I misunderstood. You said that you do `jest.spyOn(wrapper.vm, 'cancelAlert')`, then call `shouldHaveBeenCalled()` and it is `false`. I was suggesting you try `spyOn(wrapper.vm.$options.methods, 'cancelAlert')` - although this might be incorrect. I believe Vue saves all methods in an `$options` key under the hood, and if you want to do `spyOn`, you need to spyOn that method, not `v

[2019-10-09 15:10] nickelaos commented on #929
@lmiller1990 Didn't help:
![1](https://user-images.githubusercontent.com/21063721/66494282-134dd880-eac0-11e9-9879-c0ec604e7255.JPG)
![2](https://user-images.githubusercontent.com/21063721/66494300-1943b980-eac0-11e9-82bc-a0c9c850041c.JPG)

[2019-10-09 18:23] arpowers opened #1317 "serverPrefetch makes render functions return "null""
### Version
1.0.0-beta.29

### Reproduction link
[https://cannot-do-this-with-ssr.com](https://cannot-do-this-with-ssr.com)

### Steps to reproduce
1. Import a component that includes the core serverPrefetch property
2. render it
3. the resulting wrapper has HTML/text content of null

### What is expected?
The actual HTML for the component

### What is actually happening?
It returns null

[2019-10-09 19:21] arpowers commented on #1317
The problem is here:

[code]

the serverPrefetch makes the callback take slightly longer, but this returns renderedString before it calls

[2019-10-09 23:20] lmiller1990 commented on #929
Hm, not too sure then... sorry. If you can make a minimal repo, I can try debugging a little more.

[2019-10-11 15:12] viT-1 opened #1319 "How to use vue-test-utils without .vue files?"
I use vue-class-component [without webpack/rollup](https://github.com/viT-1/systemjs-ts-es6-vue) but with ES6 modules on typescript & SystemJS module resolver and standart Microsoft tsc bundler. Where I can find any usage example?

[2019-10-11 15:12] #1319 closed, assigned to nobody

[2019-10-12 09:32] andrewvasilchuk commented on #1285
Encountered the same problem.

[2019-10-14 08:56] RyanHavoc commented on #1198
Is there any progress on this issue? I've just encountered the same problem:

[code]

[2019-10-14 09:38] RyanHavoc commented on #1198
I found a solution. Needed to update my `.bablerc` to include:

[code]

[2019-10-15 10:01] chenxeed commented on #919
I have the same issue as well (in beta.24)

In my component, the child component I'm targetting is a functional component, and so it can't trigger its custom event by using `vm.$emit`.

[code]

[2019-10-15 10:18] viT-1 commented on #1319
Interesting in vue-class-component mounting.
related: https://github.com/vuejs/vue-test-utils/issues/329 and https://github.com/vuejs/vue/issues/8864

[2019-10-15 15:35] viT-1 commented on #1319
[Solved](https://github.com/viT-1/systemjs-ts-es6-vue/commit/8b331d87657af1c0948d552a9be326a20470e238) by [html-loader-jest](https://www.npmjs.com/package/html-loader-jest) and **default export** (check this if you are using 'import/no-default-export': 'error',) from *.ts component file.

[2019-10-15 18:04] micgro42 opened #1321 "'disabled' attribute prevents triggering events on all HTML tags"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/micgro42/vue-test-utils-disabled-bug](https://github.com/micgro42/vue-test-utils-disabled-bug)

### Steps to reproduce
1. check out minimal reproduction repository
2. run `npm install`
3. run `npm run test:unit`

### What is expected?
Test should pass, because the `disabled` attribute on a link (HTML `<a>` tag) is ignored by brow

[2019-10-16 09:34] RichieChoo commented on #1011
Junk experience in vue cli3 unit test with jest.
1.Add jest config by **vue add unit-jest**
2.modified sth and run **npm run test:unit** and passed.
3.How to debugger with **npm run test:unit**
4.use vscode jest debugger (vscode-jest-tests） still throw  SyntaxError: Unexpected token import
and All solutions above I tried But not work
5.
![image](https://user-images.githubusercontent.com/17178139/6

[2019-10-16 23:42] RyanHavoc opened #1322 "Updating provide property isn't updating computed property"
### Version
1.0.0-beta.29

### Steps to reproduce
[code]

Computed property is:

[code]

### What is expected?
I would have expected to be able to change the provided prop and the computed property to have updated to return `Wizard`.

### What is actually happening?
The computed property returns it's original value.

---
Does `setData` and `setProp` do something internally to update state/trigger

[2019-10-17 10:15] BlueBubbleWei opened #1323 "how to know test unit methods about .vue in this project?"
such as resources/components/component-with-vuex.vue
I see  unit test in this file vue-test-utils/test/specs/mounting-options/mocks.spec.js
but it contains unnecessary words in this file,will you think it much twisted? will you pick a unit test file for each .vue?

[2019-10-17 10:15] #1323 closed, assigned to nobody

[2019-10-19 15:05] bugy commented on #1140
@Dayna-A and everyone looking for a workaround,
for me calling the following code worked, after mounting a component:
[code]

I'm initializing the component in
[code]
(please note `async`)

[2019-10-21 07:44] hackel opened #1325 "Set name when stubbing components by string"
### What problem does this feature solve?
When stubbing a child component like:
[code]
It is not possible to find the stubbed component using `wrapper.find({ name: 'StringComponent' })` because it does not have a name.

In my case, I am stubbing an input component, and want to simulate it emitting an event in order to test the response in the parent component.

### What does the proposed API look

[2019-10-21 08:05] xxbld opened #1326 "something wrong slots and scopeSlots ?"
latest @vue/test-utils
[code]

[2019-10-21 08:05] #1326 closed, assigned to nobody

[2019-10-21 08:32] xxbld opened #1327 "something wrong slots and scopeSlots ?"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/vuejs/vue-test-utils/issues/1326](https://github.com/vuejs/vue-test-utils/issues/1326)

### Steps to reproduce
[code]

### What is expected?
$scopedSlots.default ===undefined

### What is actually happening?
$scopedSlots: {default:[Function]}

[2019-10-22 12:36] engmagdy87 opened #1328 "vscode jest with vue-cli intellisense not working"
when I write a wrapper
[code]
then
[code]
the suggested list for wrapper not appear properly like having vm

I have jsconfig.json
[code]

[2019-10-22 12:36] #1328 closed, assigned to nobody

[2019-10-23 11:14] Igor-Dataka commented on #830
Hello,
is this solved?
When I try to use a grandchild component,
which is defined in his father, I get the error saying if the component has been registered correctly.
Thank you,
Regards,

[2019-10-23 14:02] gplusdotgr opened #1329 "Is this library still maintained?"
### What problem does this feature solve?
Latest release on February, many open PRs, issue requests.. It's a core library, and it's getting probably the least amount of attention. How can we build production grade applications without a reliable testing library?

### What does the proposed API look like?
 It's a core library, and it's getting probably the least amount of attention. How can we buil

[2019-10-24 20:40] anipendakur commented on #1279
Hi there,  I was wondering if there's any update on this.. We have the exact same issue.

[2019-10-25 02:28] Robjam opened #1330 "Typescript definition for stubs doesnn't allow false"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/Robjam/vue-test-utils-typescript-example/tree/repro/stub-false-typescript](https://github.com/Robjam/vue-test-utils-typescript-example/tree/repro/stub-false-typescript)

### Steps to reproduce
vue create with unit tests and typescript
in helloworld.spec.ts shallowmount add:

[code]

shallowMount encounters a type error as Stubs t

[2019-10-25 03:44] lmiller1990 commented on #1137
This is quite confusing now - when do we need to do `await`? For _every_ DOM update? I'm having a bit of trouble getting my head around what this change means - see [here](https://github.com/lmiller1990/vue-testing-handbook/issues/124) for an example of some confusion. When using `vue-router`, and doing `router.push`, this will change the DOM (obviously). So should I be doing `await router.push()`

[2019-10-25 10:56] alexmccabe commented on #975
I couldn't get this to work, nothing changes. My error shows there are arrow functions, so I guess that's why.

 Any ideas on when this will be fixed?

[2019-10-25 17:16] lmallika86 opened #1331 "Version 1.0.0-beta.29 issues with vuetify 2"

[2019-10-25 17:16] #1331 closed, assigned to nobody

[2019-10-29 12:04] knky-ru opened #1332 "Wrapper do not render v-dialog (Vuetify)"
Hello, friends!

Already two weeks I'll try to solve a little problem with vue-test-utils and testing of v-dialog component.

Aim: To test proper behaviour of UI.

Chain of Components: CreateProposal -> CreateEditProposal -> List of form fields components.

My test is:

[code]

I expect that after clicking a "Open Address Book" button I can check if modal window appears.

But in fact, I can't do t

[2019-10-29 12:04] #1332 closed, assigned to nobody

[2019-10-29 12:08] knky-ru opened #1333 "Wrapper do not render v-dialog (Vuetify)"
### Version
1.0.0-beta.29

### Reproduction link
[https://forum.vuejs.org/t/how-to-test-ux-of-v-dialog-vuetify-components-which-is-not-appears-in-wrapper/78114](https://forum.vuejs.org/t/how-to-test-ux-of-v-dialog-vuetify-components-which-is-not-appears-in-wrapper/78114)

### Steps to reproduce
Already two weeks I'll try to solve a little problem with vue-test-utils and testing of v-dialog compone

[2019-10-29 15:24] cuixiaorui opened #1335 "stubs is failed when useing render"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/cuixiaorui/test-vue-utils-bug-demo](https://github.com/cuixiaorui/test-vue-utils-bug-demo)

### Steps to reproduce
1. npm i
2. npm run test:unit

### What is expected?
Pass the test in "tests/unit.shape.spec.js"

### What is actually happening?
get a error

TypeError: this.$refs.rect.setRect is not a function

---
Sorry, I can't

[2019-10-30 17:28] AlexanderShushunov opened #1337 "Two independent tests connected via Vuex"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/AlexanderShushunov/test-vuex-error](https://github.com/AlexanderShushunov/test-vuex-error)

### Steps to reproduce
There are two test in repo. They just mount ComponentUnderTest.
For each tests I created a vuex-store.
ComponentUnderTest has a tamplate
[code]
`Init` component has `created` hook, which mutate `flag`.

Run test (`np

[2019-10-31 17:42] ped59430 commented on #929
Same here. Bound method is not called when triggering the click on the button. Data attributes are not updated, etc...
I don't understand as it feels rather straight forward. Is there anything I miss?

[2019-10-31 17:51] ped59430 commented on #929
Upgraded from `3.12.0` to `4.0.5`, but does nothing.
I run inside `docker`, with `node:lts-alpine`.

[2019-11-01 09:41] 8simsim8 commented on #1337
V: 1.0.0-beta.29
The same problem

[2019-11-02 06:24] vvanpo opened #1339 "wrapper.setSelected() triggers a change event even if the option is already selected"
### Version
1.0.0-beta.29

### Reproduction link
[https://codepen.io/vvanpo/pen/MWWroOK](https://codepen.io/vvanpo/pen/MWWroOK)

### Steps to reproduce
1. Mount a component with a `<select>` element.
2. Call `setSelect()` multiple times on one of the select element's options.
3. Observe the `<select>` element wrapper's `emitted('change').length` is equal to the number of times `setSelect()` was ca

[2019-11-02 08:54] vvanpo commented on #1339
I hesitated to open this as a bug, as the documentation _is_ explicit in saying that `trigger('change')` is called every time: https://github.com/vuejs/vue-test-utils/blob/v1.0.0-beta.29/docs/api/wrapper/setSelected.md

However, I believe `setSelected()` is generally used to mimic user interaction, not programmatic interaction. So it follows that `setSelected()` should behave in the same way as a

[2019-11-02 10:35] ped59430 commented on #929
If you shallowMount and if you're button comes from a framework, then it is stubbed and the click action is not accessible.

[2019-11-02 23:27] MuhaddiMu commented on #1011
Try Vue Scaffolding with Nuxt. It comes with optional Jest & AVA Test configuration with single click and it works totally fine from the beginning without manually configuring it

[2019-11-03 07:36] AlexanderShushunov commented on #1337
Seems my issue has the same root with https://github.com/vuejs/vue-test-utils/issues/1130

[2019-11-03 09:14] 8simsim8 commented on #1337
thank

[2019-11-03 21:50] vvanpo commented on #1327
This isn't a `@vue/test-utils` issue, and is descibred in the Vue API documentation: https://vuejs.org/v2/api/#vm-scopedSlots

[2019-11-03 22:20] vvanpo commented on #1327
I don't think this is a problem with `@vue/test-utils`. Try the following, with dependencies only on `Vue`:

[code]

[2019-11-03 23:01] vvanpo commented on #1327
Because you're explicitly passing in a child node (the text `aaa`), even though `Com` does not declare a slot (and hence the text node won't be rendered) the node is still registered in `$slots`.

I believe this is expected behaviour, and not a bug: https://vuejs.org/v2/guide/render-function.html#Basics

Without passed children populating `$slots.default` (and `$scopedSlots.default` by extension),

[2019-11-03 23:20] vvanpo commented on #1337
As the linked issue explains, setting `sync: false` in the mount options will side-step this issue.

I can reproduce this issue without `@vue/test-utils`:

[code]

So the bug clearly lies somewhere in Vue.js' sync behaviour. But as @eddyerburgh mentioned in the linked issue, sync behaviour is going away in both Vue and `@vue/test-utils`, so I imagine this won't get fixed in the meantime.

[2019-11-04 05:07] xxbld commented on #1327
@vvanpo
just `$scopedSlots` wrong  in jest environment;
in bowser everything is ok;

[2019-11-04 05:25] xxbld commented on #1327
bowser this.$scopedSlots.default=undefined
jest this.$scopedSlots.default=function

[2019-11-04 05:35] vvanpo commented on #1327
@xxbld My sandbox example (https://codesandbox.io/s/vue-template-lcunb) contradicts that, it logs the child element's `$slots` and `$scopedSlots` to the console, and they are not undefined. Feel free to fork it and provide a reproduction.

[2019-11-04 07:37] xxbld commented on #1327
thanks for your answer.  it`s my fault.

my code  outdate
[code]

https://vuejs.org/v2/api/#vm-scopedSlots

[2019-11-04 07:37] #1327 closed, assigned to nobody

[2019-11-04 08:31] AlexanderShushunov commented on #1337
@vvanpo , thx for example.
I added it in me repo https://github.com/AlexanderShushunov/test-vuex-error

I think this issue is not actual any more.

[2019-11-04 08:31] #1337 closed, assigned to nobody

[2019-11-05 03:09] andreixk commented on #1030
I'm still getting the same issue - if i trigger submit on the form directly, it works, but triggering click doesn't. There's one difference: i'm using Vuetify framework, so the button is not native HTML, but rather <v-btn> component.

[2019-11-05 14:22] blabuschagne opened #1342 "wrapper.destroy() does not completely destroy the wrapper object"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/blabuschagne/vue-test-utils-destroy](https://github.com/blabuschagne/vue-test-utils-destroy)

### Steps to reproduce
Once cloning the minimal production repo you can simply run the tests and see the expected vs the actual results.

### What is expected?
The expected behaviour would be for the wrapper instance to have been destroy

[2019-11-05 18:30] a-kriya commented on #1242
@eddyerburgh @kazupon Any plans to release anytime soon?

[2019-11-06 10:33] krausweb commented on #1279
As I see in your Github you are using the Jest, lazy load (() => import) and of course NodeJS.

"Jest runs in Node, and thus requires ES modules to be transpiled to CommonJS modules.
If you use dynamic imports (import('some-file.js').then(module => ...)), you need to enable the dynamic-import-node plugin"
See Jest docs https://jestjs.io/docs/en/webpack.html#using-with-webpack-2

**Solution:**
Need

[2019-11-06 11:45] visualjerk commented on #975
As a workaround, you can put `/* istanbul ignore next */` before the function you pass to the prop.

So for your example it would be:

[code]

The downside is, that the function will not be included for the test coverage.

[2019-11-06 14:54] nargeszmn commented on #974
Hi @eddyerburgh . I still see this issue when trying to run my tests.
I am using

- **mocha/chai**, "

- @vue/cli-plugin-unit-mocha": "^**4.0.5**,

- @vue/cli-service": "^**4.0.5** and

- @vue/test-utils": "**1.0.0-beta.29**.

I still don't know how to fix this issue. Can you help me to figure out the source of the problem, and a way to be able to fix it?

[2019-11-06 15:27] alexmccabe commented on #975
My workaround is to just ignore the error in the coverage report and not to run coverage on the CI. It's not a perfect solution but it suffices.

[2019-11-06 16:42] shannonarcher commented on #1000
any news on this issue?

[2019-11-07 06:21] miguelrincon commented on #1279
I face a similar issue when using to dynamic components  <component is="..."> as the components that are set get fully rendered.

Would a fix for this issue cover this use case as well?

[2019-11-07 14:29] rnicholus commented on #1329
Should we consider forking this project and lining up a team of maintainers to continue to evolve that fork? Or is there a viable option that keeps this here without it continuing to decay?

[2019-11-07 14:35] gplusdotgr commented on #1329
Let's. I tried contacting many core members, didn't get any replies. Everyone seems focused on 3.x and the Compose API.

[2019-11-07 18:34] lancetharper commented on #108
@Hquestion I got around this by adding a listener that updates the prop with `setProps` (how v-model works).

Computed prop:
[code]
Unit test mount options:

[code]

[2019-11-07 19:12] winniehell commented on #1329
@yyx990803 @eddyerburgh Can you please comment?

[2019-11-11 12:30] Stoom commented on #1261
What I've found is you need to provide your own stub for the component with slots.  If you do that and add the named slots you care about then they will render in the shallowMount.

[code]

[2019-11-11 12:36] Stoom commented on #1333
Is the v-dialog in a named slot?

[2019-11-12 20:19] runarberg commented on #1261
@Stoom That does not help if you need to test something that is inside a higher order component that uses scoped slots. E.g. in the following example, anything inside `<SomeHigherOrderComponent>` will be stubbed out:

[code]

[2019-11-12 20:22] runarberg commented on #1261
Perhaps this is relevant, but [vuese](https://github.com/vue-contrib/vuese) is experiencing a similar issue of not being able to access content inside slots that use the new `v-slot` syntax.

https://github.com/vue-contrib/vuese/issues/119

[2019-11-13 08:09] tbsvttr commented on #1329
I am asking that myself! At the moment I see this as the biggest problem of the Vue ecosystem.

[2019-11-13 16:25] SimonLegg commented on #193
## Found a nice way (npm dotenv)... for anyone following google as I did
1. npm i dotenv --save-dev
1. add '.env' file to project root directory
1. add 'require('dotenv').config();' to any test requiring environment variables

### Example test
`let code = require('path/to/mycode');
require('dotenv').config();
test('Code Using Environment Variables works', () => {
    expect(code.getResult()).toEqu

[2019-11-13 17:45] fcappi opened #1351 "Return VueWrapper instance If element is binding Vue Plugin instance"
### What problem does this feature solve?
Currently, using VueComponent Selector works with plugin components (e.g. BootstrapVue), but the return from find() method is wrapped by Wrapper instead of VueWrapper.
We need the VueWrapper so we can access the Vue instance

### What does the proposed API look like?
vCustomButton.ts
[code]

vCustomButton.spec.ts
[code]

[2019-11-17 02:42] DannyFeliz commented on #1288
This still happening even in a brand new project created with the @vue/cli

[2019-11-18 01:05] vvanpo commented on #1342
`Wrapper.destroy()` is just calling `vm.$destroy()`: https://vuejs.org/v2/api/#vm-destroy

Neither the Vue API nor the test-utils make any promises about what `$options` looks like after an instance is "destroyed".

If you want test isolation, don't share state between tests. Just redeclare `const wrapper` within each test.

[2019-11-18 15:00] rnicholus commented on #1329
No response and no .30 beta release. Seems like this will have to be forked. Any thoughts on where to fork and who might maintain this?

[2019-11-18 17:05] xavism commented on #1279
I've added your solution to the reproduction package ( https://github.com/xavism/lazyloading-vue-test-utils) and it is still not working.
Could you tell me what am I doing wrong?

[2019-11-19 21:15] aislanmaia commented on #1272
For me, I cant use `wrapper.find` with a VBtn, for example. The console returns:
[code]

[2019-11-19 22:40] lmiller1990 commented on #1272
@aislanmaia I noticed I could find some functional components too - I can't see any common pattern that makes a component unfindable at this point.

[2019-11-20 23:35] aislanmaia commented on #822
I've already this esModuleInterop equals true, but I continue to receive the same error for Vuetify.

[2019-11-21 00:23] aislanmaia commented on #1272
@lmiller1990 I've some progress here, but in the same point 0 again.
Take a look:
[code]

The `v-btn` and any vuetify components are unfindable.
The current state is that Vuetifiy is just untestable at all, at least with Jest.
Things like that, just increase the `Javascript fatigue` for me, because IMHO, things like this (testing, etc), should work out-of-box really.

[2019-11-21 01:04] lmiller1990 commented on #1272
It feels like Vuetify is responsible for a lot of problems around `vue-test-utils`, I've had an equally frustrating experience (with attempting to test Vuetify based apps).

One work-around you can try is adding `<v-btn data-test="button"> ..... </v-btn>` and trying to do `wrapper.find('[data-test="button"]')` and see if you can find it that way.

[2019-11-21 01:17] aislanmaia commented on #1272
Don't work either. It seems that the element isn't there yet, or maybe it never wasn't there in the component at the moment the test is running.

[2019-11-21 11:09] lmiller1990 commented on #1272
What if you do `console.log(wrapper.html({ pretty: true }))` (not sure if the `pretty: true` API is correct or not, been a while). Can you see the markup you expect?

If you are using post `vue-test-utils` beta 28, the way rendering updates are applied changed a bit. You might need to do `await wrapper.vm.$nextTick()` to ensure Vue has had time to update the DOM.

[2019-11-21 14:37] advsoft commented on #829
I am also getting this errors randomly. Sometimes it fails with it, sometimes passes. I am using `vue@2.6.10`, `@vue/test-utils@1.0.0-beta.29` and `vee-validate@2.2.13`. sync is set to false on mount:

[code]
So it is obviously far from fixed...

[2019-11-21 21:38] SamuelEarl commented on #1137
Is there a time frame for when we can expect the docs to be updated to reflect this change? In the meantime, does anyone know of any good tutorials that will help us learn how to use async mode correctly?

[2019-11-21 22:34] alecgibson opened #1352 "Custom checkbox with v-model does not work with setChecked"
### Version
1.0.0-beta.29

### Reproduction link
[https://codesandbox.io/s/vue-template-gtci0](https://codesandbox.io/s/vue-template-gtci0)

### Steps to reproduce
1. Set up a custom checkbox that uses `v-model` (see example)
2. Have a parent element wrap it and pass a value to `v-model`
3. Mount the parent element, and try to `setChecked` on the `input`
4. Would expect the checkbox to have toggle

[2019-11-22 09:38] viT-1 commented on #266
@Alendorff
My thoughts about all this discussion is:
I want to expect 'input' emitted but instaead of this I should emit 'input', but it's not I wanted initially

This test for [vue-multiselect](https://github.com/shentao/vue-multiselect/tree/master/src) is not working =(
[code]

[2019-11-22 12:48] Stoom opened #1355 "provide/inject in composition api components"
### Version
1.0.0-beta.29

### Reproduction link
N/A

### Steps to reproduce
Mount a composition api component that uses injection

### What is expected?
The injection to be resolved

### What is actually happening?
The injection is unknown

---
This is an ABI issue.  In the Composition API component it is looking for the provider under `vm._provided` whereas a Vue 2.x component is looking for it

[2019-11-22 12:52] Stoom commented on #1355
Fixed in PR #1354

[2019-11-22 20:14] aislanmaia commented on #1272
It doesn't accept a parameter like `pretty`. Just calling `wrapper.html()` is enough to get returned the html, however in unformatted way.

The markup returned show up some Vuetify components marked with the "-stub" in the names.
It happens that even referencing this names like `wrapper.find('.v-btn-stub')` the "find" cannot return my Vuetify components.

[2019-11-24 23:41] lmiller1990 commented on #1272
I might take (another) look at this one this week. Whoever solves this will be a hero; this issue has plagued us for a while. I have noticed this only happens _sometimes_, especially in larger projects. Have you had a similar experience?

[2019-11-25 13:57] gterras opened #1356 "Unit tests with Mocha systematically fails to load globals on the first run after test is edited"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/gterras/repro-vue-mocha-hotreload-forgets-require-option](https://github.com/gterras/repro-vue-mocha-hotreload-forgets-require-option)

### Steps to reproduce
- Clone the repo
- run `npm run test:unit`
- Test passes
- Add a new line to test and save
- Test fails

### What is expected?
Tests passes

### What is actually happening?

[2019-11-25 15:37] gterras commented on #1329
A project of this kind is pretty much doomed if not maintained by core team. Let's hope Vue 3 release will bring more attention to `vue-test-utils` (and `vue-dev-tools` since we're at it).

[2019-11-26 02:56] aislanmaia commented on #1272
@lmiller1990 no similar, because our project is in early stages and not considered big right now. Saying that, this is our first unit tests with Vuetify, and it is disappointing that it not working at all with jest.

[2019-11-26 21:00] KidSysco commented on #1030
I had the same experience as @andreixk above with Vuetify.

Form submit buttons do not behave properly in the vue-test-util wrapper object. The submit button never calls the form submit event. I am using @submit.prevent on the form, which never gets called.

So this does not work...

[code]

But this does work...
[code]

However, this is a bug because it does not allow us to test the functionality

[2019-11-26 21:07] KidSysco commented on #1030
After reading through here a few more times, it looks like attachToDocument: true solves the problem.

That one is really hard to understand. I have no idea what could be meant by saying that we would need to clean up after each test.

Is this safe to do or not? Do I need to run a bunch of clean up code now that I turned on attachToDocument?

Any insight is appreciated.

[2019-11-26 22:29] andreixk commented on #1030
According to [the documentation](https://vue-test-utils.vuejs.org/api/options.html#attachtodocument) you just need to call `wrapper.destroy()` after the test.

[2019-11-26 23:10] KidSysco commented on #1030
Perhaps we just mean calling destroy...

https://vue-test-utils.vuejs.org/api/options.html#attachtodocument

[2019-11-27 11:49] SliverYuki commented on #957
I want to know the latest progress on this issue, I have gotten the same error when testing my custom input component

[2019-11-27 19:26] MaruaEl commented on #70
I solved by adding the global components as `stubs` -> read here
https://github.com/vuejs/vue-test-utils/issues/894

[2019-11-28 10:27] Maniumn opened #1357 "Vue + Jest + Typescript Unexpected reserved word 'let' and Jest encountered an unexpected token"
I get different errors by unit test for working code. With babel installed "Unexpected reserved word 'let'" and without babel installed "Jest encountered an unexpected token". What do I do wrong?

Reproduceable Projects, with babel [Vue with babel](https://github.com/Maniumn/vue-typescript-babel-unit-test), without babel [Vue without babel](https://github.com/Maniumn/vue-typescript-no-babel-unit-t

[2019-11-28 10:27] #1357 closed, assigned to nobody

[2019-11-28 10:41] Maniumn opened #1358 "Vue + Jest + Typescript Unexpected reserved word 'let' and Jest encountered an unexpected token"
I get different errors by unit test for working code. With babel installed "Unexpected reserved word 'let'" and without babel installed "Jest encountered an unexpected token". What do I do wrong?

### Version
1.0.0-beta.29

### Reproduction links
[https://github.com/Maniumn/vue-typescript-babel-unit-test](https://github.com/Maniumn/vue-typescript-babel-unit-test)
[https://github.com/Maniumn/vue-ty

[2019-11-28 17:27] relief-melone opened #1359 "mount fails on second attempt"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/relief-melone/rm-test-mount-fails-on-second-exec.git](https://github.com/relief-melone/rm-test-mount-fails-on-second-exec.git)

### Steps to reproduce
1. Clone Repository
2. npm install
3. npm run test:unit

### What is expected?
Four tests have been written each just wrapping a component utilizing Vuetify and mounting it.

As al

[2019-11-28 18:43] eddyerburgh commented on #1329
Sorry for the silence, I haven't been checking my notifications the last two months for personal reasons.

I'm no longer able to give this project enough time, and so I'm stepping down as maintainer. It's taken me a few months to come to this decision, but as you point out, I haven't even active since the beginning of this year.

There's lots of interest in keeping the project alive, and I'm conta

[2019-11-28 19:10] eddyerburgh commented on #1137
Sync mode has now been removed in beta.30

[2019-11-29 07:24] relief-melone commented on #1359
Not exactly the same but I guess the root cause is the same as stated in #1130. In any case the workaround setting sync to false works. In my opinion this is still a serious bug as identical tests should always have the same outcome but at least there is a way to work with it. If anybody is struggeling with this as I did use

[code]

[2019-11-29 19:09] vvanpo commented on #1278
@thejcannon this is a problem with `jsdom` version 12, which is fixed in https://github.com/jsdom/jsdom/releases/tag/13.1.0

The problem is that `@vue/test-utils` constrains `jsdom` to `^12`, so the fix is to upgrade to 13.1.

**Edit:** I was wrong, `@vue/test-utils` doesn't actually depend on `jsdom`, only the root (private) package does for running its own tests. So this sounds like a different

[2019-11-29 19:13] vvanpo commented on #1329
@eddyerburgh sorry to hear that you have to step down, we appreciate all the work you've put into this project.

When opening pull requests, is there a list of contributors with merge permissions that we can poke for reviews?

[2019-11-29 19:54] vvanpo commented on #1278
So I think we can close this, @thejcannon , since it is unrelated to `@vue/test-utils` and will be fixed in Jest 25: https://github.com/facebook/jest/pull/8862

[2019-12-01 04:25] Stoom commented on #1261
@runarberg When I was testing VHover from vuetify I just did the following and it worked enough for  me....

[code]

[2019-12-02 14:41] Trainmaster opened #1360 "Provide alternative to get an element's outerHTML"
### What problem does this feature solve?
After introducing https://github.com/vuejs/vue-test-utils/pull/1229 it's no longer possible to get an element's outerHTML.

### What does the proposed API look like?
wrapper.outerHtml()

[2019-12-02 16:08] rnicholus commented on #1360
Doesn't `wrapper.element.outerHTML` suffice?

[2019-12-02 16:48] Trainmaster commented on #1360
@rnicholus I totally overlooked that, thanks!

[2019-12-02 16:48] #1360 closed, assigned to nobody

[2019-12-03 06:59] SaschaMaisel opened #1361 "v1.0.0-beta.30 completely breaks our build, but I can't open an official ticket on it"
Hello,

a couple days ago you pushed v1.0.0-beta.30 to npm and our CI setup duly installs the latest version of vue-test-utils at night. It turns out, it completely breaks our tests. I've already debugged a bit,
 created a minimal working/breaking repo and would like to file an official ticket for it, but the issue helper at https://new-issue.vuejs.org/?repo=vuejs/vue-test-utils doesn't allow me t

[2019-12-03 06:59] #1361 closed, assigned to nobody

[2019-12-03 07:01] SaschaMaisel commented on #1361
Thank you, robot-friend for kindly closing my issue. Hope some human-friend still reads this, as I can't open a helper-created issue (as outlined above).

[2019-12-03 10:13] hiendv commented on #1321
I'm sharing the same problem with you.
@eddyerburgh We should respect the `disabled` attribute only for [supported elements](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/disabled).

[2019-12-03 11:42] andreixk commented on #1234
I'm currently using (my own) v-test directive for that exact purpose:
[code]

can be used like this: `<div v-test="'MyId'"></div>` or `<div v-test:MyId></div>` both are a bit awkward, but I don't know how to make it work with `v-test="MyId"` without vue complaining on every component that `MyId` doesn't exist

[2019-12-03 12:19] RoelRoel commented on #481
In my mounted function $root is called so I have to mock it before mounting. Than it is not possible overwrite set wrapper.vm.$root afterwards.
So I guess a fake parent component is the only solution for me, but I can't get it to work.

[2019-12-03 23:59] tmorehouse commented on #1137
With beta.30 I'm having difficultly  testing the `<transition>` `afterLeave` hook,  All other hooks I can test, but for some reason can't get the `afterLeave` handler tested (i.e. we emit an event in the afterLeave hook, and no matter how many nextTick's we wait, that emitted event never appears as emitted (`expect(wrapper.emitted('event-after-leave')).toBeDefined()`).  All other transition hook e

[2019-12-04 16:14] tschoartschi commented on #773
I have the same problem as @themathmagician is there any solution for styles which are applied with `v-bind:style`?

[2019-12-04 18:35] woothu opened #1363 "setProps and setData error in beta.30 version"
### Version
1.0.0-beta.29

### Reproduction link
[https://github.com/coreui/coreui-vue/tree/bc1cf959325aee78d692e000184825c43294e158](https://github.com/coreui/coreui-vue/tree/bc1cf959325aee78d692e000184825c43294e158)

### Steps to reproduce
1. clone repo: https://github.com/coreui/coreui-vue/tree/bc1cf959325aee78d692e000184825c43294e158
2. npm i
3. npm run test (then all test passes)
4. update @v

[2019-12-04 20:27] al-the-x commented on #1137
We pinned to `beta.29` to resolve until we could `await` all the right places. Totally appreciate the lib and contributions, and the removal of "sync mode" is a better design decision, TBH. A major version bump for this BC-breaking change would have been nicer.

We got hit with the `core-js@3.4.6` bug at the same time, so it was a Fun Time ™️

[2019-12-04 21:59] RyanAtViceSoftware commented on #1137
Trusting your users to be able to understand async testing and recommending tools like https://www.npmjs.com/package/wait-for-expect would probably go a long way to avoid some of the headaches caused here.

[2019-12-05 14:09] TayHobbs commented on #1361
I'm seeing this completely break a lot of my apps tests with no changes. I do not have any code related to the `breaking changes` section of the release notes.

@eddyerburgh

[2019-12-05 16:15] willisplummer commented on #957
I'm running into this too. Would love to know if there are any updates 🙏

[2019-12-06 00:05] stuheiss commented on #1137
@eddyerburgh you say "sync mode has been released" - do you mean removed, reenabled, or something else? I was under the impression that sync mode was removed as of beta.29

[2019-12-06 04:30] hiendv commented on #1363
I'm having the same problem with you. You can try using `nextTick` as a workaround.

[2019-12-06 10:18] ghost commented on #1137
@stuheiss sync mode was [removed in `v1.0.0-beta.30`](https://github.com/vuejs/vue-test-utils/commit/ef613de98e50f2f0de799151d6868c3c27b8d470) (it's still available in `v1.0.0-beta.29`) and the [docs have been updated](https://github.com/vuejs/vue-test-utils/pull/1142).

@eddyerburgh should this issue be closed now?

[2019-12-06 12:39] Chris2011 commented on #957
The exmaple of @beyersito helped me. I use shallowMount and searchInput.element.value and the trigger method. FYI.

[2019-12-07 03:34] vvanpo commented on #1363
@woothu this is expected behaviour, as `beta.29` still had synchronous updates as the default behaviour, whereas `beta.30` removes the option entirely and only allows asynchronous updates. This requires waiting for `Vue.nextTick()` or `wrapper.vm.$nextTick()` after triggering DOM changes.

Because this project is still in beta, there are no guarantees of backwards-compatibility between versions.

[2019-12-07 13:07] DeBelserArne commented on #326
Hello @aalyokhin

How exactly have you solved your issue?

Kind Regards,
Arne

[2019-12-08 11:47] lmiller1990 commented on #773
I do not believe anything has changed since this issue was raised - is the work around to use a `computed` value suggested above an option in your use case? I don't know of the top of my head but I am guessing the reason `v-bind:style={{ }}` does not work is the same as the original issue raised.

[2019-12-08 23:53] DoubleWombat commented on #1363
@vvanpo Moving from synchronous to asynchronous updates is a huge change, especially when users will not know why all their tests are now breaking. In my case it broke 56 of my 70 tests, so updating each test with `Vue.nextTick()` was not a good option. `beta.30` also seems to be handling Vue transitions differently, causing further breaking tests. I have now learnt my lesson and limited my packag

[2019-12-09 00:52] vvanpo commented on #1363
@DoubleWombat Yep, I can sympathize. It's an unfortunate outcome of a core Vue project being kept in beta while the rest of the Vue ecosystem has long had stable releases. Everyone is in the same boat, most will have to pin their version to `beta.29` until they can find the time to update all of their tests (for example, at my work we have a project with over 2000 tests using `@vue/test-utils`, wh

[2019-12-09 01:22] vvanpo opened #1364 "Wrapper.emitted() does not register events from fowarded listeners"
### Version
1.0.0-beta.30

### Reproduction link
[https://gist.github.com/vvanpo/77af34a1392fae3319a42048b736acb3](https://gist.github.com/vvanpo/77af34a1392fae3319a42048b736acb3)

### Steps to reproduce
[code]

### What is expected?
One expects that any event that can be captured by a listener set on a component would be observable in `Wrapper.emitted()`.

### What is actually happening?
Because

[2019-12-09 03:38] JsirForGit opened #1365 "TypeError: Cannot read property '$el' of undefined"
the component file use <el-select> of element ui
at VueComponent.mounted, mounted: this.referenceElm = this.$parent.$refs.reference.$el; throw Error
TypeError: Cannot read property '$el' of undefined
version: element-ui@2.9.2,     vue @2.6.10,   vue/test-utils @1.0.0-beta.29

code in test file
import {
    mount,
    createLocalVue
} from '@vue/test-utils'
import ElementUI from 'element-ui'
const

[2019-12-09 03:38] #1365 closed, assigned to nobody

[2019-12-09 06:34] wonsuhyun opened #1366 "Can I check a child component destroyed with 'wrapper.find(vm).element.__vue__'?"
### What problem does this feature solve?
I want to check if a child component has destroyed, when wrapper.destroyed()
I can't check it  this way : wrapper.contains('#DOMelement').toBeFalsy()
I can check it  in the following ways :

vm = child component
 expect(wrapper.find(vm).element.__vue__).not.toEqual(null)
wrapper.destroy()
 expect(wrapper.find(vm).element.__vue__).toEqual(null)

but I'm not

[2019-12-09 09:24] stats94 commented on #1363
Is there a reason to completely remove the synchronous option? Is it just down to Vue itself? For tests it would be nice if there was an option I could force the state without having to wait for the next tick

[2019-12-09 09:25] viT-1 commented on #960
@dasDaniel But your solution is not usable for typescript tests (ts-jest), cause of ts error:
`Property withWrapperArray does not exists on type 'WrapperArray<Vue>' ts(2339)`

[2019-12-09 09:28] woothu commented on #1363
It would be nice if you mention breaking changes on release notes, especially as your tool is widely used on user's production environments.

[2019-12-09 09:59] viT-1 commented on #960
@dasDaniel solution, but typescript variation (for ts-jest tests):

[code]

[2019-12-09 10:17] hiendv commented on #1363
@woothu Actually they did. https://github.com/vuejs/vue-test-utils/blob/b7c546266b4f2756208ff9c39e5876c43fc36293/CHANGELOG.md#breaking-changes

[2019-12-09 10:23] woothu commented on #1363
I meant release notes https://github.com/vuejs/vue-test-utils/releases

[2019-12-09 10:26] hiendv commented on #1363
Oh I see. Maybe something wrong with the release process because the script looks fine https://github.com/vuejs/vue-test-utils/blob/dev/package.json#L21

[2019-12-09 10:56] woothu commented on #1363
Maybe it was set by setData method  😂

[2019-12-09 15:38] vvanpo commented on #1363
@stats94 There is some background here: https://github.com/vuejs/vue-test-utils/issues/1137

I agree that synchronous updates were very convenient, but it seems that maintaining a synchronous capability within Vue.js purely for testing was troublesome.

The benefit of always writing async tests is that you can be more confident that you are not overlooking subtle race conditions. Additionally, I t

[2019-12-10 14:35] #1137 closed, assigned to nobody

[2019-12-10 16:51] tmorehouse commented on #1363
We've encountered issues (after adding a nextTick wait after all set data/props and event triggers), but now the transition  hooks afterLeave and afterEnter no longer fire (cannot be tested), no matter how many nextTicks or sleeps we do (this is without the transition stubs)

[2019-12-10 21:57] runarberg commented on #1261
@Stoom That doesn’t work for me. What I need to test is a child of the component using the `v-slot`:

[code]

Here `<MyParent>` has a slot scope on the default slot. I would need to stub the entire component to get it render, and then I might as well not write the unit test.

[2019-12-11 03:30] xiaosu commented on #1137
How do you stub transition in your tests?

[2019-12-11 03:58] tmorehouse commented on #1137
@xiaosu we were disabling the beta.29 transition stub (to use the real transition):

[code]

But now that transition is not subbed at all, it should just work as before, but the `after-*` hooks no longer run under beta.30

[2019-12-11 09:29] FloEdelmann opened #1367 "Remove TransitionStub / TransitionGroupStub from docs"
They were removed without further notice in beta 30, but the docs are not updated. It took me quite some time to figure out that they don't exist anymore, and how to fix my failing test:

[code]

[code]

Test fails; there is a `.toast` element with `.toast-leave-active` class.

Replacing the nextTick with `await new Promise(resolve => setTimeout(resolve, 5))` works, but doesn't look like it's safe

[2019-12-11 09:36] FloEdelmann commented on #1367
This is not a usage question; I couldn't select `vue-test-utils` version `1.0.0-beta30` in the Issue Helper.

[2019-12-12 12:11] cars10 commented on #1361
@SaschaMaisel do you use `trigger` and snapshots? This was the problem for me. Apparently you now have to explicitly `await` the `nextTick` to check for dom updates. See [https://vue-test-utils.vuejs.org/guides/#using-nexttick](https://vue-test-utils.vuejs.org/guides/#using-nexttick) .

In my case i had something like this:

[code]

And i had to change it like this:

[code]

[2019-12-12 13:08] TayHobbs commented on #1361
@cars10 I will give this a shot, thank you!

[2019-12-13 10:20] hiendv commented on #1363
@tmorehouse For me, the output changes from
`<div class="panel" tag="div" name="slide-down" mode="out-in">` to `<div class="panel">`
[code]

[2019-12-13 10:39] hiendv commented on #1363
@tmorehouse You can try to stub the transition component. It's much simpler than the old `TransitionStub` but it works for me. For `TransitionGroup`, I guess we can do the same.
[code]
Note: You still need to `await wrapper.vm.$nextTick()` though.

[2019-12-14 03:33] asmallkite opened #1368 "[Cookbook Error]The "data" option should be a function"
### Version

### Reproduction link
[https://vuejs.org/v2/cookbook/unit-testing-vue-components.html#Real-World-Example](https://vuejs.org/v2/cookbook/unit-testing-vue-components.html#Real-World-Example)

### Steps to reproduce
1. open https://vuejs.org/v2/cookbook/unit-testing-vue-components.html#Real-World-Example
2. find the cook about "'renders a message and responds correctly to user input',"
3

[2019-12-14 23:08] lmiller1990 commented on #1368
Hey, I think this issue should be opened on the docs repo here: https://github.com/vuejs/vuejs.org/tree/master/src/v2/cookbook

That's where the source for that guide is.

[2019-12-14 23:10] lmiller1990 commented on #1366
Can you do `expect(wrapper.find('#child-el').exists()).toBe(false)`?

[2019-12-14 23:15] lmiller1990 commented on #1364
Looks like a bug that should be fixed. Would you be interested in giving it a crack?

[2019-12-14 23:16] lmiller1990 commented on #1359
Does this still occur in v30? (Sync mode removed in v30)

[2019-12-14 23:24] lmiller1990 commented on #1358
This works out of the box for me:

<img width="539" alt="image" src="https://user-images.githubusercontent.com/19196536/70855809-b128ae00-1f1c-11ea-8f2d-95723acdf286.png">

Oh, I see you are using class component... let me try that now.

[2019-12-14 23:32] lmiller1990 commented on #1358
Ok, I got a similar error (but not about `let`) when using class component.

[code]

This seems to be the problem, specifically `let y = <number>x`. Try either:

- `let y = 4`
- `let y: number = x`
- `let y = x as number`

And it should be okay. It seemed to think `<` was the start of a JSX element. Here is the error I got:

[code]

I don't think it's a bug in vue-test-utils.

[2019-12-15 03:12] xiaopingbuxiao opened #1369 "async test"
When I use it according to the documentation, it does not produce the results I want

<img width="997" alt="截屏2019-12-15上午10 57 27" src="https://user-images.githubusercontent.com/35484325/70857546-77ab6f00-1f2b-11ea-82f4-546918f20ce5.png">
<img width="688" alt="截屏2019-12-15上午11 11 43" src="https://user-images.githubusercontent.com/35484325/70857560-b8a38380-1f2b-11ea-960c-b2656c7fd02e.png">

[2019-12-15 03:12] #1369 closed, assigned to nobody

[2019-12-15 03:28] xiaopingbuxiao opened #1370 "saync test"
### Version
1.0.0-beta.29

### Reproduction link
[https://vue-test-utils.vuejs.org/guides/#asynchronous-behavior-outside-of-vue](https://vue-test-utils.vuejs.org/guides/#asynchronous-behavior-outside-of-vue)

### Steps to reproduce
[code]
[code]

### What is expected?
expect pass

### What is actually happening?
 Testing...

  async test
[Vue warn]: Error in nextTick: "AssertionError: expected 0 t

[2019-12-15 10:35] dobromir-hristov commented on #1370
nextTick is not 1 second, your timeout is.

[2019-12-15 10:35] #1370 closed, assigned to nobody

[2019-12-15 11:27] dobromir-hristov commented on #1130
`sync` has been removed in version 30. All tests are now `async` by default, which means watchers should work as they do in your app.
We can close this one I think, what do you say @eddyerburgh ?

[2019-12-15 11:51] dobromir-hristov commented on #1352
`setChecked` is meant to work with `checkbox` html elements, thus it should trigger a change.
For custom components use `trigger`.

You can change your component to emit `change` instead - https://vuejs.org/v2/api/#model
Then this should work as intended :)

[2019-12-15 11:51] #1352 closed, assigned to nobody

[2019-12-15 11:53] dobromir-hristov commented on #1329
I will close this for now as we are trying to reduce unnecessary issues. The project will not go unmaintained :)

[2019-12-15 11:53] #1329 closed, assigned to nobody

[2019-12-15 11:56] dobromir-hristov commented on #1351
`bbutton.vm` should be what you are looking for, no?

[2019-12-15 11:57] #1342 closed, assigned to nobody

[2019-12-15 12:12] dobromir-hristov commented on #1339
You are correct, it only emits `change` event if select another option. It shouldnt be hard to see if an option is selected.

[2019-12-15 12:13] dobromir-hristov commented on #1333
Closing this because of inactivity. Comment if you still have issues.

[2019-12-15 12:13] #1333 closed, assigned to nobody

[2019-12-15 16:02] dobromir-hristov commented on #1330
Should be merged in beta.30. please verify.

[2019-12-15 16:03] dobromir-hristov commented on #1325
@eddyerburgh i think this makes much sense. I dont see a reason not to do it?

[2019-12-15 16:07] dobromir-hristov commented on #1322
injected properties are supposed to be like a read only I think. You shouldn't overwrite them, i think.
@afontcu am I wrong here?

[2019-12-15 16:13] afontcu commented on #1322
I'd say so! From docs:

"Note: the provide and inject bindings are NOT reactive. This is intentional. [...]" ([source](https://vuejs.org/v2/api/#provide-inject)).

[2019-12-15 21:42] alecgibson commented on #1352
Aha! Another case of RTFM 🤦‍♂

[2019-12-15 22:21] danielelkington commented on #1130
We have upgraded to beta.30, and have found that the process of fixing our ~2000 tests was quite straightforward (just needed to add a lot of `flushPromises()` calls). Watchers now work as expected. Thank you.

[2019-12-15 22:21] #1130 closed, assigned to nobody

[2019-12-16 02:06] JessicaSachs commented on #1356
Hi @gterras! Thank you for the reproduction. I have it failing on my end as well.

[2019-12-16 02:10] JessicaSachs commented on #1356
However; can you try updating your spec's eslint config file to look like the below:

[code]

I'm having a hard time reproducing the issue after I fixed the eslint issues. I'll keep trying to break it.

[2019-12-16 02:16] JessicaSachs commented on #1335
Hi @cuixiaorui, thank you for submitting an issue.

The reproduction link (https://github.com/cuixiaorui/test-vue-utils-bug-demo) doesn't work and goes to a 404 page. If you still think there is an issue, please edit the description with a new URL.

[2019-12-16 02:38] dobromir-hristov commented on #1330
Yep it's in the release notes.

[2019-12-16 02:38] #1330 closed, assigned to nobody

[2019-12-16 02:44] #1335 closed, assigned to nobody

[2019-12-16 02:44] #1356 closed, assigned to nobody

[2019-12-16 03:10] JessicaSachs commented on #1315
I wasn't able to reproduce this issue locally. I tested vue-test-utils using your example, with a snapshot of upwards of `1,000,000` elements. There was no failure. The Codesandbox example you sent is having issues transpiling and I am not able to execute either of the two tests.

If you continue to encounter this issue, I would suggest opening an issue with the Codesandbox team.

[2019-12-16 03:31] #1315 closed, assigned to nobody

[2019-12-16 04:01] JessicaSachs commented on #1274
Hi @xereda! Thank you for opening an issue and providing a reproduction. The default code coverage options for jest do not include `.vue` files.

You'll need to add the following to either your `jest.config.js` or the jest section of your `package.json` (this is covered in the docs in more detail [here](https://vue-test-utils.vuejs.org/guides/#testing-single-file-components-with-jest))
[code]

Let

[2019-12-16 04:19] JessicaSachs commented on #1269
I believe there is no issue and everything is working as expected. I've written a test case testing the two versions you described. I get events emitted for both components.

Please let me know if this is not the use case you're talking about. If you're still seeing an issue, please create a GitHub repo with both the failing test cases and the src code. The JSFiddle only contains the source code.

[2019-12-16 04:24] JessicaSachs commented on #1265
Hi @gkatsanos! I'm hoping you can provide a reproduction that includes the test cases. I'm having a hard time finding the issue.

[2019-12-16 05:55] #1274 closed, assigned to nobody

[2019-12-16 05:55] #1269 closed, assigned to nobody

[2019-12-16 06:04] #1265 closed, assigned to nobody

[2019-12-16 07:37] Nau077 opened #1371 "SyntaxError: Unexpected token (1:1021), not working personally for one vue file"
### Version
1.0.0-beta.29

### Reproduction link
[https://codesandbox.io/s/hungry-curran-vg9j1](https://codesandbox.io/s/hungry-curran-vg9j1)

### Steps to reproduce
Probably write what versions of vue-test-utils, jest, vue-cli etc are 100% working with ech others

### What is expected?
Test for file leadCreate.vue starts like every others tests (all tests for vue components exepts this test start

[2019-12-16 08:30] afontcu commented on #1371
Hi! Is `LeadCreate` importing a third-party component or similar? This is the relevant part of the error output:

[code]

[2019-12-16 08:39] afontcu commented on #1368
Yep, the issue should be opened on the docs repo :)

Closing this. Thank you for pointing this out! 🙌

[2019-12-16 08:39] #1368 closed, assigned to nobody

[2019-12-16 08:45] lmiller1990 commented on #918
I am going to take responsibility for this. I think we should do to things

1. update docs (definitely, this is a no brainer)
2. have the same API for functional and non-functional, and a check somewhere in the codebase depending if the component is functional or not (if there is a way to know if a component is functional, not sure if there is)

If it turns out we cannot detect if a component is f

[2019-12-16 08:49] lmiller1990 commented on #936
So, I think this is _not_ something vue-test-utils should really be taking care of - perhaps the setup guide should just include a note on this issue, why it happens, and how to work around it. I've had a similar problem (with `url` property, I believe) and ended up using a similar work around.

I'd say we update the docs/guide regarding this problem, and close this one once that is merged. Though

[2019-12-16 08:51] Haroenv commented on #918
Thanks @lmiller1990, that sounds like a great resolution to me!

[2019-12-16 08:52] lmiller1990 commented on #1060
That is a neat library @posva . I think that's a clean solution - not sure this is something that belongs in this library. We could consider adding some links to these community made "util libraries" in the docs, with some useful examples?

[2019-12-16 08:54] lmiller1990 commented on #1192
I'm interested in writing a quick guide on how to use `test-utils` without babel/webpack.

[2019-12-16 08:59] Nau077 commented on #1371
Hi! Do you mean that some components were registrated like this way:
`
"/* eslint-disable */
import particles from './vue-particles.vue'

const VueParticles = {

    install (Vue, options) {
        Vue.component('vue-particles', particles)
    }

}

export default VueParticles"
`
?

[2019-12-16 09:18] posva commented on #1060
Sounds good to me. The package seems to be widely used (by its download count). In the case of Vuex-mock-store, the readme is meant to show examples and any needed documentation for anybody to pick it up, so there is no need to write any new content

[2019-12-16 10:13] Nau077 commented on #1371
Unfortunately don`t fully understand  what do you meant by: "third-party component or similar".

[2019-12-16 10:13] lmiller1990 commented on #1358
Going to close this one for now - let me know if you disagree with this, @Maniumn . If it helps, there is a tslint rule to prevent using `<type>` to cast a type, and use the `as type` syntax instead.

[2019-12-16 10:13] #1358 closed, assigned to nobody

[2019-12-16 10:16] lmiller1990 commented on #1288
So if I make a new project using mocha as my test running using the latest `@vue/cli`, this will happen? Or did you create a project using `@vue/cli` then install mocha (as per the guide)?

I'm trying to narrow it down - is this an issue with the `@vue/cli` template or the guide we provided?

[2019-12-16 10:38] PierreTurnbull commented on #738
Hello, I have this bug on Vue 2.6.11. When using `wrapper.setProps`, the expectation that comes after doesn't work, unless I enclosed it in `nextTick`. Note that it seems like I don't need to set `sync` to `false` when mounting my component for the test to work.

[2019-12-16 11:10] afontcu commented on #1371
What I meant is that if you are importing third-party components from `node_modules` they might require some transformation:

"By default, if Jest sees a Babel config, it will use that to transform your files, ignoring 'node_modules'.".
"To have some of your 'node_modules' files transformed, you can specify a custom 'transformIgnorePatterns' in your config."

Same thing if you are importing non-JS

[2019-12-16 12:05] Nau077 commented on #1371
afontcu, I untderstand that I will need to tell Jest to compile some modules by whitelisting it in the transformIgnorePatterns option in my Jest config. But how can I figure out what accurate modules I need to add?

If I saw something like: "Details:
    D:\project\node_modules\some_module\src\some_module\some_module.js:3
    import * as someLib from 'lib';" - it would be okey, all would be clear.

[2019-12-16 13:50] afontcu commented on #1371
Looks like this is not related to Vue Test Utils itself, but to Jest and its transform capabilities. I would suggest trying to find the component/import statement that makes the build fail, so you can isolate it and decide how to transform it using Jest.

[2019-12-16 17:28] Cobertos commented on #1288
I believe this happens when selecting mocha in the prompts for test runner. It's been a hot second since I've used this tool.

[2019-12-16 22:10] #1371 closed, assigned to nobody

[2019-12-16 22:12] JessicaSachs commented on #1366
I believe the above will solve your issue. Going to close this issue -- please reopen with a Github reproduction if @lmiller1990's suggestion doesn't help

[2019-12-16 22:12] #1366 closed, assigned to nobody

[2019-12-16 22:17] JessicaSachs commented on #1363
Hi @hiendv and @tmorehouse! Would it be possible for either of you to provide me with a reproduction repo that demonstrates issues with afterLeave/afterEnter for `transition` components? I would love to investigate and then put @hiendv's workaround into the docs.

[2019-12-16 23:00] JessicaSachs commented on #1359
This is fixed in v30. I checked out the reproduction repo. I was able to reproduce the failure in v29 and then when I upgrade to v30, everything works fine.
@relief-melone I'm going to close this issue. Please reopen if upgrading with `npm i -D @vue/test-utils@1.0.0-beta.30` does not solve your issue.

[2019-12-16 23:00] #1359 closed, assigned to nobody

[2019-12-17 00:01] #1060 closed, assigned to lmiller1990

[2019-12-17 00:50] JessicaSachs commented on #1281
Going to close this as `wontfix` as this is an issue with jsdom and is usually fixed by the user in mocks/stubs. See the links below for additional info.

Because `computedStyleMap` is an experimental feature supported on Chrome and Opera only ([MDN](https://developer.mozilla.org/en-US/docs/Web/API/Element/computedStyleMap)), JSDom has decided not to polyfill this method on `Element`. If you must

[2019-12-17 00:50] #1281 closed, assigned to JessicaSachs

[2019-12-17 00:57] JessicaSachs commented on #1355
Hey @Stoom! Thank you for your PR and issue report. As soon as you make the changes, we'll merge it into the dev branch. 🙇‍♀

[2019-12-17 02:18] #1267 closed, assigned to JessicaSachs

[2019-12-17 05:10] hiendv commented on #1363
@JessicaSachs
Sorry for my mistake, my workaround solves rendering issue when it won't flush the final output, not the hooks issue.
See: [Component `Foo` and its tests.](https://github.com/hiendv/vue-test-utils-transition/blob/master/src/Foo.vue) - 1st test fails.

It also has an interesting outcome here:
When I write the rest of the template with `v-else`, I don't need to stub anymore !? :D
See:

[2019-12-17 05:56] JessicaSachs commented on #1363
Thank you so much for those reproductions. I see. Yeah, we should provide more documentation on the removal of transition stub and workarounds. I'm going to close this issue after writing some docs up for both the transitions stub and async/sync test conversions.

[2019-12-17 06:37] vvanpo commented on #1364
I would, but the more I think about it the more complicated it seems. For example, how should
[code]
behave?

How would `@vue/test-utils` be able to know exactly which listener was forwarded?

[2019-12-17 06:54] JessicaSachs commented on #1367
Apologies for the problem with our issue helper.

@FloEdelmann , thank you for reporting this. I believe the docs are fixed. Can you confirm? https://vue-test-utils.vuejs.org/api/components/

[2019-12-17 07:04] hiendv commented on #1363
@JessicaSachs I totally agree with you. But do mind one thing that my workaround is much simplified from the removed TransitionStub. It only helps the rendering. Hooks may not work correctly. ITMT, I will try to take a close look at the difference between using `v-else` and not to see if we can test transition without any workaround ;)

[2019-12-17 07:10] FloEdelmann commented on #1367
Thanks, the updated docs look fine now. Maybe you want to add one sentence about the removed stub components? That'd be helpful for people upgrading (like me), but will be less useful in the future.

[2019-12-17 09:28] lmiller1990 commented on #1363
Was able to get the one failing test to pass in @hiendv 's repro with this:

[code]

So it is definitely a timing issue... although as pointed out, no amount of `await nextTick` solves this. I guess we need to investigate into how `<transition>` is implemented in core to look for a wait to solve this for testing.

[2019-12-17 09:42] afontcu commented on #1204
Hi! I'm gonna close this issue since it hasn't been any activity for the last 6 months, but feel free to reopen it or create a new one (or a PR) if you end up translating the docs 😃

Thanks!

[2019-12-17 09:42] #1204 closed, assigned to nobody

[2019-12-17 10:00] hiendv commented on #1363
@lmiller1990 Agree. A dive deep into `<transition>` implementation is also needed to solve the interesting issue with `v-else`.

[2019-12-17 13:50] codebryo commented on #1314
@eddyerburgh can be closed!

[2019-12-17 13:54] afontcu commented on #1314
👍

[2019-12-17 13:54] #1314 closed, assigned to nobody

[2019-12-17 13:56] codebryo commented on #1339
@vvanpo as you said and the docs explicitly state it triggers the `change` event  every time I don't think this is a bug. I don't think the test-utils should keep track of data and know if something has changed between two calls. If `setSelected()` gets called multiple times, it's fair that it does it job multiple times.

[2019-12-17 13:58] dobromir-hristov commented on #1339
@codebryo I am a bit split here. I agree with you on that one, yet I saw that selecting the same option does not trigger an event... Do we want to emulate a user action or explicitly do what the action states.. hmmmm @afontcu @JessicaSachs  Opinions here?

[2019-12-17 14:45] Stoom opened #1377 "Shallow mount drops attributes on stubbed components"
### Version
1.0.0-beta.30

### Reproduction link
[https://github.com/Stoom/vuetify-test-utils-beta30-example](https://github.com/Stoom/vuetify-test-utils-beta30-example)

### Steps to reproduce
* Create new project
* Add vuetify
* Use a vuetify component like v-tooltip
* Stub out to get scoped slot
* Assert an attribute is on the stubbed element

### What is expected?
It to copy over the current a

[2019-12-17 15:30] nachogarcia commented on #1367
+1 to @FloEdelmann we updated from beta29 to 30 and now all our components that contain transitions fail.
There is no documented way of having global stubs (for transitions in this case) rather than adding the stub manually to each test.

[2019-12-17 15:33] dobromir-hristov commented on #1367
Maybe this? @nachogarcia  https://vue-test-utils.vuejs.org/api/#config

[2019-12-17 15:51] nachogarcia commented on #1367
Nope, I already tried with
[code]
and all of our tests fail, probably because children are not rendered since it needs a stub like the previous one https://github.com/vuejs/vue-test-utils/blob/f0b863252398f2b163f4b267d16103f06c7a53a2/packages/test-utils/src/components/TransitionStub.js which is not exported anymore

[2019-12-17 15:53] tmorehouse commented on #1363
@hiendv We are using v-if to trigger transitions, and we are also using functional re-usable transition components.

[2019-12-17 15:58] dietergeerts commented on #971
I see this being closed, but I experience this issue currently, on v.1.0.0-beta.28

[2019-12-17 16:08] JessicaSachs commented on #1367
@nachogarcia We’re about to update the docs with a better transitionStub. Can you give these instructions a try? https://github.com/vuejs/vue-test-utils/pull/1375/files

[2019-12-17 16:24] nachogarcia commented on #1367
Looks like, as documented there, using this
[code]
along with `await wrapper.vm.$nextTick()` works @JessicaSachs .

But this way I'm going to need to refactor hundreds of tests, adding the line and an making them async to wait for an update that so far has been done automatically :S seems weird.

[2019-12-17 16:35] FloEdelmann commented on #1367
@JessicaSachs The updated docs in #1375 are exactly what I was searching for when I was upgrading to `1.0.0-beta.30`, thanks :blush:
I've suggested some minor changes there to improve the wording.

Since the docs are now clearly explaining what I was missing, I'm closing this issue.

[2019-12-17 16:35] #1367 closed, assigned to JessicaSachs

[2019-12-17 16:37] JessicaSachs commented on #1367
Unfortunately, the nextTick changes will remain required for future versions of VTU. To explain the need for these changes, please take a look through #1137

You can pin at version 28 if you’d like to remain synchronous.

[2019-12-17 16:40] JessicaSachs commented on #971
Can you open a new issue with your reproduction?

[2019-12-17 17:10] afontcu commented on #1339
If I'm not mistaken, `setChecked` is not sending the event if the element is already checked https://github.com/vuejs/vue-test-utils/blob/950763fe07eb1eceadd6e37c6e8b07d87b075a14/packages/test-utils/src/wrapper.js#L356-L357

...even though docs say the exact same thing regarding it being an alias of setting the right value and emitting the event.

I'd say all `setXXXX` methods to behave the exact

[2019-12-17 19:57] hiendv commented on #1363
@tmorehouse It would be easier if you can set up a quick reproduction.

[2019-12-17 21:32] JessicaSachs commented on #1377
@Stoom Great bug report. Thank you for the detailed writeup and extra info about what version broke it.

[2019-12-18 00:52] #1321 closed, assigned to nobody

[2019-12-18 01:13] JessicaSachs commented on #1363
Deployed the latest docs with instructions on [async tests](https://vue-test-utils.vuejs.org/guides/#writing-asynchronous-tests-using-nexttick-new) and [mocking transitions](https://vue-test-utils.vuejs.org/guides/#mocking-transitions)

Closing this issue. If necessary, please open additional issues with a reproduction to help us triage and fix them. Thanks!

[2019-12-18 01:13] #1363 closed, assigned to nobody

[2019-12-18 01:20] #1192 closed, assigned to lmiller1990

[2019-12-18 04:41] Stoom commented on #1355
#1354  merged

[2019-12-18 04:41] #1355 closed, assigned to nobody

[2019-12-18 07:57] haoqunjiang commented on #936
Yeah that was what I proposed for

[2019-12-18 13:18] relief-melone commented on #1359
Hey,

sorry for the late reply. I can confirm that this fixed the error. Thanks for the help!

[2019-12-18 14:30] motz-art opened #1379 "Async watcher in some cases called twice after setProps."
### Version
1.0.0-beta.30

### Reproduction link
[https://github.com/motz-art/vue-test-utils-watcher-called-twice](https://github.com/motz-art/vue-test-utils-watcher-called-twice)

### Steps to reproduce
After opening repo run
[code]

### What is expected?
After call to `setProps` component value watch `handler` should be called once.

This will match behavior of such component in a real browser.

[2019-12-18 14:33] Stoom commented on #1377
Any thoughts on where this might be happening?

[2019-12-18 18:15] #1135 closed, assigned to nobody

[2019-12-18 21:02] winniehell commented on #1224
@JessicaSachs Can you please take a look at this?

[2019-12-18 21:33] JessicaSachs commented on #1224
@winniehell for back and forth convo can you find me on Vue Land discord? It’s easier to chat there.

[2019-12-18 21:39] winniehell commented on #1224
@JessicaSachs I didn't have the impression that there was much back and forth yet and also would like to have the result documented here. :sweat_smile: But sure, we can explore the different options on discord first. :+1:

[2019-12-18 21:48] JessicaSachs commented on #1224
Agreed and agreed, but I want to talk it over with you and then we will
report back to GH so that other maintainers can weigh in.

On Wed, Dec 18, 2019 at 4:39 PM Winnie <notifications@github.com> wrote:

[2019-12-19 02:01] JessicaSachs commented on #1224
Implementing this feature request would make it easier to fix a bug (#1236) by way of an existing PR (#1245) that wants to depend on this new feature.

@winniehell and I will look into ways of solving #1236 without depending on this feature request.

[2019-12-19 03:53] vvanpo commented on #1339
@afontcu good find, it seems clear to me that emulating user actions is the most intuitive and useful behaviour, here.

Interestingly, that same is not true when calling `setChecked()` on an `<input type="radio" />`. It used to be, but was removed in https://github.com/vuejs/vue-test-utils/commit/ef66c261acbb9b6b789d5fd2f843cdde99d600cd#diff-f8b21801dcf5dee76bc9f5f22e227ea8L516, which looks to me

[2019-12-19 03:55] vvanpo commented on #1339
If there are no objections, I'll open a PR for this.

[2019-12-19 04:03] JessicaSachs commented on #1339
Yes please, @vvanpo

[2019-12-19 05:16] vvanpo commented on #1364
Something I missed: https://vue-test-utils.vuejs.org/api/wrapper/#emitted

So my reproduction examples are incorrect, as `emitted()` is not supposed to return DOM events.

I'm inclined to just close this, as there is distinct difference between a forwarded listener and a call to `$emit()`. Maybe the best solution here is just to add an explanation of this difference to the documentation, with an e

[2019-12-19 05:38] JessicaSachs commented on #1379
There were a lot of async changes with setProps, setData, and trigger in beta.30. Would you like to take a crack at this bug?

[2019-12-19 05:54] JessicaSachs commented on #1364
Right. I see what you mean. I’m sorry for not catching the difference in you original gist.

I’ll close this issue. Please feel free to improve the docs in a PR. Thank you for your investigation and time spent 🙏🏻🚀

[2019-12-19 05:54] #1364 closed, assigned to nobody

[2019-12-19 08:37] JessicaSachs commented on #1377
Spent a large portion of the night trying to debug. I think innerHTML of the element shows there is no issue in the actual render... so I think the issue is in the wrapper.attributes method.

I'm gonna be offline for 2 days, but here is what I've gotten to... (using VTU as the sandbox)

[code]

and then `ComponentWithNestedChildrenAndAttributes` inside of `test/resources/components`

[code]

[2019-12-19 08:51] lmiller1990 commented on #918
@Haroenv so it looks like this is actually fixed? Upgrading your reproduction repro to beta-30 (or beta-29, looks like beta-28 broke this) shows all green.

Going to close this one, unless I missed something. Googlers, update your version of `vue-test-utils` to the latest (if possible) or at least beta-29.

[2019-12-19 08:51] #918 closed, assigned to lmiller1990

[2019-12-19 09:50] Haroenv commented on #918
I wasn't aware this was fixed, this is great news @lmiller1990, thanks!

[2019-12-19 12:45] davidlandais commented on #1224
Ok but the main idea is to share those "commands" between wrappers. For example, if I have a login-view.spec.js and a register-view.spec.js files which are both using a form. For example, I would like to fill form with ease. I could make a "command" called`fillForm` which could find X inputs and `setValue` to each one. like `loginViewWrapper.fillForm('#login', { email: 'j.doe@unkown.lost' })`. Do

[2019-12-19 14:01] Maniumn commented on #1358
This is not a solution. My example is a little code from big project. In my project there are everywhere problems with test, let, JSX, babel ... Something is complettly wrong with vue class based and tests with jest.

[2019-12-19 16:13] jayarjo commented on #193
One can also simply add: `require('dotenv').config();` to `jest.config.js`.

[2019-12-19 18:13] JessicaSachs commented on #1224
@davidlandais Right now the API is frozen because we’re trying to get v1 out so we’re only doing bug fixes. I didn’t mean anything about the feature request by saying we weren’t going to pick it up right now.

[2019-12-19 23:10] lmiller1990 commented on #1358
@Maniumn , can you provide a repro demonstrating the problems with `let`? Your above reproduction does not use JSX, and the `let` problem was related to the `<` tag, used for typecasting.

I was able to get your reproduction running correctly by using the `as String` typecasting opposed to the `<string>` typecasting. You cannot use the `<string>` type with JSX - the parser does not know what to do

[2019-12-20 21:02] #1285 closed, assigned to JessicaSachs

[2019-12-20 21:02] #1295 closed, assigned to nobody

[2019-12-20 22:42] lmiller1990 commented on #1261
Good slot support is something we will address before moving from beta to 1.0 - I'll try my best to fix this in the near future.

[2019-12-21 10:38] afontcu commented on #1276
From what I've seen, all tests using `mount` are failing, not only the one called "Bug".  Tested with beta-30, still failing. They output the following message:

"TypeError: Cannot set property 'documentHandler' of undefined" from `/element-ui/lib/utils/clickoutside.js:64:29)` plus additional errors.

Since this issue is quite old, let me ask: Did you happen to find a fix for the issue?

Thanks!

[2019-12-21 17:53] afontcu commented on #1184
Hey! 👋

`setData()` calls `vm.$set()` for each piece of state and it only modifies the desired key, not the whole object.

[2019-12-21 17:53] #1184 closed, assigned to nobody

[2019-12-22 02:48] lmiller1990 commented on #1261
Tried reproducing but failed to do so here: https://github.com/vuejs/vue-test-utils/pull/1383/files

I'll try pulling the reproduction repo.

[2019-12-23 00:29] lmiller1990 commented on #1261
Progress! I got it working in https://github.com/vuejs/vue-test-utils/pull/1383

Need to clean the code up and cover some edge cases (and support dynamic slots). Hopefully get this merged in soon!

[2019-12-24 22:07] aldarund opened #1384 "v-if inside transition element not re rendering in beta30"
### Version
1.0.0-beta.30

### Reproduction link
[https://github.com/aldarund/vue-test-utils-transition-bug](https://github.com/aldarund/vue-test-utils-transition-bug)

### Steps to reproduce
components/test.test.js
When changing rendering v-if of element inside transition and do nextTick/flushPromises vue test utils still renders old version.
Tried with flush-promises too, same effect.
Relevant f

[2019-12-27 14:17] andreabisello commented on #193
@jayarjo  @SimonLegg  thanks a lot,
but how to change environment?
for example i would like to create 4 environemnt files,
one for developer area, one for test area, one for pre production and one for production area.
and then i would like to run jest loading environment information from the right env file.

[2019-12-29 13:50] begueradj commented on #148
I tried the solutions above and none worked for me. Is there an update for this ?
basically I have the same issue described above and I want to spy on a function which is called from the `mounted` hook

[2019-12-29 15:37] begueradj commented on #148
Sorry, what the maintainer mentioned above solves my problem, I just did a mistake. Thank you all for your contributions.

[2019-12-29 18:02] begueradj commented on #148
Hello @eddyerburgh
When i do what you suggested above:
[code]
And try later to assert the method is called:
[code]
I get this error message:

[code]
Why this happens or how to fix it ?

[2019-12-30 02:55] JessicaSachs commented on #148
@begueradj you want `testMethod` to be a jest spy (or sinon)

E.g.
[code]

[2019-12-30 06:02] lmiller1990 commented on #1384
A lot of things broke relating to transitions in beta 30. There is a work around that might help documented here: https://vue-test-utils.vuejs.org/guides/#common-tips (under "Mocking transitions") however this is a bug we will fix before v1.0

I will try to look into this one in the new year.

[2019-12-30 08:25] begueradj commented on #148
Indeed, that is what I ended up doing last night, and it works, thank you very much for the feedback. @JessicaSachs
I wonder if you have a hint why I got the error above for the previous implementation I did ?

[2019-12-30 19:44] aldarund opened #1385 "vm.emit on root component not working"
### Version
1.0.0-beta.30

### Reproduction link
[https://github.com/aldarund/vue-test-utils-transition-bug](https://github.com/aldarund/vue-test-utils-transition-bug)

### Steps to reproduce
add event to root element in vue component, try to trigger it via .vm.$emit .
Relevant test is at ```components/emit.test.js```
If element isnt root - it works fine. If root - no emit happens

### What is exp

[2019-12-30 19:52] aldarund commented on #1384
Thanks, workaround worked. Didnt saw this section of guide, since it was added only in v30 :)

[2019-12-30 20:44] aldarund commented on #1384
why close since its valid issue that is supposed to be fixed before v1 ? Is there other issue that could be tracked to see when its solved?

[2019-12-30 20:45] JessicaSachs commented on #1384
Whoops! I misread this. My apologies. Thank you for pinging on the issue

[2019-12-30 21:55] dobromir-hristov commented on #1385
I tried to investigate a bit.
The component does emit an event, tried with `emitted()`.

This means the root's `$listeners` are not being called.

[2020-01-01 22:58] jpicton opened #1386 "document.querySelectorAll call from destroyed lifecycle hook cannot find DOM elements"
### Version
1.0.0-beta.30

### Steps to reproduce
[code]

[code]

### What is expected?
When `wrapper.destroy()` is called, the HTMLDivElement will be logged out to console.

### What is actually happening?
Nothing is logged to console.

I believe the problem lies in the code at https://github.com/vuejs/vue-test-utils/blob/v1.0.0-beta.30/packages/test-utils/src/wrapper.js#L136. When `attachToDocum

[2020-01-01 22:58] #1386 closed, assigned to nobody

[2020-01-01 23:04] jpicton commented on #1386
I would have used the Issue Helper if the page wasn't broken (I cannot choose a version and thus can't preview my generated issue).

[2020-01-02 07:58] afontcu commented on #1386
Hi @jpicton! 👋 Just tried and I could successfully select `beta.30` as the VTU version in our [Issue Helper](https://new-issue.vuejs.org/?repo=vuejs/vue-test-utils&type=bug-report). Could you give it another go?

Thanks! 🙌

[2020-01-02 21:47] mjhea0 commented on #1384
I don't believe this is isolated to just the transition element. I'm seeing the same issue with `v-if` when using `wrapper.setData` in the test.

Re-writing the tests to not use `setData` fixed it.

Begs the question: does `setData` no longer work correctly?

Example.vue:

[code]

Spec:

[code]

It passes just fine with `"@vue/test-utils": "1.0.0-beta.29"`.

[2020-01-02 22:08] dobromir-hristov commented on #1384
You need to "await " that tick.

[2020-01-02 22:11] mjhea0 commented on #1384
I thought the same thing; however:

1. It works without async/await in `@vue/test-utils": "1.0.0-beta.29`
2. It still breaks with async/await in `@vue/test-utils": "1.0.0-beta.30`

[2020-01-02 22:15] mjhea0 commented on #1384
It's also passing in `@vue/test-utils": "1.0.0-beta.29` without `wrapper.vm.$nextTick()`.

[2020-01-02 22:22] mjhea0 commented on #1384
I think I see what's going on here. The removal of the synchronous mode in `1.0.0-beta.30` is causing it to break now without async/await. It's not waiting in the above code, so it's introducing a race condition which just so happens to still pass in `1.0.0-beta.29`

That still doesn't explain why it's breaking with async/await when `1.0.0-beta.30` is used, though.

[2020-01-02 23:39] lmiller1990 commented on #1384
I just tried the code you provided with beta-30 with async/await and it worked fine for me:

[code]

[code]

[2020-01-03 06:57] #1339 closed, assigned to nobody

[2020-01-03 07:31] lmiller1990 commented on #1252
Hi! Sorry it took so long for someone to follow up on this.

I see why this is a valid concern, but couldn't this be as easily solved with a factory function? Eg:

[code]

Then you test becomes:

[code]

You can also make `createWrapper` take arguments if you want to set data, props etc.
Likely you want to reset the _entire_ component, not just the the emitted events? It seems more ideal to have a

[2020-01-03 08:04] #1292 closed, assigned to nobody

[2020-01-03 08:07] JessicaSachs commented on #61
Hey @yyx990803, seemingly there is a working test that exercises dynamically imported components. ([link](https://github.com/vuejs/vue-test-utils/blob/dev/test/specs/mount.spec.js#L236-L252)) Am I missing something?

[2020-01-03 12:43] andrewdavidcostello commented on #1241
Came across this issue today also, the workaround I am using is to access the children.

[code]

[2020-01-03 20:45] pjaws commented on #193
I like how each previous reply got incrementally closer to the correct answer, which is this one.

[2020-01-03 23:14] jpenna commented on #1252
Hey @lmiller1990 ! This is an option, and that's how I was doing it, but recreating the component every time is a little over kill if we just want to test a behavior triggered from the same action again and again, for example.

In the case I'm talking about, I'd like to reset just the emitted events, like `jest.clearAllMocks()` or  sinon's `spy.resetHistory()`.

Sorry I don't have a real use case

[2020-01-04 09:06] jayarjo commented on #193
@SimonLegg `config` method accepts options argument and one of the properties is [path](https://www.npmjs.com/package/dotenv#path) - basically you can give it a path to a custom `.env` file:

[2020-01-04 11:51] lmiller1990 commented on #1252
Thanks for the reply.

If there is a real performance bottleneck with recreating the component, I think that is something we should fix.

At this point, I don't think this is feature something we will be including in Vue Test Utils. If this was to become a feature one day, I'd be in support of a `resetComponent` method, that would reset _everything_ to the base state. Since that can be accomplishe

[2020-01-04 11:51] #1252 closed, assigned to nobody

[2020-01-04 12:00] #1235 closed, assigned to nobody

[2020-01-04 13:56] jpenna commented on #1252
I believe this is something that should be implemented, not only it would be useful, it would also follow the same functionality of other stub/spy test frameworks (which include this for a reason).

We shouldn't be modifying `component._emitted[event] = []` directly to achieve this reset functionality...

[2020-01-04 13:58] dobromir-hristov commented on #1252
I am also against this. You should not have to reset the emitted counter. If you do, then this is another test.
End of story.

[2020-01-05 01:58] lmiller1990 commented on #1384
As expected, stubbing the transition lets this pass:

[code]

I think we should automatically stub all transitions in VTU. They are used for animations and that sort of thing, nothing you would actually want to need to test in a unit test.

Users could opt out with:

[code]

It looks like [Vuetify just wraps Vue's `<transition>` and `<transition-group>` components](https://github.com/vuetifyjs/vue

[2020-01-05 10:53] dobromir-hristov commented on #1379
Just wrote a unit test for this and it passes, the watcher's handler is called properly.

[code]

[2020-01-06 11:45] lmiller1990 opened #1391 "`watch` mounting option should overwrite option on same component"
### Version
1.0.0-beta.30

### Reproduction link
[https://i-included-a-repro.com](https://i-included-a-repro.com)

### Steps to reproduce
repro

[code]

### What is expected?
Only the mounting options watcher should do anything.

### What is actually happening?
Both watchers are triggered.

---
This is because of this line [here](https://github.com/vuejs/vue-test-utils/blob/e7b8d505d51d59870376464

[2020-01-06 12:38] tolerious opened #1393 "test mapState failed."
hello.vue
[code]
hello.js
[code]
hello.spec.js
[code]
then run `vue run test:unit`, but I got this
![image](https://user-images.githubusercontent.com/2922120/71818823-faf05880-30c4-11ea-852f-2f9c974ae61a.png)

[2020-01-06 12:38] #1393 closed, assigned to nobody

[2020-01-06 13:38] tolerious opened #1394 "test mapState failed."
### Version
1.0.0-beta.29

### Reproduction link
[https://codepen.io/tolerious/pen/PowEEOO](https://codepen.io/tolerious/pen/PowEEOO)

### Steps to reproduce
npm run test:unit

### What is expected?
success

### What is actually happening?
failed.
can not read 'submitLocationTotal' in  mapState.
![image](https://user-images.githubusercontent.com/2922120/71821337-d4362000-30cc-11ea-8c5f-0f71e16ac3f

[2020-01-06 13:51] lmiller1990 commented on #1394
Shouldn't it be

[code]

You forgot the `claim` field. I'm fairly sure this should work fine. The repro link is also not working; can you provide one that shows the error?

[2020-01-06 14:07] tolerious commented on #1394
Yeah, that's right , thank U ~

[2020-01-06 14:07] #1394 closed, assigned to lmiller1990

[2020-01-06 14:33] tolerious commented on #1394
@lmiller1990  another question， if I use a third  part component library like vue-antdesign in my own component, how can I test my own component?

[2020-01-06 16:42] #61 closed

[2020-01-06 19:08] #1391 closed, assigned to lmiller1990

[2020-01-06 20:56] lmiller1990 commented on #1394
Same way you test any other component. If you have more questions, the best place to ask is https://vue.land/ in the #testing channel.

[2020-01-06 21:23] lmiller1990 commented on #1232
I see two solutions for this:

1. we automatically try matching against pascal/camel/kebab/whatever
2. we only match against the exact name

I'm thinking (1), we should make it as easy as possible to use `find`. It's hard to know what the `name` is for third party components. Since we support the `find({ name })` syntax, we should match Vue and handle both pascal case and kebab case. You would upd

[2020-01-06 22:08] lmiller1990 commented on #1276
Relevant, error probably around this area: https://github.com/ElemeFE/element/blob/6ec5f8e900ff698cf30e9479d692784af836a108/src/utils/clickoutside.js#L53

[2020-01-08 11:44] JFGHT opened #1397 "Component props are not correctly updated"
### Version
1.0.0-beta.30

### Reproduction link
[https://github.com/JFGHT/vue-test](https://github.com/JFGHT/vue-test)

### Steps to reproduce
yarn
yarn test:unit

### What is expected?
Tests should pass.

### What is actually happening?
Test do not pass.

---
This test was passing in beta 29.

[2020-01-08 11:48] dobromir-hristov commented on #1397
Hey mate, I dont see in that test you setting props.
Second, why accessing raw DOM nodes instead of using the test utils helpers?
Third the library is now async, so you should `await wrapper.vm.$nextTick()` after changes, so the DOM re-renders.

Try that and let us know.

[2020-01-08 13:30] JFGHT commented on #1397
Thanks. The awaiter worked. I'm also introducing the utils helpers now.

Closing.

[2020-01-08 13:30] #1397 closed, assigned to nobody

[2020-01-08 16:55] #1322 closed, assigned to nobody

[2020-01-08 16:59] dobromir-hristov commented on #108
I am pretty sure this works as it should atm. Closing.

[2020-01-08 16:59] #108 closed

[2020-01-08 17:04] dobromir-hristov commented on #351
We recently merged a PR, which allows templates as a reference in the element in the DOM - #1320
Closing for now.

[2020-01-08 17:04] #351 closed, assigned to nobody

[2020-01-08 20:12] lmiller1990 commented on #677
Adding more functionality to `find` just to be able to get make a snapshot assertion in a few less characters seems like it would be very difficult in terms of discovery - I think most people would be familiar with the `find("[attr='val']")` syntax - is there any other use cases for this? If so, we can consider it, but if not, I'm leaning towards not including this feature. Do you have any thought

[2020-01-09 07:00] afontcu commented on #677
I'd also say using the CSS attribute selector is a better solution, since it's the standard way of performing this queries – also we avoid introducing additional unnecessary complexity to VTU 👍

[2020-01-09 10:52] lmiller1990 commented on #677
Going to close this one for now. Thanks for the proposal but unfortunately this feature won't be added at this point.

[2020-01-09 10:52] #677 closed, assigned to lmiller1990

[2020-01-09 12:55] lmiller1990 commented on #1261
Merged in... this will go out in beta-31.

[2020-01-09 13:54] sobolevn opened #1399 "Cannot find module 'vue-template-compiler' from 'vue-test-utils.js'"
### Version
1.0.0-beta.30

### Reproduction link
[https://github.com/wemake-services/wemake-vue-template](https://github.com/wemake-services/wemake-vue-template)

### Steps to reproduce
0. Create new project using this boilerplate
1. Install dependencies
2. Run `npm test`

### What is expected?
I expect everything to work as it was before the `-beta.30`

### What is actually happening?
Link to the

[2020-01-09 15:19] dobromir-hristov commented on #1399
Check your lock file, is the template compiler there?

Its in the docs I guess. Probably a bad vesrsion match?
https://github.com/vuejs/vue-test-utils#peer-dependencies

[2020-01-09 17:10] sobolevn commented on #1399
After trying the same thing with `1.0.0-beta.29` I got slightly different result:

[code]

Then I have tried to change `nuxt` version to `<2.11`. That's what happened:

[code]

So, it works for both `@vue/test-utils@1.0.0-beta.29` and `@vue/test-utils@1.0.0-beta.30` with `nuxt@2.10`, but does not work with `nuxt@2.11`. I guess it is some compatibility issue between these two tools.

I will create

[2020-01-09 18:14] dobromir-hristov commented on #1399
To me this is just a dependency versioning issue.

[2020-01-09 18:53] wes-harper-ibotta opened #1400 "Add clarifying content for Vue lifecycle hooks"
### What problem does this feature solve?
This gives further explanation about how `mount` and `shallowMount` behave in conjunction with test runners, clarifying expectations for developers about how their component will be treated during and after each test.

I recently encountered a scenario where an intermittent test timeout occurred due to a `setInterval` created in the `mounted` hook, expecti

[2020-01-10 05:24] #1400 closed, assigned to nobody

[2020-01-10 09:14] dobromir-hristov commented on #1385
OK let me try to clear up whats going on.
The DOM element of your tested, aka mounted component is another component's root component.
This means that when the `find('#some-id')` method starts searching, it matches all the Vue Components, that have that id for example. But in this case, they are both the tested and it's root, so it returns both.
[code]
translates to
`<div class="the-child-root" />

[2020-01-10 10:05] Nationalcat commented on #1277
try this.

[code]

[2020-01-10 10:07] dobromir-hristov commented on #1277
Importing the main.js inside an api service is not a great idea.. if it is the main entry of Webpack, thats even a worse idea.

[2020-01-10 10:46] lmiller1990 commented on #1385
Great explanation - I get the problem. This is a really tricky one, no obvious solution comes to mind.

I guess the next step would be get a failing test case in the repo so we can all have a play around. Do you have a branch by any chance?

[2020-01-10 10:46] dobromir-hristov commented on #1385
I will push a branch.

[2020-01-10 10:53] dobromir-hristov commented on #1385
## How it works
This happens inside the `find.js` file, where we first gatherAllVNodes and then we start matching.
The matching done inside `match.js` when based on DOM nodes will return all components, that have the same root.
Then the dedupe in `find.js` will reduce those to just one, as they are technically the same DOM node, but different components.

## Proposed solution
I was going to first

[2020-01-10 11:01] dobromir-hristov commented on #1385
https://github.com/vuejs/vue-test-utils/tree/fix/1385-fix-find-component-by-dom-selector

[2020-01-11 00:42] sobolevn commented on #1399
It was related to `10` -> `12` node migration process: https://github.com/wemake-services/wemake-vue-template/compare/aedfddb452bf...1165ffb99cb8

Thanks!

[2020-01-11 00:42] #1399 closed, assigned to nobody

[2020-01-11 17:46] samgre opened #1403 "emitted() does not work with trigger in beta 29 , works with 28"
### Version
1.0.0-beta.30

### Reproduction link
[https://github.com/samgre/vue-test-utils-bug/](https://github.com/samgre/vue-test-utils-bug/)

### Steps to reproduce
To reproduce the issue, clone the repository and follow these steps:

1. Run `npm i && npm test` to run the test
2. The test fails.
3. Fix version of @vue/test-utils to older one, 1.0.0-beta.28
4. Re-run the test `npm i && npm test`

[2020-01-11 20:30] dobromir-hristov commented on #1403
Hey there. As of v30 the tests are no longer synchronous, so after each event trigger, if you want to assert if the dom got updated, you need to wait for the `$nextTick()`.
`await wrapper.vm.$nextTick()` should do the job, just after the trigger.

[2020-01-12 05:43] samgre commented on #1403
That's it, thanks!

The issue is documented under section Common tips, but not in the api reference [1], [2]. It would be a nice improvement, if the code example in [1] could highlight this.

You may close this issue or make it a suggestion to improve docs.

[1] https://vue-test-utils.vuejs.org/api/wrapper/#trigger
[2] https://vue-test-utils.vuejs.org/api/wrapper/#emitted

[2020-01-12 11:32] lmiller1990 commented on #1403
@samgre Good idea. Would you like to make a PR updating the docs? Good chance for a first PR!

Happy to do it if you haven't got the time. We should update all the documentation to reflect the need for `await wrapper.vm.$nextTick`.

[2020-01-12 17:16] TheJaredWilcurt commented on #1235
Changing the docs to say "use yarn", does not fix this issue. But apparently Yarn and TS are "the norm" for official Vue repos. So the barrier for entry has been set. I see Vue as a project that goes very far out of its way to be accommodating to anyone that wants to use it. It's a true shame that philosophy is not extended to those that want to contribute to it.

I will continue making issues and

[2020-01-12 17:34] dobromir-hristov commented on #1235
Yarn is required because we use "workspaces", to build the monorepo. Adding yarn to your local env is not hard, but surely we cant force you to.

Everyone is doing this for free, in our own free time. We all spend nights and weekends resolving issues.

Sorry that you feel this way, but it is the way it is.

[2020-01-12 23:18] TheJaredWilcurt commented on #1234
I made my own fork of jest-serializer-vue with this and other features

* https://www.npmjs.com/package/jest-serializer-vue-tjw

[2020-01-13 00:59] JessicaSachs commented on #1234
Hmm @TheJaredWilcurt is this issue mostly concerning snapshot testing and Edd’s jest serializer? Can we close it? I don’t think it’s part of VTU’s core functionality.

[2020-01-13 07:23] samgre commented on #1403
Sure, would this do? https://github.com/vuejs/vue-test-utils/pull/1405

[2020-01-13 09:06] lmiller1990 commented on #1234
Hi @TheJaredWilcurt , sorry no-one followed up on this. There are a bunch of new maintainers on board now and we are trying to catch up on all the outstanding issues.

Regarding this issue, I personally do not think there needs to be one "official" way to get elements. `find("#selector")` makes sense to me, because that's how you find things in the DOM, any web developer will be familiar with this

[2020-01-13 09:12] #1232 closed, assigned to lmiller1990

[2020-01-13 10:34] lmiller1990 commented on #1403
yep, nice job. looks good!

[2020-01-13 11:13] #1236 closed, assigned to nobody

[2020-01-13 14:12] TheDutchCoder commented on #1252
Consider the following test:

[code]

It's a valid use-case to make sure an event gets emitted (or not emitted) based on a prop change.

This currently doesn't work because the emitters somehow are stored.

Changing it to `expect(wrapper.emitted('click').length).toBe(1)` works but is (in my opinion) very counter intuitive and now depends on the author tracking when and where and how many events we

[2020-01-13 17:33] Loremaster opened #1406 "wrapper.vm.$nextTick() doesn't seem to work correctly in 1.0.0-beta.30 with bootstrap-vue modal"
### Version
1.0.0-beta.30

### Reproduction link
[https://github.com/Loremaster/next-tick-modal-issue](https://github.com/Loremaster/next-tick-modal-issue)

### Steps to reproduce
1. Clone repo
2. Run `$ yarn`
3. Run tests: `$ yarn run test:unit`

### What is expected?
I expect tests to pass.

### What is actually happening?
Test fails saying that modal wasn't closed. For a weird reason if I repla

[2020-01-13 19:38] dobromir-hristov commented on #1406
I suspect its because of transitions, but I am not sure. Not waiting the ticks just means it was never visible in the DOM :)
We removed the Transition stub in v 30 :/

[2020-01-13 19:50] dobromir-hristov commented on #1239
Hey, I am sorry but from what I see, this should work? @lmiller1990 @JessicaSachs am I missing something here? Trigger works both on custom and native events.

[2020-01-13 20:23] DespertaWeb commented on #994
Is it fixed? ???

I'm experiencing the same here:
[code]

However if I comment out the first it, it doesn't throw any errors

[2020-01-13 22:19] lmiller1990 commented on #1239
[code]

Should you be doing `emit` on the input you found?

Also join https://vue.land/ it is very active! There is a #testing channel.

[2020-01-13 22:50] lmiller1990 commented on #1252
Tracking how many times `emit` was called should not be too difficult in a single unit test. Or are you using the same `wrapper` instance for many tests?

Alternatively, you could have two tests.

[code]

Now you get more granular failures, since each test only deals with one situation.

I personally feel messing with the internals of a component during a test isn't not ideal, since that is a beha

[2020-01-14 07:36] Loremaster commented on #1406
What would be a workaround to fix it then? I want to upgrade to latest version of vue-test-utils but not sure how to tackle that issue

[2020-01-14 08:56] dobromir-hristov commented on #1406
Try stubbing the transition element globally?

[2020-01-14 20:12] TheJaredWilcurt commented on #1234
@JessicaSachs No, sorry for the poor wording. I've edited my comment, and the original post. The snapshots are just one part of this proposal. VTU's repo would still be responsible for adding in the more convenient shorthand of

[code]

@lmiller1990 Yes you can use any DOM selector to target an element for your test. And that is useful in many scenarios. However, when adding a token to your DOM so

[2020-01-15 02:30] lmiller1990 commented on #1234
I agree using `data-test` is a good practice. I'd be in support of adding the shorthand you described: `find({ test: 'el' })` which matches `data-test='el'` or some variation of this.

I also would be in support of documenting some best practices around testing.

I don't think we should pick an "official" way of targeting elements, and make that the _only_ way to find elements. Vue lets you use `$

[2020-01-15 06:45] SmileLifeIven commented on #52
@JessicaSachs Does this bug have been fixed in beta.30?

[2020-01-15 06:57] JessicaSachs commented on #52
I’m deferring to @lmiller1990  who would’ve made any code changes

[2020-01-15 08:22] Loremaster commented on #1406
I tried to stub transition like that:

[code]

but it didn't work for me

[2020-01-15 08:24] lmiller1990 commented on #52
I don't think this has been fixed. This issue tracks it: https://github.com/vuejs/vue-test-utils/issues/1384

This is the next issue I'm going to focus on. There is a work-around in that thread that might help you.

The solution will be likely to stub all transitions by default.

[2020-01-15 08:38] Loremaster commented on #1406
I was able to achieve waiting for closing by using next set of commands:

[code]

[2020-01-15 08:38] #1406 closed, assigned to nobody

[2020-01-15 19:14] afontcu commented on #1234
My two cents:

For the time being, I agree with Lachlan's view on not providing _"the"_ right way of doing things – we're currently in "damage control" mode with VTU, and the main goal now is to reach 1.0 in a timely manner. After that, I'm sure we can discuss what's the best (if any) way of doing certain things, and I'd like very much to reduce some duplication in VTU – we have several tools that

[2020-01-16 06:20] SmileLifeIven commented on #52
@lmiller1990 @JessicaSachs Thanks for your reply. I change my code follow Guides - Common Tips, but it doesn't work. So I do it as other way and worked.
[code]

[2020-01-16 06:34] SmileLifeIven commented on #52
By the way, could you update [chinese document](https://vue-test-utils.vuejs.org/zh/guides/#%E5%B8%B8%E7%94%A8%E6%8A%80%E5%B7%A7) I update version to 30 but I don't konw how to config it follow chinese document. So I asked question as you see.

[2020-01-16 10:58] lmiller1990 commented on #52
What do you want changed in the Chinese document? It's easy enough to update code snippets, but like the actual explanation will need updating, too. If you see some improvements you are more than welcome to make them.

[2020-01-16 11:41] austi10 opened #1407 "v-data-table causing vue warn infinite update loop in component render function"
### Version
1.0.0-beta.30

### Reproduction link
[https://github.com/Austino18/Vue-Test-Utils-v1.0.0-beta30--using-Vuetify-Data-Table](https://github.com/Austino18/Vue-Test-Utils-v1.0.0-beta30--using-Vuetify-Data-Table)

### Steps to reproduce
Clone/Download the github link provided and kindly follow the readme

### What is expected?
The test should run without any vue warnings

### What is actual

[2020-01-16 14:00] #1298 closed, assigned to nobody

[2020-01-16 21:04] TheDutchCoder opened #1408 "404 on script (documentation)"
### Version
1.0.0-beta.30

### Reproduction link
[https://vue-test-utils.vuejs.org](https://vue-test-utils.vuejs.org)

![image](https://user-images.githubusercontent.com/1668207/72562645-e442c200-3879-11ea-8e81-7953069ddb30.png)

### Steps to reproduce
Go to docs, open console, see hundreds of 404's

### What is expected?
No 404's

### What is actually happening?
It can't load the app script

[2020-01-16 22:06] dobromir-hristov commented on #1408
Sorry I cant reproduce this issue.

[2020-01-17 01:21] SmileLifeIven commented on #52
I just can't find [Mocking Transitions](https://vue-test-utils.vuejs.org/guides/#common-tips) in [Chinese document.](https://vue-test-utils.vuejs.org/zh/guides/#%E5%B8%B8%E7%94%A8%E6%8A%80%E5%B7%A7) and others, like 'Lifecycle Hooks', 'Writing asynchronous tests using nextTick (new)' and so on. I'm not  sure it's a right document I read.
Thanks for your time.

[2020-01-17 03:02] lmiller1990 commented on #52
Those are recent additions. No-one has updated the Chinese docs, since none of the maintainers of VTU know Chinese, I guess.

Keeping translations up to date is very challenging - would like to know if any tools solve this problem.

[2020-01-17 03:03] lmiller1990 commented on #1408
Me either - might have been a caching issue. Can you hard refresh @TheDutchCoder ?

[2020-01-17 14:43] TheDutchCoder commented on #1408
Okay it seems to be working again.
The site was very slow yesterday as well, so maybe something was up with that. Will close!

[2020-01-17 14:43] #1408 closed, assigned to nobody

[2020-01-17 14:48] Dayjo commented on #1264
Interestingly I started getting this when upgrading to Node 10 from 8. It's almost like the set.. methods literally don't do anything.

[2020-01-18 08:17] #1403 closed, assigned to nobody

[2020-01-18 14:52] CzBiX opened #1410 "Can't trigger event of child component"
### Version
1.0.0-beta.29

### Reproduction link
[https://codesandbox.io/s/ecstatic-moser-b402n](https://codesandbox.io/s/ecstatic-moser-b402n)

### Steps to reproduce
Run test with `npx vue-cli-service test:unit`.

### What is expected?
Test passed.

### What is actually happening?
Test failed.

[2020-01-20 08:53] lmiller1990 commented on #936
We have docs for this now: https://vue-test-utils.vuejs.org/guides/#usage-without-a-build-step

[2020-01-20 08:53] #936 closed, assigned to lmiller1990

[2020-01-20 10:00] claudehaeberli commented on #1288
I am having the same issue when I installed mocha (with the guide) after scaffolding the project with vue-cli.

[2020-01-20 10:19] lmiller1990 commented on #1288
I could not repro this using vue-cli or jsdom (we have a guide with jsdom [here](https://vue-test-utils.vuejs.org/guides/#usage-without-a-build-step)). I think this is probably a configuration issue, outside the scope of VTU.

If someone can provide a reproduction I am happy to reopen and investigate this.

[2020-01-20 10:19] #1288 closed, assigned to nobody

[2020-01-20 13:24] lmiller1990 commented on #1410
The reproduction sandbox isn't running for me - complaining about Jest and It been undefined.

Can you try using `await/async` and `await nextTick`? Eg:

[code]

And see if that works

[2020-01-20 14:15] CzBiX commented on #1410
Yes, codesandbox broken for @vue/vue-test-utils or jest. You can export it to local and test.
I tried upgrade to `1.0.0-beta.30` and use `nextTick`, but issue still exists.

I debugged it, found `wrapper.trigger` method only trigger DOM event, so it's not working for component.
And `wrapper.find('div').vm` will return root Vue instance(`wrapper.vm === wrapper.find('div').vm`), so `wrapper.find('di

[2020-01-20 14:22] dobromir-hristov commented on #1410
Try `find({ ref: 'some-ref' })` and tell me if it works :) I may know the reason why 😄

[2020-01-20 21:18] lmiller1990 commented on #1410
I wasn't thinking when I posted - it should it be `wrapper.find(Demo).vm.$emit("input")`, I think.

I tried Export to ZIP but nothing happened. I can create a template this evening and try this out.

[2020-01-20 21:43] DannyChambers commented on #484
This is closed, is that because it was fixed? I can't increment a value with trigger('keydown') either.

[2020-01-21 02:34] CzBiX commented on #1410
I tried `find({ ref: 'some-ref' }).trigger('input')` and `find(Demo).vm.$emit('input')`, still no luck.

[2020-01-21 04:28] lmiller1990 commented on #1410
Weird, I'll give this a look this evening.

[2020-01-21 06:37] CzBiX commented on #1410
Sorry, I forget about `trigger` only trigger DOM event.
I correct it to `find({ ref: 'some-ref' }).vm.$emit('input')`, then it works w/wo stubs.

Is this a bug or my incorrect usage? I'm not sure.

Maybe we should point it out in docs:
"You can get child component vm instance via find by ref."
"Triggers an DOM event asynchronously…"

[2020-01-21 08:43] lmiller1990 commented on #1410
You should not need to use ref - @dobromir-hristov seems to have some info around this.

[2020-01-21 14:06] Zilvinaskli commented on #1279
have you found a solution for that?

[2020-01-21 14:08] xavism commented on #1279
Unfortunately no :(

[2020-01-21 15:25] begueradj commented on #284
What is the difference between `Wrapper` and `VueWrapper` ?

[2020-01-21 15:31] dobromir-hristov commented on #284
VueWrapper just wraps a Vue component instance into a Wrapper instance. If its just a normal element (input), it uses just Wrapper.

[2020-01-22 03:08] vetruvet opened #1413 "named slots not rendering in children of other components with shallowMount"
### Version
1.0.0-beta.31

### Reproduction link
[https://github.com/vetruvet/vue-test-utils-child-with-slots-bug](https://github.com/vetruvet/vue-test-utils-child-with-slots-bug)

### Steps to reproduce
Install dependencies then `npm test`.

### What is expected?
Expect all test cases in the spec to pass.

More specifically, I would expect components with named slots to render their slots regardl

[2020-01-22 08:52] Loremaster commented on #1406
@dobromir-hristov sorry for asking here not sure what the best place would be. Can you tell me how can I stub transition and children in the same time? Let's say I have that:

[code]

I want to add `transition: transitionStub()` into that but not sure what is the proper way for that. Will appreciate any help with that.

[2020-01-22 08:53] dobromir-hristov commented on #1406
https://vue-test-utils.vuejs.org/api/options.html#stubs
[code]

[2020-01-22 08:58] Loremaster commented on #1406
@dobromir-hristov my bad, missed that one. Thank you!

[2020-01-22 19:23] Mikilll94 commented on #246
When will be the stable version released?

[2020-01-22 19:36] adrianjost opened #1415 "export default is missing"
### Version
1.0.0-beta.31

### Reproduction link
[https://jsfiddle.net/q7d08jwy/](https://jsfiddle.net/q7d08jwy/)

### Steps to reproduce
switch any import statement of the test utils from:
`import * as utils from "@vue/test-utils";`
to:
`import utils from "@vue/test-utils";`

### What is expected?
testUtils should contain all the exports like it did in v1.0.0-beta-28 so you can do
import testUtil

[2020-01-22 21:40] lmiller1990 commented on #246
Probably when these are fixed https://github.com/vuejs/vue-test-utils/projects/1. Ideally before Vue 3 comes out. We also need to work on Vue 3 compat.

Is there a specific feature or bugfix you are waiting for? Although in "beta", all the important features and present and many people are successfully using it in production.

[2020-01-22 21:46] dobromir-hristov commented on #1415
Hey there.
The old way of exporting was technically a hack. It was default exporting an object, which was then being transpiled to a CJS file, which you could both destructure import as well as importing entirely. This however was causing issues with the development process of the library, as we are now using the raw, untranspiled src to run tests against.

Most people should have already switched

[2020-01-22 22:51] adrianjost commented on #1415
I understand, but as far as I can see it is also possible to have both solution at the same time and it's also fairly easy to implement.
You just need to store the object you are currently exporting and export it both as the default export as well as the named exports.

[code]
This should not break anything or is there anything I do not understand yet? If not I would be happy to open up a pull req

[2020-01-23 07:39] lmiller1990 commented on #1415
I think if we can have both solutions at the same time that would be ideal. From what @dobromir-hristov said, it was change since it was causing issues with the development process.

If you are able to get it to work, and also run `yarn test:unit:only:dev` and it still works, I think it's fine to make a PR!

Edit: looks like adding `export default` https://github.com/vuejs/vue-test-utils/blob/9dc7

[2020-01-23 16:09] lbogdan commented on #1415
I don't think it makes sense to go against best practices (export the main thing as the default export and additional things as named exports) only to keep backwards compatibility with a few projects, and also:
- this is still in beta, so API changes are to be expected;
- there's [a single place in the documentation](https://vue-test-utils.vuejs.org/guides/usage-without-a-build-step-node.html#requ

[2020-01-23 16:18] lbogdan commented on #1415
Turns out that because of the CJS - ESM interop `const VueTestUtils = require('@vue/test-utils')` still works, so the only one not working is `import VueTestUtils from '@vue/test-utils'`, which, I reiterate, is not referenced anywhere in the docs.

[2020-01-25 07:29] lmiller1990 commented on #1234
I thought about this a bit more. I do think there is value in simplifying `find`. I don't like `name` and `ref` finding options very much. I do think we need to keep the querySelector syntax. `find(Component)` would be good, except it doesn't work with functional components.

For the Vue 3 compat version of this library. I think we should drop `ref` and `name`. We should keep querySelector, every

[2020-01-25 07:56] dobromir-hristov commented on #1234
Just my two cents:

Targeting by component is not ideal if we have more than one in the DOM.
Targeting by a DOM selector is also not OK if your component's root is another component, because they both share the same DOM node. I have explained this in #1385.
Targeting by `ref` is also not perfect, because the way we are used to traverse the DOM tree down with DOM selectors, is not how refs work. A

[2020-01-25 08:03] lmiller1990 commented on #1234
It's tough. Each solution was imperfect, so we added another alternative. Now we have 4 problems instead of 1 😆

[2020-01-25 08:31] lmiller1990 commented on #1415
Ok, I think the above points are compelling enough to not add this. Sorry for the inconvenience @adrianjost - we should have documented this more clearly in our release notes.

Since there is a pretty simple fix available, I'm going to close this issue.

[2020-01-25 08:31] #1415 closed, assigned to nobody

[2020-01-25 19:20] TheJaredWilcurt commented on #1234
Since taking on the `jest-serializer-vue-tjw` project. I've learned more about common practices for selecting elements in tests. Here is the general consensus I've found:

* `data-test="token"` - This should be the default choice. You should only deviate from this if you have a good reason to. Would be nice to have a shorthand like `wrapper.findAll({ test: 'token' }).at(0)`.
* `data-testid="token"

[2020-01-25 20:25] adrianjost commented on #1415
I totally understand that this software is still in beta and changes may happen. I was just wondering because I had found this issue: https://github.com/vuejs/vue-test-utils/issues/873 where it was implicitly implemented and it was in the docs a couple of versions earlier. I am 100% fine leaving it as is now because of the easy fix.

---

**FYI:** I tried implementing export default again and this

[2020-01-26 02:59] ProfessorTom commented on #79
@eddyerburgh Has this stopped working along the way? I'm having no luck reading my `input`'s `value` in a Jest test and wonder if I've hit upon a limitation of JSDom.

P.S. Your book, _Testing Vue.js Applications_ has been very helpful getting me up to speed. (Hopefully, I didn't read so fast that retention suffered and caused me to ask a question you already answered in your book.)

[2020-01-26 07:58] SergeyNI commented on #829
I had the same issue. I had several items "it". Option `sync:false` not helped for me, when I once inserted to mount. Problem invoked in strong second item "it".  When I put in each item then it worked for me.

it('Has text password', () => {
    const wrapper = mount(SignUp, { localVue, vuetify, store, i18n, router, sync: false })
    const password = wrapper.vm.$t('password')
    expect(wrapper.

[2020-01-27 01:27] kzw opened #1417 "'template' tag crashes when `pug` is used as the pre-html language"
### Version
1.0.0-beta.31

### Reproduction link
[https://github.com/kzw/vuetest](https://github.com/kzw/vuetest)

### Steps to reproduce
I assume that `make` is available on your system.  At the root of the repo in master branch

npm i

./test

This test fails

In the branch `passing` the test passes.  You can examine the diff of `master` and `passing`.  In the `master` branch, if the `Home.vue `

[2020-01-27 01:37] lmiller1990 opened #1418 "Make Codesandbox with latest VTU more visible for reporting issues"
#1417 points out there is some friction in reporting an issue. We should have a link to a codesandbox that people can use to repro their problem easily. Maybe we can include this in the issue template.

[2020-01-27 01:47] lmiller1990 commented on #1417
Hi! I opened an issue regarding making reporting bugs more visible: #1418 . Thanks for going to the effort to report this. Most people just use vue-cli to make a minimal project.

Anyway, I tried running `npm i` and `./test`. I got an error:

[code]

What do I need to do?

Pug is definitely supported: See [here](https://github.com/vuejs/vue-jest#supported-template-languages).

If you can help me r

[2020-01-27 03:00] kzw commented on #1417
Sorry you are having problem.  I cloned a new copy of my test repo to new folder and I did not find this problem.  The problem could be due to differences in `sass`.

In any case, I pushed some fixes to both branches so that you should not have this problem any more.  Could you please give it a go again?

[2020-01-27 03:01] kzw commented on #1417
What the issue creating app does not ask is the stack traces I am getting.  Here it is

` FAIL  __test__/main.test.js
  ● Test suite failed to run

    Jest encountered an unexpected token

    This usually means that you are trying to import a file which Jest cannot parse, e.g. it's not plain JavaScript.

    By default, if Jest sees a Babel config, it will use that to transform your files, ignor

[2020-01-27 13:55] lmiller1990 commented on #1417
I got this to work using [this](https://github.com/vuejs/vue-jest/issues/175#issuecomment-575043315) comment. Update your package.json. In your Jest key:

[code]

Closing, post if this does not work for you. There are other warnings but unrelated to this.

BTW this is a super weird template - if you use vue cli to generate your project, everything will work out of the box.

[2020-01-27 13:55] #1417 closed, assigned to nobody

[2020-01-27 23:01] aldarund opened #1419 "Watch with immediate totally breaks setProps"
### Version
1.0.0-beta.31

### Reproduction link
[https://github.com/aldarund/vue-test-utils-transition-bug/blob/master/components/watch.test.js](https://github.com/aldarund/vue-test-utils-transition-bug/blob/master/components/watch.test.js)
https://github.com/aldarund/vue-test-utils-transition-bug/blob/master/components/watchtest.vue

### Steps to reproduce
use watch with immediate as prop

### W

[2020-01-27 23:09] aldarund commented on #1419
There is a test for this usecase, well almost  https://github.com/vuejs/vue-test-utils/blob/c979087793329fedf4aa400c76a2f6da3f422802/test/specs/wrapper/setProps.spec.js#L83

But if u do add watch in mounted -> it works.
But it dont work if u define watch as prop, not in mounted, so that test dont cover this issue

[2020-01-27 23:27] aldarund commented on #1410
isnt it same as https://github.com/vuejs/vue-test-utils/issues/1385 ?

[2020-01-28 01:28] lmiller1990 commented on #1410
I think you could be right @aldarund.

@CzBiX are you able to share your exact use case for this functionality with some more context?

I'm starting to think instead of attempting to fix/cover every edge case for using `find` (we have ref, querySelector, component, and there are some that appear very hard or impossible to solve as expected in #1385), we should start providing best practices and gu

[2020-01-28 04:35] CzBiX commented on #1410
I'm using Vuetify, which provide `v-btn` component. And I want to write test for click button action.

Add `ref` in src only for unit test is hacky to me.
Right now, I have to wrap something like `<v-btn @input="someValue = !someValue" />` to `<v-btn @input="clickBtn" />`, then I can just call `wrapper.vm.clickBtn()` to test button events.

@aldarund In my use case child component is not the root

[2020-01-28 05:53] lmiller1990 commented on #1410
I see. This is a pretty common use case (testing Vuetify).

I use this approach in my Vuetify apps (and when people ask for help with testing Vuetify).

Component:

[code]

Test:

[code]

I added a `data-test` attribute to make it easier to find my `<v-btn>`. Then I just chain `find` again to find the `<button>` Vuetify wraps.

I am not sure if this solution is ideal for every case, but I've found

[2020-01-28 09:27] aldarund commented on #1410
@CzBiX but in your provided CBS in Demo.vue and test you are testing the root component . How its not the root?

[2020-01-28 20:18] novellac opened #1420 "(docs)Update links to "get""
### Version
1.0.0-beta.31

### Reproduction link
[https://vue-test-utils.vuejs.org/api/wrapper/find.html](https://vue-test-utils.vuejs.org/api/wrapper/find.html)

### Steps to reproduce
- Scroll to the bottom of the page
- Click on the link "get" in the sentence "See also: get."

### What is expected?
Clicking on the link will lead to a 404.

### What is actually happening?
"https://vue-test-utils

[2020-01-28 20:20] dobromir-hristov commented on #1420
Want to make a PR?

[2020-01-28 20:24] novellac commented on #1420
Yep, I will try to get the docs site spun up on my local and have a go at a PR. Is there a preference between `/api/wrapper/#get` and `/api/wrapper/get.html` ?

[2020-01-28 21:17] afontcu commented on #1420
Hi! I'd go with https://vue-test-utils.vuejs.org/api/wrapper/get.html since the other "See also" link points to the `.html` file.

Thanks for this! :)

[2020-01-28 21:17] #1420 closed, assigned to nobody

[2020-01-28 21:18] dobromir-hristov commented on #1420
Hey. I updated the links, had some weird caching bugs, but got them sorted.

Thanks @novellac for finding this.

[2020-01-29 07:23] CzBiX commented on #1410
@aldarund This issue still exists when the child component is not root component. The CSB is just a simplified demo for reproduction/debug.

[2020-01-29 07:46] dobromir-hristov commented on #1410
You are correct. There are a few issues with this.
1. `trigger` is meant to trigger DOM events on DOM nodes. Custom Vue Events bound to custom Vue components may not work in this case.
2. When using `find` via a DOM selector, like `.class` or `div`, it will actually find the first Vue Component, that has that tag as it's root node. But as we wee in your demo, both `Demo` and `Dummy` share the same

[2020-01-29 10:18] lmiller1990 commented on #1410
I think we need an alternative API to stubbing in VTU for Vue 3. The current API is confusing and requires the user to know the implementation details of their component, which is not how tests should work - coupling your tests to implementation details leads to brittle tests. This is not really the fault of the user, but of VTU, to provide cohesive API and guidance.

Anyway, there is a work aroun

[2020-01-29 10:18] #1410 closed, assigned to nobody

[2020-01-29 10:21] lmiller1990 commented on #1419
Hey, thanks for the report. This is definitely a bug. What is your use case for this?  There might be a better way than `setProps`. `setProps` is really an anti-pattern (the user cannot arbitrarily change the props) and I'm exploring depreciating this method for that reason.

Are you able to share your use case? Happy to provide some alternatives to `setProps`. Also happy to fix the bug (shouldn't

[2020-01-29 10:37] CzBiX commented on #1410
@dobromir-hristov I must to point out, the `div` tag in `Dummy` doesn't matter, when I change it to `span` in `Dummay`, `wrapper.vm === wrapper.find('span').vm` still be true.
Looks like the only way to get child compoent vm is `find` by ref at the moment.

[2020-01-29 10:58] dobromir-hristov commented on #1410
correct.

[2020-01-29 14:36] aldarund commented on #1419
Well, the usecase pretty simple and general. Test components with different props passed to it. Its not specific to watch in any way.
The only other way that i see is to do full mount each time, but i dont see how its beneficial.
But specifically setProps can be used to see how component reacts on when passed property changed, isnt that how user change it? e.g. change the value in upper level and

[2020-01-29 16:46] nanditsaini commented on #1241
I am also facing the same issue and actually I observed one more thing that when I am using `wrapper.props()` method it gives the component's(the one which I am writing test cases of) props and when I use` wrapper.attribues()` I get the props of the root child component.

[2020-01-29 19:56] begueradj commented on #611
For a `<v-tooltip />` component, how to access the displayed information (text) when we trigger the mousenter event ?

[2020-01-29 20:50] lmiller1990 commented on #1419
I think this is ok - then you don't need to `await nextTick`, you just mount and make your assertion. [Here is an example](https://github.com/vuetifyjs/vuetify/pull/10356/files#diff-777de15d6f2f49729e7e37646ea4a3abR103) of a refactor in Vuetify where we moved from `setProps` to a for loop and mounting options - resulted in less code. Let me know what you think.

Kind of - `setProps` forces a chang

[2020-01-29 22:08] afontcu commented on #611
Hi @begueradj! The issue was closed a year and a half ago, so it would be way better if you could open up a new one if you are facing an issue.

If you have a general question, it would be better if you could submit it to the [forum](https://forum.vuejs.org/) or the official [chat](https://discordapp.com/invite/HBherRA).

Thanks! :)

[2020-01-30 06:14] roopen219 commented on #165
I followed the mocha-webpack docs and used `chainWebpack` in `vue.config.js` to add the webpack related stuff, rest is same as the docs. I have only done this for JS files, but I think it should be similar for vue files as well.

[code]

[code]

[2020-01-30 07:30] begueradj opened #1421 "Triggering mouseenter event on v-tooltip does not update the wrapper"
### Version
1.0.0-beta.31

### Reproduction link
[https://github.com/begueradj/test-vuetify-tooltip](https://github.com/begueradj/test-vuetify-tooltip)

### Steps to reproduce
1. In **pages/index.vue**:

[code]

2. In **components/ComponentWithTooltip.vue**:

[code]

3. In **test/components/ComponentWithTooltip.vue**:

[code]

### What is expected?
I expect when I trigger the `mouseenter` event in

[2020-01-30 16:05] amiefx commented on #1138
I had same problem.
it was due Capitalization of Vue
I changed "import Vue from 'Vue';" with "import Vue from 'vue';"
it works now

[2020-01-31 10:46] kamalhm commented on #983
I stumbled upon this problem too and I don't understand eddy's explanation, do you mind showing me the code after the fix? @blaadje

[2020-01-31 20:21] gregveres commented on #1252
I am really surprised to see the resistance to this. I agree with the comment above that this is very much like resetting the calls on a spy. I think one of the best use cases that can be put forth for this when you consider something like this for your tests:

[code]

When I have 10,000+ unit tests for my app, it matters if the test run can be shaved down in time by not recreating the mounted com

[2020-01-31 21:00] dobromir-hristov commented on #1252
So how do you reset your component between tests? How do you ensure each prop, data is untouched? Wont that be more work than just re-mounting it? Just thinking out loud here.

[2020-01-31 22:04] gregveres commented on #1252
There is often a whole series of tests that can be run on an object without it corrupting the object and needing to be reset. And sure, for those tests that need a fresh copy of the component, then create a new one.

Here is an example, let's assume that there are a number of getter values that are used to control how the object looks and those react and change based on the value of the store and

[2020-02-01 17:48] dobromir-hristov commented on #1421
Hey there, the link to your repo is busted :/
Also, does your v-tooltip have a Transition by any chance? We have noticed that those cause issues sometimes.

[2020-02-01 17:51] dobromir-hristov commented on #1418
I like the idea, how do we change the issue template for VTU?

[2020-02-02 01:55] lmiller1990 commented on #1252
I feel like this could be a slippery slope - won't we then need to condition `resetData`, `resetComputed`, `resetProps` as well?

A previous comment said you can just do `component._emitted[event] = []`. Or say, `component._emitted = []` for the full reset. The fact that this feature is already available in a one liner seems like it should be enough - are you just asking for a prettier syntax arou

[2020-02-02 02:01] gregveres commented on #1252
@lmiller1990 That work around didn't work for me. I don't know why, but it didn't work. I would have to dig into it again to see why it didn't.

I disagree that this has to lead to a slippery slop of resetting the other things. In fact, the other things are already spelled out in different guides as far as I remember.

I think the best way to think of this as being analogous to Spies in jest/jasmi

[2020-02-02 02:04] lmiller1990 commented on #1421
VTooltip [uses transitions(https://github.com/vuetifyjs/vuetify/blob/master/packages/vuetify/src/components/VTooltip/VTooltip.ts).

Can you try:

[code]

and see if that works?

[2020-02-02 02:06] lmiller1990 commented on #1418
I have no idea, probably need to ask someone to do it. We can change the GH default here, though: https://github.com/vuejs/vue-test-utils/blob/dev/.github/ISSUE_TEMPLATE.md

Let's ping someone in core.

[2020-02-02 02:13] lmiller1990 commented on #1252
Persisted state between unit tests is never a good idea - you should always remount your component for every test.

I'm happy to help write some code to reset the emitted events that people can add into the projects (like a plugin). I don't think this belongs in core - the API is already too large and complicated as is. We are already trying to cut back on features for the Vue 3 compat, adding new

[2020-02-02 02:15] gregveres commented on #1252
@lmiller1990
So in your unit tests you never use BeforeAll / BeforeEach? That's what these are for, to do test suite setup.

[2020-02-02 02:24] lmiller1990 commented on #1252
`beforeAll` and `beforeEach` have their place - we use them for [global stubs and configure](https://github.com/vuejs/vue-test-utils/blob/370474bad2a7376043228d69457e6683f04d3444/test/specs/mounting-options/stubs.spec.js#L17) in this library, for example. I personally don't use them for component related setup, because I don't think it's good practice. You are, of course, welcome to use them how y

[2020-02-02 04:36] begueradj commented on #1421
@dobromir-hristov The link I provided is not broken.
I am not using `transition`, but by default it is null.

[2020-02-02 05:02] begueradj commented on #1421
@lmiller1990 Good point.
I did that but still I do not get the tooltip text:

[code]

[2020-02-02 05:23] lmiller1990 commented on #1421
@begueradj the link in the first post is 404ing. Can you check it? What is the link to your repo?

[2020-02-02 05:30] lmiller1990 commented on #1421
Ok, I figured the problem out. It's because VTooltip uses [`requestAnimationFrame`](https://github.com/vuetifyjs/vuetify/blob/6e6d6b8c6ca3fc358b738138f22bde1cccc5758e/packages/vuetify/src/components/VTooltip/VTooltip.ts#L160).

I got the test to pass:

[code]

Try that.

I don't think is something we can easily fix in VTU.