[2017-05-28 12:03] yyx990803 opened #1 "Design / Roadmap"
Following the [forum thread](https://forum.vuejs.org/t/is-anything-being-done-in-core-vue-to-make-unit-testing-easier/7431/17), using this issue to kick off work on an official unit testing utility lib. We are planning to built on top of @eddyerburgh 's [Avoriaz](https://github.com/eddyerburgh/avoriaz), since it seems to be the most mature one currently, and Edd has kindly offered to work on it. O

[2017-05-28 12:56] eddyerburgh commented on #1
I think the main question is should the test utils use a wrapper API, augmented API or simple API?

Wrapper API
[code]

Augmented API
[code]

Simple API
[code]

avoriaz uses the wrapper API. Personally I think it's the best API for this library - it avoids possible collisions that can occur with the augmented API and produces readable and chainable code.

What are people thoughts?

[2017-05-28 12:58] yyx990803 commented on #1
@eddyerburgh I prefer wrapper. Simple API can be tedious to import all the methods.

[2017-05-28 13:58] HerringtonDarkholme commented on #1
Thank @eddyerburgh 's great library! I have read avoriaz' doc and it is well done.

Another field worth testing is the events a component emits. For example, a custom input component will likely emit an `update` event.

It is reasonable for a user to expect utility for testing custom event in the standard toolkit.

[2017-05-28 14:36] eddyerburgh commented on #1
@HerringtonDarkholme Good idea. What would the API look like for that? `wrapper.didEmit('update')`?

On another note. If we add a [`find`](https://eddyerburgh.gitbooks.io/avoriaz/content/api/mount/find.html) method - should `find` return an array of wrappers, or a container class?

A container class could default to the first item:
[code]
And throw an error message if no element is found:
[code]

[2017-05-28 14:53] yyx990803 commented on #1
@eddyerburgh can't the returned wrapper behave like jQuery collections? They have methods but are somewhat array-like (can be accessed via indices and even have iteration methods). That said, `.at(1)` isn't that bad.

[2017-05-28 15:24] HerringtonDarkholme commented on #1
@eddyerburgh  call me old school, but I still feel that jQuery is the most convenient dom traversal library.

For `wrapper.find('.my-element').is('div')`, I would expect it means "for all elements with class `my-element`, they are HTMLDivElement". For `wrapper.find('div').dispatch('click')`, I would expect click events are dispatched to all `div`s.

That means, any predicate or method is applied o

[2017-05-28 15:58] eddyerburgh commented on #1
@yyx990803 Yes, it could return an object with properties 0,1,2 etc. But you will get type errors if a wrapper doesn't exist at an index:

[code]

If we used a method like `at` to access the wrapper, we could throw a custom error message

[code]
It would be nice to throw as many custom error messages as often as possible. But I'm not sure if it justifies having a more complicated API.

@Herrington

[2017-05-28 19:08] jackmellis commented on #1
I get the feeling I'm the only person who doesn't do a lot of DOM traversal in their Unit Tests!

Most of my tests focus around the output of computed properties and methods using different data/prop values. I would leave checking the html layout of my page down to integration testing. Is this not how people test their Vue components?

Personally this is where I feel the wrapper API adds one-too-m

[2017-05-29 02:02] znck commented on #1
@jackmellis This is interesting. Add ability to mock/inject methods, vuex store & lifecycle hooks to my wishlist.

[2017-05-29 04:26] yyx990803 commented on #1
@eddyerburgh yeah, I think a jQuery-like-object would be natural for most users, but you make a good point about `[1]` vs. `.at(1)` - I'm actually leaning towards `.at(1)` because of the error handling aspect.

@jackmellis good points - with the wrapper API you still have access to the actual `vm` inside though, so you can just use the wrapper for stubbing purposes.

[2017-05-29 08:00] eddyerburgh commented on #1
I've made a draft API to get some ideas down - https://github.com/eddyerburgh/vue-test-utils-proposal/blob/master/API.md

[2017-05-29 08:47] HerringtonDarkholme commented on #1
@eddyerburgh  Great! I like the consistency of `is`, `did`, `has` prefix to indicate they are assertion method!

I have several questions:

1. the `slot` option in `mount` and `shallow` seems to accept a `ComponentOption`. But in VueJS runtime `slot` contains an array of VNode. Does it mean vue-test-util will inflate option to vnode? Or should we change the `slot` option to accept `VNode` instead?

[2017-05-29 08:52] codebryo commented on #1
@jackmellis I actually like to do unit tests with rendering. Tools like Jest that support a snapshot feature are great for checking the output.

@eddyerburgh when mentioning jQuery, a thing that I felt was most useful and a big win for jquerys popularity is sizzle. What about leveraging sizzle for finding so people can so things like `div:first` and stuff? Besides that, the container method seems

[2017-05-29 08:57] codebryo commented on #1
Regarding `setProps` - https://github.com/eddyerburgh/vue-test-utils-proposal/blob/master/API.md#setpropsprops

It's always hard to make the right call on this kind of things. For one, it would probably fit a lot of cases that it automatically updates but sometimes it's maybe desired to not update for some reason, then it would help to have it manually.

So if the workflow would look like this:

`

[2017-05-29 09:02] HerringtonDarkholme commented on #1
I want also to note that `update`  in Vue is async by default.

A `waitForUpdate` like test util appears in Vue source repo too.
https://github.com/vuejs/vue/blob/dev/test/unit/features/component/component-slot.spec.js#L41

[2017-05-29 09:40] jackmellis commented on #1
Yes so wouldn't the updating of props require you to wait for the next tick anyway? To me this implies manually calling update is not necessary, as long as you somehow wait for the async updates to occurr. Otherwise, would you expect `wrapper.setData` to require an `update` before any changes are reflected in the component?

[2017-05-29 09:59] eddyerburgh commented on #1
@HerringtonDarkholme

1. it would inflate to a vNode array if it was a single component or an array
2. sound good to me, I'll update 👍 . One problem is that it won't always be possible to intercept. A lot of plugins use defineProperty which makes it impossible currently (I think) to overwrite.
3. can you make a PR adding the method to the draft?
4. good point. Do you have any suggestions for the m

[2017-05-29 10:11] yyx990803 commented on #1
I noticed the async-ness issue. In Vue's own unit tests, I want to ensure the exact same behavior with user code, so we preserved the async-ness in tests. But for userland component testing, especially unit-testing, I think having to deal with the async-ness would be more of a annoyance. Vue used to have a global config option `async` which can make all updates sync, but I removed it to prevent us

[2017-05-29 10:12] znck commented on #1
[#shallow](https://github.com/eddyerburgh/vue-test-utils-proposal/blob/master/API.md#shallowcomponent-options) - Default depth can be 1 but it should be configurable.

[2017-05-29 10:18] codebryo commented on #1
@eddyerburgh I actually did not test sizzle with vNodes yet, but I am sure it should be doable somehow :D. Maybe it's a thing for later though. When the container supports all major things it's not so critical.
The proposed solution for the update is good enough for testing imo.

@yyx990803 a crazy example I saw when reviewing a clients work: (Sorry I can't share the code)

1. Computed property up

[2017-05-29 16:01] jackmellis commented on #1
Okay so the Vuenit library has some mocking utilities for Vuex and Vue-Router. I've spent some time extracting them into standalone packages so they can be library-agnostic. Can they be integrated into vue-test-utils?

https://github.com/jackmellis/mock-vue-router
https://github.com/jackmellis/mock-vuex

[2017-05-29 16:11] yyx990803 commented on #1
@codebryo if that's not a common case it should be trivial to just temporarily turn async on during specific tests.

@jackmellis that's great - although I'm wondering what's preventing your from injecting a real router/store created during the test?

[2017-05-29 17:31] jackmellis commented on #1
@yyx990803
Vuex/router require a fair amount of configuration to get going, the mock libraries don't require any, it will just set some stubbed/dummy config for anything you omit.
The *real* libraries carry with them quite a bit of overhead that you often don't need or care about when you just want an object that looks like vue-router, for example.
The mock libraries also contain some useful metho

[2017-05-29 17:58] posva commented on #1
having to write `.at(1)` instead of `[1]` is a fair tradeoff for the error handling 😉

@HerringtonDarkholme About the `waitForUpdate`, I took vue's helper and changed it a bit for vue-mdc tests. I made it support returning promises inside of the callbacks(I think...) https://github.com/posva/vue-mdc/blob/master/test/helpers/wait-for-update.js#L10

Good job on the api draft 👍

[2017-05-29 18:34] eddyerburgh commented on #1
@posva `exists` is a good idea 👍

Although a chai plugin should be a separate project in my opinion. `exists` should be added as a wrapper method, and a chai plugin project can add the assertion you added.

[code]

[2017-05-29 19:35] codebryo commented on #1
@jackmellis I can't follow 100% on the store. Mocking is usually quite easy to do for the functions you wanne test ,and if you want to include certain functionality (like a vue component working with a Vuex store) it's nice that it works when needed.

For the $router though I can see a lot of value in the generally mocked version.

@posva `exists` is great.

@eddyerburgh Do you think when using th

[2017-05-29 19:45] eddyerburgh commented on #1
@codebryo in the draft there is [`dispatch`](https://github.com/eddyerburgh/vue-test-utils-proposal/blob/master/API.md#dispatchevent) which does what you want.

At the moment it works for native events or custom events, but I'm wondering whether it should be split into two methods:

[code]

I also think trigger might be a better name than dispatch 🤔

[2017-05-29 20:06] codebryo commented on #1
@eddyerburgh I have actually mistaken dispatch in this case for the Vue - Vuex communication (what does not make sense at this point)  or the already deprecated `$dispatch`.
For some reason dispatching interactions never clicked with me. So for me personally `trigger` makes kind of more sense:

[code]
So considering dispatch is mostly in use to fire actions in the Vuex store it kind of feels weird

[2017-05-30 02:09] asselin commented on #1
@yyx990803  @eddyerburgh Glad to see this kicked off!  I've been away for the US holiday weekend, but have (just a few :) thoughts to add:

IMO, I don't think we should shy away from rendering to a real DOM, particularly since there are implementations like JSDOM that are pretty lightweight. My thinking is that if someone wants to traverse the DOM to test if it rendered correctly, or to stimulate

[2017-05-30 03:19] znck commented on #1
@asselin

There are times (e.g. router components/pages) when a component may contain many children but I'd be testing the component in units, shallow render makes sense, tests would be faster.

But I'd like to use `chai-dom` (I'm familiar), 👍  on that, we should be able to use preferred traversal and assertion libraries.

That would be nice when a component accepts many named slots. 👍

Using spys

[2017-05-30 06:35] jackmellis commented on #1
@asselin thanks for your thoughts, a lot of what you're saying rings true with me:

I absolutely agree with this, there are so many ways to traverse the dom, it feels a little bit like we're basically just rewriting jQuery with a couple of vue-specifics. However, we are *definitely* in the minority on this so I'm not gonna fight for it!

Again agreed, slots are often not just components. I would s

[2017-05-30 08:45] yyx990803 commented on #1
One thing I'd like to sort out is **VDOM vs DOM** and **full vs shallow**. They are actually orthogonal:

### Full vs Shallow

Shallow means we don't render child components (or only render child components to a certain depth). However this can be done by rendering to either VDOM or real DOM.

### VDOM vs DOM

- **VDOM:** simply render a component's VDOM tree with `vm._render()`. The tree consists

[2017-05-30 08:52] eddyerburgh commented on #1
String slots and stubbed components is a great idea, I'll add them to the proposal.

@asselin We should not use a real DOM in `shallow`. Even JSDOM is expensive. A big problem with Vue unit tests currently is how long they take to run.

@jackmellis @asselin We won't be traversing the DOM, we'll be traversing the virtual DOM. This means wrappers of DOM nodes are actually wrappers of [vNodes](https:

[2017-05-30 09:05] callumacrae commented on #1
This looks really good!

The only thing I'd change is the `didEmit` object - it seems like an abstraction too far for the library, and means you can't see how many times the event was emitted and what the payload was. Seems to me that it would be better to have the ability to specify event listeners and leave the actual testing logic in userland (e.g. with sinon).

Two approaches to that:

- Add a

[2017-05-30 09:07] jackmellis commented on #1
@yyx990703 @codebryo re vuex, it's a little beside the point by now I think, but I created a quick gist to show the difference between using Vuex and mock-vuex based on an example from the Avoriaz docs.
https://gist.github.com/jackmellis/1bdc016e3c1f69b057284ca4a7dc762c

Also consider tests where you want to test a computed property or method that returns different values based on state changes.
h

[2017-05-30 15:28] asselin commented on #1
@jackmellis

OK, good point, I agree.

Do you have any components and unit tests that you could post publicly as a starting point for 1. generating the use cases we need to cover 2. when we're comparing API options, visually seeing what the effect would be on unit tests?  I'll go dig around and see what I can come up with that I can share (and certainly if anyone else has anything, feel free to ch

[2017-05-30 15:44] callumacrae commented on #1
They're old (~8 months) and incomplete, but here's some unit tests I wrote with vue-test: https://gist.github.com/callumacrae/237f3cc589b967ccd169e83b5ec5b03b

TIL it has been 8 months since I've had enough time to write a unit test 😳

[2017-05-30 15:44] eddyerburgh commented on #1
@asselin There are lots of examples of people using avoriaz to test on github - https://github.com/search?utf8=%E2%9C%93&q=avoriaz+mount&type=Code.

[2017-05-30 16:07] asselin commented on #1
@znck @eddyerburgh @yyx990803 Before dismissing JSDOM as too slow, I think a performance comparison is warranted.  What I'm afraid of is if we go the route of including DOM/vDOM traversal functions, the API is either going to be incomplete, or there's going to be a LOT of code to write to make it complete (see http://airbnb.io/enzyme/docs/api/shallow.html and related sections for example, to see h

[2017-05-30 18:14] jackmellis commented on #1
@asselin ill have to see how much I'm allowed to borrow as I'm working on a closed source project, I may be able to just do some pseudo code based on things I've tested.

In the meantime, I have some example test scenarios for very simple components,some just require dom traversal but some go beyond that. The best example is probably this one:
https://github.com/jackmellis/vuenit-examples/blob/mas

[2017-05-30 18:19] eddyerburgh commented on #1
@asselin a performance comparison is a good idea.

You raise some valid concerns.

I think yes.

In answer to your questions:

- Any significant library requires people to learn an API. enzyme has proved people are willing to learn a new API for testing
- Yes, but that's always the case
- Initially there won't, but the amount of information could exceed a general purpose solution (enzyme has 1600

[2017-05-30 20:35] znck commented on #1
If we've collected a minimal list of features/API requirements, then we should start the implementation. I think we would get better feedback/insights if we've something concrete to try on.

[2017-05-31 00:11] asselin commented on #1
I've got some time over the next few days, I can volunteer to start pulling together some code.  We can start with [Avoriaz](https://github.com/eddyerburgh/avoriaz), and I can add the stuff @callumacrae and I did on [vue-test](https://github.com/callumacrae/vue-test) and [vue-cordova-template](https://github.com/BlueOakJS/vue-cordova-template) around events and webpack-mocha-jsdom setup.

I think

[2017-05-31 07:27] eddyerburgh commented on #1
@asselin If we're pulling in avoriaz, I'd like to do it 😄 . I should be able to port the necessary code and add types in an evening.

Good idea on use cases. I'll make an issue so we can get some down.

[2017-05-31 08:09] znck commented on #1
@eddyerburgh Try make it usable from the very beginning. So, we would be able to get quick feedback.

[2017-05-31 08:42] callumacrae commented on #1
Let me know when it's at a point that I can contribute some code / help out :)

[2017-05-31 10:35] codebryo commented on #1
@eddyerburgh
Regarding performance, I now use Jest for our code base and run quite a lot of unit tests, that use JSDOM. As everything runs on node it's really fast. So I don't have any performance issues that would cross out JSDOM as tool. Had problems with mocha/chai and phantomjs, but that's also not working with vDOM as phantom won't support it.

For tests, I am happy to provide a bunch of diff

[2017-06-01 17:13] Cortrah commented on #1
Hi guys,

Glad to see this happening. Just last week I just started putting together [notes and use cases](https://github.com/Cortrah/test-monkey) for what I'd like to make sure that I know how to test in vue as preparation for upgrading an application to vue 2. I'm bringing in concepts from my past that aren't super vue-like here and there, so any feedback would be appreciated.

In particular the

[2017-06-01 17:18] callumacrae commented on #1
I think e2e testing is probably completely out of the scope of this library - there's nothing library specific in that kind of testing, usually.

vue-test supports Vue 1, not sure about Avoriaz. However, I'll be deprecating it in favour of vue-test-utils when it's done.

[2017-06-01 21:25] Cortrah commented on #1
Yes what I meant was that some of those things in the list are not going to be relevant as I was thinking of an overall application not just vue components, though since vue takes on some model and controller responsibilities, the traditional list of things just for unit tests will be too small (as this group of libraries shows by their methods already) I think vue-test's description is right on f

[2017-06-02 20:22] eddyerburgh commented on #1
I've added the `mount` method from the [API proposal](https://github.com/eddyerburgh/vue-test-utils-proposal/blob/master/API.md).

`find` returns a WrapperArray object.

A `WrapperArray` has all the methods of a `Wrapper`. By default, it will call methods on every `Wrapper` inside the array:

[code]

You can select a `Wrapper` by using `at`

[code]

WrapperArray contains a length property:

[code]

[2017-06-03 04:02] Austio commented on #1
@eddyerburgh would like to help on this project.  Is there a best place to pitch in?

Here is a project where we have a ton of coverage on the components with some inspiration tools from a mix of element-ui, vue's internal and probably a half dozen other places.

Utils we have, provides about all we ned to accomplish stuff
https://github.com/doximity/vue-genome/blob/master/test/unit/util.js

Usage

[2017-06-03 05:36] jackmellis commented on #1
@eddyburgh looks great so far!

I think the find/html/name/text methods should be available without having to call `at` first. It would feel much more intuitive to write `wrapper.find('#p-id').text()`, especially as you will often only be looking to retrieve a single element anyway. In that case, perhaps wrapper methods should indeed act on the first matched element?

The `at` method helps with er

[2017-06-03 08:46] eddyerburgh commented on #1
@Austio PRs dealing with any items from the TO DO would be helpful 😄

@jackmellis I agree that `wrapper.find('#p-id').text()` should default to the first item.

But I think the behavior should be consistent. I think it would be confusing for users if some methods call every item, and some default to the first item.

I think it's best to keep the API simple. What use cases can you see that would be

[2017-06-03 09:49] eddyerburgh opened #2 "Stop Vue.use polluting global Vue instance"
As @jackmellis suggested - we need a way to avoid polluting the global environment and leaking between tests.

@jackmellis suggested isolated Vue constructors, although I think this would require a change to core.

What are peoples thoughts?

[2017-06-03 10:36] posva commented on #2
Are you referring to

?

We could provide a wrapper that tracks the calls to global components, directives, filters and that can later be called again to _uninstall_ everything. This is however limited to serialised tests. The isolated constructor is interesting, I wonder if we cannot get a _hacky_ version working without touching core

[2017-06-03 13:00] jackmellis commented on #1
It's certainly not a deal breaker, I just thought if you are returning an array-like object, people will expect it to have an array api, with indexed elements etc.

[2017-06-03 13:07] jackmellis commented on #1
On seconds thoughts, I think it's more important to have the iteration methods forEach, map, filter, and indexOf/includes (would these 2 need to accept css/component selectors?)

[2017-06-03 14:28] Austio commented on #1
Have you ever looked at how backbone achieves this for collections?  I think they did a really great job on it.

Was looking at API to build out.  Wanted to discuss but I don't think we should have a setData method.  To me, the whole reason of having components is to pass or provide props.

What scenario would require setData?

[2017-06-03 15:21] jackmellis commented on #1
@Austio I'm not sure I follow. I would say 98% of my unit tests require me to set my component's data before making any assertions.

The simplest example I can think of is a component that shows an error handler when something goes wrong. The `errorMessage` property is only set during some complicated method that calls out to various other parts of my codebase:
[code]
Now obviously I will test tha

[2017-06-03 17:06] Austio commented on #1
@jackmellis @eddyerburgh

My opinion is that when testing a component (which is essentially a function) you should treat it as a black box and test the inputs and side effects.  Inputs being DOM events, props and slots, side effects being things like emitted events or dom changes.

Setting the data directly is reaching into the functions black box and at that point you are testing how something is

[2017-06-03 17:13] jackmellis commented on #1
You see i see unit testing components (especially complex higher-level ones) should be whiteboxed. But i don't think black box testing of entire components is bad, I just think it shows that this library should not force its users to test in a certain way, as every application and component and user is different. Vue-test-utils should be as unopinionated as possible... in my opinion!

[2017-06-04 15:06] callumacrae commented on #1
Any particular reason you're choosing to use Sizzle instead of `querySelectorAll` for `.find()`? It seems to me like the only reason to do that would be to add support for browsers that Vue itself doesn't support.

[2017-06-04 15:49] eddyerburgh commented on #1
@callumacrae Good point, I used it because I saw there are inconsistencies between browsers implementing [`matches`](https://developer.mozilla.org/en/docs/Web/API/Element/matches).

But you make a valid point. It would be better to not have sizzle as a dependency. The tests still pass in chrome and phantom using `elm.matches`. Maybe we should use `matches` instead

[2017-06-04 20:05] callumacrae commented on #1
Hm, didn't know about browser inconsistencies. Are you talking about the API differences (`matches` vs `matchesSelector`) or behavioural differences?

[2017-06-04 20:26] eddyerburgh commented on #1
The API differences, but we can use the polyfill on the mdn page

[2017-06-05 08:14] yyx990803 commented on #1
Sizzle or an alternative pure-js selector matching lib might be needed if we end up implementing the same interface for pure-vdom shallow render. I don't think the dependency would be a big problem because the tests are run in Node most of the time.

Btw regarding whether the ArrayWrapper should support methods on a single element - how about we make the API similar to `querySelector` and `querySe

[2017-06-05 08:17] eddyerburgh commented on #1
@yyx990803 Agreed on find and findAll. I'll implement it later 👍

[2017-06-05 08:27] yyx990803 commented on #2
I should work by using an extended constructor with empty options:

[code]

[2017-06-05 16:48] eddyerburgh commented on #2
What do people think about adding it as an option to mount:

[code]

`use` would take an array of plugins and use it in a scoped Vue instance.

[2017-06-05 17:10] jackmellis commented on #2
I like that, it's neat. Should we also account for configuration options?

[2017-06-05 17:35] eddyerburgh commented on #2
Yeah I think if we go this route we'll need to add all of the global API to mount. Which will be a reasonable amount of work.

[code]

Another option is to have a ScopedVue object (although with a better name!) -

[code]

[2017-06-05 17:38] jackmellis commented on #2
What I thought about doing with Vuenit was to have an install method that exposed the scoped vue object before mounting the component:
[code]
I don't know if that is the way to go, it means you don't have to account for the entire Vue api within the mount config.

[2017-06-05 17:41] jackmellis commented on #2
I should also add that I found that an extended Vue object didn't work with mixins, directives, and components. So doing:
[code]
This did not use `some-component` registered with the extended component, it would always go back to the base Vue object for globally-registered stuff.

[2017-06-06 08:52] codebryo commented on #1
@callumacrae there are some selectors like `:first` or `:visible` that are supported by sizzle but not querySelector API, so sizzle is very convenient imo.

@yyx990803 absolutely agree. That would then make the `.at()` function clearer as one would probably not expect it to be used with the `.find()` method.

@eddyerburgh nothing more to say than great work already :) <3

[2017-06-06 09:07] codebryo opened #4 "Initial TODOs"
I copied over the TODOs from https://github.com/vuejs/vue-test-utils/issues/1#issuecomment-305899792 so it's not necessary to hunt them down in the long thread.

**TODOs**
- [x] ~~Add shallow method~~
- [x] ~~Add emit method? In the proposal this is included in trigger, but it's difficult(impossible?) to implement. Not sure if this is needed, as it will be a thin wrapper around vm.$emit.~~ Won't b

[2017-06-06 09:36] LinusBorg commented on #4
*(added checkboxes to track progress)*

[2017-06-06 10:19] HerringtonDarkholme commented on #1
After skimming sizzle's source, I think sizzle make deep assumption that it is run on DOM environment. To reuse sizzle for its special selector would require many native dom methods implemented on VNode.  Also, selectors like `:visible`do not make sense in a shallow rendering.

We might need something like https://github.com/chrisdickinson/cssauron, which provide a css parser and hooks for user to

[2017-06-07 03:11] yyx990803 commented on #2
@jackmellis it seems to work: https://jsfiddle.net/yyx990803/b5a1zh6u/

[2017-06-07 06:28] jackmellis commented on #2
@yyx990803 well in that case I stand corrected!

You can see the original discussion on this matter: https://forum.vuejs.org/t/vue-component-inheritence/9387

Perhaps the issue I had was that I was creating an extended vue, then registering a global component, then I was extending that extended vue again. I had assumed that it would go up the inheritence chain until it found what it was looking fo

[2017-06-07 06:31] blocka commented on #2
Perhaps it's time the community stopped using global mixins. For example,
vue-apollo installs a global mixin to add $apollo to every component.  In
the react world, this is solved with an HOC which would add the apollo
client to the props.

On Wed, Jun 7, 2017 at 2:28 AM, Jack <notifications@github.com> wrote:

[2017-06-07 07:21] cristijora commented on #2
@blocka I think people find very useful using global mixins, plugins and components. For me personally injecting `$apollo` like you said seems more straight forward than a HOC. In my tests I can replace that with a mock very easily if I want to so I don't have to care too much about it's implementation.
After all I don't think you can stop people from using such a feature which is very widespread

[2017-06-07 18:51] eddyerburgh opened #5 "Behavior of find and findAll"
Should `find` and `findAll` return all nodes including the root node, or excluding the root node

Including root node:
[code]
excluding root node:
[code]

I think it should exclude the root node, but would be interested to hear others thoughts

[2017-06-07 19:01] Austio commented on #5
First glance, would expect it to include the root node (count of 2).  What are thoughts for reason to exclude?

[2017-06-07 19:07] Austio opened #6 "API for testing emitted events"
Related to TODO in #4

Some ideas
[code]

[2017-06-07 19:07] eddyerburgh commented on #5
`querySelector` and `querySelectorAll` exclude the root node

[2017-06-08 02:21] yyx990803 commented on #5
I think including the root node would make sense, because `.find()` and `.findAll` are not called on the root node but the "wrapper"

[2017-06-08 03:49] Austio commented on #6
I'll go ahead and begin implementing this tomorrow.  @eddyerburgh could you set as in progress in that todo list when you have a sec so that others don't duplicate effort.

[2017-06-08 05:01] yyx990803 commented on #6
What about making it `wrapper.on` to be consistent with `vm.$on`? It seems to be just an alias.

[2017-06-08 06:37] eddyerburgh commented on #6
I think there needs to be more discussion on this before we build anything.

Personally, for methods like `vm.$on`, `vm.$destroy`, maybe even `vm.$emit`, we should encourage using the wrapper vm.

[code]

Otherwise we'll end up with a huge API.

Although maybe on and emit are such common use cases that we should include them as methods.

[2017-06-08 06:45] eddyerburgh commented on #5
Although methods are called on the wrapper, they refer to the root node:

[code]

[2017-06-09 01:04] yyx990803 commented on #5
Hmm, I still find inclusive match more intuitive, since the root node is also part of the template.

[2017-06-09 06:40] pearofducks commented on #5
I think this depends on whether your headspace considers the method being called on the 'wrapper' or the node itself.

Are there other places where the user would think of the wrapper object as a node? Or is it typically treated as a wrapper that contains the node?

[2017-06-09 08:16] eddyerburgh commented on #5
As @pearofducks says, this is a case of how we conceive of a wrapper.

I think we should treat it as a node, and not as containing a node. In my eyes, almost all methods treat the wrapper as a node:

[code]

I can't imagine a use case where omitting the root node would be useful. But it seems strange to me to return the same div each time you call find:

[code]
Especially since we the find methods

[2017-06-09 13:17] Austio commented on #6
Thought about this a little more.  I can make a good case for either one of these directions.

What do you think about keeping the number of things the library does to a minimum initially and going with encouraging using `wrapper.vm`.  Doing that may alleviate confusion for having the wrapper only implementing some of the methods available.

[2017-06-09 13:24] Austio commented on #5
I agree, here is what i would expect while using find/findAll.

[code]

Something else to consider is have a separate method so that we don't have to context switch.

[code]

[2017-06-12 08:08] eddyerburgh commented on #5
@Austio I don't think we should add an extra find method. Two is enough.

I thought about it this weekend and I agree with @yyx990803 . We should include the root node, in every `find` and `findAll` call.

[2017-06-12 14:36] callumacrae commented on #5
+1 to including the root node: if the root node is returned and the user wasn't expecting it to, it's clear what happened and easy to work around, while it's less obvious the other way round.

[2017-06-14 20:35] nachocab commented on #1
There are some interesting ideas in [vue-unit](https://github.com/wrseward/vue-unit), created by @wrseward. I especially like `build()` and  `buildShallow()` and the port of vue's `waitForUpdate()`. Are there plans on introducing these features?

[2017-06-14 21:02] eddyerburgh commented on #1
@nachocab, `build` looks great. I'd be happy to add it to the library 👍

The `update` function should mean there's no need to add `waitForUpdate`, but maybe there are use cases where it would be useful

[2017-06-14 21:32] eddyerburgh opened #9 "Shallow"
I've been playing around with shallow and I think it'll be very difficult to add support for all CSS selectors in `find`, `contains` and `is`.

I just did a speed test of shallow in it's current state vs mount using this test:

[code]
## Results

| Tests        | shallow  (render in s)         | mount (render in s)   |
| ------------- |:-------------:| -----:|
|1   | 2.6 | 3.8 |
| 10      | 2. 7

[2017-06-14 21:51] nachocab commented on #1
@eddyerburgh I've tried using `update` (as documented [here](https://eddyerburgh.gitbooks.io/avoriaz/content/api/mount/update.html)), but I don't think it works as a replacement for `Vue.nextTick().then(() => ...).then(done, done)`. This is my use case: https://stackoverflow.com/a/44443847/355567

[2017-06-15 04:05] yyx990803 commented on #9
That's interesting (and good to see real numbers)! Indeed looks like the perf advantage isn't significant enough to warrant maintaining the two modes in parallel.

I agree that we should drop it for now and focus on other areas.

[2017-06-15 04:12] blocka commented on #9
As i understand it, the purpose of shallow rendering is not for speed but
to be able to test the invariants of your component (ie, it should render a
Foo with props x and y)

On Jun 15, 2017 7:05 AM, "Evan You" <notifications@github.com> wrote:

[2017-06-15 04:14] yyx990803 commented on #1
Ahh, I didn't know `vue-unit` existed, looks like a pretty well thought out lib too.

/cc @wrseward  it would be great to have some feedback from you and join forces with us :)

[2017-06-15 04:16] yyx990803 commented on #9
To clarify - I think we should drop the VDOM-based rendering mode, but implement shallow (with stubbed child components) on top of current mounting mechanism.

[2017-06-15 07:44] eddyerburgh commented on #2
The proposed API for options.use is problematic.

For example, Vuex must be installed before you can create a store, so this is not possible:

[code]

An alternative could be this pattern:

[code]
But there are also problems calling use on a vue.extend instance.

An extended instance doesn't have a version, which [vuex relies on](https://github.com/vuejs/vuex/blob/dev/src/mixin.js#L2).

I'll look

[2017-06-15 07:55] blocka commented on #2
@yyx990803 I know that provide/inject did not exist at the time vuex was created, but if it used provide/inject, this would be less of a problem, as vuex can provide it's own mock provider, or creating a one is pretty trivial, and there would be no need to globally clobber ever vue instance.

[2017-06-15 07:58] jackmellis commented on #2
@eddyerburgh that is one of several reasons I wrote mock-vuex, because Vuex has some test-unfriendly rules about instantiating and `use`ing

[2017-06-15 16:50] mazedlx commented on #1
Would love to see something to mock global event bus related things.

[2017-06-15 18:26] LinusBorg commented on #1
I consider the event hub pattern to be an escape hatch for certain edge cases rather than a recommended pattern for general use.

It brings the same, if not worse, problems that `$dispatch()` did, and I regularly see people on SO and our forum encountering problems with it.

For that reason, I think we should not offer any API tailored to this pattern.

What are the rest of you thinking about the

[2017-06-15 19:05] jackmellis commented on #1
I haven't ever found I need it (there's almost always an alternative solution). On the other hand, if there is a design pattern that is featured in the official documentation, and that is sometimes unavoidable, I think it would only be fair to consider providing a way to test it.

In my opinion, this library, while not encouraging bad practices, should not punish people for using event buses and t

[2017-06-15 19:23] LinusBorg commented on #1
It is currently mentioned in the migration guide only, but yes, it is being mentioned.

My experience with reading and/or answering many questions on SO and our own forum is that people tend to use this pattern for the simplest problems because it *seems* to be an easy solution - people tend not to see the problems of reasoning about the apps event and data flow that event busses bring into their

[2017-06-15 20:06] cristijora commented on #1
@LinusBorg Can you give some examples of event hub usage that could hurt or block rather than help?
Honestly, I barely had the need to use it because it couples components but I think if you define it as a property on the Vue prototype it's pretty easy to mock it or use it without many restrictions

[2017-06-15 20:53] LinusBorg commented on #1
I don't think that this issue is the right place to go into too much detail. The general grievances i have with the event bus is that it requires a lot of mental overhead for any but the most simple scenarios (and the simple ones generally can be solved easily through normal props).

The developer has to keep track of which events might change state where and **when**, because the application stru

[2017-06-16 14:17] wrseward commented on #1
@yyx990803 @eddyerburgh I would be very happy to collaborate on this! Thank you :+1:

I think there are some great ideas here and want some time read over everything before giving feedback

[2017-06-18 13:34] snaptopixel commented on #4
@codebryo @LinusBorg Is anyone working on the typings? I could probably help there if not, just let me know!

[2017-06-18 16:21] eddyerburgh commented on #4
@snaptopixel No, would be great if you could make a PR 😄

If you do, please follow the new commit convention - https://github.com/vuejs/vue/blob/dev/.github/COMMIT_CONVENTION.md

[2017-06-18 20:40] eddyerburgh commented on #9
This has been implemented in b07e38c2a13b072166f9e5c8160791377356562f

[2017-06-18 20:40] #9 closed

[2017-06-20 15:59] Austio commented on #4
Are we ready to publish a Beta of the library?  Someone already has vue-test-utils on npm, should we reach out and see if we could get that package spot or rename this repo to one we can get on npm

[2017-06-20 16:34] eddyerburgh commented on #4
@evan has already been in touch with the author. I'm happy to publish a beta once it becomes available

[2017-06-21 06:02] eddyerburgh opened #10 "Should shallow rendering stub child lifecycle hooks by default?"
I've added shallow to vue-test-utils and avoriaz.

It replaces each childs render function with an empty function, and replaces each child component lifecycle hook with an empty function.

I've already had a user ask if there was a way to bypass the lifecycle hooks stubbing.

I think they should be stubbed by default, but should there be an option to pass that will stop `shallow` replacing child l

[2017-06-21 13:20] #10 closed

[2017-06-21 13:21] eddyerburgh commented on #10
Closing, because I actually misunderstood the issue I received.

I don't think there is a legitimate case for needing lifecycle hooks on child components when shallow rendering

[2017-06-22 07:35] codebryo commented on #2
@eddyerburgh so, why not inject the `store` in the wrapper as well?  That would make specs even cleaner and that's the approach I took for Revue.

[code]

Or we make  it even implicit, but that of course can be trcky if people wanne use a different store type.

[2017-06-22 08:06] eddyerburgh commented on #2
@codebryo I don't think we should add options for specific plugins.

`store` is already used by [Vuez](https://github.com/markselby9/vuez). ), right now a store passed to mount will be passed as component options - which means Vuex and Vue can both be tested. If we treat all option.store as Vuex, we make it impossible to test a Vuez store. Unless we also make an exception for that. But then anothe

[2017-06-23 07:22] eddyerburgh opened #11 "Stubbing components"
We have discussed adding an option to stub components to mount (shallow does this by default).

Do people agree with this API:

[code]

[2017-06-23 20:50] eddyerburgh opened #12 "Passing context to functional components"
I propose this API to pass context to functional components:

[code]

What are peoples thoughts?

[2017-06-25 10:32] LinusBorg commented on #11
I assume the string variant would be a template string?

[2017-06-25 10:33] eddyerburgh commented on #11
@LinusBorg yes

[2017-06-26 08:59] codebryo commented on #2
@eddyerburgh alright, I get your point and yes it was a concern of mine as well. Probably better to omit some automagic by default.
As the approach with the CleanVue Instance is optional I think we should be good, as `Vue.use(Vuex)` would still work for users who prefer it that way.
The API seems pretty clean so we should be good, agreed. :)

[2017-06-26 09:01] codebryo commented on #12
Agree to 100%, feels natural and allows for customization or extending in the future.
Would you internally turn it to `propsData`?

[2017-06-26 09:05] codebryo commented on #4
@eddyerburgh do we have a gitbook for the docs under development already? I would like to get started on that, and add a bunch of examples.

[2017-06-26 09:09] eddyerburgh commented on #2
I've gone ahead and added the instance option outlined above. Although I'm happy to continue discussing alternative solutions

I think we should add a `scopedVue` (not sure on name) function that returns an extended Vue with missing properties added.

It'll look something like this in the source:

[code]

And in use:
[code]

[2017-06-26 09:11] eddyerburgh commented on #2
Oops, accidentally closed 😛

Ok great, I'll start working on it and get it added 👍

[2017-06-26 09:13] eddyerburgh commented on #4
There isn't a gitbook that it's hooked up to, but the /docs directory is in the format requried for a gitbook. It even has a `book.json`. All that needs to be done is add gitbooks itself to the project.

It would be great for you to start working on it 👍

[2017-06-26 09:18] eddyerburgh commented on #12
The way I got this working in avoriaz is to mount a component with a render functional that returns the functional component and passes it the context object -

https://github.com/eddyerburgh/avoriaz/blob/master/src/mount.js#L33

I imagine there are problems with doing it like this, but I wanted to get something out there as a canary test.

Maybe we should also allow users to pass props to `mount`

[2017-06-26 09:24] codebryo commented on #12
I think it makes sense to make `props` work for both contexts. And it's a nicer API then using `propsData`.
Ideally it makes no difference what kind of Component gets mounted as all params will be passed in the same way. Options passed along that don't count for functional components will then be ignored by Vue instance anyway.

[2017-06-26 20:12] eddyerburgh commented on #11
@LinusBorg I've just added the stub option for template strings.

This is the behavior for string templates:

[code]

I'm not sure how it should work for Components. Should it replace the original component completely, or should should it replace everything but the name?

[code]

I'm starting to think that `stub` should only support template strings, to avoid this issue

[2017-06-29 02:56] Austio commented on #6
Closing: can reopen and implement after we have more information on what we are wanting.

[2017-06-29 13:28] jackmellis commented on #11
I would suggest allowing for definition objects as well as templates. There are often times when I want to stub a child component, but still be able to accept props and emit events so as to emulate certain behaviours.

Presumably you'll be converting the templates into render functions anyway, so could you also set the name property of a stubbed component definition:
[code]
would result in an obje

[2017-07-03 07:40] eddyerburgh commented on #12
Closed with eda39df46c5e18d16aa8c16f9e29388640e31d96

[2017-07-03 07:40] #12 closed

[2017-07-11 16:42] eddyerburgh commented on #2
I've got a function at the moment that returns an extended Vue instance with some props that Vuex and Vue-router use (like version and config)

Two things:

1. The name. I don't think `scopedVue` is very clear, can anyone think of a better name? Also, the option to pass a Vue class is named `instance`. I think this should be renamed, but am not sure what to. I would love some input.
2. Vuex can't

[2017-07-11 18:59] eddyerburgh commented on #11
Do you guys think that stub should also look for globally registered components matching the name, or should we leave tell users to register global stubs themselves?

The problem with the first option is that at the moment it will stub registered components for all future tests. If we decide on this behavior we should warn users this is happening.

[2017-07-11 19:05] jackmellis commented on #11
I've come across the same issue myself, it's very hard to stub global components. The *safest* solution (aside from not stubbing them at all) is to go through all global components and register a local component with the same name on the test component.

[2017-07-11 19:11] eddyerburgh commented on #11
So you think the `stub` option should not stub global components?

[2017-07-11 19:23] jackmellis commented on #11
I think if you are testing a component that is rendering globally-registered components, it should stub them locally. But I don't think it's wise to alter the *original* components, as like you said, you could end up with leaks between tests.

[2017-07-15 13:09] eddyerburgh commented on #4
@snaptopixel we still need typings, and I haven't got much experience with typescript. Are you still willing to add them?

[2017-07-15 19:20] eddyerburgh commented on #11
Closed with 5b6892a2342aff2f6be7e3ce47da654742e9f10d

[2017-07-15 19:20] #11 closed

[2017-07-15 20:59] chrisvfritz commented on #2
For 1 & 2, how about `createLocalVue`, the verb reminding users that it's a function? Then the option could be called `localVue`, making it clear that it expects the result of `createLocalVue`. The "local" part serves to remind people not to use or pollute the global Vue.

[2017-07-16 14:23] ktsn commented on #2
I guess we should add an install option to allow overwriting previous Vue instance like `forceInstall: true` in Vuex.

[2017-07-16 14:24] eddyerburgh commented on #2
@kazupon I'm happy to make a PR 👍

[2017-07-17 20:35] codebryo opened #16 "data() is not available"
Not sure this is on purpose, but it seems that
`wrapper.data()` is no longer valid.

Is it preferred to use the `vm` object directly?
It's still in the API docs of `setData()` that's why I'm asking.

I checked, and it's no longer in the source code, so I guess it was removed.
Should I update the documentation accordingly?

[2017-07-18 06:19] eddyerburgh commented on #16
Yes it's preferred to use the vm.

Great catch 😄 , yes it would be appreciated if you could update the docs

[2017-07-20 05:38] willypt opened #18 "[Feature Request] Better Documentation for Unit Testing"
Current unit-testing resource for Vue is pretty scarce.
The documentations in [avoriaz](https://eddyerburgh.gitbooks.io/avoriaz/) (thank you! @eddyerburgh for bringing this framework up) are great and really helpful, but not all developers aware of the better way to approach unit testing in Vue. Currently, I'm trying to introduce avoriaz to the js devs in my company and most of them not doing vue

[2017-07-20 06:34] eddyerburgh commented on #18
@willypt You're right, we need better documentation.

I think @chrisvfritz will be updating the docs once vue-test-utils is released.

There's a guide section in vue-test-utils. We will add examples there in the future that might help define the right way to unit test Vue.

[2017-07-20 18:18] codebryo commented on #16
This was taken care off in https://github.com/vuejs/vue-test-utils/pull/19

[2017-07-20 22:11] jraller commented on #4
Ensure that the name vue-test-utils is available on npm. Either get https://www.npmjs.com/package/vue-test-utils -> https://github.com/holmescn/vue-test-utils to hand over the name, or pick an alternative project name that isn't already claimed to eliminate long term confusion?

[2017-07-20 22:33] chrisvfritz commented on #18
@eddyerburgh I'm now leaning towards changing it to a general Testing page with a Unit Testing section, which would provide:

- a couple simple examples of how to test Vue components without vue-test-utils
- an example of where unit tests can get trickier (as a segue into vue-test-utils)
- a brief description of the problems vue-test-utils solves, with a link to a getting started guide in vue-test

[2017-07-21 05:18] eddyerburgh commented on #4
Hi Jason, we do have the name, but since we haven't released the original
package is still on npm. I understand this is causing confusion and hope to
release asap

On 20 Jul 2017 23:11, "Jason Aller" <notifications@github.com> wrote:

[2017-07-21 05:47] eddyerburgh commented on #18
Haha, yes I'll write the page 😛

[2017-07-21 05:52] blocka commented on #18
I think what would be very helpful is understand _what_ to test, and how to
make sure tests are not brittle. For example, a big ? for me is how to test
component rendering. If I use selectors, I feel that future of my tests are
now in the hands of my designers. Yet just about all the introductions to
testing in vue show things like `wrapper.find('.selector')[0].text()`

On Fri, Jul 21, 2017 at 1:4

[2017-07-21 07:17] eddyerburgh commented on #18
@blocka I test all logic inside my components. Often that means using selectors to assert the output. I understand that it can seem brittle. You could use general selectors to avoid having to rewrite tests if your designers decide to rename classes - but tests on the VDOM are always going to be tightly coupled to the markup.

Apart from that you can test component methods (although if you aren't a

[2017-07-21 07:33] blocka commented on #18
Although a little out of the scope of this project, I feel snapshot testing
could work a little bit better for testing renders. With snapshot testing
the designers have the ability to "fix" the broken tests themselves. They
are merely shifting focus for switching to the browser to see the result,
to using the console to see the result (which could be in the same
application even, such as with vsco

[2017-07-21 07:39] eddyerburgh commented on #18
@blocka Yep I totally understand your concern. Testing UI components can be tricky, and as you said - there is no golden rule.

I'd be interested to see what solutions you come up with for your project at the moment 😀

And agreed, snapshot testing is definitely useful. I'm going to look into that once vue-test-utils is released. Currently we're having problems with shallow and snapshot testing in

[2017-07-21 08:10] blocka commented on #18
By the way, here is a technique that I didn't see anywhere...perhaps
because it's overkill.

Let's say you have a button
[code]

so to test that we would have to do
`wrapper.find('.button')[0].trigger('click')`

instead I'm toying with

[code]

and

[code]

On Fri, Jul 21, 2017 at 3:39 AM, Edd Yerburgh <notifications@github.com>
wrote:

[2017-07-21 08:37] willypt commented on #18
@blocka do you mean that you wrap the already simple button into a component so that you can test it? Yes it is overkill imo 🤣

[2017-07-21 16:27] jraller commented on #4
@eddyerburgh for the typings do you have something in mind other than http://definitelytyped.org/guides/contributing.html for how you want that done?

[2017-07-21 17:35] chrisvfritz commented on #18
I agree with @eddyerburgh that we can't provide users a simple answer on what to test. I also find that what to test in Vue isn't really different from other applications. However, since I sadly don't know of a single resource that provides a really good answer to this question (though I'm sure one must exist somewhere), I think we _can_ provide some guidelines.

Personally, I like to prioritize t

[2017-07-21 17:52] eddyerburgh commented on #4
@jraller Yes I think vue-test-utils should be available on DefinitelyTyped 👍

[2017-07-21 22:59] jraller commented on #4
@eddyerburgh I'm looking at the bundling portion of http://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html as an alternative for the type implementation. This would incur a small overhead for folks who aren't using typescript of one additional line in package.json and one additional file, but for those using typescript they would get the functionality automatically. I'll kee

[2017-07-21 23:13] jraller commented on #4
I just found https://github.com/vuejs/vue-test-utils/tree/master/types and am looking at it now. This renders all of my existing comments rather moot.

[2017-07-22 08:48] eddyerburgh commented on #16
#19 was merged into master, which means it'll be overwritten when we release. This needs to be merged into the dev branch

[2017-07-22 19:47] blocka commented on #18
Sounds good. Great stuff to put in the manual :smile:
Right now we're writing our first app with actual tests. We've written scores of apps with vue, and many more in pre-vue days, but never with tests. We know we've been burned in the past by code that accidentally broke something else we weren't thinking of, and so we know we definitely need some kind of tests.

At the moment I'm settling on a s

[2017-07-23 10:39] posva commented on #16
I imagine it's my turn to close this 😆

[2017-07-23 10:39] #16 closed

[2017-07-29 07:41] eddyerburgh opened #22 "Discussion: Best API for stubbing methods?"
Currently, to stub methods on a component you need to do this:

[code]

I think we should either add a method, or an option that stubs component methods:

[code]
It could also be called `setMethods`, like the `setData` and `setProps` methods, and take an object.

[code]

Personally I prefer the `stubMethod`/ `setMethods` approach, but I'd like to hear peoples thoughts 🙂

[2017-07-30 16:00] jackmellis commented on #22
I previously had a hook that was called before the component was mounted, which exposed a deep copy of the component so you could manually stub it's methods (without affecting the original component). But i actually really like your approach, I think it's really simple.

A couple of thoughts:
- would you want the option to restore a stubbed method at a later point?
- could you stub a method withou

[2017-08-01 08:18] philefstat commented on #22
I prefer setMethods as it is consistent with setData and setProps. However, I think there should also be a method to retrieve them as it could be confusing that you then have to use the vm to check if it has been called.

[code]

With the current way, at least the way you set and get is consistent.
[code]

[2017-08-01 08:26] eddyerburgh commented on #22
@philefstat

We could recommend this pattern:
[code]
Or this:
[code]

[2017-08-01 08:26] eddyerburgh commented on #22
@jackmellis

I don't think so, with `stubMethod` you could save the original before stubbing and then restore it later with the same method.

Yeah I think that's a good idea

Yes I think that a `setComputed` method would be a good idea if `setData` does not work for a use case. Would you be able to provide example where `setData` doesn't work, so I can use it as a test case?

[2017-08-01 08:36] philefstat commented on #22
@eddyerburgh those both look great 👍

That pattern also allows some of the useful sinon methods to be called on the stub without reaching directly into the vm.

i.e.
`clickhandlerStub.resetHistory()`

stubMethods could be quite useful for larger components with multiple methods that need to be stubbed.

[code]

[2017-08-01 09:26] codebryo opened #24 "Discussion: find(), is() and contains() are inconsistent"
I spent some more time in thinking about the consistency of the functions used to interact with the DOM.

So here's the example. The markup looks like this.

[code]

and assume it's inside the mounted wrapper.

`wrapper.find('div')` returns the wrapping element
`wrapper.findAll('div')` returns the wrapping element
`wrapper.contains('div')` returns false
`wrapper.is('div')` returns true

That's how

[2017-08-01 09:32] posva commented on #24
isn't `contains('div')` like `wrapper.find('div').exists()`?

[2017-08-01 10:04] eddyerburgh commented on #24
I think the behavior of `contains`, `exists` and `is` are fine. `contains` searches the entire tree, `is` checks the wrapper node, `exists` returns false if find cannot find a matching node.

In my mind, `wrapper` should be thought of as a node with some methods.

We discussed the behavior of `find` and `findAll` here - https://github.com/vuejs/vue-test-utils/issues/5

I originally thought the beh

[2017-08-01 17:28] jackmellis commented on #24
I'm thinking about it this way:

You:

Me:

You:

Me:

So `wrapper.find('div').exists()` would be `true` but `wrapper.find('div').wrapper.find('div').exists()` would be `false`.

I assume the issue there is presumably vue-test-utils will realise the div is a component and wouldn't then know whether to include itself in the contains method.

[2017-08-10 14:05] Austio commented on #4
Hey hey, any word on publishing?

[2017-08-10 14:07] eddyerburgh commented on #4
Hi Austin,

There are a few things holding us up. Evan has been busy lately, and I'm on
vacation at the moment. There are also a couple of issues the need to be
sorted before publishing - mainly how find and findAll work.

On Thu, Aug 10, 2017 at 3:05 PM, Austin <notifications@github.com> wrote:

[2017-08-10 14:09] Austio commented on #4
Sweet, thanks for update and enjoy vacation, i can probably clear some room to knock out this week if there is consensus

[2017-08-10 14:16] eddyerburgh opened #27 "Add a getProp and getAttribute methods"
Currently we have a hasAttribute, hasProp and hasStyle methods. These aren't great for assertions, as they return booleans. If tests fail, they will fail because they were expecting true but received false.

For example, when asserting attributes with `hasAttribute`:

[code]

An alternative would be to have a `getAttribute` function:

[code]

This makes debugging a lot easier, and provides a bette

[2017-08-10 14:19] eddyerburgh commented on #4
The problem is that there is no consensus. Previously it was decided that find should behave in a certain way, but another issue caused me to rethink the decision - https://github.com/vuejs/vue-test-utils/issues/24

We need more feedback on these two issues - https://github.com/vuejs/vue-test-utils/issues/5, https://github.com/vuejs/vue-test-utils/issues/27

[2017-08-13 21:26] rowanu opened #28 "Render component names/ids when shallow"
Is it possible/a good idea for `shallow()` output to included the component names?

Right now `shallow(component).html()` gives me:

[code]

It would be great if included the name of the component, or similar. For example:

[code]

This would me a I could make basic assertions about what components _would_ have been included, based on conditional logic of the component under test.

Let me know if

[2017-08-13 21:37] rowanu commented on #5
Another vote for including the root node - as per @callumacrae's comment it's the least surprising thing to do. Anything else is getting a bit _magical_ and will result in many GitHub issues being opened... 😬

While @eddyerburgh's chained `find()` example is _at first_ a little confusing, it will be easy for a user to work it out for themselves.

[2017-08-14 17:43] eddyerburgh commented on #28
I think this is a great idea, I'd be interested in a PR ☺

[2017-08-18 19:16] daekano commented on #27
Happened across this issue since you are asking for input on it, so here's my input:

This API makes sense to me. At first I wondered why we don't just use `.attribute()` instead of `.getAttribute()`, but it is more explicit what the method does when it lives alongside `.hasAttribute()`.

Where things start to get dicey (in my opinion) is when we stop looking at attributes and start looking at Vue

[2017-08-18 22:51] riophae commented on #27
Hi, @daekano.
Though Vue forces us to make each member name unique among all props & data, it's still good to be explicit to tell what we are going to test.

[2017-08-20 00:10] rowanu commented on #28
Great. Have been having a think about it and wanted some input on the interface.

While including the component name is not too hard, if I keep it as HTML comments I don't know how to check for their presence (short of searching through the rendered HTML text, which I don't like).

If I render a `<div/>` with the appropriate `id` attribute (based on the component type property), it becomes trivial

[2017-08-20 03:24] scq000 opened #29 "When mount the component, will error!"
I found when I mount a component, it will render a commend node.But if I change the source of `mount` function like this:
[code]

I remove the statement `delete componentToMount._Ctor`, it will work!

[2017-08-20 04:14] scq000 commented on #29
Oh, it's not this problem.

[2017-08-20 04:14] #29 closed

[2017-08-20 09:17] eddyerburgh commented on #28
I think we should keep it as comments.

You can check that a component has rendered using this method -

[code]

[2017-08-20 09:21] blocka commented on #28
How do you check what props have been passed to child components?

On Sun, Aug 20, 2017 at 5:17 AM, Edd Yerburgh <notifications@github.com>
wrote:

[2017-08-20 09:23] eddyerburgh commented on #28
@blocka

[code]

[2017-08-20 09:32] blocka commented on #28
Ok, so this is completely orthogonal to the present discussion.

_goes back to hiding_

On Sun, Aug 20, 2017 at 5:23 AM, Edd Yerburgh <notifications@github.com>
wrote:

[2017-08-20 11:13] alexjoverm opened #30 "`is` returning undefined when using a Component as the Selector"
If you run [this test](https://github.com/alexjoverm/vue-testing-series/blob/Test-Styles-and-Structure-in-Vue-js-and-Jest/test/MessageList.test.js), by cloning the repo and running `npm i && npm t` you'll see that

[code]

fails because it returns undefined. As I've been debugging, in `vmCtorMatchesName`, `vm.$vnode` is undefined, `vm._vnode.componentOptions` is undefined and there is no `vm._node

[2017-08-20 13:39] eddyerburgh commented on #30
Thanks for the bug report.

This should be fixed in the dev branch with e4f3bdc8867775d275c47fe5ac354a9d0e18e029

[2017-08-20 21:10] alexjoverm commented on #30
Awesome @eddyerburgh, that commit seems to do the trick! Can we then close this issue?

[2017-08-20 21:13] eddyerburgh commented on #30
Yes, I'll close it now. Thanks for confirming the fix  🙂

[2017-08-20 21:13] #30 closed

[2017-08-22 12:27] codebryo commented on #24
@eddyerburgh as there is not much going on here, and a consensus was met already in the past I don't want to hold up the release with this discussion and would lean towards closing it.

[2017-08-22 13:15] eddyerburgh commented on #24
Ok, I'm also happy to close 👍

[2017-08-24 06:39] eddyerburgh opened #31 "Testing globally registered components props"
If you stub a component, the stub copies component `props` to the stub. This means you can check a stubbed component is passed the correct prop:

[code]

If you need to stub a globally registered component, like router-link, the props cannot be copied. So you can't check a stubbed component is passed a correct prop, you need to check using `$attrs`.

[code]

One solution is create a stub using pro

[2017-08-24 06:41] eddyerburgh opened #32 "hasAttribute"
Currently hasAttribute checks for DOM attributes. It doesn't check for `$attrs`.

I can see this causing confusion.

Should There be a separate `hasAttrs` method?

Should hasAttribute check `$attrs` if the wrapper is a component wrapper?

[2017-08-24 09:22] callumacrae commented on #32
I'm not sure what the best solution is here, but I 100% vote against seperate `hasAttribute` and `hasAttrs` methods that do different things.

[2017-08-24 17:03] wparad commented on #32
I'm totally sure I understand what `$attrs` is, but it sounds like it is just a convenience method/object.  In which case I would expect that that anything that this automates is also handled automatically on the opposite side.  I.e. according to [first google link](https://alligator.io/vuejs/upgrading-vue-2.4/) these are the `attributes` of the component, in which case I would expect `hasAttribut

[2017-08-25 20:16] jblotus opened #33 "npm package?"
Just tried to install via npm
https://www.npmjs.com/package/vue-test-utils

and the registered package was pointing to https://github.com/holmescn/vue-test-utils

I was able to install with yarn by doing:

yarn add https://github.com/vuejs/vue-test-utils/

Hope it helps someone!

[2017-08-25 21:48] eddyerburgh commented on #33
This package hasn't been published yet. Currently an unrelated vue-test-utils is on the npm registry.

[2017-08-26 11:42] alexjoverm opened #34 "Testing properties validation"
How's it possible to test when a property doesn't match a validation rule? So far, I've managed to do it as so, but it feels a bit hacky (jest in the example):

[code]

Does vue-test-utils provide a better way for this?

[2017-08-26 12:56] wparad commented on #34
That would mean unit testing that Vue is working, which should be out of scope of any test.  Instead you are probably interested not in the fact that validation rule works correctly, but that the validation is configured correctly.  That should be easier to ensure.

[2017-08-26 14:51] LinusBorg commented on #34
Agree with wparad. you should pass a couple of valid and invalid values to components and verify that the value either passes or doesn't, by checking if the prop on the component is `undefined`.

[2017-08-26 15:33] alexjoverm commented on #34
Well I'd agree if that would work in that way... but how's currently working you cannot test that, since even if the value is invalid, it still passes. Let me explain. Given a Message component with a `message` property as:

[code]

I'd expect the following test to fail, but it doesn't:

[code]

And of course, if you pass no message, it will be undefined, which doesn't test anything.

I'd like to

[2017-08-26 15:40] alexjoverm commented on #34
I've found out an easier way:

[code]

At least here is not necessary to use spies, and it works, independently on how you define the props, either in the shorthand way `message: String` or as an object, since Vue expands them.

Anyway, it would be cleaner if `vue-test-utils` have a way to access some stuff on the Wrapper:
 - `getProps()`
 - `getAttributes()`
 - `getOptions()`
 - ... others?

The

[2017-08-26 15:40] eddyerburgh commented on #34
The test you posted in your original post is fine. It tests what you want it to test.

I don't think we should add a method to help test props validation.

[2017-08-26 16:03] alexjoverm commented on #34
@eddyerburgh that's true, although I find easier an cleaner to do it as https://github.com/vuejs/vue-test-utils/issues/34#issuecomment-325139304, since there is no need to spy on globals, or assert in side effects like the console. Do you agree on that? An example could be added to docs as per #18 maybe :)

A side question I was thinking is, if it would be useful to have a `getOptions` function, j

[2017-08-26 17:30] chrisnicola commented on #1
One thing I'd love to see is utilities that allow the testing of single file components without Webpack. When writing unit tests Webpack definitely gets in the way of simple easy test scripts such as those using tape.

To get things running with Avoriaz originally I had to spend a great deal of time writing a webpack file runner (similar to babel-node) that webpacks a file (or glob) and runs it in

[2017-08-26 20:33] jackmellis commented on #1
@chrisnicola yes this is an area I feel strongly about. In this day and age, passing testing code through webpack in order to test it in a node environment feels like a hack. This isn't limited to Vue but Single File Components makes it harder to overcome. I would suggest looking at [require-extension-hooks](https://www.npmjs.com/package/require-extension-hooks-vue).

I would love it if the offici

[2017-08-26 21:16] wparad commented on #34
@alexjoverm, I do like.  As mentioned above, I like that you are testing the configuration of the validator, so you get a thumbs up from me :+1:

[2017-08-27 12:50] eddyerburgh commented on #34
I think there is a case for adding a `getOptions` method, and would be interested in hearing other opinions. Could you create an issue for it @alexjoverm?

[2017-08-27 13:34] dealloc commented on #33
Perhaps this should be noted somewhere in the readme, I often just look at the Github repo name or in the package.json file for the name on NPM, especially given now that there's a NPM package with the exact same name, this could cause some confusion

[2017-08-27 17:15] eddyerburgh commented on #33
Good suggestiong @dealloc , I updated the master README - 0de2ca41d154d3ed118e954e8b353c8c8ef67f58

[2017-08-28 06:03] alexjoverm opened #35 "Add a getOptions method to Wrapper"
As discussed on #34, the idea of having a `getOptions` method came up, in the same line than #27 for `getAttributes` and `getProps`. This would be an abstraction to access the `wrapper.vm.$options` internal variable. One of the use cases is to test property validation specs, but there might be others.

What notation to use?
 1. Concise: `.options()`, `attributes()`, `props()`...
 2. Verbose `.getO

[2017-08-28 06:03] alexjoverm commented on #34
Done ;)

[2017-08-28 06:03] #34 closed

[2017-08-28 14:26] asselin commented on #1
@jackmellis @chrisnicola Seeing your comments inspired me to clean up some work I had done earlier to make unit testing a little better.  While it's not what you're asking for, what I did was remove karma & phantomJS, and replace it with mocha-webpack and JSDOM.   See issue https://github.com/vuejs-templates/webpack/issues/875 and PR https://github.com/vuejs-templates/webpack/pull/874.

With this

[2017-08-28 20:59] chrisnicola commented on #1
I think `mocha-webpack` is great, but is quite complex (I looked at the code when I was figuring out how I was going to get tape working with webpack) and obviously only works if you use mocha.

I ended up creating https://www.npmjs.com/package/wprun to support general running of test files through webpack. It still isn't my ideal solution however. I'm going to look at `require-extension-hooks` a

[2017-08-29 06:58] eddyerburgh commented on #1
I recommend using Jest with jest-vue-preprocessor. Jest caches compiled components, runs faster than mocha-webpack and has better support.

There are two problems with Jest
- The license
- jest-vue-preprocessor does not generate source maps for Vue components. This will be fixed soon.

[2017-08-29 15:21] Austio commented on #1
@eddyerburgh one other huge pitfall with jest is the inability to get a debugger in the code.  This has been an issue for like 2ish years right now and it makes it very difficult for less experienced js developers to do unit testing.  We recently switched out component testing from jest back to karma for this very reason.

I think that the concept of testing outside of webpack is great, but I don'

[2017-08-29 15:23] blocka commented on #1
This is fixed as of node 8.4

On Tue, Aug 29, 2017 at 11:21 AM, Austin <notifications@github.com> wrote:

[2017-08-29 15:24] blocka commented on #1
For reference my launch.json looks like this:

[code]

On Tue, Aug 29, 2017 at 11:22 AM, Avi Block <atblock@gmail.com> wrote:

[2017-08-29 18:42] Austio commented on #1
@blocka you are able to get a debugger in using webstorm (or rubymine) or with visual studio code, but that has been true for a while.  I just tested out 8.4.0 on my node server (that uses jest for testing) and the debugger does not work out of the box.

[2017-08-29 18:52] blocka commented on #1
This statement is false

[2017-08-29 19:05] Austio commented on #1
https://github.com/vuejs/vue-test-utils/issues/1#issuecomment-325760355

Well, i think it really depends on perspective, my experience is that the people on my team who are migrating from backbone to vue had a highly difficult time with it.  They had to learn several layers concepts to even debug the code, which resulted in less test coverage because testing to them was hard.  The alternative afte

[2017-08-29 19:08] blocka commented on #1
I'm not sure what this has to do with backbone. Personally, if not for jest I would probably not be testing my components at all. The fact that to get any testing done you need mocha, and karma, and sinon, and god knows what else...I just couldn't make sense out of it.

Comes along jest, and bam! Just one tool, does all I need. So I found jest much simpler to use and set up.

[2017-08-29 19:09] eddyerburgh commented on #1
We should create another issue to discuss test frameworks. There are no plans currently to add test framework specific code to vue-test-utils. Currently, it's framework agnostic - and I think it should stay that way.

[2017-08-29 19:50] jackmellis commented on #1
Yeah I can't help but feel this got a bit off topic. We shouldn't really be forcing users to use one testing framework over another, we should just be ensuring there is a nice and __easy__ way to test Vue components everywhere. So (*grits teeth*) those wanting to use karma can do so, but there should also be a well documented framework-agnostic way of being able to at least load a vue component fr

[2017-08-30 03:02] chrisnicola commented on #1
@jackmellis, thank you, that is exactly right.

I get Jest is great, regardless, I also have no intention of using it in my projects. I strongly disagree with the approach React and Angular have taken of "anointing" a particular testing framework.

[2017-09-01 14:27] eddyerburgh commented on #27
So on reflection, `getProps` ot `get` is not a good idea. It will return an unbound value, so if the prop/ method/ data/ whatever is a function that references `this` it won't behave as expected.

[2017-09-01 20:36] nesterone commented on #32
As far as I understand Wrapper is a combination of accessors to  DOM **and** Vue instance, when it was about 'getProps', 'getData' there is no intersection with DOM node interface (it terms of terms)

Having both doesn't sound like as a good solution, at least there are some reasons to do it

I see that a lot of DOM accessors were added to [Wrapper](https://github.com/vuejs/vue-test-utils/blob/dev

[2017-09-03 08:12] wparad commented on #32
Although looking at this closer it feels that bulk passing of attributes and listeners from the parent to the child is not a great pattern, so maybe this shouldn't be support at all.

[2017-09-04 09:43] callumacrae commented on #32
Could always call it `.has$attrs()`.

[2017-09-04 12:33] eddyerburgh opened #40 "Pass $listeners with listeners option?"
There should be a way to pass values to $listeners.

Currently you can pass $attrs using the attrs option:
[code]
Do people agree on adding a listeners options, for $listeners:

[code]

Other suggestions for the name are `on`, and `$listeners`. I think it should be `listeners`, to match `attrs`.

[2017-09-05 10:47] alexjoverm opened #41 "Add component instances to slots on mount"
Is there a way to somehow pass component instances to the slots property of mount? The use case is, say I have a component that has a required property:

[code]

Then if in a test I wanna add a list of Message as the default slots, I cannot do it like it's documented: I'll get a `"message" property is required` error:

[code]

I tried using mount and getting the vm out of it, or also extending the

[2017-09-05 10:55] eddyerburgh commented on #41
There isn't currently a way to pass mounted components to slots.

There's some work being done in avoriaz to add the option to pass Wrappers as slots. But right now there's an unsolved bug - https://github.com/eddyerburgh/avoriaz/issues/113.

I'd like to add this functionality, but don't have time to work on this feature right now. I'd welcome a PR and could give you some guidance if you were will

[2017-09-05 11:05] alexjoverm commented on #41
Thanks, right now I also don't have the time, but probably in the coming days I can get some and lend a hand in there. I'll contact you for that guidance in that case ;).

[2017-09-05 13:43] alexjoverm commented on #41
FYI, as a workaround, this seems to work:

[code]

[2017-09-06 08:00] emahuni opened #42 "Not working in Browser"
Wanted to use this in browser testing using Mocha, chai, sinon, expect... but it seems like this is only meant to be used in Node or at least after building it. I did that using browserify, but it is throwing this error:

[code]

This implies that I have to change it's source for it work properly for my case, which is something I think shouldn't happen. I thought maybe I am missing something or ma

[2017-09-06 08:11] eddyerburgh commented on #42
There isn't a runtime version of vue-test-utils. There is a commonjs version, a umd version and an amd version, all available in the dist directory.

Can you post a repo with your build set up, I can debug and see what's happening.

[2017-09-06 09:10] KagamiChan commented on #33
@eddyerburgh Seems this project's default branch is dev, so it should be better to pick this commit to dev branch so that people could see the notice at first glance

[2017-09-06 09:14] eddyerburgh commented on #33
@KagamiChan done 👍

[2017-09-06 16:38] wparad commented on #42
I have had similar problems in the past, are you creating a new vue component in the unit test file?  It turned out my team was doing that to mock `router-link` but then we realized we could just override the render function instead of `template`.  That also allowed us to decouple from building a vue component in the test as well.

[2017-09-06 21:20] metal-gogo opened #43 "How to handle eslint with vue-test-utils?"
Hi there, is any plans on releasing a eslint plugin for vue-test-utils?

Right now I'm adding some globals to my .eslintrc.js

Is there a better way?

[2017-09-07 05:18] eddyerburgh commented on #43
What globals are you adding?

[2017-09-09 12:50] emahuni commented on #42
I copied the dist file `vue-test-utils.js`  and removed the following line so that I use my own Vue instance and it worked.

[code]

So I exposed Vue as ```window.Vue``` so that when I require  `vue-test-utils.js` it uses that instead of the runtime only it was requiring.

Then I created a file `requireVTUs.js` that requires my modified `vue-test-utils.js` and assigned it to an object `window.vtus

[2017-09-11 12:25] eddyerburgh commented on #42
It's set as a peer dependency in the commonjs build, so users can use the version they've installed. In the AMD and UMD version, it needs to be passed as a dependency. So in those builds, the user is required to supply Vue themselves.

Yes, that's a good idea 🙂. With a runtime build, it will work how you described. The user will be able to add Vue and Vue Template Compiler as global variables, and

[2017-09-13 10:20] KagamiChan commented on #43
What's the test framework / library you use? You may simply define eslint env in your `eslintrc.js` file for common test frameworks like jest, mocha, etc.

[2017-09-14 11:11] eddyerburgh commented on #40
closed with 7cb468cd89ba636414c727892a4b06296228af05

[2017-09-14 11:11] #40 closed

[2017-09-14 12:44] eddyerburgh commented on #42
I've just pushed a version that should run in the browser - https://github.com/vuejs/vue-test-utils/blob/dev/dist/vue-test-utils.iife.js

[2017-09-14 12:46] eddyerburgh commented on #28
@rowanu any luck with this? Would be a good feature for snapshot testing.

[2017-09-14 12:50] eddyerburgh commented on #43
I'm closing this, as vue-test-utils doesn't add any globals

Like @KagamiChan said, you can add your test runner in the `env ` field of your `.eslintrc`

[2017-09-14 12:50] #43 closed

[2017-09-14 13:05] eddyerburgh commented on #27
I'm going to close this for the moment. We should encourage users to use `getAttribute` on the Wrapper element:

[code]

And for props/data:

[code]

[2017-09-14 13:05] #27 closed

[2017-09-15 00:17] rowanu commented on #28
Haven't had much chance, and need to learn a bit more about Vue. Still on my list of things to do.

Just want to make sure my understanding is correct: You said previously that you want to keep the child components rendered as comments, but want to use the usual `find`/`findAll` syntax (in your example); This means most of my modifications will likely be on the selectors (rather than the render),

[2017-09-17 04:13] jwkicklighter commented on #4
Just checking in since it's bit a little over a month, any updates on publishing?

[2017-09-17 05:58] eddyerburgh commented on #4
Evan's reviewing the code this week and we're planning to publish a beta on npm

[2017-09-18 01:13] emahuni commented on #42
That's great, I'll give it a shot ASAP.

[2017-09-25 01:52] rndmerle opened #47 "Sub-component is undefined"
Hi.

When mounting a component including a sub-component I get this error:
[code]
When stubbing, it happens the component is undefined.

I'm using vue-test-utils 0.1.0
The lib might be loaded by ts-jest.

I'm still investigating but maybe you've got an idea.

[2017-09-25 05:20] eddyerburgh commented on #47
Hi, thanks for the issue.

I don't know what the problem is from the error message. Can you post a minimal reproduction?

[2017-09-25 13:19] rndmerle commented on #47
Here is a reproduction:
[code]
I guess the issue is that it's processed by Typescript, but in my project it's mandatory.

[2017-09-27 04:03] yyx990803 commented on #6
Reopen as I am revisiting this feature. After having to manually create spies for all the events I wanted to assert, it felt quite tedious. I am proposing an API that requires minimal setup by simply auto-recording all emitted events in a `wrapper.emitted` object.

Say you emit the following events:

[code]

Then `wrapper.emitted` would look like this:

[code]

This simple data structure allows al

[2017-09-27 05:15] eddyerburgh commented on #6
I think this is an elegant solution, and we should implement it. Are you able to make a PR @yyx990803? I'm happy to if you're not.

[2017-09-27 09:05] codebryo commented on #6
That absolutely looks like a very clean approach on the events.

I support @eddyerburgh view regarding keeping the API minimal and encourage using the `vm` as longterm it allows/teaches users to also start using functionality that may be introduced with upcoming Vue versions, while it won't be necessary to update the test utils right away.

On the comment from @yyx990803 I think that's a piece of

[2017-09-27 12:29] lusarz opened #49 "Problem with stubbing global properties"
When I try to do:

    const $route = { path: 'http://localhost/some/internal/path' }
    wrapper = mount(Component, {
      intercept: {
        $route
      }
    })
    expect(wrapper.vm.$route.path).to.equal($route.path)

I get error:

    setting a property that has only a getter
    webpack:///~/vue-test-utils/dist/vue-test-utils.js:861:0 <- index.js:71637:25
    forEach@[native code]
    in

[2017-09-27 12:43] eddyerburgh commented on #49
I think that $router will have been added to the base Vue instance as a read only property.

When you install Vue Router (`Vue.use(VueRouter)`), Vue Router adds `$router` and `$route` as read only properties.

Check to see if you're installing Vue Router anywhere in your test suite.

[2017-09-27 13:35] lusarz commented on #49
True, I had `Vue.use(VueRouter)` but in source code. I comes to tests with [webpack
 template for vue-cli](https://github.com/vuejs-templates/webpack/blob/fb39683846944f874244f88be4b05a1a2f1b7c96/template/test/unit/index.js#L12).

[2017-09-27 13:36] #49 closed

[2017-09-27 13:50] eddyerburgh commented on #49
I've opened an issue to make `$route` and `$router` writable - https://github.com/vuejs/vue-router/issues/1768

[2017-09-28 10:30] lusarz commented on #33
I want to use newest version of vue-test-utils in my application, I added this line to package dependencies:

      "vue-test-utils": "git://github.com/vuejs/vue-test-utils.git"

, but I see that `/dist/vue-test-utils.js` is out of date with src. Is there a plan to setup automatic build of dist ? Anyway I would be thankful for manual build :)

[2017-09-28 10:53] eddyerburgh commented on #33
@lusarz I'll do a quick manual build.

We're getting ready for release, so I won't do any manual builds after this. Part of the release process is to build the dist files and push them to dev, so they will be updated with future builds.

[2017-09-28 11:14] webfrontzhifei commented on #33
The same name package has been published to the npm，so this repository will be renamed ？？

[2017-09-28 11:19] webfrontzhifei opened #51 "code puzzles"
I do not understand the code

[code]
why save the console.error and reset to it at the last ???

[2017-09-28 11:21] eddyerburgh commented on #33
We have the npm package, so when we publish it will overwrite the previous owners package

[2017-09-28 11:23] eddyerburgh commented on #51
It's too avoid logging errors while we set the $attrs.

I'm happy to accept a PR that improves the code, or adds a comment to stop it being so puzzling 🙂

[2017-09-28 13:23] emahuni commented on #42
Sorry for the late feedback. I have updated by running `npm update` and that file isn't in the dist folder. I removed it and tried to reinstall using the install example in readme, but there is actually an error that's throwing a 406 from the server. So I changed the bit to `npm install --save-dev https://github.com/vuejs/vue-test-utils.git` from `npm install --save-dev https://github.com/vuejs/vu

[2017-09-28 13:24] yyx990803 commented on #51
@eddyerburgh we can actually temporarily set `Vue.config.silent = true` when we need to suppress warnings.

[2017-09-28 13:39] eddyerburgh commented on #51
That's a much nicer solution 😄

[2017-09-28 14:20] emahuni commented on #42
I have cloned just to test it, but I have not solved the above problem. The new issue is that vue-template-compiler now needs to be compiled also since it's a Node script. Isn't it simpler to just require it in there if it's not available on the global space before trying to use it, ie; before the iief, so that it can be built together or something along those lines?

Or is it that the template co

[2017-09-28 14:50] eddyerburgh commented on #42
vue and vue-template-compiler need to be the same version, so including it in the final build would force users to test with whatever version of vue-template-compiler we used.

You're right though, at the moment it's not possible to run the vue-template-compiler in the browser. We're going to release one in version 2.5.0. At the moment, you can just mock it by adding `window.vueTemplateCompiler =

[2017-09-28 15:34] emahuni commented on #42
Ok cool, you are the best... let me work on;
1: update npm
2: mock vueTemplateCompiler (but won't that cause problems later when actually using vue-test-utils?)

[2017-09-28 15:38] emahuni commented on #42
ok... updated npm, removed the clone version and tried to install vue-test-utils afresh using the command in the readme file. It worked well, but the iief file is still no nowhere to be found:
[code]
Any ideas?

[2017-09-28 16:29] eddyerburgh commented on #42
Ah yes, sorry. I thought that npm resolved the default branch when you used the URL.

It should work correctly with this command:

npm install --save-dev git://github.com/vuejs/vue-test-utils.git#dev

[2017-09-28 16:40] #51 closed

[2017-09-29 01:54] autumnwoodberry opened #52 "`Vue.nextTick()` required with transitions."
**Version**

1.0.0-beta

**Reproduction link**

https://github.com/autumnwoodberry/vtu

**Steps to reproduce**

Nest some `v-if`:
[code]
[code]

**What is expected?**

`wrapper.html()` returns the updated markup.

**What is actually happening?**

`wrapper.html()` returns outdated markup unless the test is changed to:
[code]

[2017-09-29 03:49] Aladdin-ADD opened #53 "Docs: broken links in "Choosing a test runner" => "Testing Single-File Components""

[2017-09-29 04:38] #53 closed

[2017-09-29 04:53] eddyerburgh commented on #52
Thanks for the detailed bug report 😄

This is an issue with transitions, I'll look into it over the next few days

[2017-09-29 06:11] eddyerburgh commented on #33
vue-test-utils beta is released on npm:

[code]

Closing issue

[2017-09-29 06:11] #33 closed

[2017-09-29 06:13] eddyerburgh commented on #18
We've done a huge overhaul of the docs. There's lots of info on what to test, test runners to use and how to set up Vue test utils:

https://vue-test-utils.vuejs.org/en/

Closing this issue, but happy to reopen if you think anything is missing from the docs 🙂

[2017-09-29 06:13] #18 closed

[2017-09-29 06:19] eddyerburgh opened #55 "Add setComputed method"
We should add a `setComputed` method to set the value of a computed value.

[2017-09-29 06:19] eddyerburgh commented on #22
There's now a `setMethods` method.

We should have a setComputed method too. I've created a new issue for that:

https://github.com/vuejs/vue-test-utils/issues/55

[2017-09-29 06:19] #22 closed

[2017-09-29 06:21] eddyerburgh commented on #1
Since the beta is released, I'm closing this issue.

We can continue discussing features in the issue tracker

[2017-09-29 06:21] #1 closed

[2017-09-29 06:21] eddyerburgh commented on #2
This has been solved by [createLocalVue](https://vue-test-utils.vuejs.org/en/api/createLocalVue.html)

[2017-09-29 06:21] #2 closed

[2017-09-29 06:22] eddyerburgh commented on #4
The todos are complete, and beta is released 🚀

[2017-09-29 06:22] #4 closed

[2017-09-29 06:23] eddyerburgh commented on #6
Closed with 0033c4a0f6e83db7ae0be762dab2c3f72cfe0346

[2017-09-29 06:23] #6 closed

[2017-09-29 08:24] blocka commented on #55
A computed property should be something you test...not an invariant

On Sep 29, 2017 9:19 AM, "Edd Yerburgh" <notifications@github.com> wrote:

[2017-09-29 08:46] eddyerburgh commented on #55
I think @jackmellis said it well:

[2017-09-29 09:40] stephane opened #57 "Missing lodash dependency in build of 1.0.0-beta"
ERROR in ./node_modules/vue-test-utils/dist/vue-test-utils.js
Module not found: Error: Can't resolve 'lodash/cloneDeep' in '<path>/node_modules/vue-test-utils/dist'

May be lodash should be put in peerDependencies?
https://github.com/vuejs/vue-test-utils/blob/3c0881aa03fd5199ae78975fe9aa28ea7bf3c42c/package.json#L96

[2017-09-29 10:07] eddyerburgh commented on #57
Thanks for the bug report.

I think Lodash should be in dependencies, because it's a required dependency.

I can't reproduce the issue locally, but I'll look into this later.

Can you give me some more information - npm version, node version, babel options (if any).

A small example repo would be extremely helpful.

[2017-09-29 10:26] stephane commented on #57
Yes my bad, it's a required dependency, of course.
I'll try to provide a small example repo ASAP.

[2017-10-01 07:52] re-fort opened #59 "Missing API doc links"
It seems not to be linked existed API docs like `findAll` on `SUMMARY.md`.
Is it intentionally?
If not  so, I'll create a pull request😃

[2017-10-01 08:10] eddyerburgh commented on #59
It's not intentional, so a pull request would be great! 🙂

[2017-10-01 09:18] eddyerburgh commented on #47
Thanks for the reproduction.

This is a jest-vue issue. I've made an issue over there, and released a fix. Can you on jest-vue that the release fixed your issue?

[2017-10-01 09:18] #47 closed

[2017-10-01 14:05] #59 closed

[2017-10-01 21:50] yyx990803 opened #61 "Code splitting support"
Theoretically we should be able to support async components imported by the tested component when using `mocha-webpack` with the following config:

- `target: 'node'` for `webpack`
- `optimizeSSR: false` for `vue-loader`

But there are still some issues right now that prevents it from working. Need to investigate a bit further.

Most of the time splitting is done at route level so this is not a hi

[2017-10-02 10:12] lusarz opened #62 "Problem with this.element"
I wanted to use `hasClass` method this way:
`expect(wrapper.hasClass('some-class')).to.be.true`
 but I've got error:
`undefined is not an object (evaluating 'this.element.classList.contains')`
while this one:
`expect(wrapper.vm.$el.classList.contains('some-class')).to.be.true`
works.

I've tried to debug it a bit, and added these lines into `hasClass` method:
`console.log(this.element);`
`console.

[2017-10-02 11:18] eddyerburgh commented on #62
Thanks for the bug report.

Can you post a minimal reproduction?

[2017-10-02 12:48] lusarz commented on #62
Yes, I think [this test](https://github.com/lusarz/vue-test-utils/commit/b72122ec8a7881a31042085db959c2fa371adb2d) reproduce it very well.

[2017-10-02 13:18] philstavri opened #63 "isEmpty returns false for element containing an empty slot"
Elements with slots always return false from isEmpty even if there is no content. i.e.
[code]

[2017-10-02 14:18] #63 closed

[2017-10-02 14:57] lusarz opened #65 "Method that return parent"
In one of my test scenario I need to get parent of element, something like:

`wrapper.find(selector).parent().hasClass('disabled')`

What do you think about adding `parent` method to wrapper ?

[2017-10-02 15:02] matt-oconnell opened #66 "Synchronous updates don't work on $slots"
**Version**

1.0.0-beta

**Steps to reproduce**

Create a component that uses slots:
[code]

Use this component in some Parent.vue:
[code]

**What is expected?**

Setting props should synchronously update the template, but this test fails:
[code]

**What is actually happening?**
`nextTick` is still required to update slot content.

**Solution**
Looks like Vue's `vm._update` function clones existin

[2017-10-02 15:35] matt-oconnell opened #67 "Find / FindRef: wrapper function to find element based on ref"
**Suggestion for additional functionality**

Currently, there is no functionality built into `vue-test-utils` to select elements within a component based on `$refs` and return them within a Wrapper. Our test suite is built around the idea that we can easily tag elements we need to hook onto within tests using `$ref` rather than some arbitrary "marker class."

I think it might be helpful to include

[2017-10-02 16:30] eddyerburgh commented on #52
I think the solution to this is to stub the transition and transition-group components.

We have 3 options:

1. leave it to the user to stub using the `stubs` mount option
2. Provide a transition and transition-group stub components, for the user to pass in the `stubs` option
3. Stub transition and transition group by default inside mount

I'm leaning towards option 2.

I'd be happy with option 3.

[2017-10-02 18:50] autumnwoodberry commented on #52
I like the "opt-in" option best as well and I think it keeps unexpected internal behavior to a minimum.

It might be nice to have a config somewhere so you can turn it on globally. I use transitions enough that it would be nice to that that option.

[2017-10-02 18:51] eddyerburgh commented on #67
I think this is a good idea, but I don't think we should add an extra method that only finds refs.

We could extend find, so that it takes an object.

[code]

Then we could extend it to other selectors, like `props`.

[code]

[2017-10-02 18:59] eddyerburgh commented on #52
That's a good idea @autumnwoodberry . We could make a global config, like Vue has.

[2017-10-02 19:09] #62 closed

[2017-10-02 19:10] eddyerburgh commented on #62
I've pushed a fix, I'll release soon

[2017-10-02 19:28] #66 closed

[2017-10-02 19:29] eddyerburgh commented on #66
I've fixed this in b714ce3

Update now loops through child Vue instances and calls update on them

[2017-10-02 19:32] eddyerburgh commented on #65
I would prefer to keep the API small. This would require adding a `parent` property to the Wrapper class.

I'd like hear what other people think 🙂

[2017-10-02 19:46] autumnwoodberry commented on #52
I'm going to be pretty busy the next few days, so I will just leave a couple more thoughts I had:

- I'm actualy not sure what `wrapper.setData({ a: true })` does vs `wrapper.vm.a = true`
- If we made `setData()` async, or provided an async version or async option for it, it might be a more intuitive solution.
[code]

- Whatever gets decided, I think this should all get mentioned in the `setData()

[2017-10-02 19:57] matt-oconnell commented on #66
Amazing! Glad I could help and thanks for the quick response. I tested this fix and it seems to work for deeply nested slot content as well.

[2017-10-02 20:15] matt-oconnell commented on #67
I wonder how many alternate use cases we would have for a selector other than CSS, component name, or $ref. I'm not sure if component with prop: `x`would ever be used as a selector, but I could be wrong.

[2017-10-02 20:35] matt-oconnell commented on #67
But, if we do want to go with the selector/value find/findAll functions, I could start a PR. Initially it could look for $props / $refs. I guess the tough part would be matching `$props` because the values could be `any`

[2017-10-02 21:16] eddyerburgh commented on #67
I think we should just add support for refs at the moment ☺

[2017-10-02 21:36] johnwebbcole commented on #31
I'd love an answer and a good example for doing exactly this.  This is the top search result for `vue-test-utils router-link`, so I'm going to ask here.

I'm trying to test a simple component that has a `<router-link>` in it, and I'm having troubles getting it to work at all.  To test my setup, which is using jest, I copied the `List.vue` file and test from the jest example.  This test runs fine.

[2017-10-02 22:27] JamieLottering opened #69 "shallow components throwing unknown custom element error"
## Problem
Trying to test a component that has dependency on some bootstrap-vue components.

[code]
By calling `shallow` it is stubbing these components but the vue runtime is throwing errors. causing test failure.

[code]

[2017-10-02 22:31] #69 closed

[2017-10-02 22:37] JamieLottering opened #70 "shallow components throwing unknown custom element error"
### Version
1.0.0-beta.1

### Reproduction link
[https://jsfiddle.net/Sabazou/uu91qb4w/](https://jsfiddle.net/Sabazou/uu91qb4w/)

### Steps to reproduce
Create a component that utilizes another component.
Create a test that shallow mounts the parent component
Run the test

### What is expected?
For all unregistered components to be stubbed and the test to pass

### What is actually happening?
Vue

[2017-10-03 03:24] Austio commented on #70
Thanks for reporting and for jfiddle.  Could you expand on what you are expecting?  I think you are saying that you would like vue-test-utils to be able to stub out any custom html element that isn't registered in vue as a component.

[2017-10-03 03:32] JamieLottering commented on #70
I was under the impression that using `shallow` over `mount` essentially ignores all of the unregistered child components. From what I'm seeing though it causes a runtime error because they aren't registered with Vue.

So not necessarily wanting it to intelligently traverse my component and look for tags that aren't registered. I just thought this was the intended behavior. Otherwise I wasn't sure

[2017-10-03 03:35] Austio commented on #65
I agree @eddyerburgh.  Initial thoughts are that this would add a fair amount of complexity and create some ambiguity on whether it is the parent vue component or parent html node.

[2017-10-03 03:36] JamieLottering commented on #70
In fact even the [documentation](https://vue-test-utils.vuejs.org/en/api/shallow.html) for shallow describes the behavior this way

[2017-10-03 03:44] JamieLottering commented on #70
Ok, I think I understand now.

The problem is my child components were globally registered and not locally. That's most likely why it has a problem stubbing them.

[2017-10-03 03:57] Austio commented on #70
You are correct in that it will only stub registered vue components, but it does on both your component instance and globally on the root vue.

Could you check that your component is registered in global vue and that you are not passing a `localVue` property to the shallow?  To check you could do something like this in your spec before the assert.  If it logs an empty object then you know that b-b

[2017-10-03 04:15] JamieLottering commented on #70
That's what I was missing. Totally forgot to include the file that registers my global components.

Thank you for your help!

[2017-10-03 05:26] #70 closed

[2017-10-03 07:06] eddyerburgh commented on #31
Sorry, the example in my original post is wrong. I've updated it. If you're still having issues, can you ask a question on stubbing router-link on StackOverflow.

[2017-10-03 07:11] eddyerburgh commented on #52
`setData` sets the data and calls `update`.

I don't think we should make setData async. Synchronous updating makes unit tests simpler to write and easier to read. I agree, it can be confusing for experienced Vue users who expect async updating, but I think that for the majority of users they would expect setData to update the Vue instance, which it does for everything except transitions. Which is

[2017-10-03 07:12] eddyerburgh commented on #57
Hi stephane, did you mange to create a reproduction?

This is a major issue, and I'd like to resolve it, but I'm unable to replicate it.

[2017-10-03 13:41] jonnyparris commented on #55
Only just saw this after creating a [similar issue](https://github.com/eddyerburgh/avoriaz/issues/145) on the Avoriaz repo. A setComputed method is exactly what I need.

[2017-10-03 14:01] Austio opened #71 "Add Documentation Link to Project Description"
:wave:

I think we should add the link to the documentation in the project descriptions similar to the other vue repos (vue-router, vuex, vue)

Something like
[code]

Example on vuex repo
[code]

[2017-10-03 14:03] eddyerburgh commented on #71
Agreed.

@yyx990803 can you add a link to the docs to the repository description?

[2017-10-03 14:25] matt-oconnell commented on #67
@eddyerburgh To make it a little more concise, how do you feel about:

[code]

[2017-10-03 14:28] stephane commented on #57
I tried again in various projects (with official webpack template or without, with yarn or npm) and each time, the lodash dependency is properly fetched.

success Saved 2 new dependencies.
├─ lodash@4.17.4
└─ vue-test-utils@1.0.0-beta.1

Excepted in one of my project where lodash v3.10.1 is still used, I'm not able to figure out why and vue-test-utils works from git (package.json). The package-loc

[2017-10-03 14:28] #57 closed

[2017-10-03 14:33] eddyerburgh commented on #67
Yep that looks good 👍

[2017-10-03 14:38] stephane commented on #57
Deleted by global npm cache and the problem is gone :/

[2017-10-03 14:40] eddyerburgh commented on #57
I've had so many npm problems since v 5 😟

[2017-10-03 15:36] autumnwoodberry commented on #52
Ok yes, I see - that makes perfect sense.

[2017-10-03 15:43] yyx990803 commented on #71
done!

[2017-10-03 15:43] #71 closed

[2017-10-03 16:17] Austio commented on #55
I can see a pragmatism to this.

I do agree with @blocka though and think that the downside with setComputed is that it is encouraging the use of computed properties in the same way you would use something like props or data.  You could end up in a situation where you are unit tests for computed and have a component that does not work.

I'm interested in the scenario/thoughts for needing this and

[2017-10-03 16:44] matt-oconnell commented on #67
Great, updating the PR to reflect this. Currently, the validation error messages for find/findAll display: `wrapper.find/findAll() must be passed a valid CSS selector or a Vue constructor`. As we update the API to accept this new options object, how should we refer to it?

If we're going to start with refs for now, we could use:

`wrapper.find() must be passed a valid CSS selector, Vue constructor

[2017-10-03 16:57] eddyerburgh commented on #67
Ah that's a good point.

If we add this then we need to:
- Update all methods that take a selector: `is`, `contains`, `find`, `findAll`
- Update the selectors page to include the refs object
- Link to the selectors page in the validation error

That's a fairly big change. Before we go further, I would like some input from others.

**Do we want to extend the selector to include { refs: 'refName' }*

[2017-10-03 20:23] conkur opened #73 "vue-class-component use causes html() to return empty html comment"
Hello,

I noticed that my single file component which uses `Component` from `vue-class-component` is returning an empty html comment (`''`) when I print `wrapper.html()`.

Component:
[code]

Mounting in test file:
`const wrapper = mount(Test);`

When not using `vue-test-utils`, I see the same problem of the empty html comment being returned in `vm.$el` when I mount the component like so: `vm = new

[2017-10-04 11:52] stephane commented on #57
The issue is tied to karma 1.7.1 which depends on lodash v3.10.1 if the karma dependency is added first to `node_modules/` by NPM, `lodash` v3.10.1 is stored at the root and not inside its dir (`karma/`)

[2017-10-04 13:54] jonnyparris commented on #55
@Austio why not make both options available and let people decide for themselves?
Ideally I could have unit level tests for all my computed and method functions (which encourages smaller single-purpose functions) _and_ have a 'component integration test' that checks all of those unit tests playing well together.

[2017-10-04 13:56] matt-oconnell commented on #67
So, one thing other thing to note: When selecting $refs, we rely on the $ref property to be available on the wrapper.vm, because we want to limit the results to this scope. This is one of the benefits of $refs. If we are using a wrapper on a non-Vue HTML Element, we should not allow selecting by $ref.

[2017-10-04 14:15] eddyerburgh commented on #67
Ok, we can add a validation error for that

On 4 Oct 2017 14:56, "matt-oconnell" <notifications@github.com> wrote:

[2017-10-04 15:27] Austio commented on #55
@jonnyparris that is a fair point, i think with the feature we should add something to documentation with some potential gotchas with it.

[2017-10-05 08:36] kemalcany opened #74 "Getting started with the vuejs-templates/webpack (& Karma)"
Hi guys, excellent repo and docs thanks a lot!

I was wondering, are there any plans to expand the documentation to cover getting started with the [vuejs-templates/webpack](https://github.com/vuejs-templates/webpack) since it's probably the most popular official starter out there (4500+ stars)

The starter has a nice out of the box karma / mocha / sinon / chai unit test framework.

Current documen

[2017-10-05 09:01] rssfrncs opened #75 "Mocha-webpack setup, can't suppress Vue logging"
Using the mocha-webpack setup, I have a required file `start.js` with the following code:

[code]

However, Vue is still logging out to the console,

![image](https://user-images.githubusercontent.com/7808978/31219020-f5594bba-a9b3-11e7-9465-7a8371fc0d4b.png)

Have I missed something?

[2017-10-05 09:09] eddyerburgh commented on #74
Hi, thanks @kemalcany.

I would love some help on writing a getting started guide with karma. As you said, a lot of people use the karma-mocha setup provided in the webpack template. would you be able to make a PR?

The plan with vue-cli webpack template is to eventually replace karma and mocha with Jest, there's a PR open now — https://github.com/vuejs-templates/webpack/pull/824.

[2017-10-05 10:25] ankurk91 opened #76 "Wrong link to docs"
This link is 404

https://github.com/vuejs/vue-test-utils/blob/b9b0aa9dde34b0e1b38dd0a485ad734c9c856ac5/src/mount.js#L18

[2017-10-05 11:10] #76 closed

[2017-10-05 14:33] johnwebbcole commented on #31
Thanks, I was able to get it working.  I expanded the `router-link-stub` above to render the link and the `to` property.  There may be a better way, but this works for me.

[code]
And my test becomes:

[code]

which renders the following snapshot:

[code]
[code]

[2017-10-06 07:16] lusarz opened #79 "How to read input value"
I want to read input value in my tests. I can do it easily with querySelector:
`const value = wrapper.vm.$el.querySelector('input').value`

but I would like to use wrapper method, something like:
`const value = wrapper.find('input').getInputValue()`

Is it possible with current wrapper API ?

[2017-10-06 07:26] eddyerburgh commented on #79
Yes 🙂

[code]

`find` traverses DOM nodes and Vue instances. All Wrappers returned by `find` contain an `element` and a `vnode` property. Only Vue instance Wrappers contain a `vm` object.

[2017-10-06 07:58] lusarz commented on #79
Yeah, it works :) Thanks!

[2017-10-06 07:58] #79 closed

[2017-10-06 17:03] ktsn commented on #73
This looks because `mount` does not support extended Vue constructor that generated with `Vue.extend` yet? vue-class-component convert the decorated class to the returned value of `Vue.extend`.

I just confirmed this happens if I use `Vue.extend` directly.

[2017-10-09 15:34] lmiller1990 opened #81 "Vuex example correction"
Hi,

I used avoriaz previously, now trying this. I notice in this page https://vue-test-utils.vuejs.org/en/guides/using-with-vuex.html

The example says:
[code]

I didn't run this example sample, but one very similar - my component also only has one button, and two `<input>`. I had to go  `wrapper.find('button').trigger('click')`, without the `[0]` index.

Maybe this is just a slight error -  I th

[2017-10-09 16:08] eddyerburgh commented on #81
Yes, this is an error. The page was copied over from avoriaz, and we forgot to update the code.

Would you be able to make a PR fixing this issues?

[2017-10-10 13:51] lmiller1990 commented on #81
Ok! @eddyerburgh See above.

I will be using this lib a fair bit coming up so hoping to contribute a lot, in both docs and codebase where needed.

[2017-10-10 16:20] skray opened #83 "Handling promise resolution"
Sorry if this should go in the forums or chat, but I was a little confused about this section in the docs: https://vue-test-utils.vuejs.org/en/guides/getting-started.html#what-about-nexttick

It states

This is true if you are only doing DOM manipulation, but as soon as you are waiting for Promise resolution, I do not believe the statement holds.

I have what I think is a pretty common pattern in

[2017-10-10 17:49] eddyerburgh commented on #83
Thanks for the issue 🙂

You're right, `update` only re renders the DOM. It doesn't affect async functions, like promises.

I think this should be added to the docs. Would you like to make a PR clarifying that `update` does not do this?

[2017-10-10 17:50] eddyerburgh commented on #81
Thanks a lot @lmiller1990 🙂

[2017-10-10 17:50] #81 closed

[2017-10-10 18:11] skray commented on #83
I'd be happy to, I'll try to get something up tonight.

[2017-10-10 20:48] eddyerburgh commented on #55
I made a PR — https://github.com/vuejs/vue-test-utils/pull/84

[2017-10-10 21:50] rhythnic opened #85 "Render slotted content with shallow"
In my tests I'm not using shallow rendering on any page-level components because none of the slotted content is included in the snapshot; however, when using mount, it's necessary to mock the store for the whole component tree.  As a workaround I've been mocking many components as just a template that renders slots, and then I use jest.mock to use the mocks instead of the actual child components.

[2017-10-11 05:10] eddyerburgh commented on #85
You can pass custom components as stubs using the [`stubs` option](https://vue-test-utils.vuejs.org/en/api/options.html#stubs):

[code]

I'd like to hear others opinions about rendering slots and children in stubbed components

[2017-10-11 13:30] lusarz commented on #55
What do you think about adding something like `computedMock` mounting option:
`mount(Component, { computedMock: { someVariable () {return 'mocked value'}}`
and use `extends` inside mount:

    const ExtendedComponent = {
      extends: Component,
      computed: params.computed
    }
    return mount(ExtendedComponent);

It's only idea, I'm not sure if it's even possible.

[2017-10-11 13:42] rhythnic commented on #85
Ok great!  That wasn't working for me yesterday, but I must have been using it wrong.  It's working now.  I did need to modify your example to avoid using an arrow function so that 'this' refers to the vue instance.  I made a utility to make it easier.  I'm happy with this solution, but I think it would be useful for shallow rendering to include slotted content.

[code]

[2017-10-11 16:41] eddyerburgh commented on #55
I think we should add setComputed, because we already have `setData`, `setMethods`, and `setProps`

[2017-10-11 20:14] #55 closed

[2017-10-12 05:07] eddyerburgh opened #88 "Add config object"
I think we should add a config object.

We could use it to store mount options, and other options at a later date.

The main use I see right now is to set transition and transition-group Components to be stubbed by default.

This means the global default config would look like this:

[code]

The options in config would be overwritten by mount options passed to Wrapper.

Having a config would save

[2017-10-12 05:08] #75 closed

[2017-10-12 08:05] rssfrncs commented on #75
@eddyerburgh thanks for the quick turn around, will this be included in the next beta release?

[2017-10-12 08:07] eddyerburgh commented on #75
Yes

[2017-10-12 12:43] rssfrncs opened #89 "Avoriaz migration"
First, am i correct in assuming Avoriaz development will stop?

If so, do you plan on offering any sort of migration guide or tool to help Avoriaz users move to vue-test-utils?

[2017-10-12 16:44] eddyerburgh commented on #89
I won't stop developing avoriaz, but my focus is on vue-test-utils.

Adding a migration guide is on my todo list, but it's pretty low down. I'm not sure when I'll get around to it.

If a lot of people would find one useful I'll raise the priority of it.

[2017-10-12 16:56] wparad commented on #89
Doesn't have to be fancy, just some quick tips, even posting in this thread would be helpful.

[2017-10-12 17:15] rssfrncs commented on #89
Curious as to your decision to keep Avoriaz going? Won't it be confusing have two extremely similar testing libraries?

You often see in "Vue vs X framework" discussions, that developers opting for Vue, enjoy not having to make as many decisions around libraries as there are official offerings: vue-router, vuex and soon vue-test-utils.

[2017-10-12 17:59] eddyerburgh commented on #89
@rssfrncs I don't want people who built projects using avoriaz to be stuck.

Developing was probably the wrong word. I'll keep maintaining it, fixing bugs.

[2017-10-12 18:08] eddyerburgh commented on #89
The main difference between avoriaz and vue-test-utils is the `find` API.

In avoriaz there is one method to traverse the render tree—`find`. `find` returns an array of wrappers that match the selector.

[code]

In vue-test-utils, there are two methods to traverse the render tree—`find` and `findAll`. `find` returns the first wrapper matching the selector, `findAll` returns an array-like object.

[2017-10-12 18:38] rssfrncs commented on #89
@eddyerburgh Honestly, I think it that would be the best thing to do. As someone who is working on a project with over 100 test cases (majority importing Avoriaz), I was slightly concerned to see vue-test-utils announced with you, the creator of Avoriaz, developing it. However, comparing the APIs, it seems like a relatively harmless migration and extremely worth it to be adopting an "official" lib

[2017-10-12 18:41] eddyerburgh commented on #89
Ok, I've thought more about it, and I agree.

I'll add a deprecation notice and a migration guide to avoriaz when vue-test-utils is released 🙂

[2017-10-12 20:50] eddyerburgh commented on #52
I just released TransitionStub and TransitionGroupStub in 1.0.0-beta.2:

[code]

[2017-10-13 09:36] callumacrae commented on #89
This was my plan for vue-test too :)

[2017-10-13 15:54] lmiller1990 opened #97 "[Feature Idea] `isReactive`"
Hi,

Vue's reactivity system is great, and almost ~magic~ except for a few caveats. I think a lot of them will go away with Vue 3 introducing es6 proxies.

Anyway, for the longest time I couldn't figure out why

[code]

wasn't making my `task[0]` object included in Vue's reactivity. My test passed, I wanted to know if `ADD_TASK` added a task, however doing this doesn't allow the new task to be inc

[2017-10-13 16:47] callumacrae commented on #97
I've mostly found that I've accidentally not made stuff reactive, and it has led to bugs later on elsewhere - I'm not sure how adding a test case would have helped, given that the issue was noticing that something wasn't reactive, not figuring out what wasn't reactive.

[2017-10-13 17:36] autumnwoodberry commented on #52
Awesome! I will check it out when I have some spare moments.

[2017-10-14 00:38] alexhernandez opened #99 "Using setProps and wrapper.props return error not a function."
I was following the example on: https://vue-test-utils.vuejs.org/en/api/wrapper/setProps.html

And my code returns: `TypeError: wrapper.props is not a function`;

[code]

For Debugging:

[code]

[2017-10-14 00:59] alexhernandez commented on #99
Just noticed if you change `wrapper.props()` to `wrapper.vm._props.foo` it works.

[code]

[2017-10-14 07:00] lmiller1990 commented on #99
Is your prop is `required`, you may get an error, because the prop is not present on the initial mount.

You can also pass the props when you call `mount` like so:
[code]

[code]

[2017-10-14 07:14] eddyerburgh commented on #99
Thanks guys.

You're right, we need a page on using props. If anyone wants to make a PR, it would be greatly appreciated ☺.

FYI - `props` isn't a method in vue-test-utils

[2017-10-14 10:50] lmiller1990 commented on #99
I can do that tmr!

[2017-10-15 12:56] lmiller1990 commented on #99
I did it here https://github.com/vuejs/vue-test-utils/pull/102

[2017-10-15 13:56] lmiller1990 opened #103 "Testing computed props"
Hey,

Is there a good way to test computed properties? I have something like

[code]

Test

[code]

In all cases, the prop is `undefined`. I can dig deeper if needed, I haven't looked at the source much yet. If I do {{ computedClass }} in the template it does indeed work fine.

Any good option to test computed methods? Or I can look to add something.

Thanks!

[2017-10-15 15:07] blocka commented on #103
You check it as you would check any data property on the component

On Oct 15, 2017 4:56 PM, "Lachlan" <notifications@github.com> wrote:

[2017-10-15 17:37] lmiller1990 commented on #103
So you do. Thanks.

[2017-10-15 17:37] #103 closed

[2017-10-16 12:31] Akryum opened #105 "Shallow or stub of CamelCase components isn't working"
When using `shallow` or `stubs`, CamelCase components in the template are skipped.

# Example

[code]

<details>
<summary>Tested component</summary>

[code]

</details>

## Working

Kebab-case version works fine:

[code]

[code]

## Not working

Came-case version fails:

[code]

[code]

[code]

[code]

Also, when calling `wrapper.html()`, the `<BaseIcon />` component is not present in the result H

[2017-10-17 14:31] #99 closed

[2017-10-17 20:34] eddyerburgh commented on #105
Does it work with mount?

[2017-10-17 20:45] eddyerburgh commented on #105
To find a component, you need to pass it the component object.

So In your test file, you'll need to import your BaseIcon component, and pass it to find:

[code]

[2017-10-17 23:58] dwonisch opened #107 "Error in mounted hook: "TypeError: Cannot read property '$el' of undefined""
It looks like `this` is not correctly defined in mounted hook. I've changed the example to reproduce it https://github.com/dwonisch/vue-test-utils-jest-example

    <script>
    import Message from './Message'

    export default {
      name: 'message-toggle',
      data: () => ({
        msg: null
      }),
      methods: {
        toggleMessage() {
          this.msg = this.msg === 'message' ?

[2017-10-18 00:10] dwonisch commented on #107
Mounted definition was wrong:

    mounted ()  {
       console.log(this.$el)
    }

[2017-10-18 00:10] #107 closed

[2017-10-18 07:17] Akryum commented on #105
What I'm trying to do is to shallow the button component so that the `BaseIcon` component will appear as `<BaseIcon id="foo"/>`.

[2017-10-18 07:30] eddyerburgh commented on #105
Can you make a minimal reproducible example with a failing test that you think should pass?

The examples you've posted are using strings to find components, which is not the way that vue-test-utils searches for instances.

[2017-10-18 07:38] Akryum commented on #105
How do you stub those components then? I don't want their template to be in the snapshots for example.

[2017-10-18 07:43] Akryum commented on #105
I tried this:

[code]

And I get the following error:

[code]

I will make a repro when I have some time.

[2017-10-18 07:48] eddyerburgh commented on #105
The way that `find` works with instances is to search by the component name. This is a limitation at the moment. We should probably add a warning that the component needs a name to be used as a selector.

When you stub a component, you can use the original component that you stubbed as a selector.
[code]

[2017-10-18 11:51] fartek commented on #83
You can handle `wrapper.vm.$nextTick` by using your test runner's done/end functions.
for instance with Ava you would write a test:
[code]
And other test runners also must have similar methods for testing async JS.

[2017-10-18 12:53] runarberg opened #108 "Add `model` to `mountOptions`"
### What problem does this feature solve?
If your component has a [custom model implementation](https://vuejs.org/v2/guide/components.html#Customizing-Component-v-model), for example a custom checkbox, it would be nice to be able to easily mimic using this component with a `v-model` attribute, for example with a `model` option as a part of the mounting options.

### What does the proposed API look

[2017-10-18 14:06] skray commented on #83
Sorry, forgot to close this after merging #86.

Also thanks @fartek for the example, I've actually been a fan of using async/await in my tests, so I don't have to wrap anything in a callback:

[code]

[2017-10-18 14:06] #83 closed

[2017-10-18 14:38] eddyerburgh commented on #108
How about a `setModel` method?

At the moment with have a `setComputed`, `setData`, and `setProps` method. I think `setModel` would be in keeping with this API, rather than adding another mount option.

[2017-10-18 15:11] runarberg commented on #108
@eddyerburgh `setModel` is nice as well.

[2017-10-18 15:39] feedthejim opened #109 "propsData not initialized during mount"
Hi,

While using your library, i noticed that props passed as options to mount by affecting to propsData is not passed to the component. I looked into your test-suite and it seems you also didn't really check it.

Here's the code in question:

[code]

This is weird because an if shouldn't exist in a test case, we shouldnt verify that it exists in options and thus it never tests the first case. The

[2017-10-18 16:12] eddyerburgh commented on #109
You don't need to extend the component, just pass the component object:

[code]

There isn't any checking in the code because the options are passed to the Vue instance when it's instantiated.

[2017-10-18 16:14] eddyerburgh commented on #73
Try mounting the component with clone set to false:

[code]

vue-test-utils clones components by default so that it can stub them without affecting the base component object.

[2017-10-18 16:15] nblackburn commented on #109
Your code looks a bit off in places, try this...

[code]

[2017-10-18 17:02] petridw commented on #52
@eddyerburgh I'm using TransitionStub and attempting to assert that elements enter & leave the dom after data change (two elements with a simple v-if/v-else inside a `<transition>` tag). It seems to work on enter, but not on leaving - the content inside the `<transition>` tag remains in the wrapper's html and receives the `v-leave` and `v-leave-active` classes. I expected the transition stub to ju

[2017-10-18 17:09] eddyerburgh commented on #52
Hi @petridw, it should do. I'll update the code

[2017-10-18 23:30] petridw commented on #52
@eddyerburgh here's a failing test that should be passing, I think:

`component-with-transition.vue`
[code]

`transition.spec.js`
[code]

[2017-10-19 02:40] panganibanpj opened #110 "Support stubbing unregistered components"
### What problem does this feature solve?
Cannot currently stub components that aren't registered. Since `babel-plugin-transform-vue-jsx` [highlights that u don't need to register your components](https://github.com/vuejs/babel-plugin-transform-vue-jsx/blob/master/README.md#component-tip), people (like me!) may be inclined to use it this way and have trouble when it comes to testing higher level c

[2017-10-19 02:44] panganibanpj commented on #110
Oops! Meant to name this "Support *stubbing* registered components". Sorry! On my phone and don't know how to change it!

[2017-10-19 02:48] blocka commented on #110
Ultimately, I think the solution for this is make shallow _actually_ do a
shallow render. I'm pretty sure that's what enzyme does. Enzyme also has a
concept called diving which allows you to "dive" into the next layer

On Oct 19, 2017 5:40 AM, "panganibanpj" <notifications@github.com> wrote:

[2017-10-19 07:46] feedthejim commented on #109
Hi, thanks for the fast response.

[2017-10-19 09:52] feedthejim commented on #109
Nevermind I checked into your code and in create-instance.js i modified this line
[code]

to this

[code]

so that it can support a vue.extend instance. Could you add it as a feature ?

[2017-10-19 10:07] eddyerburgh commented on #109
Great  🙂

Yep sure, would you be able to make a PR?

[2017-10-19 12:25] feedthejim commented on #109
#112 :)

[2017-10-19 14:07] conkur commented on #73
Hey @eddyerburgh, thanks for the suggestion. Unfortunately `wrapper.html()` is still undefined even with setting `clone` to false.

[2017-10-19 19:25] eddyerburgh commented on #52
Thanks @petridw, if you remove the keys, the test passes.

The TransitionStub basically behaves the same as an unstubbed transition, except it doesn't add leave classes when the component inside is hidden, and it always returns the child synchronously.

[2017-10-19 21:06] petridw commented on #52
Interesting, so is there a different way I should be testing components that use transitions with keys?

[2017-10-20 03:05] eddyerburgh commented on #52
No, I'll look into it. But I'm on vacation at the moment. Just pointing out
how to make the test pass

On 19 Oct 2017 22:06, "David Petri" <notifications@github.com> wrote:

Interesting, so is there a different way I should be testing components
that use transitions with keys?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/

[2017-10-20 06:07] ferllings opened #113 "Testing with Apollo mocks"
Hello,

I’m trying to test my app using Jest and apollo-test-utils to mock my graphql api.

But I don’t understand to link the Apollo client and the component instance.

[code]

Thanks for your help.

[2017-10-20 07:29] rssfrncs opened #114 "Functional component mount().element equals #comment"
I have a functional component which accepts a "data" prop. This props is not required and by default returns an empty array,

![image](https://user-images.githubusercontent.com/7808978/31809631-8048ad5c-b570-11e7-82ce-47d1677efc60.png)

I have the following basic test to assert that an <svg /> is rendered,

![image](https://user-images.githubusercontent.com/7808978/31809613-70b2bebe-b570-11e7-954a

[2017-10-20 16:13] petridw commented on #52
@eddyerburgh cool - have a great vacation & thanks for all your work!

[2017-10-20 16:45] blake-newman commented on #114
This most likely relates to #73

[2017-10-20 16:56] blake-newman commented on #114
This will be fixed with #115

Closing: Releasing Monday

[2017-10-20 16:57] #114 closed

[2017-10-20 17:41] emahuni commented on #42
seems like the variable `vueTemplateCompiler` is a different variable from what `VueTemplateCompiler` is exposing in the browser version, note the capital letter 'V'.  either fix that in vue-test-utils or in vue-template-compiler.

i suggest fix to be done here in vue-test-utils: every instance of `vueTemplateCompiler` to be changed to `VueTemplateCompiler`

[2017-10-20 17:52] emahuni commented on #42
the above happened when i was working with another project where I installed the latest vue-test-utils and it wanted to use vue-template-compiler, regardless of using Vue full version in the browser. It seems like there were some changes that were done that now require the use of vue-template-compiler in the browser regardless of the loaded vue version.

Hence i ended up hitting those bugs with th

[2017-10-20 20:24] petridw commented on #88
Is there currently a way to have stubs apply to child components of the originally mounted component?

e.g. `mount(ComponentWithChildren, { stubs: { transition: TransitionStub } }` where the transition stub would also be applied recursively to any child components of `ComponentWithChildren`.

Seems having this global config option would be one option for enabling this behavior.

[2017-10-20 20:54] eddyerburgh commented on #88
There isn't currently a way for doing this
 We could add it ☺

On 20 Oct 2017 9:24 pm, "David Petri" <notifications@github.com> wrote:

[2017-10-21 20:12] fvictorio opened #116 "Vuex mocking not working?"
Hi, I have this component:

[code]

and this test:

[code]

If I'm not missing anything, this is the same structure as the one used [here](https://vue-test-utils.vuejs.org/en/guides/using-with-vuex.html).

But when I run jest, I get this:

[code]

I'm using `vue-test-utils@1.0.0-beta.2`.

Thanks.

[2017-10-21 20:17] fvictorio commented on #116
Some clarification: I'm guessing the problem is with Vuex mocking because of the `Cannot read property 'dispatch' of undefined` message. I added a log before the `this.$store.dispatch` and `this.$store` was indeed undefined.

The other two messages are worrisome too, `jest.fn` should be a function for sure, but I'm not sure if they are related with the store problem.

[2017-10-22 19:27] eddyerburgh commented on #113
Hi, thanks for the issue, but you should ask this on StackOverflow or the Vue discord channel.

The issue tracker is for feature requests and bug reports.

*it looks like you need to install Vue appolo on the Vue constructor. You can link the apollo client to the Vue instance the way you are doing in your example.*

[2017-10-22 19:28] #113 closed

[2017-10-22 19:31] eddyerburgh commented on #116
Hi, thanks for your interest but Github issues are for bug reports and feature requests only. You can ask questions on the [forum](http://forum.vuejs.org/), the [Discord server](https://vue-land.js.org/), [gitter](https://gitter.im/vuejs/vue) or [StackOverflow](http://stackoverflow.com/tags/vue.js).

---

It looks like the error is thrown because you're trying to access a property on an object tha

[2017-10-22 19:31] #116 closed

[2017-10-22 20:28] eddyerburgh commented on #42
I've just released a fix that uses VueTemplateCompiler instead of vueTempalteCompiler.

Do you think `vueTestUtils` should be Pascal case as `VueTestUtils` to keep in line with Vue and VueTemplateCompiler?

[2017-10-22 20:28] eddyerburgh commented on #109
This has been released in 1.0.0-beta.3, can you confirm it has fixed your issue?

[2017-10-22 20:29] #109 closed

[2017-10-22 20:29] eddyerburgh commented on #108
OK, if anyone wants to make a PR to implement this I'll review. Otherwise I'll look into adding at some point in the next week 🙂

[2017-10-22 20:30] eddyerburgh commented on #73
1.0.0-beta.3 has support for extended components. Can you try with the new version and see if it fixes your issue

[2017-10-23 04:33] berniezajac commented on #73
Fixed it for me, @eddyerburgh - many thanks!

[2017-10-23 08:47] rssfrncs opened #117 "Functional component context is undefined if not defined in mount() option argument"
Version: 1.0.0-beta.2

If you mount a functional component without passing a context object in the options argument,
[code]

when mocha executes the test case, context is undefined ,
![image](https://user-images.githubusercontent.com/7808978/31879833-8d9063f2-b7d6-11e7-9595-df9e560a4c43.png)

Passing `{ context: {} }` to the options of mount() is a workaround but not ideal.

[2017-10-23 08:48] eddyerburgh commented on #117
Hi, this is in my list of todos. Would you be able to make a PR that implements this? If not, I'll be adding this feature at some point this week

[2017-10-23 09:08] rssfrncs commented on #117
@eddyerburgh sure i'll take a look this evening

[2017-10-23 12:21] lmiller1990 opened #118 "Support multiple classes in `hasClass`"
Hi,

I noticed that `hasClass()` only works for single word classes. For example, I did something like:

[code]

And because `hasClass()` does

`return !!(this.element && this.element.classList.contains(className))`

You cannot find multiword classes. This was a little inconvenient since I mainly use semantic-ui, which uses longer multiword names like `ui eight wide compact grid`. Being able to as

[2017-10-23 12:40] callumacrae commented on #118
Multi-word classes are… not a thing. It's just multiple class names! With semantic-ui, are `class="complete todo"` and `class="todo complete"` the same thing?

If they're not the same thing, try `blabla.is('[class*="complete todo"]');`

[2017-10-23 14:11] lmiller1990 commented on #118
@callumacrae  Thanks for the reply. In many cases the order does have an impact in semantic-ui, but I think those are mostly weird edge cases, probably not a good use case to argue for this feature.

I don't understand what your second comment means - I haven't seen that syntax, how can I use it to assert my wrapper has the class "complete todo" with the existing tools in vue-test-utils? Maybe I c

[2017-10-23 14:55] callumacrae commented on #118
`[class*="complete todo"]` is a CSS selector that would match any element where the `class` attribute contains `complete todo` (but not `todo complete`): https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors

I agree that it would be useful for `hasClass` to match multiple classes - I was just pointing out that if you want to check for order, there's already a way to do that. A sele

[2017-10-23 15:04] lmiller1990 commented on #118
Right, thanks for the clarification. I was more concerned about checking for the full two classes being present, not so much the order - in this case 'incomplete todo' vs 'complete todo'. I know I can just workaround by checking for `incomplete` or `complete` in this case, but I still think it'd be a nice addition.

[2017-10-23 16:34] jonnyparris opened #119 "beforeEach block not working"
Hey Team,

I recently made the switch from Avoriaz to vue-test-utils (now that there's a setComputed method, hurray!).
A quick find & replace ported across almost all my passing tests successfully but the ones that make use of a beforeEach block fail with `undefined` errors like below:

[code]

Relevant test file snippet:
[code]
Am I missing something here or is it a bug?

[2017-10-23 16:58] eddyerburgh commented on #119
You're missing something.

`find` returns the first matching node in the render tree. In avoriaz, `find` returned an array.

You need to change this line:

[code]

To this:

[code]

[2017-10-23 16:58] #119 closed

[2017-10-23 17:04] eddyerburgh commented on #118
Yep we could do this @lmiller1990. Are you able to make a PR?

[2017-10-23 17:25] rssfrncs commented on #117
@eddyerburgh Evening, I'm having a few issues running the test scripts.

run test:unit / test:unit:karma issue
![image](https://user-images.githubusercontent.com/7808978/31903152-30bde61a-b81f-11e7-812e-0343e14fd07a.png)

and run test issue

![image](https://user-images.githubusercontent.com/7808978/31903239-76c5df78-b81f-11e7-949a-a85fe684de28.png)

[2017-10-23 17:30] eddyerburgh commented on #117
Yes let's talk about it in a PR. There's a Vue version mismatch. Confusing because the circle tests are passing. Potentially clearing your npm cache will solve the issue

[2017-10-23 17:46] conkur commented on #73
Fixed it for me too, thanks all!

[2017-10-23 18:24] fvictorio commented on #116
Hi, I wasn't asking a question. I understand how Vuex is supposed to be tested, I even referenced the "Using with Vuex" section in my second comment.

I'll double check that there are no mistakes on my side, but I wanted to clarify that this is, from my perspective, a bug report.

[2017-10-24 00:02] lmiller1990 commented on #118
Sure, will look into it this week!

[2017-10-24 00:30] nolde opened #122 "`basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")` when importing vue-test-utils"
When importing `vue-test-utils`, I get a weird error that doesn't seem to be related to anything else other than the component itself. I am running the test with `jest`.

Test code:
[code]

If the import line is commented out, the test runs fine and passes; with the import in, I get the following error:

[code]

I have removed the node_modules folder and reinstalled it all using `npm install` to m

[2017-10-24 02:43] nolde commented on #122
I am closing this.

When trying to create tests without using vue-test-utils, I got the same error when mounting my component; that means the problem lies within the jest/vue ecosystem.

[2017-10-24 02:43] #122 closed

[2017-10-24 04:15] lmiller1990 commented on #118
Here is my first attempt @eddyerburgh

https://github.com/vuejs/vue-test-utils/compare/dev...lmiller1990:dev

Accidentally changed stuff in `package.json`, will revert. Added a test and all others are passing - if you can take a look and let me know if you are satisfied with the way I implemented the logic, that'd be great.

Will make the PR after I've gotten your feedback had a chance to run all

[2017-10-24 05:46] eddyerburgh commented on #118
@lmiller1990 If you make a PR I can review it in GitHub. But it looks good so far. You can use every instead of map and reduce:

[code]

We can discuss further when you make a PR

[2017-10-24 06:12] lmiller1990 commented on #118
Done https://github.com/vuejs/vue-test-utils/pull/123 @eddyerburgh

[2017-10-24 09:35] mmieluch opened #124 "Feature request: wrapper.destroy()"
Hi, I'm curious if you guys would be interested in migrating the `wrapper.destroy()` method from Avoriaz. Can't speak for others, but personally I found it quite useful. Of course, I can call `$destroy` on a VM, but that doesn't remove the component node from DOM. So every time I need to get rid of a component I do the following:

1. Go up to parent node (if it exists), and then call `removeChild`

[2017-10-24 10:15] eddyerburgh commented on #124
I omitted `destroy` because, like you said, you can call it on the vm directly.

I forgot that the method also removes the parent node if it exists.

I'd be happy to accept a PR to add `destroy` 🙂

[2017-10-24 10:52] jonnyparris opened #125 "Value set with setComputed method not being used in other computed methods"
I'm trying to test a computed method that depends on other computed values within the wrapper
However, when I stub those computed values dependencies using the newly added `setComputed` method the computed method that I'm trying to test does not update.

Example failing test:
[code]

Example method under test:
[code]

[2017-10-24 15:57] lmiller1990 commented on #125
Hey @jonnyparris ,

I just tried this out and it seems to be working fine for me. One thing I noticed was you not only have to `shallow` or `mount` your component, but you must _use_ the computed value in the `<template>` section of your component - otherwise Vue doesn't even bother to computed the computed value.

Maybe you aren't using `{{ formattedValue }}` in your template? Does that help?

If

[2017-10-24 19:36] flybayer opened #127 "Mocks don't work for child components"
When I run a test like this where I mock a global, it works fine for the top level component (`App` in this case) but the mock doesn't work for children of `App`.

[code]

## Here's a repo that demonstrates this bug:
https://github.com/flybayer/vue-mock-test-bug

[2017-10-24 19:37] #117 closed

[2017-10-24 20:40] eddyerburgh commented on #118
At the moment this will return true:

[code]

[code]

I don't think this is the behavior we want. Do others agree?

[2017-10-24 20:50] eddyerburgh commented on #127
Thanks for the bug report and reproduction 🙂

I'm going to look into this tomorrow. In the meantime, a hot fix is to use localVue and add to the prototype outside of vue-test-utils:

[code]

[2017-10-24 21:45] nolde commented on #122
The problem seems to be with jest runtime in Windows.

https://github.com/facebook/jest/issues/4751

[2017-10-24 21:53] ay13 opened #128 "How would you trigger a select element?"
[code]

I am passing in the options through propsData just fine in my first test.

Next, I want to trigger a change on the select and choose the second one in the list which will trigger the change event and pass the value to a method I have. I cant find an example of how to do that.

[2017-10-25 05:05] eddyerburgh commented on #128
[code]

Further questions like this should be asked at StackOverflow.

[2017-10-25 05:05] #128 closed

[2017-10-25 10:02] jonnyparris commented on #125
Thanks for the quick reply!
I am using the computed values in the template as part of `v-if ` and styling conditions. Moreover, the component functions as intended regardless of the failing test.
After inserting some console logs to verify values in both the component and the unit test, it seems as though the setComputed does override the specified values but that doesn't trigger a reactive update

[2017-10-25 10:10] eddyerburgh commented on #125
Thanks for the bug report 🙂

Can you make a minimal reproduction please, it makes it much easier to debug

[2017-10-25 16:52] tim-hutchinson commented on #118
We're handling this by using a `classes` function that returns the list of class strings as an array. This allows us to take advantage of the assertion libraries being used for handling the specific assertions, rather than replicating that functionality in the utility library.

Ex:
[code]

The other advantage this gives is clearer output on failure. With a failure on `hasClass`, our output is curr

[2017-10-26 12:59] callumacrae commented on #118
@eddyerburgh I disagree, I would expect the current behaviour to be the desired behaviour. It's testing that the element has those classes, not that the class attribute contains that string.

Perhaps it would be clearer if the syntax were more like `wrapper.hasClass(['class-b', 'class-a'])`.

When order matters I'd expect something more like `wrapper.hasAttribute('class', 'class-b class-a')`.

[2017-10-26 14:18] lmiller1990 commented on #118
Intuitively, I don't think the order should matter - in any css lib, like boostrap, I'd usually do `btn btn-pimary` - however since the other way around is perfectly valid and achieves the desired result, I think that `hasClass` should mirror that.

Although I also think @tim-hutchinson raises a valid point. I'm interested in seeing what other people think.

[2017-10-26 19:42] gkatsanos commented on #2
Just did this:
[code]

And I get
[code]

[2017-10-26 19:54] gkatsanos opened #130 "createLocalVue : TypeError: Cannot set property 'installed' of undefined for Vuetify"
Just did this:
[code]

And I get
[code]

[2017-10-27 05:29] eddyerburgh commented on #2
Thanks for the bug report, can you please make a new issue?

[2017-10-27 06:21] gkatsanos commented on #2
Already did one.

On 27 Oct 2017 07:29, "Edd Yerburgh" <notifications@github.com> wrote:

[2017-10-27 09:24] rssfrncs opened #132 "Mounted functional component has undefined context.children"
Version: beta 3

Mounting a functional component passing options.context.children, results in context.children to be undefined in the components render function.

![image](https://user-images.githubusercontent.com/7808978/32097204-9e0eb56c-bb00-11e7-8dd1-9a7fa5629aa9.png)

Console output

![image](https://user-images.githubusercontent.com/7808978/32097226-b40b19d2-bb00-11e7-9eb1-e86d73681f53.png)

[2017-10-27 09:27] rssfrncs commented on #132
Taking a look at `lib/create-instance.js` , if options.context.children is passed as a [third argument](https://github.com/vuejs/vue-test-utils/blob/3c563d12735b8eab7529d32494f0955e0c51a294/src/lib/create-instance.js#L27) then context.children is defined, i'm not exactly sure why this works or what `h` in the functional components render context refers to?

[2017-10-27 09:52] eddyerburgh commented on #132
h is an alias for the [createElement](https://vuejs.org/v2/guide/render-function.html#createElement-Arguments) function

Can you create a failing test?

[2017-10-27 09:54] rssfrncs commented on #132
@eddyerburgh Ah nice. Yeah will do when i'm home from work.

[2017-10-27 14:25] eddyerburgh opened #133 "Render method for snapshot tests"
We should expose a render method/ createSnapshot method for people to easily write snapshot tests:

[code]

[2017-10-27 18:27] vlechemin opened #134 "Triggering event on elements inside a slot throws an exception"
While trying to trigger an even inside a component's slot, we encounter an exception.
Please find part of the code below.

Component
[code]

Wrapper option
[code]

Test
[code]

The stack is not very useful
[code]

[2017-10-28 15:09] nekosaur commented on #130
@gkatsanos Are you using one of Vuetify's templates with a-la-carte components enabled?

[2017-10-28 15:10] gkatsanos commented on #130
@nekosaur no, I am using the entire thing. (but you see that from my message right?)

[2017-10-28 15:17] eddyerburgh commented on #130
I'll fix this bug tomorrow 🙂

[2017-10-28 23:50] marczych opened #135 "Test .vue files are 4-space indentation"
I noticed that the `.vue` files in `test/resources/components/` are all 4-space indentation despite the `.editorconfig` being set to 2 for all files. Should the config be updated to set `*.vue` to 4 or should the vue files be reformatted?

I can open a PR if you'd like.

[2017-10-29 01:35] marczych opened #136 "Document filter options"
I was testing a component that used a filter that I wanted to stub out because the output of the filter wasn't important. I didn't see this functionality in the docs anywhere nor did I see it when I grepped through this repo so I decided to implement this feature. I started by writing tests but much to my surprise they passed before I implemented the functionality!

It looks like `filters` is a va

[2017-10-29 05:42] eddyerburgh commented on #135
Nice catch. Yes, could you open a PR to set them all to 2 spaces?

[2017-10-29 06:30] eddyerburgh commented on #136
As you said, all options are passed to the Constructor. This means users can pass any instances for plugins, like i18n, to the instance.

You're right, we should have more information in the docs about this so that it's more clear that you can pass the same options you normally pass when you create a vue instance. We also need to improve type definitions to allow this.

[2017-10-29 09:42] gkatsanos opened #137 "Add example in documentation that show show to test Vuex Store"
As in https://github.com/eddyerburgh/chapter-6/blob/master/src/store/__tests__/actions.spec.js , could you include a small use case/example on how to do simple Vuex store testing?

[2017-10-29 10:53] eddyerburgh commented on #130
This is fixed in the dev branch, I'll get it released tonight around 21:00 GMT

[2017-10-29 10:53] #130 closed

[2017-10-29 10:54] eddyerburgh commented on #42
I believe the browser version works correctly, so I'm closing this issue. Happy to discuss further if people have issues with it

[2017-10-29 10:54] #42 closed

[2017-10-29 10:57] eddyerburgh commented on #32
I'm going to close this issue as there seems to be no more discussion. Happy to reopen if people want to start the discussion back up

[2017-10-29 10:57] #32 closed

[2017-10-29 11:07] eddyerburgh commented on #118
Ok, I agree. Closing the issue as it's been merged 🙂

[2017-10-29 11:07] #118 closed

[2017-10-29 11:12] eddyerburgh commented on #28
Hi @rowanu. Have you looked into this anymore?

[2017-10-29 11:13] eddyerburgh commented on #5
I'm closing this again. We'll keep the behavior as it is

[2017-10-29 11:13] #5 closed

[2017-10-29 16:02] eddyerburgh commented on #127
This is fixed in dev and will be released later tonight in beta.4 🙂

[2017-10-29 16:02] #127 closed

[2017-10-29 16:08] eddyerburgh commented on #134
Thanks for the bug report.

I can't reproduce this using the code you posted. Can you post a minimal reproduction?

[2017-10-29 19:30] rowanu commented on #5
Thanks for closing.

FWIW I ended up changing my tests so I didn't need this - It felt too much like testing Vue's functionality to be worth the change.

[2017-10-29 19:35] rssfrncs commented on #132
@eddyerburgh sorry for the delay, i've added a test case to this [branch](https://github.com/rssfrncs/vue-test-utils/tree/context-children-undefined) in this [file](https://github.com/rssfrncs/vue-test-utils/blob/a89c42dee7641293d46179b13bbef7512b58e119/test/unit/specs/mount/options/context.spec.js#L69).

[2017-10-30 02:46] lmiller1990 commented on #97
I was thinking to have a crack at this, but it looks like there probably isn't much interest/it isn't a feature that is really worth implementing? Thoughts @eddyerburgh  ? If not, feel free to close - no point leaving an issue open with nothing being done.

[2017-10-30 05:43] eddyerburgh commented on #97
I haven't found the need to use isReactive. But I'm happy to leave the issue open until we get some more feedback

[2017-10-30 08:36] blocka commented on #97
personally, I think it's fine to just have your test fail, realize it's
because something wasn't reactive, fix it and move on. This sounds like way
to brittle a feature.

On Mon, Oct 30, 2017 at 1:43 AM, Edd Yerburgh <notifications@github.com>
wrote:

[2017-10-30 12:55] lmiller1990 commented on #137
I'm interested in contributing to this. I've been doing a lot of testing stuff with Vuex lately (from methods, to mocks the responses and seeing how things change in components etc), do you have anything specific in mind?

[2017-10-30 13:00] mmieluch commented on #124
I can see a PR has already been submitted by @vouill in #129. Thanks guys!

[2017-10-30 13:00] #124 closed

[2017-10-30 13:27] tim-hutchinson opened #139 "Support for classes(), etc"
This came up in #118. We've found it easier to work with tests that use the assertion library's comparison functions, rather than the comparison functions like `hasClass`, `hasProp`, etc.

I'd like to propose adding helpers that are more like `html()` and `text()` that simply return a consumable form of the element feature requested. IE, `classes()` would return an array of class names on the elem

[2017-10-30 13:39] eddyerburgh commented on #139
I agree. Value assertions are more useful than boolean assertions.

We could replace hasClass, hasAttribute, and hasProp with `classes`, `attributes`, and `props`.

We've got a good opportunity to remove these before the official release.

The one method I think is useful is hasStyle, because it allows you to check `hasStyle('color', 'white')` instead of returning `{color: 'rgb(255, 255, 255)}`

W

[2017-10-30 14:21] gkatsanos commented on #130
The error is gone but I'm not sure the use works.
[code]

I made a snapshot of this and it's empty:
exports[`QuestionsList.spec.js has the expected html structure 1`] = `
<div>
    <h4>Questions</h4>

</div>
`;

[2017-10-30 14:29] gkatsanos commented on #137
Same here. I'm still not 100% confident I can document this as also the library is evolving but already I've built up some skills.

[2017-10-30 16:00] lmiller1990 commented on #139
I haven't had much occasion to use `attributes` or `props`, but I'd be for including them - `props` seems like it might be handy. `classes` is solved in #118 , and should probably be renamed `classes` in light of the updated functionality.

I agree that `hasStyle` should stay, I have used  it quite a lot (changing button colors, opacities, and the such). I don't see a `styles` helper being very us

[2017-10-31 06:07] #135 closed

[2017-10-31 13:58] lmiller1990 commented on #137
If you just want help testing your store let me know @gkatsanos , I have done a lot of this kind of thing lately. I will be writing more about this in the coming weeks too, you can see [here](https://medium.com/@lachlanmiller_52885/a-pattern-for-mocking-and-unit-testing-vuex-actions-8f6672bdb255)  for more info or just get in touch and I can help you out.

[2017-11-01 14:53] tbeadle opened #142 "Unable to mock properties with only getters, such as $route"
### Version
1.0.0-beta.2

### Reproduction link
[https://github.com/tbeadle/vue-mock-issue](https://github.com/tbeadle/vue-mock-issue)

### Steps to reproduce
Clone the repo at https://github.com/tbeadle/vue-mock-issue and run `yarn run unit`.

### What is expected?
The $route property should be able to be mocked, as documented in the "Stubbing global properties" section of https://vue-test-utils.

[2017-11-01 16:22] eddyerburgh commented on #142
This is an ongoing issue.

Installing Vue Router adds `$route` as a read only property on the base Vue constructor. This means there's no way to overwrite the property in further tests. You can see some discussion on the issue here —https://github.com/vuejs/vue-router/issues/1768

One thing we can do is to throw an error with more information on why the mock was unsuccessful.

Something like this:

[2017-11-02 07:04] josephstein opened #143 "setData doesn't play friendly with nested data properties"
If you have a nested data format:
[code]

One would think you can update a property by doing the following (similar to the way you `watch` a nested property):
`wrapper.setData('fields.name': foo2)`

And if you do the following:
[code]
it obviously eliminates the other keys (`fields.notes`) in this example.

Unless I'm missing something it seems that we'd need to implement the dot syntax demonstrat

[2017-11-02 16:27] andycopley commented on #28
@eddyerburgh I've taken a brief look into this, and best I can produce are empty component stubs `<my-component></my-component>` in place of ``. I've not gone too far into it, but Vue strips comments from rendering, so not sure how to complete this as discussed above.

[2017-11-02 17:41] eddyerburgh commented on #28
@andycopley I believe you can set an option to stop comments being stripped by the template compiler. But I don't think comments can be a root vnode. Not 100% as I haven't looked into it.

Thanks for taking a look. I don't think adding components is a good option. We should either add the comments, or not add anything.

[2017-11-02 17:44] skray commented on #67
The PR for this change mentioned wanting some feedback from the community, so I thought I'd chime in.

This would be great to have, I liked the initial suggestion of having `wrapper.ref`, but I understand from a consistency standpoint why you'd want to extend the current finders. The current recommendation of using `wrapper.find({refs: 'refName'})` feels comfortable to me.

[2017-11-02 17:46] eddyerburgh commented on #67
OK, I'm happy for this work to continue. @matt-oconnell do you have any blockers?

[2017-11-02 18:20] matt-oconnell commented on #67
This is pretty much fully implemented in the corresponding [PR](https://github.com/vuejs/vue-test-utils/pull/68). The blocker was that the Flow types were invalid (specifically `Component`,) so this PR fails the type check unless `any` is used

[2017-11-02 18:23] eddyerburgh commented on #67
I think we'll have to use any until proper flowtypes are exported from Vue — https://github.com/vuejs/vue/pull/5027

[2017-11-03 10:16] tverhoken opened #144 "v1.0.0-beta.4 seems to break mock/stub/spy with sinonjs"
### version

v1.0.0-beta.4

### What is expected ?

When using [sinonjs](http://sinonjs.org/) to mock/stub/spy `$store`'s functions, these `$store`'s function should have the provided behavior by mock/stub/spy.

### What is actually happening ?

When I use `sinon.stub(...)` to provide a behavior on `$store`'s function, it seems like sinon can't do the function replacement. No error is thrown and t

[2017-11-03 10:40] pimhooghiemstra opened #145 "Triggering custom events"
I was trying to test a custom event (in the parent) that is emitted by a child component. However, using wrapper.trigger we can only use DOM events.

Would it be possible to add custom events?

If not, is there a way to test custom events from within the shallow rendered parent component?

My testcase is that the child emits an event and the parent should execute a function on occurrence of this e

[2017-11-03 14:11] Austio opened #146 "Attr inheritance and InheritAttrs/InheritListeners"
:wave: Edd

I was writing some specs on a component that uses the `inheritAttrs` option.  While looking at that I noticed that none of the extra props I was passing to components were not being added as attributes on the component.

I dug a little deeper in the source and it appears the issue is that this occurs before the $mount function.

Please let me know what you think, have an example and so

[2017-11-03 15:54] Austio opened #147 "Expected Behavior of Error Propogation"
Hey sorry for the multiple issues but saw this while driving out a test.

This may be more of a discussion, but what is the intended behavior of error propogation in vue-test-utils?  I created an example below but what i'm seeing in production is a mounted function in throwing an error due to some bad assumptions and that causes a white screen.  In my test when i reproduce by throwing an error in

[2017-11-03 15:56] Austio commented on #147
I *think* that the throw('error') should either be accessible on the wrapper or propagate up.

![screenshot from 2017-11-03 10-54-11](https://user-images.githubusercontent.com/1709860/32383255-83880c40-c085-11e7-9277-4c7c9b47c983.png)

[2017-11-03 17:42] Austio commented on #147
found a way to test the error, does not seem ideal but would work

[code]

[2017-11-03 19:05] eddyerburgh commented on #145
You can call $emit on the wrapper `vm`

[code]

We're hesitant to add this as a feature because there are many possible aliases like this, and we want to keep the API small.

If lots of people would find this feature useful, we can consider adding it.

It's also worth us adding a note on this to the trigger docs. Is anyone able to make a PR adding details on this?

[2017-11-03 19:07] eddyerburgh commented on #146
Hi Austio 😄

We should fix this. Are you able to make a PR?

[2017-11-03 19:51] Austio commented on #146
@eddyerburgh yes should be able to knock out over the weekend.

[2017-11-03 20:06] kleinjm opened #148 "How to stub methods called inside mount hook"
I'm running into an issue where I can't mock the method called in my `mounted()` hook and I'm assuming it has to do with the load order.
[code]
I've also tried
[code]
and mocking `mounted` itself
[code]
Is there a way to do this?

[2017-11-03 20:23] darrenjennings opened #149 "setData() doesn't trigger watcher"
I have a component that watches a data object `suggestions`. When I mount the component and then call `wrapper.setData({ suggestions: [] });` the watcher does not fire, as I put a `console.log` on the watcher to verify. If I set the watcher to be "immediate: true" then it will fire once. Is there something else I should do to trigger the watcher in a testing environment? I tried `wrapper.vm.$nextT

[2017-11-03 20:38] eddyerburgh commented on #144
Hi, thanks for the bug report.

v1.0.0-beta.4 fixed a bug where mocks were not editing the localVue prototype, which meant child components weren't receiving mocks correctly. https://github.com/vuejs/vue-test-utils/issues/127

I'm not sure exactly why using the sinon.stub() method to, but you can fix the tests by using this pattern. I'm going to look into why, because I'm curious what the differen

[2017-11-03 20:56] kleinjm commented on #148
If it helps, I figured out how to do this without the test utils but then I don't have the wrapper so I'm still stuck here.
[code]

[2017-11-03 21:00] eddyerburgh commented on #148
You can pass a methods object:

wrapper = mount(ProfileSidebarIndex, {
    mewthods: { mounted }
});

[2017-11-03 21:13] kleinjm commented on #148
no luck. Looks like this still runs the `mounted` hook
[code]

[2017-11-03 21:22] #149 closed

[2017-11-03 21:24] eddyerburgh commented on #149
Thanks for the bug report 😀

I've added a fix in the dev branch. It will be released in beta.5

[2017-11-03 21:33] eddyerburgh commented on #148
Do you want to stub the mounted hook, or a method that's called in a mounted hook?

There isn't currently a way to pass stubs to hooks.

[2017-11-03 22:21] kleinjm commented on #148
either would work. Can't seem to get stubbing the mounted hook working any of the ways discussed in this thread

[2017-11-03 23:03] Aferz opened #150 "Trigger events from child vue component"
Hi.

I would like to be able to trigger events from children components of a given parent. Check this code out:

##### Parent Component (Only template):
[code]

##### Test:
[code]

The log generated in console is the following:

[code]

As you can see, events triggered in Vue Components are not being emitted, so the parent can't catch them and act in consequence.

Is this expected? Maybe I'm doing

[2017-11-04 04:07] lmiller1990 commented on #150
This will not work, when you do `mount` it will not stub the child component, but render it's actual contents, I think. Can you post `child-component`?

What you probably want to do is instead of `find('.child-component').trigger('custom-event')`, do `trigger` on the actual button in the child component (maybe give it an ID or something). So:

[code]

[code]

[code]

If you post `child-component`,

[2017-11-04 04:08] lmiller1990 commented on #145
@eddyerburgh  I can do the PR next week if noone gets there first.

[2017-11-04 07:03] eddyerburgh commented on #148
Can you post a minimal reproduction?

I can successfully stub methods by passing a methods object in the mount options.

[2017-11-04 08:54] lmiller1990 opened #151 "add section to docs on testing components that include promises"
First, I am not sure if this is something vue-test-utils should do or something the test runner should handle. It's just an idea I had to solve a problem I found a lot while using vue-test-utils.

A number of libraries (for example vee validate, which I have been using heavily in my app) rely on promises. In the case of vee validate, errors are rendered async. `vue-test-utils` does everything sync

[2017-11-04 09:04] pimhooghiemstra commented on #145
@eddyerburgh I think it is clear from the docs, I just wasn't sure why only DOM events could be triggered.

Anyway, I made my test now using

`const stub = jest.fn();`
`wrapper.vm.$on('hit', stub);`
`wrapper.vm.$emit('hit');`
`expect(stub).toBeCalled();`

And the test passes. However, this feels a bit clumsy. I am not even sure what exactly I am testing here?

[2017-11-04 09:06] eddyerburgh commented on #145
It looks like you're testing Vue functionality, rather than logic in your code.

[2017-11-04 10:06] Aferz commented on #150
Mmmh I think I Understand...

My problem is that I'm trying to do TDD and what I was attempting to do is create a Parent component that needs to react to events emitted from a yet undefined Child Component.

I wanted to define the behaviour of the Parent before the Child.

Maybe I'm not following a good strategy to do TDD as I'm used to from PHP.

Maybe if I shallow the Parent component, the Child

[2017-11-04 10:56] lmiller1990 commented on #150
I understand what you want now. Here, I made an example for you. Make sure you look at the branch 'testing', not 'master'. You can see how to trigger a custom event.

You can do it like this: https://github.com/lmiller1990/vue-test-utils-async/tree/testing

[2017-11-04 11:05] lmiller1990 commented on #150
It looks like you are just testing if `$emit` works in that case. You should be testing your own code logic, not Vue itself.

Can you post the full code of what you are trying to test? There is no point to test if a component can react to a custom event, Vue already has internal tests for that.

Check out #145  , i think it's related.

[2017-11-04 13:27] Aferz commented on #150
No @lmiller1990, I don't want to test if `$emit` works. I want to test that my `ParentComponent` is able to react for events emitted for a undefined `ChildComponent`.

The code I put before is the full code. I mean, I don't have a real `ChildComponent` yet. It just something that I know I would like to wrap in its own component because it has too much logic but I would like to define in the `Paren

[2017-11-04 14:12] lmiller1990 commented on #150
Thanks for the more detailed explanation, @Aferz .

Since you haven't defined child yet, you could make a temporary element to test with. Something like `Mock.vue` that contains:

[code]

And test with this.  Then you can do an `$emit` on the `Mock.vue` component, and test like that. Basically, the same as stubbing/mocking the component out.

However, even if you do that, you are still just testin

[2017-11-04 14:38] eddyerburgh commented on #151
We could add an `updateAsync` method that can be called with await:

[code]

I've been using a library called flush-promises. You can write nice tests in Jest with async/ await that stops you adding setTimeouts inside the tests.

[code]

[code]

You can see an example here — https://github.com/eddyerburgh/vue-hackernews-chapter-6/blob/master/src/store/__tests__/actions.spec.js#L28

[2017-11-04 14:40] Aferz commented on #150
@lmiller1990:

![](http://i.imgur.com/Ur92K.gif)

Thank you very much for your so good explanation.

You cleared my mind a bit more about this topic.

Thanks!

[2017-11-04 14:40] #150 closed

[2017-11-04 16:45] lmiller1990 commented on #151
Flush promises looks like it might do nicely. Will try integrate it and see if it solves my problem, and report back.

Have you felt the need or are you happy with just using `flushPromises`?

[2017-11-05 03:45] Austio commented on #147
Had an additional thought on this.  Could we take advantage of the errorHandler?

[code]

[2017-11-05 06:50] eddyerburgh commented on #147
Hi @Austio.

You're right, thrown errors should make a test fail. Are you able to make a PR to improve error propagation?

[2017-11-05 10:17] eddyerburgh opened #152 "Shopuld the text method trim the strings?"
At the moment the `text` method returns the textContent of a node.

That means it will look like this:

[code]

That means we need to use a contain check instead of an equal check:

[code]

I can't see this being desired behavior. Instead we can call trim on the textContent before returning it, so that the `text` output would lose the trailing whitespace:
[code]

What do people think? Is there a u

[2017-11-05 13:52] lmiller1990 commented on #152
This would be useful. I almost always do `.text().trim()`. I can't think of a situation where I would want to check for whitespace. +1.

[2017-11-05 14:06] lmiller1990 commented on #145
I got started on a small demo, and thought about how I I would expect the docs (wrapper/emitted) to look, but couldn't really come up with a big improvement on them.

Unless @eddyerburgh has something you'd like added, I think we can just close this for now. The main problem seems to not be the docs, but a lack of how/what to test - maybe we should add more targetted/details guides.

[2017-11-05 14:16] #145 closed

[2017-11-05 20:10] Austio commented on #147
@eddyerburgh https://github.com/vuejs/vue-test-utils/pull/154 Proof of concept for idea to handle.  Please let me know what you think and will finish out if this is good direction to go.

[2017-11-05 20:30] eddyerburgh commented on #147
Looks perfect Austio, I've left some feedback on style issues, ready to merge when they're fixed

[2017-11-06 03:32] Austio commented on #146
Hey didn't make to over the weekend is a little more involved than was initially thinking, will work on this week.

[2017-11-06 08:35] pimhooghiemstra commented on #150
This topic/question is indeed very much related to #145 which I asked last week. I was also wrapping my mind around unit tests and got stuck in stuff that is already in Vue and should not be tested.

Thanks to @lmiller1990 for pointing this out and for the clarification/explanation!

And thanks to @Aferz for sharing WW's quote :-)

[2017-11-06 08:37] pimhooghiemstra commented on #145
@eddyerburgh I agree I was testing Vue functionality itself. With the help of issue #145, I am now on my way testing my own Vue code. Thanks for the clarification!

[2017-11-06 10:33] wtho commented on #152
Also keep trimming every time...

Maybe we can add a `rawText()` method in case someone wants to get the original string with line breaks.

[2017-11-06 10:52] wtho commented on #143
Just one note:
Property keys can be strings, that can contain dots, so the proposed syntax would not be appropriate. E. g. this is a valid object:

[code]
So an array of strings as the keys would be a better approach in my opinion.

But then I'm not sure, if we need this direct access to subfields. I think this will always work and gives sufficient control (correct me if I'm wrong):

[code]

[2017-11-06 10:57] wtho commented on #142
If this is not going to get resolved (soon), we should add a section in the documentation about this.

In the tests where one would want to mock the router, they get a clean Vue via `createLocalVue()` and then do not apply `Vue.use(VueRouter)`. This way the `$route` and `$router` objects can be mocked without the error.

[2017-11-06 11:02] eddyerburgh commented on #142
There's a section in the docs, in common gotchas — https://vue-test-utils.vuejs.org/en/guides/using-with-vue-router.html

I'd welcome any improvements

[2017-11-06 11:27] Akryum opened #156 "Test slot scope"
We should add a way to test the scoped slots. For example, `<slot v-for="..." :item="item" :index="index" />` ➡️ We should be able to test the values of  `item` and `index` in the slot.

[2017-11-06 12:30] lmiller1990 opened #157 "Change `emitted().someEvent` to `emitted('someEvent')`"
Hi,

Sorry for a lot of issues lately. vue test utils is getting heavy use in my project (that's good!).

I often have tests that check if an event was emitted with the correct arguments. For example, I click a button, and it emits some updated text. In that case, at the moment I do

[code]

Especially the [0][0] is a awkward to type and know what is going on.

What I would like to be able to do:

[2017-11-06 14:30] kleinjm commented on #148
I too am able to stub a method by passing it to the mount options. However, when that method is used in `mounted()` on the vue instance, it is not stubbed. I'm assuming this is because `mount()` (from your library, not to be confused with `mounted()` from Vue) first creates the vue instance and `mounted()` gets called before stubbing can happen. Going along with my other examples here, my componen

[2017-11-06 14:58] vouill commented on #133
`wrapper.html().toMatchSnapshot` does the job for me. what more would you expect from it ?

[2017-11-06 15:16] nkonev opened #158 "How to proper fill inputs?"
Hello, I want to test my component with vue-form-generator, which validates email for example.
How I should "write" email in input ?

[2017-11-06 15:20] nkonev commented on #158
Or I should use setData ?

[2017-11-06 15:38] vouill commented on #157
I like this `emitted('customEvent')`, its fairly easy to implement and maybe more intuitive. However `[a][b]` notation is pretty standard.

you can create an helper to achieve what you want:

[code]

[code]

I honestly would not recommend it because you want your components to always emit the same and brake if something change. In method, this payload detection is unaware of when he has been calle

[2017-11-06 16:05] vouill commented on #139
I prefer personnaly prefer the notation `getClasses()` but other than that i like it too.

[2017-11-06 16:39] lmiller1990 commented on #157
Hm, I did not think about the order. Say I want to have multiple emits, I guess it would look like:

[code]

I didn't know [a][b] notation was standard. For this case, I can see what we have [a] - there could be many emits. However for emits, do people ever have more than one arg? I tend to always emit an object in that case, with all the properties. I can't imagine a situation where you would do

[2017-11-06 16:42] lmiller1990 commented on #158
You can do

[code]

You probably will have many inputs, so give it an id like so:

[code]

See here for an example https://vue-test-utils.vuejs.org/en/guides/using-with-vuex.html

Questions like this are probably better of on stack overflow, though.

[2017-11-06 17:01] eddyerburgh commented on #158
Please ask questions on StackOverflow

[2017-11-06 17:01] #158 closed

[2017-11-06 18:49] nkonev commented on #158
for history - vue-form-generator requires emit input event:
[code]

[2017-11-07 00:46] lmiller1990 commented on #97
I have arrived at the decision this is not a necessary feature, and this should be the responsibility of e2e tests. Going to close.

[2017-11-07 00:46] #97 closed

[2017-11-07 00:47] lmiller1990 commented on #157
Will get started on a PR if @eddyerburgh is okay with this feature :)

[2017-11-07 06:42] eddyerburgh commented on #157
The reasoning behind the array is that you can tell what order the events were emitted in.
We can have both syntax, so I'd be happy for a PR that implements emitted('customEvent')

[2017-11-07 09:22] disitec commented on #149
Same issue here using setComputed(). It is related?

[2017-11-07 09:34] eddyerburgh commented on #149
Yes :P, sorry. Can you make a new issue @disitec

[2017-11-07 14:00] DarynHolmes opened #161 "How do you use Environment Variables when using vue-test-utils with Jest?"
I would like to use the Environment Variable explained here: https://vuejs-templates.github.io/webpack/env.html

I followed the excellent vue-test-utils guide here: https://vue-test-utils.vuejs.org/en/guides/testing-SFCs-with-jest.html

Now when the tests run, the environment variables have not been setup, the config/index.js was not run.

I have the following in package.json

[code]
[code]

Do yo

[2017-11-07 14:49] eddyerburgh commented on #161
Hey @DarynHolmes 😀

This is outside the scope of vue-test-utils. You can set `NODE_ENV=dev` or `NODE_ENV=production` or `NODE_ENV=anyvalueyouwant`, in your script. Then you can pick it up using `process.env.NODE_ENV`, or map it like they do in the webpack template.

But when you run JEST, NODE_ENV and BABEL_ENV are set to test.

`config/index.js` is run by webpack.

I'm closing this issue. If you

[2017-11-07 14:49] #161 closed

[2017-11-07 15:39] vouill commented on #143
100% agree with @wtho .

[2017-11-07 17:58] DarynHolmes commented on #161
Hi @eddyerburgh

Thanks for such a speedy response and for all the good work you and the team are doing on this.
I don't know if this is an issue for this project or not, I thought I would ask one last time.
I think this is different to setting the `NODE_ENV`.

The environment variables seem to get set from within `/config.index`. When I run `npm run dev` this get's called from `vue-loader.conf.js

[2017-11-08 11:21] DarynHolmes commented on #161
I have tried the example: https://github.com/vuejs/vue-test-utils-jest-example

That also does not set custom environment variables in `./config/dev.env.js`

[2017-11-08 15:19] mokkabonna opened #162 "Finding component stubbed using default stub"
Currently if I want to find a component that is stubbed using the default stub I have to do this:

[code]
Any chance this could be simplified? Some suggestions below:

Simply allow find using string to also find components:
[code]
This could possibly collide with tag names?

Shortcut:
[code]

By name:
[code]

Automatic generation:
[code]

[2017-11-08 16:02] mokkabonna opened #163 "Feature: Add hasValidProps to wrapper"
I want to suggest adding a **hasRequiredProps** or **hasValidProps** (to also check not required but supplied props against type) to wrapper instances, this is useful when asserting that all required props have been passed to a child component.

I am currently doing roughly this:

[code]

While I think this could be a commonly used feature that maybe should be added to the test utils.

[code]

**h

[2017-11-08 17:55] eddyerburgh commented on #162
You can also search using the component:

[code]

[2017-11-09 06:53] #147 closed

[2017-11-09 08:21] martinhummer commented on #134
I get the same error, if i reference a method 'bar' which is not defined in the 'methods' object of the vue component.

Template
[code]

If you try to do something like
[code]
it will fail with the error message above.

[2017-11-09 14:59] kleinjm commented on #55
Can you please add this method to docs? Thank you

[2017-11-09 15:51] qiming-kooboo commented on #142
How can I fix this problem without remove installing global Vue instance from codes?
Since this is a historical issue in our project, I can't remove the all codes about 'Vue.install(VueRouter)' in a short time.

[2017-11-09 15:57] mokkabonna commented on #162
Looking at the code it seems that the only thing that is actually needed when searching for a component is the name of the component. Is this correct? In addition to that it checks if it is a vue component. But that check only check that it is an object and that is has a render function, even though that does not seem to be used in the search process itself.

I assume (can't check right now) the f

[2017-11-09 17:01] wtho commented on #148
I can confirm the observation made by @kleinjm:
[code]
This example will print `this is the original test method!` in both tests. Mocking is no workaround.

[2017-11-09 17:38] acacha commented on #52
Maybe this is no more and issue? For me it works using shallow instead o mount no need to user any extra stubs like TransitionGroupStub or TransitionStub

[2017-11-09 18:07] wtho commented on #148
To further the discussion about how to mock hooks: Not sure, if this is too hacky, but if we do
[code]
before `vm.$mount()` gets called (so basically when the [attributes get applied](https://github.com/vuejs/vue-test-utils/blob/b3c12c44ff1bb9274db4e60de776b6e94d5239b9/src/lib/create-instance.js#L59) in `create-instance.js`), it would work to replace hooks. Either a second `stubs`/`mocks` object c

[2017-11-09 18:17] eddyerburgh commented on #55
Are you able to make a PR adding it to the docs?

[2017-11-09 18:21] eddyerburgh commented on #142
Unfortunately there isn't a way to overwrite once you've installed.

All you can do is seperate out `Vue.use(VueRouter)` from the code you test. You should only be calling it once in your app, normally in your entry file.

[2017-11-09 18:22] eddyerburgh commented on #163
I think this would be a nice feature, but I'd like to get a few more opinions before I give it the OK

[2017-11-09 18:23] eddyerburgh commented on #162
I think a string find for components would have a lot of bugs.

I agree, it would be a nice API, but I'm not sure it's worth the overhead of maintaining.

And yes, your example would work.

[2017-11-09 18:24] eddyerburgh commented on #52
Thanks for the heads up, I'll look into it

[2017-11-09 18:25] eddyerburgh commented on #148
I think that's a good solution @wtho

Would you like to implement it with a test case like the example you posted

[2017-11-09 19:16] wtho commented on #148
@eddyerburgh yeah, I would like to try. Some points I have in mind/ran into:
* My approach was to just *override* the current array of all mocked lifecycle-functions, but I just learned that e. g. Vuex does add its own hooks in `beforeCreate`, so just removing all functions might be the wrong approach. On the other hand I do not have an idea yet how to identify and remove only the function the aut

[2017-11-10 07:15] erwin16 commented on #116
same issue ... did you solved it ? nothing on this topic in StackOverflow ( I posted an issue ..)

[2017-11-10 10:48] lmiller1990 commented on #162
The pattern I have been using heavily is:

[code]

[2017-11-10 11:16] lionel-bijaoui opened #165 "How to do code coverage ?"
Hello,

I have followed the guide to use [vue-test-utils with mocha](https://vue-test-utils.vuejs.org/en/guides/testing-SFCs-with-mocha-webpack.html).
It work great, no problem.

Then I wanted to add code coverage, since my initial config (based on [the official vue+webpack template]( https://github.com/vuejs-templates/webpack)) came with it.
But I can't seem to make it work. I have followed [moch

[2017-11-10 11:31] eddyerburgh commented on #165
Hi @lionel-bijaoui

I agree, it would be nice to add these to the docs 😀

[2017-11-10 12:38] fvictorio commented on #116
Hello @erwin16. In my case, the problem was that I was requiring Jest (`const jest = require('jest')`) and then using that for mocking the actions in the `before` hook. I had to use the injected global instead. But errors thrown in the `before` hooks don't prevent tests from running, and that made me believe that the issue was with `vue-test-utils` (it wasn't).

[2017-11-10 18:15] eddyerburgh commented on #108
So I hadn't used v-model before. Now that I'm looking into it, I'm pretty sure you can achieve the same effect with `setData`.  Can you show me an example for `setModel` where setData wouldn't work?

[2017-11-10 18:16] #144 closed

[2017-11-10 18:22] eddyerburgh commented on #133
Ok I think that's a good enough solution, closing

[2017-11-10 18:22] #133 closed

[2017-11-10 18:33] eddyerburgh commented on #143
I'm going to close this in favor of @wtho's solution

[2017-11-10 18:33] #143 closed

[2017-11-10 18:37] eddyerburgh commented on #152
I've implemented it in dev branch. If anyone has a use case for untrimmed, we can add a `rawText` method as @wtho suggested

[2017-11-10 18:37] #152 closed

[2017-11-10 18:40] eddyerburgh commented on #136
There is some detail on this in the docs — https://vue-test-utils.vuejs.org/en/api/options.html

Does anyone want to improve on the information that exists?

[2017-11-10 19:01] eddyerburgh commented on #89
I've added a migration guide page to the avoriaz docs — https://eddyerburgh.gitbooks.io/avoriaz/content/guides/migrating-to-vue-test-utils.html

[2017-11-10 19:01] #89 closed

[2017-11-10 19:09] wtho commented on #148
Made it work partially:
* A lifecycle method in the mock object is added to the lifecycle-hook array after mount
* If the component contains the lifecycle method, it will be removed before adding the mock
* works currently for
  * beforeMount
  * mounted
  * beforeUpdate
  * beforeDestroy
  * destroyed
* works not for
  * beforeCreate (mock installation happens too late)
  * created (mock installa

[2017-11-10 19:43] eddyerburgh commented on #148
Thanks for looking into this @wtho 😀

It seems I really dropped the ball. The `stubs` option is for components, not methods. It's expected behavior that the example you posted doesn't overwrite the console.log method.

You can make the test pass by add a methods object:

  mount(TestComp, { methods: {testMethod: () => {}} })
[code]

Sorry, I should have seen this earlier.

## Lifecycle events

I t

[2017-11-10 19:45] eddyerburgh commented on #148
I'm closing this issue, as I'm able to solve the original problem with the code I posted.

@wtho  If you still want to stub lifecycle events, please create a fresh issue

[2017-11-10 19:45] #148 closed

[2017-11-11 03:31] josephstein commented on #143
I understand. I just felt it was more in paradigm with Vue's style of `watching` properties that allows using a period to access sub-properties (see below). Although I admit I thought it was a bit odd for the same reasons @wtho points out.

[code]

With that said I initially assumed (keyword being assume) that I would be able to use `setData` is a similar fashion.

 I'll just stick with what @wtho

[2017-11-11 11:03] wtho commented on #148
I agree, we got carried away it seems.

@eddyerburgh One more thing, you say you can mock the methods using the methods property in options. It works, but the methods property seems not to be documented, and I also could not find it in the source code. Can you link it maybe (might be interesting for the lifecycle-hook issue)?

Should I create an issue for the missing documentation as well?

I will

[2017-11-11 11:20] eddyerburgh commented on #148
So the mount options comprise two things.

There are the options used by vue-test-utils like `stubs`, `mocks`, `context`. These get used by vue-test-utils. I've just added a method to extract these.

The options then get passed to the component, just like when you create a Vue instance:

[code]

`methods` is part of that option. It overrides the methods on the component.

We need some docs on this

[2017-11-11 12:35] wtho opened #166 "Unable to mock lifecycle hooks"
### What problem does this feature solve?
The test author is currently not able to remove the lifecycle-hook implementation from components. The hooks are:
* beforeCreate
* created
* beforeMount
* mounted
* beforeUpdate
* updated
* beforeDestroy
* destroyed
* activated
* deactivated

### What does the proposed API look like?
The Mock Object in the `options` object can be used:

[code]

[2017-11-11 16:54] dorianamouroux opened #169 "Writting test in a custom block in Single Page Component"
I like the Single Page Component because you can write everything tight to your component in only one page: the logic, view and presentation.

Why not write the tests of components in a `<test>` custom block? I guess the `vue-loader` API allows it, I haven't had the time to play with it yet.

[2017-11-11 17:53] sebastianbarfurth commented on #151
Testing the vee-validate example, this does not work.

[2017-11-11 17:58] LinusBorg commented on #169
@eddyerburgh wrote a loader for that a couple of days ago: https://github.com/eddyerburgh/vue-test-loader

[2017-11-11 20:06] eddyerburgh commented on #169
Great timing, as @LinusBorg said I just released a loader — https://github.com/eddyerburgh/vue-test-loader. You can check out the example page to see it in action — https://github.com/eddyerburgh/vue-test-loader-example

[2017-11-11 20:06] #169 closed

[2017-11-11 20:10] eddyerburgh commented on #151
I don't think vue-test-utils should have a built in way to deal with promises. It's not vue specific, and there are already libraries that flush promises. It's up for discussion, but my opinion is we should use other libraries for it.

Instead we could add a section to the docs.

[2017-11-11 20:17] sebastianbarfurth commented on #151
There should definitely be a section in the docs, especially since plugins like vee-validate, which uses Promises quite heavily, are popular.

[2017-11-11 20:21] eddyerburgh commented on #151
@lmiller1990 I changed the title to add a section to the docs, if your original issue wasn't solved we can revert the name.

[2017-11-12 09:46] Williams94 opened #172 "Adding support for testing components using external templates (src imports)"
Hi there,

I asked on the discord vue-testing chat about the possibility of testing components that use external templates e.g. ```<template src="./component.html"></template>```. As I have tried to run unit tests on components where the html template is used like that, but no html gets rendered unless I put the html directly in the ```<template></template>``` tags in the ```.vue``` file. I can ac

[2017-11-12 09:50] eddyerburgh commented on #132
Fixed in 5fc1c57bf5d14d0425b748f9a3f42d6eb59791e2

[2017-11-12 09:50] #132 closed

[2017-11-12 12:50] eddyerburgh commented on #88
Closed with 7962b88f7535ce8f278b35b0ead1dcb6c2c0981c

[2017-11-12 12:50] #88 closed

[2017-11-13 15:14] mokkabonna commented on #162
That gives you a wrapper with no vm property.

Then you can't call hasProp and similar methods. That is what I want to do. Related to https://github.com/vuejs/vue-test-utils/issues/163

[2017-11-13 17:59] eddyerburgh commented on #67
This can be closed, released in `1.0.0-beta.5`

[2017-11-13 17:59] #67 closed

[2017-11-13 18:00] eddyerburgh commented on #108
I'm closing this, but happy to reopen if someone provides a case where `setData` doesn't work

[2017-11-13 18:46] eddyerburgh commented on #142
I'm going to close this issue, even though it's ongoing.

There's nothing we can do in vue-test-utils to overwrite properties that are set as read only with `defineProperty`.

If you have problems with a library adding properties as read only, you can make an issue with that library.

There is an issue open in vue-router to make `$route` and `$router` writable — https://github.com/vuejs/vue-router

[2017-11-13 18:46] #142 closed

[2017-11-13 18:47] eddyerburgh commented on #139
I also prefer the notation `getClasses`.

What do other people think?

[2017-11-13 18:49] eddyerburgh commented on #125
@jonnyparris did you solve your problem? Was it an issue with `setComputed`, or with your component logic?

[2017-11-13 20:46] mokkabonna commented on #163
If you use shallow rendering and stubs there is no rendered output to test.

Also just to mention it: if you stub a function in a normal plain js unit test, it does not normally auto assert. Doesn't mean that we shouldn't do it here though. If you decide to add assertions, then it would behave more like a mock (in sinon.js terms: http://sinonjs.org/releases/v1.17.6/mocks/)

------

I like this, vu

[2017-11-14 08:05] BigYu opened #174 "Async API like "waitForElementVisible(selector, [timeout])""
Perhaps similar to: https://www.npmjs.com/package/enzyme-wait

[2017-11-14 08:06] BigYu commented on #174
I dont find how can I do this check for now

[2017-11-14 08:21] eddyerburgh commented on #174
I don't think we should add this to vue-test-utils. Waiting for promises/ timeouts to resolve isn't a vue specific problem. I'm happy to discuss this though because a few people have requested a similar feature.

You can wait for promises to resolve using [flush-promises](https://www.npmjs.com/package/flush-promises).

[code]

[2017-11-14 10:09] BigYu commented on #174
@eddyerburgh Thanks for explaining and I see your points.

I'm using setTimeout/_.defer to work around which seems exactly what flush-promises does.

[2017-11-14 11:48] lmiller1990 commented on #157
Hey, just an update, have made start, hopefully get a first PR up by this weekend.

[2017-11-14 11:50] lmiller1990 commented on #174
I second this shouldn't be in the core lib. This is a common request - but I think people really asking "how do I do this" rather than "make the feature".

I think the best solution is a guide in the docs how on to deal with async.

[2017-11-14 15:14] aphofstede opened #175 "Error: [vue-test-utils]: isEmpty cannot be called on 0 items"
As described in the docs: https://vue-test-utils.vuejs.org/en/api/wrapper-array/isEmpty.html

E.g. with a component that doesn't have any `<p>`'s, test the following:
[code]

Results in:

Kind of the whole point, right? I think `isEmpty()` should return `true` there.

package.json relevant snippet:
[code]

[2017-11-14 17:06] aphofstede commented on #151
Slightly off-topic seeing what was discussed above, but since this is now a docs issue on this subject, I'll comment here.

The docs imply (https://vue-test-utils.vuejs.org/en/guides/getting-started.html#what-about-nexttick) that we don't have to worry about component refreshes, but it seems that things like `v-if`'ed tags still require the use of something like `await flushPromises()` for any cha

[2017-11-14 17:15] eddyerburgh commented on #151
You need to use `wrapper.update` to update the component synchronously. You should use setData/ setState to update vm data, since they run update for you.

[2017-11-14 17:48] eddyerburgh commented on #175
When you call isEmpty on a WrapperArray it calls isEmpty on each Wrapper. The error thrown is because the WrapperArray is empty.

I can see how this is confusing, but it is mentioned in the docs. If you want to check a WrapperArray is empty, use the `length` property

[2017-11-14 20:18] kleinjm commented on #148
@wtho thanks for looking into this, I hope that stubbing hooks will be possible.

@eddyerburgh thanks a ton for the feedback. I figured out that stubbing is working, however, I need to `await wrapper.vm.$nextTick();`.

[2017-11-14 22:47] aphofstede commented on #151
Useful pointers, thanks @eddyerburgh

[2017-11-14 22:56] aphofstede commented on #175
Gotcha. I guess I assumed it would fall back to that when no results were found.
Isn't the working of it more like `every()` on [Map/Array](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/every)? (things might be clearer if the same naming convention was followed?)

[2017-11-15 11:46] disitec commented on #125
Same issue in my case:

Here is a little reproduction of my component
[code]

[code]

[2017-11-15 18:18] eddyerburgh commented on #125
Thanks @disitec . I think yours is a seperate issue to @jonnyparris , I'm moving it out to its own issue.

[2017-11-15 18:19] eddyerburgh opened #176 "setCompued does not work correctly for mapGetters"
[code]

[code]

[2017-11-15 18:23] eddyerburgh opened #177 "No documentation for ref selector"
There isn't any documentation for  the ref selector added in https://github.com/vuejs/vue-test-utils/pull/68

We should add this. @matt-oconnell are you able to make a PR?

[2017-11-15 20:17] matt-oconnell commented on #177
@eddyerburgh Sure, I can add this. Strange, I had it in the PR at one point

[2017-11-17 09:30] jonnyparris commented on #125
Haven't forgotten but haven't had time to revisit this just yet...

[2017-11-17 09:42] uponeson opened #179 "How to update props after shallow render?"
I have a beforeEach function that shallow renders my component with some initial values (set with propsData). like this:

`let settings = {}`

`beforeEach(() => {
    wrapper = shallow(cmp, {
      propsData: {
        obj: {
          items,
          settings }}})})`

If i try to add `a` to `settings` `settings.a` and set a to 1 `setProps({ a:  1}) or setProps({ settings: { a: 1 }})`, it does no

[2017-11-17 09:57] LinusBorg commented on #179
I think what you are looking for is `setProps`
https://vue-test-utils.vuejs.org/en/api/wrapper/setProps.html

[2017-11-17 10:01] uponeson commented on #179
@LinusBorg i tried for my feeling every variation with `setProps` i could think of. `wrapper.setProps({ settings:  { a: 1}})` `wrapper.setProps({ obj: { settings: { a: 1} }})` etc etc.

[2017-11-17 10:17] uponeson commented on #179
@LinusBorg could you give an example? `setProps` hasn't worked with the wrapper set before the test.

[2017-11-17 10:32] uponeson commented on #179
It does work trough `wrapper.setProps(wrapper.vm.obj.settings = { a: 1}` but then it does not trigger my computed function which at that point should return true instead of false.

[2017-11-17 11:30] MaximeAubry opened #180 "Failure when testing component with route"
Hello.

Today i have a problem, again :D
I need help to use a route (with parameter) inside an unit test.

You can consult my project here :
[https://github.com/MaximeAubry/RouteParamsUnitTest](https://github.com/MaximeAubry/RouteParamsUnitTest)

As you can see, with axios i don't use the parameter object to send the id.

instead of

I try to send a http request with id using by :

My component is

[2017-11-17 11:55] LinusBorg commented on #179
Then I'll let someone else continue this issue, I'm not very active in this part of our ecosystem right now, so I'll leave this to the experts working on this lib.

[2017-11-17 12:30] #179 closed

[2017-11-17 12:56] LinusBorg commented on #179
Why did you close it? I reopened it so someone else can answer ...

[2017-11-17 13:15] lmiller1990 commented on #180
This doesn't appear to be an issue with the library. Vue-test-utils runs synchronously, so tests will not wait unless you declare them `async`, for example, using jest.

Either way, you don't want to use a real api or ajax call in a test, you should mock the response. I wrote about it [here](https://codeburst.io/a-pattern-for-mocking-and-unit-testing-vuex-actions-8f6672bdb255), if you are interest

[2017-11-17 13:19] MaximeAubry commented on #180
Actually my test is async, and I use "await flushPromises()"
So, is it ok ?

[2017-11-17 13:45] uponeson commented on #179
After some tinkering i found the issue being the computed prop not triggering from the data change, which allows me to look further, I should be able to figure this out.

[2017-11-17 14:17] MaximeAubry commented on #180
Does somebody have a solution ?
Please

[2017-11-17 15:53] jonyoder opened #184 "Mocking a Method for the 'created' Lifecycle Hook"
I'd like to stub/spy a method and ensure/test that it is called during the `created` lifecycle hook. I've discovered that I can use `wrapper.setMethods` to stub/mock the method, but the `created` hook has already run at this point; I've tried using `wrapper.update()`, but it doesn't appear to run the `created` hook again.

Am I missing something simple?

[2017-11-17 17:36] MaximeAubry commented on #180
I need help, please.
here is the last version of my work :
[https://github.com/MaximeAubry/RouteParamsUnitTest](https://github.com/MaximeAubry/RouteParamsUnitTest)

[2017-11-17 19:00] eddyerburgh commented on #184
You can pass a `methods` object in the mounting options that will overwrite any method inside the component.

Say you had a method called `methodToStub` in your component. You would mount like this:

[code]

[2017-11-17 19:05] eddyerburgh commented on #180
Unfortunately, since we have limited time, we have to reserve issues for feature requests and bugs. For usage questions like this, I recommend posting to either [the forum](https://forum.vuejs.org/) or [the chat](https://chat.vuejs.org/). Both include great communities of users that should be able to help.

[2017-11-17 19:05] #180 closed

[2017-11-18 08:58] eddyerburgh commented on #176
@lmiller1990 that would be great if you could investigate 😀

[2017-11-18 13:55] ChangJoo-Park opened #186 "Translate docs in Korean"
I just finished translating in Korean. working on https://github.com/ChangJoo-Park/vue-test-utils , in dev-korean branch. It is not reviewed yet. :)

## Translate
Root
- [x] README.md
- [x] SUMMARY.md

---
Guides
- [x] 시작하기(./getting-started.md)
- [x] 일반적인 팁(./common-tis.md)
- [x] 마우스, 키 그리고 기타 DOM 이벤트(guides/dom-events.md)
- [x] 테스트 러너 선택하기(./choosing-a-test-runner.md)
- [x] Jest 사용하기(./using-wit